<div local-class='client-info-card'>
  <div local-class='client-info-header'>
    <span local-class='thumbnail' data-test-thumbnail>
      <AkIcon @iconName='groups' local-class='thumbnail-icon' />
    </span>

    <div
      local-class='title {{if this.isEmptyTitle "empty-title"}}'
      data-test-title
    >
      {{#if this.isEmptyTitle}}
        {{t 'noName'}}
      {{else}}
        {{@client.name}}
      {{/if}}
    </div>
  </div>

  <div local-class='client-info-body'>
    <div local-class='table'>
      <div local-class='row'>
        <div local-class='key' data-test-last-upload-label>
          {{t 'lastUpload'}}
        </div>

        <div local-class='value'>
          <div data-test-last-upload>
            {{#if @client.lastUploadedOn}}
              {{dayjs-from-now @client.lastUploadedOn}}
            {{else}}
              <AkTypography @color='neutral' {{style fontStyle='italic'}}>
                {{t 'noUploads'}}
              </AkTypography>
            {{/if}}
          </div>
        </div>
      </div>

      {{#if this.partner.access.view_plans}}
        <div local-class='row' data-test-payment-plan-row>
          <div local-class='key' data-test-payment-plan-label>
            {{t 'paymentPlan'}}
          </div>

          <div local-class='value'>
            <Partner::ClientPlan
              @clientId={{@client.id}}
              data-test-payment-plan
            />
          </div>
        </div>
      {{/if}}

      <div local-class='row'>
        <div local-class='key'>
          {{t 'pluralorganizationOwner' itemCount=@client.ownerEmails.length}}
        </div>

        <div local-class='value'>
          <Partner::PlusNList
            @list={{@client.ownerEmails}}
            @modalTitle='{{@client.name}} organization owners'
            @isShowSeq={{false}}
            data-test-client-owner-emails
          />
        </div>
      </div>

      <div local-class='row'>
        <div local-class='key'>
          {{t 'createdOn'}}
        </div>

        <div local-class='value' data-test-created-on>
          {{day-js date=@client.createdOn format='DD MMM YYYY'}}
        </div>
      </div>
    </div>

    <div local-class='actions'>
      {{#if this.showCreditTransferOption}}
        <div local-class='action' data-test-credit-transfer>
          <Partner::CreditTransfer @client={{@client}} />
        </div>
      {{/if}}

      {{#if (and @showDetailLink this.partner.access.list_projects)}}
        <div local-class='action' data-test-detail-page-link>
          <AkLink @route='authenticated.partner.client' @model={{@client.id}}>
            <AkButton
              @variant='outlined'
              @color='primary'
              {{style minWidth='50px'}}
            >
              <AkIcon @iconName='arrow-forward' @color='primary' />
            </AkButton>
          </AkLink>
        </div>
      {{/if}}
    </div>
  </div>
</div>