{{! template-lint-disable no-curly-component-invocation }}
<div local-class='client-info-card {{@client.type}}'>
  <div local-class='client-info-header'>
    <span local-class='thumbnail' data-test-thumbnail>
      {{fa-icon 'users' local-class='thumbnail-icon'}}
    </span>
    <div
      local-class='title {{if this.isEmptyTitle 'empty-title'}}'
      data-test-title
    >
      {{#if this.isEmptyTitle}}
        {{t 'noName'}}
      {{else}}
        {{@client.name}}
      {{/if}}
    </div>
  </div>
  <div local-class='client-info-body'>
    <div local-class='table'>
      <div local-class='row'>
        <div local-class='key' data-test-last-upload-label>
          {{t 'lastUpload'}}
        </div>
        <div local-class='value'>
          <div data-test-last-upload>
            {{#if @client.lastUploadedOn}}
              {{dayjs-from-now @client.lastUploadedOn}}
            {{else}}
              <em class='text-lightgray'>
                {{t 'noUploads'}}
              </em>
            {{/if}}
          </div>
        </div>
      </div>
      {{#if this.partner.access.view_plans}}
        <div local-class='row' data-test-payment-plan-row>
          <div local-class='key' data-test-payment-plan-label>
            {{t 'paymentPlan'}}
          </div>
          <div local-class='value'>
            <Partner::ClientPlan
              data-test-payment-plan
              @clientId={{@client.id}}
            />
          </div>
        </div>
      {{/if}}
      <div local-class='row'>
        <div local-class='key'>
          {{t 'pluralorganizationOwner' itemCount=@client.ownerEmails.length}}
        </div>
        <div local-class='value'>
          <PlusNList
            @list={{@client.ownerEmails}}
            @modalTitle='{{@client.name}} organization owners'
            data-test-client-owner-emails
            @isShowSeq={{false}}
          />
        </div>
      </div>
      <div local-class='row'>
        <div local-class='key'>
          {{t 'createdOn'}}
        </div>
        <div local-class='value' data-test-created-on>
          {{day-js date=@client.createdOn format='DD MMM YYYY'}}
        </div>
      </div>
    </div>
    <div local-class='actions'>
      {{#if
        (and
          this.partner.access.transfer_credits this.partner.access.view_plans
        )
      }}
        <div local-class='action' data-test-credit-transfer>
          <Partner::CreditTransfer @client={{@client}} />
        </div>
      {{/if}}
      {{#if (and @showDetailLink this.partner.access.list_projects)}}
        <div local-class='action' data-test-detail-page-link>
          <LinkTo
            @route='authenticated.partner.client'
            @model={{@client.id}}
            class='button is-primary'
          >{{fa-icon 'arrow-right'}}</LinkTo>
        </div>
      {{/if}}
    </div>
  </div>
</div>