<button class="is-primary" onclick={{perform openAddMemberModal}}>
  {{fa-icon "user-plus" class="margin-r-h"}}&nbsp;{{t "addMember"}}
</button>

{{#modal-card class="input-modal user-search-modal" isActive=showAddTeamMemberModal title=(t 'modalCard.addMember.title')}}
  <div class="card-body">
    <div class="card-wrapper">
      {{!-- <form action="">
        <div class="control vertical-align-center margin-b-1">
          {{fa-icon "search"}} {{input class="form-control input input-width margin-left" placeholder="Search project" type="text" value=query autofocus="autofocus" key-up="searchQuery"}}
        </div>
      </form> --}}
      {{#if hasObjects}}
        <div>
          <div class="add-team-objects-scroll">
            <table class="org-table">
              <tbody>
                {{#each sortedObjects as |member|}}
                  <tr class="team-project">
                    <td class="team-project-action">
                      <button class="is-default is-icon no-border" onclick={{perform addTeamMember member}} disabled={{isAddingMember}}>
                        {{fa-icon "plus"}}
                      </button>
                    </td>
                    <td>
                      <div class="black-text bold font-medium">{{member.username}}</div>
                      <div class="text-lightgray">{{member.email}}</div>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            <div class="margin-t-q">
              {{partial "paginate"}}
            </div>
          </div>
        </div>
      {{else}}
        <div class="empty-state">
          {{fa-icon "exclamation-triangle"}} {{t "noMembers"}}
        </div>
      {{/if}}
    </div>
  </div>
{{/modal-card}}
