<button class="is-default" onclick={{perform openAddMemberModal}}>
  <i class="fa fa-user-plus margin-r-h"></i>&nbsp;{{t "addMember"}}
</button>

{{#modal-card class="input-modal user-search-modal" isActive=showAddTeamMemberModal title=(t 'modalCard.addMember.title')}}
  <div class="card-body">
    <div class="card-wrapper">
      <form action="">
        <p class="control vertical-align-center">
          {{#if isSearchingMember}}
            <i class="fa fa-spinner fa-spin margin-top5"></i>
          {{else}}
            {{fa-icon "user"}}
          {{/if}}
          {{input class="form-control input input-width margin-left" placeholder="Username" type="text" value=query autofocus="autofocus" key-up="searchQuery"}}
        </p>
      </form>
      {{#if users}}
        <div class="user-list-container">
          <ul>
            {{#each users as |user|}}
              <li>
                <div class="columns">
                  <div class="column is-one-sixth align-center">
                    {{fa-icon "user-circle"}}
                  </div>
                  <div class="column">
                    <div class="black-text bold font-medium">
                      {{user.username}}
                    </div>
                    <div class="text-lightgray">
                      {{user.email}}
                    </div>
                  </div>
                  <div class="column is-one-sixth">
                    <div class="show-button">
                      <button class="is-primary" onclick={{perform addTeamMember user.id}} disabled={{isAddingMember}}>+</button>
                    </div>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </div>
  </div>
{{/modal-card}}
