<div class="columns">
  <div class="column content-right margin-t-1">
    <button class="is-primary highlighted-button" onclick={{perform openAddMemberModal}}>
      {{t "addMember"}}
    </button>
  </div>
</div>

{{#modal-card class="input-modal" isActive=showInviteMemberModal title=(t 'inviteMember')}}
  <div class="card-body">
    <div class="card-wrapper">
      <form {{action (perform inviteMember) on="submit"}}>
        <p class="control">
          {{input class="form-control input input-width" placeholder=(t 'email') type="text" value=email autofocus="autofocus"}}
        </p>
        <button class="margin-t-1 is-primary" type="submit" disabled={{isInvitingMember}}>
          {{#if isInvitingMember}}
            <div class="fa-font-size">
              <i class="fa fa-spinner fa-spin"></i>&nbsp;
            </div>
          {{/if}}
          {{t "invite"}}
        </button>
      </form>
    </div>
  </div>
{{/modal-card}}

{{!-- = modal-card class="input-modal user-search-modal" isActive=showAddMemberModal title=(t "modalCard.addMember.title")
  .card-body
    .card-wrapper
      form
        p.control
          if isSearchingMember
            i.fa class="fa-spinner fa-spin margin-top5"
          else
            = fa-icon class="is-primary margin-top5" "user"
          = input class="form-control input input-width margin-left" placeholder="Username / Email" type="text" value=identification autofocus="autofocus" key-up="searchQuery"
      if users
        .user-list-container
          ul
            each users as |user|
              li
                .columns
                  .column.is-one-sixth.align-center
                    = fa-icon class="is-primary margin-top5" "user-circle"
                  .column
                    .columns
                      .column.user-name
                        = user.username
                    .columns
                      .column.user-email
                        = user.email
                  .column.is-one-sixth
                    .show-button
                      button.is-primary click="'addMember' user.id" disabled=isAddingMember
                        | +
      else
        .columns
          .column
            button.is-primary.margin-left30.margin-top10 click="inviteMember" disabled=isInvitingMember
              = t "invite" --}}