<h4 class="org-header-name margin-left text-centre">
  {{#if me.org.is_owner}}
    <div class={{if showHide 'show' 'hide'}}>
      {{#if orgNameDoesNotExist}}
        <em class="text-lightgray" onclick={{action "editOrganization"}}>{{t "clickToAddOrgName"}}</em>
      {{else}}
        {{organization.selected.name}}
      {{/if}}
      <span class="edit-button" onclick={{action "editOrganization"}}>
        {{fa-icon "pencil"}}
      </span>
    </div>
    <div class={{if editSave 'edit' 'save'}}>
      {{input class="input edit-input" type="text" placeholder=organization.selected.name value=organization.selected.name}}
      <span class="edit-button" onclick={{perform updateOrgName}}>
        {{fa-icon "check"}}
      </span>
      <span class="edit-button" onclick={{action "cancelEditing"}}>
        {{fa-icon "times"}}
      </span>
    </div>
  {{else}}
    {{organization.selected.name}}
  {{/if}}
</h4>

<div class="tabs is-medium is-boxed margin-top is-centered">
  <ul>
    <li class={{namespaceClass}} onclick={{action "displayNamespaces"}}>
      {{#link-to 'authenticated.organization.namespaces'}}
        {{fa-icon "check-square" class="sidebar-icons"}}
        {{t "namespaces"}}
        <span class="badge-square is-default margin-l-1 content-right">
          {{organization.selected.namespacesCount}}
        </span>
      {{/link-to}}
    </li>
    <li class={{memberClass}} onclick={{action "displayMembers"}}>
      {{#link-to 'authenticated.organization.members'}}
        {{fa-icon "user-circle-o" class="sidebar-icons"}}
        {{t "members"}}
        <span class="badge-square is-default margin-l-1 content-right">
          {{organization.selected.membersCount}}
        </span>
      {{/link-to}}
    </li>
    <li class={{teamClass}} onclick={{action "displayTeams"}}>
      {{#link-to 'authenticated.organization.teams'}}
        {{fa-icon "sitemap" class="sidebar-icons"}}
        {{t "teams"}}
        <span class="badge-square is-default margin-l-1 content-right">
          {{organization.selected.teamsCount}}
        </span>
      {{/link-to}}
    </li>
    {{#if me.org.is_admin}}
      <li class={{settingsClass}} onclick={{action "displaySettings"}}>
        {{#link-to 'authenticated.organization.settings'}}
          {{fa-icon "cog" class="sidebar-icons"}}
          {{t "settings"}}
        {{/link-to}}
      </li>
    {{/if}}
  </ul>
</div>

