<div class="columns">
  <div class="column">
    {{#if hasObjects}}
      <table class="org-table">
        <tr>
          <th>{{t "user"}}</th>
          <th>{{t "role"}}</th>
          {{!-- <th>{{t "teams"}}</th> --}}
        </tr>
        {{#each sortedObjects as |member|}}
          {{organization-member-overview member=member organization=organization}}
        {{/each}}
      </table>
    {{/if}}
  </div>
</div>
<div class="columns">
  <div class="column">
    {{#if hasObjects}}
      <div class="margin-t-h">
        {{partial "paginate"}}
      </div>
    {{/if}}
  </div>
</div>
