<td>
  <div class="bold black-text font-medium">
    {{member.member.username}}
  </div>
  <div class="text-lightgray margin-t-h">
    {{member.member.email}}
  </div>
</td>
<td>
  {{#if me.org.is_owner}}
    <select onchange={{action (perform selectMemberRole) value="target.value"}} id="org-user-role" class="width-100">
      {{#each roles as |role|}}
        <option value="{{role.value}}" selected={{eq role.value member.role}}>
          {{t (user-role role.value)}}
        </option>
      {{/each}}
    </select>
  {{else}}
    <span>{{t (user-role member.role)}}</span>
  {{/if}}
</td>
{{!-- <td>
  {{#each member.teams as |team|}}
    <div>
      {{#link-to "authenticated.organization.team" team.id}}
        {{team.name}}
      {{/link-to}}
    </div>
  {{/each}}
</td> --}}
