<div class="columns">
  <div class="column margin-t-1h margin-b-1">
    <h5 class="bold black-text">
      {{t "organizationMembers"}}
    </h5>
  </div>
  <div class="column content-right margin-t-1" onclick={{perform openInviteMemberModal}}>
    <button class="is-primary highlighted-button">
      {{t "inviteMember"}}
    </button>
  </div>
</div>
<div class="columns">
  <div class="column">
    {{#if hasObjects}}
      <table class="org-table">
        <tr>
          <th>{{t "user"}}</th>
          <th>{{t "role"}}</th>
          <th>{{t "teams"}}</th>
        </tr>
        {{#each sortedObjects as |member|}}
          {{organization-member-overview member=member organization=organization}}
        {{/each}}
      </table>
    {{/if}}
  </div>
</div>
<div class="columns">
  <div class="column">
    {{#if hasObjects}}
      <div class="margin-t-h">
        {{partial "paginate"}}
      </div>
    {{/if}}
  </div>
</div>

{{#modal-card class="input-modal" isActive=showInviteMemberModal title="Invite Member"}}
  <div class="card-body">
    <div class="card-wrapper">
      <form {{action (perform inviteMember) on="submit"}}>
        <p class="control">
          {{input class="form-control input input-width" placeholder=(t 'email') type="text" value=email autofocus="autofocus"}}
        </p>
        <button class="margin-t-1 is-primary" type="submit" disabled={{isInvitingMember}}>
          {{#if isInvitingMember}}
            <div class="fa-font-size">
              <i class="fa fa-spinner fa-spin"></i>&nbsp;
            </div>
          {{/if}}
          {{t "invite"}}
        </button>
      </form>
    </div>
  </div>
{{/modal-card}}