{{! template-lint-disable no-curly-component-invocation }}
<div local-class='sso-settings-header-container'>
  <AkTypography @variant='h5' @gutterBottom={{true}}>
    {{t 'singleSignOn'}}
  </AkTypography>

  <AkTypography @variant='subtitle1'>
    {{t 'samlAuth'}}
  </AkTypography>

  <AkTypography @variant='body2' @color='textSecondary'>
    {{t 'samlDesc'}}
  </AkTypography>
</div>

<div class='mt-3' local-class='sso-settings-main-container'>
  <div local-class='bordered-box'>
    <div class='p-2'>
      <AkTypography @variant='subtitle1'>
        {{t 'serviceProvider'}}
        (SP)
      </AkTypography>

      <AkTypography @variant='body2' @color='textSecondary'>
        {{t 'spMetadataDesc'}}
      </AkTypography>
    </div>

    <AkDivider class='my-0' @color='dark' />

    <AkRadio::Group
      class='mx-2 mt-2'
      @groupDirection='row'
      @value={{this.spConfig}}
      @onChange={{this.handleSpConfigChange}}
      as |ctx|
    >
      <AkFormControlLabel @label={{t 'manualSettings'}}>
        <AkRadio @radioCtx={{ctx}} @value='manual' />
      </AkFormControlLabel>

      <AkFormControlLabel class='ml-3' @label={{t 'xmlMetadata'}}>
        <AkRadio @radioCtx={{ctx}} @value='xml' />
      </AkFormControlLabel>
    </AkRadio::Group>

    {{#if this.spConfigIsManual}}
      <div class='m-2'>
        <div local-class='bordered-box'>
          {{#each this.spMetadataKeys as |smk|}}
            <div class='flex-row' local-class='full-bordered-box-section'>
              <div
                class='w-4/12'
                local-class='full-bordered-box-section-column'
              >
                <AkTypography @variant='subtitle2'>
                  {{t smk.labelKey}}
                </AkTypography>
              </div>

              <div
                class='w-8/12'
                local-class='full-bordered-box-section-column'
              >
                <AkTypography @variant='body2' @color='textSecondary'>
                  {{get this.spMetadata smk.valueKey}}
                </AkTypography>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    {{else if this.spConfigIsXml}}
      <div class='m-2'>
        <Textarea
          id='sp-config-xml-input'
          class='form-control textarea-input'
          rows='8'
          @value={{this.spMetadata.metadata}}
        />
      </div>
    {{/if}}
  </div>

  <div class='mt-3' local-class='bordered-box'>
    <div local-class='bordered-box-section'>
      <AkTypography @variant='subtitle1'>
        {{t 'identityProvider'}}
        (IdP)
      </AkTypography>
    </div>

    {{#if this.idpMetadata}}
      <div local-class='bordered-box-section'>
        <AkTypography class='flex-row flex-align-center' @variant='subtitle1'>
          <span
            local-class='header-icon'
            class='ak-icon ak-icon-medium ak-icon-integration-instructions'
          ></span>

          {{t 'idpMetadata'}}
        </AkTypography>

        {{#if (and this.sso (not this.sso.enabled))}}
          <button
            type='button'
            class='button is-default'
            {{on 'click' this.openDeleteIdpMetadataConfirm}}
          >
            {{fa-icon 'trash-o'}}

            <AttachTooltip @position='top'>
              {{t 'idpMetadataDelete'}}
            </AttachTooltip>
          </button>
        {{/if}}
      </div>

      <div local-class='bordered-box-section'>
        <AkTypography @variant='subtitle2'>
          {{t 'entityID'}}
        </AkTypography>

        <AkTypography @variant='body2' @color='textSecondary'>
          {{this.idpMetadata.entityId}}
        </AkTypography>

        <AkTypography class='mt-2' @variant='subtitle2'>
          {{t 'ssoServiceURL'}}
        </AkTypography>

        <AkTypography @variant='body2' @color='textSecondary'>
          {{this.idpMetadata.ssoServiceUrl}}
        </AkTypography>
      </div>

      <div local-class='bordered-box-section'>
        <AkTypography class='flex-row flex-align-center' @variant='subtitle1'>
          <span
            local-class='header-icon'
            class='ak-icon ak-icon-medium ak-icon-verified'
          ></span>
          {{t 'certificate'}}
        </AkTypography>
      </div>

      <div local-class='bordered-box-section'>
        <AkTypography @variant='subtitle2'>
          {{t 'issuer'}}
        </AkTypography>

        <AkTypography @variant='body2' @color='textSecondary'>
          {{this.idpMetadata.certificate.issuer}}
        </AkTypography>

        <AkTypography class='mt-2' @variant='subtitle2'>
          {{t 'issuedOn'}}
        </AkTypography>

        <AkTypography @variant='body2' @color='textSecondary'>
          {{day-js
            date=this.idpMetadata.certificate.issued_on
            format='DD MMM YYYY HH:mm:ss A'
          }}
        </AkTypography>

        <AkTypography class='mt-2' @variant='subtitle2'>
          {{t 'expiry'}}
        </AkTypography>

        <AkTypography @variant='body2' @color='textSecondary'>
          {{day-js
            date=this.idpMetadata.certificate.expires_on
            format='DD MMM YYYY HH:mm:ss A'
          }}
        </AkTypography>

        <AkTypography class='mt-2' @variant='subtitle2'>
          {{t 'fingerprints'}}
        </AkTypography>

        <div>
          <AkTypography @tag='span' @variant='subtitle2'>
            SHA256
          </AkTypography>
          <AkTypography @tag='span' @variant='body2' @color='textSecondary'>
            {{this.idpMetadata.certificate.fingerprint_sha256}}
          </AkTypography>
        </div>

        <div>
          <AkTypography @tag='span' @variant='subtitle2'>
            SHA1
          </AkTypography>
          <AkTypography @tag='span' @variant='body2' @color='textSecondary'>
            {{this.idpMetadata.certificate.fingerprint_sha1}}
          </AkTypography>
        </div>
      </div>
    {{else}}
      {{#if this.getIdPMetadata.isRunning}}
        <div class='align-middle'>
          {{fa-icon 'spinner fa-spin'}}

          <div class='padding-l-h padding-v-1'>
            {{t 'loading'}}...
          </div>
        </div>
      {{else if this.idpMetadataXml}}
        <AkTypography
          @variant='body2'
          @color='textSecondary'
          @gutterBottom={{true}}
        >
          {{t 'idpMetadataEdit'}}
        </AkTypography>

        <form {{on 'submit' (perform this.uploadIdPMetadata)}}>
          <Textarea
            id='idp-metadata-xml-input'
            class='form-control textarea-input margin-t-q'
            rows='10'
            placeholder='IdP Metadata XML Content'
            @value={{this.idpMetadataXml}}
          />

          <div class='margin-t-h'>
            <button
              class='button is-primary'
              type='submit'
              disabled={{this.uploadIdPMetadata.isRunning}}
            >
              {{#if this.uploadIdPMetadata.isRunning}}
                <div class='fa-font-size margin-r-1'>
                  {{fa-icon 'spinner fa-spin'}}
                </div>
              {{/if}}

              {{t 'upload'}}
            </button>
          </div>
        </form>
      {{else}}
        <AkTypography
          @variant='body2'
          @color='textSecondary'
          @gutterBottom={{true}}
        >
          {{t 'idpMetadataUpload'}}
        </AkTypography>

        <FileDropzone @name='files' as |dropzone|>
          {{#if dropzone.supported}}
            <div
              local-class='dropzone {{if
                dropzone.active
                "dropzone-upload-active"
              }}'
            >
              <div local-class='dropzone-logo'>
                <img local-class='xml-logo' src='/images/xml.svg' alt='xml' />
              </div>

              <div local-class='dropzone-upload'>
                {{fa-icon 'upload'}}

                <div class='black-text'>
                  {{t 'dragDropFile'}}
                </div>

                <div class='padding-h-q'>
                  {{t 'or'}}
                </div>
              </div>

              <FileUpload
                @name='files'
                @accept='text/xml'
                @onfileadd={{perform this.parseIdpMetadataXml}}
              >
                <a href=''>
                  {{t 'browseFiles'}}
                </a>

                {{#if this.parseIdpMetadataXml.isRunning}}
                  {{fa-icon 'spinner fa-spin'}}
                {{/if}}
              </FileUpload>
            </div>
          {{/if}}
        </FileDropzone>
      {{/if}}
    {{/if}}
  </div>

  {{#if this.idpMetadata}}
    <div class='mt-3' local-class='bordered-box'>
      <div local-class='bordered-box-section'>
        <AkTypography @variant='subtitle1'>
          {{t 'ssoAuthentication'}}
        </AkTypography>
      </div>

      <div local-class='bordered-box-section'>
        <AkFormControlLabel
          @labelTypographyVariant='h6'
          @label='{{t "enable"}} {{t "ssoAuthentication"}}'
          @disabled={{this.toggleSSOEnable.isRunning}}
          as |fcl|
        >
          <AkToggle
            @disabled={{fcl.disabled}}
            @checked={{this.sso.enabled}}
            @onChange={{perform this.toggleSSOEnable}}
            @size='small'
          />
        </AkFormControlLabel>

        <AkTypography @tag='span' @variant='body2' @color='textSecondary'>
          ({{t 'ssoEnableDesc'}})
        </AkTypography>
      </div>

      {{#if this.sso.enabled}}
        <div
          class='flex-row flex-align-center'
          local-class='bordered-box-section'
        >
          <span
            class='ak-icon ak-icon-medium ak-icon-subdirectory-arrow-right ml-1'
          ></span>

          <AkFormControlLabel
            @labelTypographyVariant='h6'
            @label='{{t "ssoEnforce"}}'
            @disabled={{this.toggleSSOEnforce.isRunning}}
            as |fcl|
          >
            <AkCheckbox
              @disabled={{fcl.disabled}}
              @checked={{this.sso.enforced}}
              @onChange={{perform this.toggleSSOEnforce}}
            />
          </AkFormControlLabel>

          <AkTypography @tag='span' @variant='body2' @color='textSecondary'>
            ({{t 'ssoEnforceDesc'}})
          </AkTypography>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>

<ConfirmBox
  @isActive={{this.showDeleteIdpMetadataConfirm}}
  @title='Are you sure you want to delete IdP configuration?'
  @delegate={{this}}
  @confirmAction={{perform this.deleteIdpConfig}}
  @disabled={{this.deleteIdpConfig.isRunning}}
/>