<div local-class='sso-settings-header-container'>
  <AkTypography data-test-ssoSetting-title @variant='h5' @gutterBottom={{true}}>
    {{t 'singleSignOn'}}
  </AkTypography>

  <AkTabs class='w-full' as |Akt|>
    {{#each this.tabItems as |item|}}
      <Akt.tabItem
        @id={{item.id}}
        @isActive={{eq this.activeTab item.id}}
        @buttonVariant={{true}}
        @onTabClick={{this.onTabClick}}
      >
        {{item.label}}
      </Akt.tabItem>
    {{/each}}
  </AkTabs>

  {{#let (component this.activeTabComponent) as |Component|}}
    <Component @organization={{@organization}} @user={{@user}} />
  {{/let}}
</div>