<div local-class="invite-client-container">
  <form>

    <div local-class="firstname client-input {{if this.changeset.error.firstName 'error'}}">
      <label local-class="label" for="firstname">{{t 'firstName'}}</label>
      <Input id="firstname" placeholder="First name" autocomplete="off" @value={{mut (get this.changeset "firstName")}}
        local-class="input" />
      {{#if this.changeset.error.firstName}}
        <span local-class="error"> {{this.changeset.error.firstName.validation}}</span>
      {{/if}}
    </div>

    <div local-class="lastname client-input">
      <label local-class="label" for="lastname">{{t 'lastName'}}</label>
      <Input id="lastname" placeholder="Last name" autocomplete="off" @value={{mut (get this.changeset "lastName")}} />
    </div>


    <div local-class="email client-input {{if this.changeset.error.email 'error'}}">
      <label local-class="label" for="email">{{t 'email'}}</label>
      <Input id="email" placeholder="Email" autocomplete="off" @value={{mut (get this.changeset "email")}}
        local-class="input" />
      {{#if this.changeset.error.email}}
        <span local-class="error"> {{this.changeset.error.email.validation}}</span>
      {{/if}}
    </div>

    <div local-class="company client-input {{if this.changeset.error.company 'error'}}">
      <label local-class="label" for="client-company">{{t "companyName"}}</label>
      <Input id="client-company" placeholder="Company" autocomplete="off" @value={{mut (get this.changeset "company")}}
        local-class="input" />
      {{#if this.changeset.error.company}}
        <span local-class="error"> {{this.changeset.error.company.validation}}</span>
      {{/if}}
    </div>


    <div local-class="trail client-input">
      <label local-class="label" for="is-trail-version">
        {{t "trail"}}
      </label>
      <Input id="is-trail-version" {{on "change" (fn this.onChangeTrail 'checkbox')}} @type="checkbox"
        @checked={{get this.changeset "isTrail"}} local-class="input" />
    </div>

    <div local-class="client-action">
      <button local-class="submit" type="button"
        {{on "click" (perform this.sendInvitation)}}>{{t "sendInvitation"}}</button>
    </div>
  </form>
</div>