<AkTypography @variant='h5' @gutterBottom={{true}}>
  {{t 'jiraIntegration'}}
</AkTypography>

{{#if this.isJIRAConnected}}
  <div local-class='bordered-box'>
    <div local-class='integration-logo-container'>
      <img src='/images/jira-icon.png' alt='jira-icon' />
    </div>

    <div local-class='integration-account-container'>
      <div class='mr-2'>
        <AkTypography @color='textSecondary'>
          {{this.connectedHost}}
        </AkTypography>

        <AkTypography>
          {{this.connectedUsername}}
        </AkTypography>
      </div>

      <AkButton @variant='outlined' @onClick={{this.openRevokeJIRAConfirmBox}}>
        {{t 'disconnect'}}
      </AkButton>
    </div>
  </div>
{{else}}
  {{#if this.checkJIRA.isRunning}}
    <i class='fa fa-spinner fa-spin margin-r-h'></i>
    {{t 'loading'}}...
  {{else}}
    <AkTypography @variant='body2' @color='textSecondary'>
      Here you can intergrate your JIRA Account
    </AkTypography>

    <form class='mt-2'>
      <div class='flex-row flex-row-gap-2'>
        <AkTextField
          @placeholder={{t 'jiraHost'}}
          @value={{this.changeset.host}}
          @error={{this.changeset.error.host}}
        />

        <AkTextField
          @placeholder={{t 'username'}}
          @value={{this.changeset.username}}
          @error={{this.changeset.error.username}}
        />

        <AkTextField
          @placeholder={{t 'apiKey'}}
          @type='password'
          @value={{this.changeset.password}}
          @error={{this.changeset.error.password}}
          autocomplete='jira-password'
        />
      </div>

      <AkButton
        class='mt-2'
        @disabled={{this.isIntegratingJIRA}}
        @onClick={{perform this.integrateJIRA this.changeset}}
      >
        {{#if this.integrateJIRA.isRunning}}
          <div class='fa-font-size'>
            <i class='fa fa-spinner fa-spin'></i>
          </div>
        {{/if}}

        {{t 'integrateJIRA'}}
      </AkButton>
    </form>
  {{/if}}
{{/if}}

<ConfirmBox
  @isActive={{this.showRevokeJIRAConfirmBox}}
  @title={{t 'confirmBox.revokeJira'}}
  @delegate={{this}}
  @disabled={{this.isRevokingJIRA}}
/>