<div class='column margin-right margin-top'>
  <div class='columns'>
    <div class='column top-nav'>
      <div class='columns top-columns'>
        <div class='column'>
          <div class='columns'>
            <div class='scan-text'>
              {{t 'startNewScan'}}
            </div>
            <div class='column'>
              <label
                disabled={{this.isUploading}}
                class='button is-primary ac-upload-app highlighted-button'
              >
                <UploadApp @delegate={{this}} class='mp-upload-app' />
                {{fa-icon 'upload'}}&nbsp;
                {{#if this.isUploading}}
                  {{t 'uploading'}}&nbsp;:{{this.progress}}%
                {{else}}
                  {{t 'uploadApp'}}
                {{/if}}
              </label>
            </div>
          </div>
        </div>
        <div class='column content-right top-icons'>
          {{#if @isSecurityEnabled}}
            <a
              href='/security/projects'
              target='_blank'
              class='button security-link'
              rel='noopener noreferrer'
            >
              Security Dashboard
            </a>
          {{/if}}
          {{#if this.showKnowledgeBase}}
            <a href='#' {{on 'click' this.onOpenKnowledgeBase}}>
              {{fa-icon 'book' class='sidebar-icons'}}Knowledge Base
            </a>
          {{/if}}
          <a href='#' {{on 'click' this.openChatBox}}>
            {{fa-icon 'support' class='sidebar-icons'}}{{t 'support'}}
          </a>
          <NotificationsPage::BellIcon class='sidebar-icons' />
          <a href='#'>
            {{fa-icon 'user' class='sidebar-icons'}}{{@user.username}}
            &nbsp;{{fa-icon 'angle-down' class='sidebar-icons'}}

            <AttachPopover
              @interactive={{true}}
              @placement='bottom'
              @showOn='click'
              @hideOn='clickout'
            >
              <div class='user-info-popover'>
                <div class='user-name'>
                  {{@user.username}}
                </div>
                <div class='user-email'>
                  {{@user.email}}
                </div>
                <div class='content-right'>
                  {{! template-lint-disable no-nested-interactive }}
                  <a
                    href='#'
                    class='mp-auth-logout highlighted-button'
                    {{on 'click' @logoutAction}}
                  >
                    {{fa-icon 'power-off' class='sidebar-icons'}}{{t 'logout'}}
                  </a>
                </div>
              </div>
            </AttachPopover>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class='margin-top50'>
    {{yield}}
  </div>
</div>