<AkStack @direction='column' @width='full'>
  <AkStack @direction='row-reverse' @width='full'>
    <AkDatePicker
      @selected={{this.selectedDateRange}}
      @maxDate={{this.maxDate}}
      @range={{true}}
      @quickSelectOptions={{this.datepickerOptions}}
      @onSelect={{this.updateDateRange}}
    >
      <AkStack
        data-test-date-picker-toggle-button
        local-class='date-picker-btn'
        @alignItems='center'
      >
        <AkIcon
          @iconName='event'
          @size='small'
          @color='textPrimary'
          title='Select date range'
          local-class='date-picker-icon'
        />

        <div
          data-test-orgArchive-dateRangeLabel
          local-class='date-picker-dateText'
        >
          {{#if this.dateRange.firstObject}}
            <AkTypography @tag='span' @color='textPrimary'>
              {{this.startDate}}
            </AkTypography>
          {{else}}
            <AkTypography @tag='span' @color='textSecondary'>
              {{t 'fromDate'}}
            </AkTypography>
          {{/if}}

          <AkTypography @tag='span' @color='textSecondary'>
            -
          </AkTypography>

          {{#if this.dateRange.lastObject}}
            <AkTypography @tag='span' @color='textPrimary'>
              {{this.endDate}}
            </AkTypography>
          {{else}}
            <AkTypography @tag='span' @color='textSecondary'>
              {{t 'toDate'}}
            </AkTypography>
          {{/if}}
        </div>
      </AkStack>
    </AkDatePicker>
  </AkStack>

  <AkChart
    @width='100%'
    @height='350px'
    @onInit={{this.handleOnChartInit}}
    @option={{this.chartOption}}
  />
</AkStack>