<header class="header header-md navbar navbar-fixed-top-xs box-shadow">
    <div class="navbar-header aside-md dk">
        {{#link-to 'index' class="navbar-brand"}}
        <img src="/assets/images/logo.png" class="m-r-sm" alt="scale">
        {{/link-to}}
    </div>
    <ul class="nav navbar-nav">
        {{#link-to 'index' tagName="li"}}
        <a {{bind-attr href="view.href"}}>Dashboard</a>
        {{/link-to}}
    </ul>
    <ul class="nav navbar-nav pull-right nav-user user user-fix">
        <li id="user-dropdown">
            <span class="thumb-sm avatar pull-left">
                {{ gravatar-image email=session.user.email alt=session.user.email }}
            </span>
            {{ session.user.username }}
        </li>
        {{#popup-menu for="user-dropdown" on="click" class="animated bounceIn"}}
        <li>
            <ul class="dropdown-menu dropdown-menu-fix show">
                <li>
                    <span class="arrow top"></span>
                    <a href="#">Settings</a>
                </li>
                <li>
                    <a {{ action 'invalidateSession' }}>Logout</a>
                </li>
            </ul>
        </li>
        {{/popup-menu}}
    </ul>
</header>
<div id="content" class="padder">
    {{ yield }}
</div>
