{{! template-lint-disable no-partial }}
{{#if this.hasObjects}}
  <AkTypography data-test-orgArchiveList-title @variant='subtitle1'>
    {{t 'organizationArchiveTableHeading'}}
  </AkTypography>

  <AkTypography
    data-test-orgArchiveList-desc
    @variant='body2'
    @color='textSecondary'
  >
    {{t 'organizationArchiveTableDesc'}}
  </AkTypography>

  <div class='my-2'>
    <AkTable as |t|>
      <t.head data-test-orgArchiveList-thead @columns={{this.columns}} />
      <t.body @rows={{this.sortedObjects}} as |b|>
        <b.row
          data-test-orgArchiveList-row
          local-class='
            archive-row-{{if b.rowValue.isExpired "expired" "available"}}'
          as |r|
        >
          <r.cell data-test-orgArchiveList-cell as |value|>
            {{#if r.columnValue.component}}
              {{#let (component r.columnValue.component) as |Component|}}
                <Component @archive={{r.rowValue}} />
              {{/let}}
            {{else}}
              {{value}}
            {{/if}}
          </r.cell>
        </b.row>
      </t.body>
    </AkTable>
  </div>

  <div>
    {{partial 'paginate'}}
  </div>
{{/if}}