<AkStack>
  <div {{style flexGrow='2'}}>
    <FileDetails @file={{@model.file}} />
  </div>

  <div {{style flexGrow='1'}}>
    <VncViewerOld @file={{@model.file}} @profileId={{@model.profileId}} />
  </div>
</AkStack>