<div class='columns margin-top'>
  <div class='column is-one-sixth margin-auto'>
    <Input
      id='project-search-input'
      class='input search-input'
      placeholder={{'Search for project'}}
      @value={{this.query}}
      {{on 'keyup' this.searchProjectsQuery}}
    />
  </div>
</div>

<AkStack @direction='column' @width='full' @alignItems='center'>
  <AkPaginationProvider
    @results={{this.sortedSecurityProjects}}
    @onItemPerPageChange={{this.handleItemPerPageChange}}
    @totalItems={{this.totalProjects}}
    @nextAction={{this.handlePrevNextAction}}
    @prevAction={{this.handlePrevNextAction}}
    @itemPerPageOptions={{array 10 25 50}}
    @defaultLimit={{this.limit}}
    @offset={{this.offset}}
    as |pgc|
  >
    {{#if this.fetchSecurityProjects.isRunning}}
      <AkStack
        @width='6/12'
        @justifyContent='center'
        @alignItems='center'
        @spacing='1'
        class='my-6 empty-state'
      >
        <AkLoader @size={{16}} />

        <AkTypography @variant='h6' @fontWeight='light'>
          Loading...
        </AkTypography>
      </AkStack>

    {{else if this.hasNoSecurityProjects}}
      <div class='column is-fullwidth no-project-container'>
        <h4 class='capitalize-text text-centre'>
          {{t 'noProject'}}
        </h4>
      </div>

    {{else}}
      <AkStack @width='6/12' @justifyContent='center'>
        <table class='security-list-table'>
          <thead>
            <tr>
              <th>
                Project ID
              </th>
              <th>
                Project Name
              </th>
              <th>
                View All Files
              </th>
            </tr>

          </thead>

          <tbody>
            {{#each this.sortedSecurityProjects as |project|}}
              <Security::ProjectSearchOverview @project={{project}} />
            {{/each}}
          </tbody>
        </table>
      </AkStack>

      <AkStack @width='6/12' class='pb-6'>
        <AkPagination
          @disableNext={{pgc.disableNext}}
          @nextAction={{pgc.nextAction}}
          @disablePrev={{pgc.disablePrev}}
          @prevAction={{pgc.prevAction}}
          @endItemIdx={{pgc.endItemIdx}}
          @startItemIdx={{pgc.startItemIdx}}
          @itemPerPageOptions={{pgc.itemPerPageOptions}}
          @onItemPerPageChange={{pgc.onItemPerPageChange}}
          @selectedOption={{pgc.selectedOption}}
          @tableItemLabel={{t 'projects'}}
          @perPageTranslation={{t 'recordPerPage'}}
          @totalItems={{pgc.totalItems}}
        />
      </AkStack>
    {{/if}}
  </AkPaginationProvider>
</AkStack>