<div local-class="invitation {{if @request.hasExpired 'invitation-expired'}}">
  <div local-class="user">
    <div local-class="email">{{@request.email}}</div>
    <div local-class="name" class="text-lightgray">{{@request.fullName}}</div>
  </div>
  <div local-class="company">{{@request.data.company}}</div>
  <div local-class="date" class="text-lightgray" title="{{day-js date=@request.updatedOn format='DD MMM YYYY HH:mm A'}}">{{dayjs-from-now @request.updatedOn}}</div>
  <div>
    {{#if @request.hasExpired}}
      <div local-class="expired" title="{{day-js date=@request.validUntil format='DD MMM YYYY'}}">expired</div>
    {{else}}
      <div local-class="date" title="{{day-js date=@request.validUntil format='DD MMM YYYY HH:mm A'}}" class="text-lightgray">{{day-js date=@request.validUntil format="DD MMM YYYY"}}</div>
    {{/if}}
  </div>
  <div>
    <div local-class="source source-{{@request.source}}">{{@request.source}}</div>
  </div>
  <div local-class="action">
    <button type="button" class="is-default is-icon no-border no-hover-button" local-class="resend" title="Resend invite mail" {{on "click" (perform this.resendInvite @request)}}>{{fa-icon "repeat"}}</button>
  </div>
  {{!-- <div local-class="action">
    <button class="is-critical is-icon no-border no-hover-button" local-class="delete" title="Delete invitation" {{on "click" (perform this.deleteInvite @request)}}>{{fa-icon "trash"}}</button>
  </div> --}}
</div>