<AkStack
  @direction='column'
  @spacing='2'
  @width='full'
  data-test-amVersionTable-container
>
  <AkPaginationProvider
    @results={{this.storeVersionsToDisplay}}
    @onItemPerPageChange={{this.onItemPerPageChange}}
    @totalItems={{this.totalStoreVersions}}
    @nextAction={{this.goToPage}}
    @prevAction={{this.goToPage}}
    @itemPerPageOptions={{array 5 10 20}}
    @defaultLimit={{this.limit}}
    @offset={{this.offset}}
    as |pgc|
  >
    {{#if this.showPendingStateLoader}}
      <AppMonitoring::Loading
        @loadingText={{t 'appMonitoringMessages.pendingStateLoadingText'}}
        data-test-amVersionTable-pendingStateLoader
      />

    {{else if this.fetchLiveAmAppVersions.isRunning}}
      <AppMonitoring::Loading
        @loadingText='{{t "loading"}}...'
        data-test-amVersionTable-loading
      />

    {{else if this.hasNoStoreVersions}}
      <AppMonitoring::Empty
        @header='{{t "notFound"}}'
        @body={{this.noVersionsFoundMsg}}
        data-test-amVersionTable-empty
      />

    {{else if this.storeVersionsToDisplay.length}}
      <div local-class='app-details-table-wrapper'>
        <div local-class='app-details-table-container'>
          <AkTable
            @variant='full-bordered'
            @borderColor='dark'
            @dense={{true}}
            local-class='app-details-table'
            as |tb|
          >
            <tb.head
              @columns={{this.columns}}
              data-test-amVersionTable-header
              as |h|
            >
              <h.row as |r|>
                <r.cell as |column|>
                  {{#if column.headerComponent}}
                    {{#let (component column.headerComponent) as |Component|}}
                      <Component />
                    {{/let}}
                  {{else}}
                    {{column.name}}
                  {{/if}}
                </r.cell>
              </h.row>
            </tb.head>

            <tb.body
              @rows={{this.storeVersionsToDisplay}}
              @renderAll={{true}}
              as |b|
            >
              <b.row
                local-class='table-row'
                data-test-amVersionTable-row
                as |r|
              >
                <r.cell data-test-amVersionTable-cell as |value|>
                  {{#if r.columnValue.component}}
                    {{#let (component r.columnValue.component) as |Component|}}
                      <Component @amAppVersion={{r.rowValue}} />
                    {{/let}}
                  {{else}}
                    <AkTypography>
                      {{value}}
                    </AkTypography>
                  {{/if}}
                </r.cell>
              </b.row>
            </tb.body>
          </AkTable>
        </div>
      </div>

      {{#if this.showPagination}}
        <AkPagination
          @disableNext={{pgc.disableNext}}
          @nextAction={{pgc.nextAction}}
          @disablePrev={{pgc.disablePrev}}
          @prevAction={{pgc.prevAction}}
          @endItemIdx={{pgc.endItemIdx}}
          @startItemIdx={{pgc.startItemIdx}}
          @itemPerPageOptions={{pgc.itemPerPageOptions}}
          @onItemPerPageChange={{pgc.onItemPerPageChange}}
          @selectedOption={{pgc.selectedOption}}
          @tableItemLabel={{t 'versions'}}
          @perPageTranslation={{t 'recordPerPage'}}
          @totalItems={{pgc.totalItems}}
        />
      {{/if}}
    {{/if}}
  </AkPaginationProvider>
</AkStack>