<div class='columns security-dashboard'>
  <div class='column top-nav'>
    <div class='columns top-columns'>
      <div class='column'>
        <div class='appknox-logo'>
          <ImgLogo />
        </div>
      </div>
      <div class='column content-right top-icons'>
        <a href='#'>
          <AkStack
            @direction='row'
            @justifyContent='center'
            @alignItems='center'
          >
            <AkIcon @iconName='account-circle' />
            &nbsp;
            {{@user.username}}
            &nbsp;
            <AkIcon @iconName='arrow-down' />
          </AkStack>

          <AttachPopover
            @interactive={{true}}
            @placement='bottom'
            @showOn='click'
            @hideOn='clickout'
          >
            <div class='user-info-popover'>
              <div class='user-name'>
                {{@user.username}}
              </div>
              <div class='user-email'>
                {{@user.email}}
              </div>
              <div class='content-right'>
                {{! template-lint-disable no-nested-interactive }}
                <a
                  href='#'
                  class='mp-auth-logout highlighted-button'
                  {{on 'click' @logoutAction}}
                >
                  <AkStack @alignItems='center'>
                    <AkIcon @iconName='logout' @size='small' />
                    &nbsp;
                    {{t 'logout'}}
                  </AkStack>
                </a>
              </div>
            </div>
          </AttachPopover>
        </a>
      </div>
    </div>
  </div>
</div>