<div class='columns security-dashboard'>
  <div class='column top-nav'>
    <div class='columns top-columns'>
      <div class='column'>
        <div class='appknox-logo'>
          <ImgLogo />
        </div>
      </div>
      <div class='column content-right top-icons'>
        <a href='#'>
          <AkStack
            @direction='row'
            @justifyContent='center'
            @alignItems='center'
            {{on 'click' this.toggleProfileMenuView}}
          >
            <AkIcon @iconName='account-circle' />
            &nbsp;
            {{@user.username}}
            &nbsp;
            <AkIcon @iconName='arrow-down' />
          </AkStack>

        </a>
      </div>

      <AkPopover
        @anchorRef={{this.profileAnchorRef}}
        @placement='bottom'
        @renderInPlace={{true}}
        @closeHandler={{this.handleProfileMenuClose}}
        @clickOutsideToClose={{true}}
        @containerClass={{this.classes.profileMenuPopoverContainerClass}}
      >
        <div class='user-info-popover'>
          <div class='user-name'>
            {{@user.username}}
          </div>
          <div class='user-email'>
            {{@user.email}}
          </div>
          <div class='content-right'>
            <a
              href='#'
              class='mp-auth-logout highlighted-button'
              {{on 'click' @logoutAction}}
            >
              <AkStack @alignItems='center'>
                <AkIcon @iconName='logout' @size='small' />
                &nbsp;
                {{t 'logout'}}
              </AkStack>
            </a>
          </div>
        </div>
      </AkPopover>
    </div>
  </div>
</div>