<AkStack @direction='column' @alignItems='center' @spacing='1'>
  {{#if @file.isDynamicStatusNotReady}}
    <AkStack @alignItems='stretch' @spacing='1.5'>
      {{#if @file.isDynamicStatusNeitherNoneNorReadyNorError}}
        <AkButton data-test-dynamicScan-startBtn @variant='outlined'>
          <:leftIcon>
            <AkLoader @size={{13}} />
          </:leftIcon>

          <:default>{{@file.statusText}}</:default>
        </AkButton>

        {{#if @file.isDynamicStatusQueueAndHasAutomation}}
          <AkIconButton
            data-test-dynamicScan-restartBtn
            {{style padding='0.5em'}}
            {{on 'click' this.openDynamicScanModal}}
            @variant='outlined'
            @borderColor='primary'
            disabled={{not @file.isActive}}
          >
            <AkIcon @iconName='refresh' @color='primary' />
          </AkIconButton>
        {{/if}}
      {{/if}}

      {{#if @file.isDynamicStatusNoneOrError}}
        {{#if @file.isDynamicStatusError}}
          <AkButton
            data-test-dynamicScan-startBtn
            @variant='outlined'
            @disabled={{true}}
          >
            <:leftIcon>
              <AkIcon @iconName='warning' />
            </:leftIcon>

            <:default>{{t 'errored'}}</:default>
          </AkButton>

          <AkIconButton
            data-test-dynamicScan-restartBtn
            {{style padding='0.5em'}}
            {{on 'click' this.openDynamicScanModal}}
            @variant='outlined'
            @borderColor='primary'
            disabled={{not @file.isActive}}
          >
            <AkIcon @iconName='refresh' @color='primary' />
          </AkIconButton>
        {{else if @file.isDynamicDone}}
          <AkButton
            data-test-dynamicScan-startBtn
            {{style pointerEvents='none'}}
          >
            <:leftIcon>
              <AkIcon @iconName='done' />
            </:leftIcon>

            <:default>{{t 'completed'}}</:default>
          </AkButton>

          <AkIconButton
            data-test-dynamicScan-restartBtn
            {{style padding='0.5em'}}
            {{on 'click' this.openDynamicScanModal}}
            @variant='outlined'
            @borderColor='primary'
            disabled={{not @file.isActive}}
          >
            <AkIcon @iconName='refresh' @color='primary' />
          </AkIconButton>
        {{else}}
          <AkButton
            data-test-dynamicScan-startBtn
            @variant='outlined'
            {{on 'click' this.openDynamicScanModal}}
          >
            <:leftIcon>
              <AkIcon @iconName='play-arrow' />
            </:leftIcon>

            <:default>{{@dynamicScanText}}</:default>
          </AkButton>
        {{/if}}
      {{/if}}
    </AkStack>
  {{/if}}

  {{#if @file.isDynamicStatusReady}}
    <AkButton
      data-test-dynamicScan-stopBtn
      @variant='outlined'
      {{on 'click' (perform this.dynamicShutdown)}}
      @disabled={{not @file.isActive}}
    >
      <:leftIcon>
        {{#if this.dynamicShutdown.isRunning}}
          <AkLoader @size={{13}} />
        {{else}}
          <AkIcon @iconName='stop' />
        {{/if}}
      </:leftIcon>

      <:default>{{t 'stop'}}</:default>
    </AkButton>
  {{/if}}

  {{#if (and @vncViewer @file.isDynamicStatusStarting)}}
    <div>
      {{t 'dynamicScanText'}}
    </div>
  {{/if}}
</AkStack>

{{#if this.showDynamicScanModal}}
  <DynamicScan::Modal
    @onClose={{this.closeDynamicScanModal}}
    @pollDynamicStatus={{this.pollDynamicStatus}}
    @file={{@file}}
  />
{{/if}}