<aside
  data-test-side-nav
  local-class='side-menu-root {{if @isCollapsed "collapsed" "expanded"}}'
  ...attributes
>
  <div local-class='{{if @isCollapsed "favicon-logo" "app-logo"}}'>
    <LinkTo @route='authenticated.index'>
      <img
        data-test-img-logo
        src={{if @isCollapsed this.faviconImage.src this.appLogoImage.src}}
        alt={{this.whitelabel.name}}
      />
    </LinkTo>
  </div>

  {{#if this.showAppMonitoringDashboard}}
    <AkDivider @color='dark' class='mt-4' />

    <div
      data-test-side-menu-switcher
      local-class='switcher {{if
        this.isSidebarExpanded
        "expanded"
        "collapsed"
      }}'
      role='button'
      {{on 'click' this.onClickSwitcher}}
    >
      <AkIcon
        data-test-side-menu-switcher-icon
        local-class='menu-item-icon'
        @iconName='apps'
      />

      {{#if this.isSidebarExpanded}}
        <AkStack
          class='ml-2'
          @width='full'
          @direction='row'
          @justifyContent='space-between'
          @alignItems='center'
        >
          <AkTypography
            local-class='menu-item-text'
            data-test-side-menu-switcher-text
          >
            {{t 'appSwitcher'}}
          </AkTypography>

          <AkIcon local-class='menu-item-icon' @iconName='chevron-right' />
        </AkStack>
      {{/if}}
    </div>

    <AkDivider @color='dark' class='mb-4' />
  {{/if}}

  <div local-class='scroll-container'>
    <AkList
      local-class='side-menu-list {{if
        this.showAppMonitoringDashboard
        ""
        "no-switcher"
      }}'
      as |akl|
    >
      {{#each this.renderMenuItems as |it|}}
        {{#if it.component}}
          <akl.listItem
            aria-label='{{it.label}} side menu item'
            @noGutters={{true}}
            data-test-side-menu-item='{{it.label}}'
          >
            {{#let (component it.component) as |Component|}}
              <Component
                @isCollapsed={{@isCollapsed}}
                @classes={{this.classes}}
              />
            {{/let}}
          </akl.listItem>

        {{else}}
          <akl.listItem
            aria-label='{{it.label}} side menu item'
            @noGutters={{true}}
            @link={{true}}
            @route={{it.route}}
            @query={{it.query}}
            @currentWhen={{it.currentWhen}}
            @activeLinkClass={{this.classes.menuItemLinkActive}}
            data-test-side-menu-item='{{it.label}}'
            @linkClass={{this.classes.menuItemLink}}
            as |li|
          >
            <AkTooltip
              @disabled={{this.isSidebarExpanded}}
              @color='dark'
              @placement='right'
              @arrow={{true}}
              @title={{it.label}}
              class={{this.classes.menuItemTooltip}}
            >
              <li.leftIcon @rightGutter={{this.isSidebarExpanded}}>
                {{#if it.icon}}
                  <AkIcon
                    local-class='menu-item-icon'
                    data-test-side-menu-item-icon
                    @iconName={{it.icon}}
                  />
                {{else if it.customIconComponent}}
                  {{#let (component it.customIconComponent) as |CustomIcon|}}
                    <CustomIcon local-class='menu-item-icon' />
                  {{/let}}
                {{/if}}
              </li.leftIcon>

              {{#if this.isSidebarExpanded}}
                <li.text
                  data-test-side-menu-item-text
                  @primaryText={{it.label}}
                  @primaryTextClass={{this.classes.menuItemText}}
                />
              {{/if}}

              {{#if (and it.hasBadge this.isSidebarExpanded)}}
                <AkStack @alignItems='center' @justifyContent='center'>
                  <AkChip
                    data-test-side-menu-item-badge
                    local-class='menu-item-badge'
                    @variant='filled'
                    @size='small'
                    @label={{it.badgeLabel}}
                  />
                </AkStack>
              {{/if}}
            </AkTooltip>
          </akl.listItem>
        {{/if}}
      {{/each}}
    </AkList>
  </div>

  <AkList data-test-side-lower-menu local-class='lower-menu' as |akl|>
    {{#if @isStoreknox}}
      <AkDivider
        data-test-side-lower-menu-divider
        local-class='divider'
        @color='dark'
        @tag='li'
      />
    {{/if}}

    {{#each this.renderLowerMenuItems as |lmi|}}
      <akl.listItem
        @noGutters={{true}}
        class={{this.classes.menuItemLink}}
        local-class='{{lmi.listItemClass}}'
        {{on 'click' lmi.onClick}}
        data-test-side-lower-menu-item='{{lmi.title}}'
        as |li|
      >
        <AkTooltip
          @color='dark'
          @placement='right'
          @arrow={{true}}
          @title={{lmi.title}}
          @disabled={{this.isSidebarExpanded}}
          class={{this.classes.menuItemTooltip}}
        >
          <li.leftIcon @rightGutter={{this.isSidebarExpanded}}>
            {{#if lmi.enablePendo}}
              <div
                id={{if lmi.enablePendo 'ak-pendo-version-container'}}
                local-class='menu-item-icon pendo-icon'
              />
            {{/if}}

            <AkIcon
              data-test-side-lower-menu-item-icon
              @iconName={{lmi.icon}}
              local-class='menu-item-icon {{lmi.iconClass}}'
            />
          </li.leftIcon>

          {{#if this.isSidebarExpanded}}
            <li.text
              data-test-side-lower-menu-item-text
              @primaryText={{lmi.title}}
              @primaryTextClass={{lmi.textClass}}
            />
          {{/if}}
        </AkTooltip>
      </akl.listItem>

      {{#if lmi.divider}}
        <AkDivider
          data-test-side-lower-menu-divider
          local-class='divider'
          @color='dark'
          @tag='li'
        />
      {{/if}}
    {{/each}}
  </AkList>
</aside>

<AkPopover
  data-test-side-menu-switcher-modal
  @anchorRef={{this.anchorRef}}
  @arrow={{true}}
  @arrowClass={{this.classes.switcherModalArrow}}
  @closeHandler={{this.closeSwitcherModal}}
  @hasBackdrop={{true}}
  @clickOutsideToClose={{true}}
  @placement='right-start'
>
  <div local-class='switcher-popover-container'>
    <AkTypography local-class='modal-title-text' @fontWeight='bold'>
      {{t 'switchTo'}}
    </AkTypography>

    <AkLink
      data-test-switcher-popover-item-link
      local-class='sm-modal-item'
      @underline='none'
      @route={{this.switchToRoute}}
    >
      <AkStack @direction='row' @alignItems='center' @spacing='1' class='p-2'>
        {{#if @isStoreknox}}
          <AkSvg::VpIndicator data-test-side-menu-switcher-modal-vp-svg />

          <AkTypography data-test-side-menu-switcher-modal-switch-to>
            {{if this.orgIsAnEnterprise (t 'vapt') (t 'appknox')}}
          </AkTypography>
        {{else}}
          <AkSvg::SmIndicator data-test-side-menu-switcher-modal-sm-svg />

          <AkTypography data-test-side-menu-switcher-modal-switch-to>
            {{if this.orgIsAnEnterprise (t 'appMonitoring') (t 'storeknox')}}
          </AkTypography>
        {{/if}}
      </AkStack>
    </AkLink>
  </div>
</AkPopover>