<div {{did-insert (perform this.fetch)}}>
  {{#if this.isApproved}}
    <NotificationsPage::Messages::NfNsreqstd1::Approved
      @context={{@context}}
      @moderaterName={{this.namespaceModeratorDisplay}}
    />
  {{else if this.isRejected}}
    <NotificationsPage::Messages::NfNsreqstd1::Rejected @context={{@context}} />
  {{else}}
    <NotificationsPage::Messages::NfNsreqstd1::Unmoderated
      @context={{@context}}
      @onApprove={{perform this.approveNamespace}}
      @onReject={{perform this.rejectNamespace}}
    />
  {{/if}}
</div>