<div class='px-3 py-1' data-test-sbomScanDetails-container>
  <AkStack class='mb-3' @alignItems='center' @justifyContent='space-between'>
    <AkStack @direction='column' @spacing='0.5'>
      <AkTypography data-test-sbomScanDetails-componentTitle @variant='h5'>
        {{t 'sbomModule.allComponents'}}
      </AkTypography>

      <AkTypography
        data-test-sbomScanDetails-componentDescription
        @variant='body2'
        @color='textSecondary'
      >
        {{t 'sbomModule.componentDescription'}}
      </AkTypography>
    </AkStack>

    {{!-- <div {{style width='180px'}}>
      <AkTextField
        data-test-sbomScanDetails-componentSearchInput
        @placeholder={{t 'search'}}
        @value={{@queryParams.component_query}}
        {{on 'keyup' this.searchSbomComponentForQuery}}
      >
        <:leftAdornment>
          <AkIcon @iconName='search' @color='textSecondary' />
        </:leftAdornment>
      </AkTextField>
    </div> --}}
  </AkStack>

  <Sbom::SummaryHeader>
    <:summary>
      <AkStack @alignItems='center' @spacing='1.5'>
        <Sbom::AppLogo @sbomProject={{@sbomProject}} />

        <AkTypography data-test-sbomAppSummary-appPackageName @variant='h6'>
          {{this.packageName}}
        </AkTypography>

        <Sbom::AppPlatform @sbomProject={{@sbomProject}} />
      </AkStack>
    </:summary>

    <:actionBtn>
      <AkStack @alignItems='stretch' @spacing='1'>
        <AkLink
          @class={{this.classes.akLinkBtn}}
          @route='authenticated.dashboard.sbom.app-scans'
          @model={{@sbomProject.id}}
          @underline='none'
          data-test-sbomScanDetails-pastSbomAnalyses-link
        >
          {{t 'sbomModule.pastSbomAnalyses'}}
        </AkLink>

        {{#if this.scanStatusCompleted}}
          <AkButton
            {{on 'click' this.handleViewReportDrawerOpen}}
            data-test-sbomScanDetails-viewReport-btn
          >
            {{t 'sbomModule.viewReport'}}
          </AkButton>
        {{/if}}
      </AkStack>
    </:actionBtn>

    <:collapsibleContent>
      <Sbom::ScanDetails::FileScanSummary
        @sbomFile={{@sbomFile}}
        @sbomScanSummary={{@sbomScanSummary}}
      />
    </:collapsibleContent>
  </Sbom::SummaryHeader>

  {{#if this.scanStatusCompleted}}
    <Sbom::ScanDetails::ComponentList
      @sbomProject={{@sbomProject}}
      @sbomFile={{@sbomFile}}
      @sbomScanSummary={{@sbomScanSummary}}
      @queryParams={{@queryParams}}
      data-test-sbomScanDetails-componentList-container
    />
  {{else}}
    <AkStack
      @direction='column'
      @justifyContent='center'
      @alignItems='center'
      class='mt-7'
    >
      {{#if this.scanStatusFailed}}
        <AkSvg::NoResult data-test-sbomScanDetails-scanStatusFailedSvg />
      {{else}}
        <AkSvg::InProgress data-test-sbomScanDetails-scanStatusInProgressSvg />
      {{/if}}

      <AkStack
        class='mt-5'
        @direction='column'
        @alignItems='center'
        @spacing='1'
      >
        <AkTypography data-test-sbomScanDetails-scanStatusTitle @variant='h5'>
          {{this.scanStatusText.title}}
        </AkTypography>

        <AkTypography
          data-test-sbomScanDetails-scanStatusDescription
          {{style width='600px'}}
          @color='textSecondary'
          @align='center'
        >
          {{this.scanStatusText.description}}
        </AkTypography>
      </AkStack>
    </AkStack>
  {{/if}}
</div>

<Sbom::ScanReportDrawer
  @sbomFile={{@sbomFile}}
  @open={{this.openViewReportDrawer}}
  @onClose={{this.handleViewReportDrawerClose}}
/>