<div class='py-1' data-test-sbomScanDetails-container>
  <Sbom::SummaryHeader>
    <:summary>
      <AkStack @alignItems='center' @spacing='1.5'>
        <Sbom::AppLogo @sbomProject={{@sbomProject}} />

        <AkTypography data-test-sbomAppSummary-appPackageName @variant='h6'>
          {{this.packageName}}
        </AkTypography>

        <Sbom::AppPlatform @sbomProject={{@sbomProject}} />
      </AkStack>
    </:summary>

    <:actionBtn>
      <AkStack @alignItems='stretch' @spacing='1'>
        <AkLink
          @class={{this.classes.akLinkBtn}}
          @route='authenticated.dashboard.sbom.app-scans'
          @model={{@sbomProject.id}}
          @underline='none'
          data-test-sbomScanDetails-pastSbomAnalyses-link
        >
          {{t 'sbomModule.pastSbomAnalyses'}}
        </AkLink>

        {{#if this.scanStatusCompleted}}
          <AkButton
            {{on 'click' this.handleViewReportDrawerOpen}}
            data-test-sbomScanDetails-viewReport-btn
          >
            {{t 'sbomModule.viewReport'}}
          </AkButton>
        {{/if}}
      </AkStack>
    </:actionBtn>

    <:collapsibleContent>
      <Sbom::ScanDetails::FileScanSummary
        @sbomFile={{@sbomFile}}
        @sbomScanSummary={{@sbomScanSummary}}
      />
    </:collapsibleContent>
  </Sbom::SummaryHeader>

  {{#if this.scanStatusCompleted}}
    <Sbom::ScanDetails::Overview
      @sbomFile={{@sbomFile}}
      @sbomScanSummary={{@sbomScanSummary}}
    />

    {{#if this.isNotOutdated}}
      <AkStack
        data-test-sbomScanDetails-switch-header
        local-class='switch-view-header'
        @alignItems='center'
        @justifyContent='{{if this.isTreeView "flex-end" "space-between"}}'
      >
        {{#unless this.isTreeView}}
          <div {{style width='180px'}}>
            <AkTextField
              data-test-sbomScanDetails-componentSearchInput
              @placeholder={{t 'search'}}
              @value={{this.sbomScanDetailsService.searchQuery}}
              {{on 'input' this.handleSearchInput}}
            >
              <:leftAdornment>
                <AkIcon @iconName='search' @color='textSecondary' />
              </:leftAdornment>
            </AkTextField>
          </div>
        {{/unless}}

        <AkStack>
          {{#if this.isTreeView}}
            <AkButton
              data-test-sbomScanDetails-collapseAllButton
              {{on 'click' this.collapseAll}}
              @variant='outlined'
              @color='neutral'
              @disabled={{not this.isTreeExpanded}}
              local-class='toggle-button'
              class='mr-2'
            >
              <:leftIcon>
                <AkIcon @iconName='unfold-less' />
              </:leftIcon>

              <:default>
                {{t 'collapseAll'}}
              </:default>
            </AkButton>
          {{/if}}

          <AkIconButton
            local-class='switch-button tree {{if this.isTreeView "active"}}'
            @variant='outlined'
            @size='medium'
            {{on 'click' this.handleTreeViewClick}}
            data-test-sbomScanDetails-switch-treeViewButton
          >
            <AkIcon
              @color={{if this.isTreeView 'primary'}}
              @iconName='account-tree'
            />
          </AkIconButton>

          <AkIconButton
            local-class='switch-button list {{if this.isTreeView "" "active"}}'
            @variant='outlined'
            {{on 'click' this.handleListViewClick}}
            data-test-sbomScanDetails-switch-listViewButton
          >
            <AkIcon
              @color={{unless this.isTreeView 'primary'}}
              @iconName='format-list-bulleted'
            />
          </AkIconButton>
        </AkStack>
      </AkStack>
    {{/if}}

    {{#if (and this.isTreeView this.isNotOutdated)}}
      <Sbom::ScanDetails::ComponentTree
        @sbomProject={{@sbomProject}}
        @sbomFile={{@sbomFile}}
        @packageName={{this.packageName}}
        @updateExpandedNodes={{this.updateExpandedNodes}}
        @expandedNodes={{this.expandedNodes}}
        @treeNodes={{this.treeNodes}}
        @updateTreeNodes={{this.updateTreeNodes}}
      />
    {{else}}
      <Sbom::ScanDetails::ComponentList
        @sbomProject={{@sbomProject}}
        @sbomFile={{@sbomFile}}
        @sbomScanSummary={{@sbomScanSummary}}
        class={{if this.isNotOutdated '' 'mt-2'}}
        data-test-sbomScanDetails-componentList-container
      />
    {{/if}}
  {{else}}
    <AkStack
      @direction='column'
      @justifyContent='center'
      @alignItems='center'
      class='mt-2'
      local-class='scan-status-container'
    >
      {{#if this.scanStatusFailed}}
        <AkSvg::NoResult data-test-sbomScanDetails-scanStatusFailedSvg />
      {{else}}
        <AkSvg::InProgress data-test-sbomScanDetails-scanStatusInProgressSvg />
      {{/if}}

      <AkStack
        class='mt-5'
        @direction='column'
        @alignItems='center'
        @spacing='1'
      >
        <AkTypography data-test-sbomScanDetails-scanStatusTitle @variant='h5'>
          {{this.scanStatusText.title}}
        </AkTypography>

        <AkTypography
          data-test-sbomScanDetails-scanStatusDescription
          {{style width='600px'}}
          @color='textSecondary'
          @align='center'
        >
          {{this.scanStatusText.description}}
        </AkTypography>
      </AkStack>
    </AkStack>
  {{/if}}
</div>

<Sbom::ScanReportDrawer
  @sbomFile={{@sbomFile}}
  @open={{this.openViewReportDrawer}}
  @onClose={{this.handleViewReportDrawerClose}}
/>