{{#if (and @project this.profile)}}
  <div local-class='regulatory-preferences' data-test-preferences>
    <h5 local-class='title' data-test-preferences-title>
      {{t 'regulatoryPreferences'}}
    </h5>
    <div local-class='description' data-test-preferences-desc>
      {{t 'regulatoryPreferencesChooseForProfile'}}
      {{t 'regulatoryPreferencesWarning'}}
    </div>
    <div local-class='note' data-test-preferences-note>
      ({{t 'regulatoryPreferencesProfileNote'}})
    </div>

    <div local-class='preferences' data-test-preferences-options>
      <div class='margin-b-1'>
        <TriStateCheckbox
          @label='PCI-DSS'
          @title={{t 'pcidssExpansion'}}
          @value={{this.profile.reportPreference.show_pcidss.value}}
          @onToggle={{this.onSavePcidss}}
          @onOverrideReset={{this.onResetPcidss}}
          @isToggleRunning={{this.savePcidss.isRunning}}
          @isOverridden={{not
            this.profile.reportPreference.show_pcidss.is_inherited
          }}
          data-test-preference-pcidss
        />
      </div>

      <div class='margin-b-1'>
        <TriStateCheckbox
          @label='HIPAA'
          @title={{t 'hipaaExpansion'}}
          @value={{this.profile.reportPreference.show_hipaa.value}}
          @onToggle={{this.onSaveHipaa}}
          @onOverrideReset={{this.onResetHipaa}}
          @isToggleRunning={{this.saveHipaa.isRunning}}
          @isOverridden={{not
            this.profile.reportPreference.show_hipaa.is_inherited
          }}
          data-test-preference-hipaa
        />
      </div>

      <div class='margin-b-1'>
        <TriStateCheckbox
          @label='GDPR'
          @title={{t 'gdprExpansion'}}
          @value={{this.profile.reportPreference.show_gdpr.value}}
          @onToggle={{this.onSaveGdpr}}
          @onOverrideReset={{this.onResetGdpr}}
          @isToggleRunning={{this.saveGdpr.isRunning}}
          @isOverridden={{not
            this.profile.reportPreference.show_gdpr.is_inherited
          }}
          data-test-preference-gdpr
        />
      </div>
    </div>
  </div>
{{/if}}