{{#if (and @project this.profile)}}
  <div local-class='regulatory-preferences' data-test-preferences>
    <h5 local-class='title'>{{t 'regulatoryPreferences'}}</h5>
    <div local-class='description'>
      {{t 'regulatoryPreferencesChooseForProfile'}}
      {{t 'regulatoryPreferencesWarning'}}
    </div>
    <div local-class='note'>({{t 'regulatoryPreferencesProfileNote'}})</div>

    <div local-class='preferences'>
      <div class='margin-b-1'>
        <TriStateCheckbox
          @label='PCI-DSS'
          @value={{this.profile.reportPreference.show_pcidss.value}}
          @onToggle={{this.onSavePcidss}}
          @onOverrideReset={{this.onResetPcidss}}
          @isToggleRunning={{this.savePcidss.isRunning}}
          @isOverridden={{not
            this.profile.reportPreference.show_pcidss.is_inherited
          }}
          data-test-preference-pcidss
        />
      </div>

      <div class='margin-b-1'>
        <TriStateCheckbox
          @label='HIPAA'
          @value={{this.profile.reportPreference.show_hipaa.value}}
          @onToggle={{this.onSaveHipaa}}
          @onOverrideReset={{this.onResetHipaa}}
          @isToggleRunning={{this.saveHipaa.isRunning}}
          @isOverridden={{not
            this.profile.reportPreference.show_hipaa.is_inherited
          }}
          data-test-preference-hipaa
        />
      </div>

      <div class='margin-b-1'>
        <TriStateCheckbox
          @label='ASVS'
          @value={{this.profile.reportPreference.show_asvs.value}}
          @onToggle={{this.onSaveAsvs}}
          @onOverrideReset={{this.onResetAsvs}}
          @isToggleRunning={{this.saveAsvs.isRunning}}
          @isOverridden={{not
            this.profile.reportPreference.show_asvs.is_inherited
          }}
          data-test-preference-asvs
        />
      </div>

      <div class='margin-b-1'>
        <TriStateCheckbox
          @label='MSTG'
          @value={{this.profile.reportPreference.show_mstg.value}}
          @onToggle={{this.onSaveMstg}}
          @onOverrideReset={{this.onResetMstg}}
          @isToggleRunning={{this.saveMstg.isRunning}}
          @isOverridden={{not
            this.profile.reportPreference.show_mstg.is_inherited
          }}
          data-test-preference-mstg
        />
      </div>

      <div class='margin-b-1'>
        <TriStateCheckbox
          @label='CWE'
          @value={{this.profile.reportPreference.show_cwe.value}}
          @onToggle={{this.onSaveCwe}}
          @onOverrideReset={{this.onResetCwe}}
          @isToggleRunning={{this.saveCwe.isRunning}}
          @isOverridden={{not
            this.profile.reportPreference.show_cwe.is_inherited
          }}
          data-test-preference-cwe
        />
      </div>

      <div class='margin-b-1'>
        <TriStateCheckbox
          @label='GDPR'
          @value={{this.profile.reportPreference.show_gdpr.value}}
          @onToggle={{this.onSaveGdpr}}
          @onOverrideReset={{this.onResetGdpr}}
          @isToggleRunning={{this.saveGdpr.isRunning}}
          @isOverridden={{not
            this.profile.reportPreference.show_gdpr.is_inherited
          }}
          data-test-preference-gdpr
        />
      </div>
    </div>
  </div>
{{/if}}