<div local-class="invite-container" {{did-insert this.initializeCompo}}>
  <div data-input-container="first-name" local-class="firstname input-container">
    <label local-class="label" for="firstname">{{t 'firstName'}}</label>
    <Input id="firstname" placeholder="First name" autocomplete="off" @value={{mut (get this.changeset "first_name")}}
      local-class="input" />
  </div>

  <div data-input-container="last-name" local-class="lastname input-container">
    <label local-class="label" for="lastname">{{t 'lastName'}}</label>
    <Input id="lastname" placeholder="Last name" autocomplete="off" @value={{mut (get this.changeset "last_name")}} />
  </div>


  <div data-input-container="email" data-input-required
    local-class="email input-container {{if this.changeset.error.email 'error'}}">
    <label local-class="label" for="email">{{t 'email'}}</label>
    <Input id="email" placeholder="Email" autocomplete="off" @value={{mut (get this.changeset "email")}}
      local-class="input" />
    {{#if this.changeset.error.email}}
      <span data-input-error="email" local-class="error"> {{this.changeset.error.email.validation}}</span>
    {{/if}}
  </div>

  <div data-input-container="company" data-input-required
    local-class="company input-container {{if this.changeset.error.company 'error'}}">
    <label local-class="label" for="user-company">{{t "companyName"}}</label>
    <Input id="user-company" placeholder="Company" autocomplete="off" @value={{mut (get this.changeset "company")}}
      local-class="input" />
    {{#if this.changeset.error.company}}
      <span data-input-error="company" local-class="error"> {{this.changeset.error.company.validation}}</span>
    {{/if}}
  </div>


  <button data-input-btn="send" local-class="submit" type="button" class="is-primary"
    {{on "click" (perform this.sendInvitation)}}>{{t "sendInvitation"}}</button>
</div>