<div local-class="client-upload-card">
  <div local-class="card-header">
    <div local-class="app-icon" style={{this.iconUrl}}></div>
    <div local-class="header-info">
      <span local-class="name">{{@upload.name}}</span>
      <span local-class="pkg">{{@upload.project.package_name}}</span>
    </div>
    <div local-class="platform">{{fa-icon @upload.platformIcon local-class="icon"}}</div>
  </div>
  <div local-class="card-body">
    <div local-class="upload-info">Version: {{@upload.version}} Version Code: {{@upload.versionCode}}</div>
    <div local-class="upload-info">Uploaded: {{dayjs-from-now @upload.createdOn}}</div>
  </div>
</div>