{{#if this.orgPreference.reportPreference}}
  <div local-class='preferences-container' data-test-preferences>
    <AkTypography
      @gutterBottom={{true}}
      @variant='h5'
      data-test-preferences-title
    >
      {{t 'regulatoryPreferences'}}
    </AkTypography>

    <AkStack @direction='column' @spacing='0.5'>
      <AkTypography @variant='h6' data-test-preferences-subtitle>
        {{t 'regulatoryPreferencesChooseForAll'}}
      </AkTypography>

      <AkTypography
        @variant='body2'
        @color='textSecondary'
        data-test-preferences-desc
      >
        {{t 'regulatoryPreferencesWarning'}}
      </AkTypography>
    </AkStack>

    <div class='mt-2'>
      {{#each this.regulatoryPreferences as |pref|}}
        <AkStack
          @alignItems='center'
          @spacing='1'
          data-test-preference='{{pref.label}}'
        >
          <AkTooltip
            @disabled={{pref.task.isRunning}}
            @title={{pref.title}}
            @arrow={{true}}
            @placement='right'
          >
            <AkFormControlLabel
              @disabled={{pref.task.isRunning}}
              @label={{pref.label}}
              as |fcl|
            >
              <AkCheckbox
                data-test-preference-checkbox
                @disabled={{fcl.disabled}}
                @checked={{pref.checked}}
                @onChange={{perform pref.task}}
              />
            </AkFormControlLabel>
          </AkTooltip>

          {{#if pref.task.isRunning}}
            <AkLoader @size={{14}} data-test-progress-spinner />
          {{/if}}
        </AkStack>
      {{/each}}
    </div>
  </div>
{{/if}}