{{#if this.orgPreference.reportPreference}}
  <div local-class='preferences-container' data-test-preferences>
    <AkTypography
      @gutterBottom={{true}}
      @variant='h5'
      data-test-preferences-title
    >
      {{t 'regulatoryPreferences'}}
    </AkTypography>

    <AkTypography @variant='h6' data-test-preferences-subtitle>
      {{t 'regulatoryPreferencesChooseForAll'}}
    </AkTypography>

    <AkTypography
      @variant='body2'
      @color='textSecondary'
      data-test-preferences-desc
    >
      {{t 'regulatoryPreferencesWarning'}}
    </AkTypography>

    <div class='mt-2' data-test-preferences-options>
      {{#each this.regulatoryPreferences as |pref|}}
        <div data-test-preference-pcidss>
          <AkTooltip @title={{pref.title}} @arrow={{true}} @placement='right'>
            <AkFormControlLabel @label={{pref.label}} as |fcl|>
              <AkCheckbox
                data-test-pcidss-input
                @disabled={{fcl.disabled}}
                @checked={{pref.checked}}
                @onChange={{perform pref.task}}
              />
            </AkFormControlLabel>
          </AkTooltip>

          <TaskSpin @task={{pref.task}} data-test-pcidss-progress-spinner />
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}