<div data-test-preferences {{did-insert this.initComp}}>
  <h2 data-test-preferences-title>
    {{t 'regulatoryPreferences'}}
  </h2>
  <h4 data-test-preferences-subtitle>
    {{t 'regulatoryPreferencesChooseForAll'}}
  </h4>
  <p data-test-preferences-desc>
    {{t 'regulatoryPreferencesWarning'}}
  </p>
  <div
    local-class="preferences
      {{if this.orgPreference.reportPreference 'visibile' 'in-visible'}}"
    data-test-preferences-options
  >
    <div data-test-preference-pcidss>
      <AkCheckbox
        @isChecked={{this.orgPreference.reportPreference.show_pcidss}}
        data-test-preference-pcidss-checkbox
        {{on 'input' this.onSavePcidss}}
      >
        <abbr
          title={{t 'pcidssExpansion'}}
          local-class="abbr-label"
          data-test-preference-pcidss-label
        >
          PCI-DSS
        </abbr>
        <TaskSpin @task={{this.savePcidss}} />
      </AkCheckbox>
    </div>
    <div data-test-preference-hipaa>
      <AkCheckbox
        @isChecked={{this.orgPreference.reportPreference.show_hipaa}}
        data-test-preference-hipaa-checkbox
        {{on 'input' this.onSaveHipaa}}
      >
        <abbr
          title={{t 'hipaaExpansion'}}
          local-class="abbr-label"
          data-test-preference-hipaa-label
        >
          HIPAA
        </abbr>
        <TaskSpin @task={{this.saveHipaa}} />
      </AkCheckbox>
    </div>
    <div data-test-preference-gdpr>
      <AkCheckbox
        @isChecked={{this.orgPreference.reportPreference.show_gdpr}}
        data-test-preference-gdpr-checkbox
        {{on 'input' this.onSaveGdpr}}
      >
        <abbr
          title={{t 'gdprExpansion'}}
          local-class="abbr-label"
          data-test-preference-gdpr-label
        >
          GDPR
        </abbr>
        <TaskSpin @task={{this.saveGdpr}} />
      </AkCheckbox>
    </div>
    {{#if this.fetchOrganizationPreference.isRunning}}
      <div local-class="loading-spinner">
        <ThreeBounceSpinner />
      </div>
    {{/if}}
  </div>
</div>
