{{#if this.orgPreference.reportPreference}}
  <div data-test-preferences>
    <div class='org-settings-subtitle' data-test-preferences-title>
      {{t 'regulatoryPreferences'}}
    </div>
    <div local-class='subtitle' data-test-preferences-subtitle>
      {{t 'regulatoryPreferencesChooseForAll'}}
    </div>
    <div local-class='description' data-test-preferences-desc>
      {{t 'regulatoryPreferencesWarning'}}
    </div>

    <div local-class='preferences' data-test-preferences-options>
      <div data-test-preference-pcidss>
        <label local-class='preference'>
          <Input
            local-class='checkbox'
            @type='checkbox'
            @checked={{this.orgPreference.reportPreference.show_pcidss}}
            onclick={{perform this.savePcidss}}
            data-test-pcidss-input
          />
          <abbr
            title={{t 'pcidssExpansion'}}
            local-class='label'
            data-test-pcidss-label
          >PCI-DSS</abbr>
          <TaskSpin
            @task={{this.savePcidss}}
            data-test-pcidss-progress-spinner
          />
        </label>
      </div>

      <div data-test-preference-hipaa>
        <label local-class='preference'>
          <Input
            local-class='checkbox'
            @type='checkbox'
            @checked={{this.orgPreference.reportPreference.show_hipaa}}
            onclick={{perform this.saveHipaa}}
            data-test-hipaa-input
          />
          <abbr
            title={{t 'hipaaExpansion'}}
            local-class='label'
            data-test-hipaa-label
          >HIPAA</abbr>
          <TaskSpin @task={{this.saveHipaa}} data-test-hipaa-progress-spinner />
        </label>
      </div>

      <div data-test-preference-gdpr>
        <label local-class='preference'>
          <Input
            local-class='checkbox'
            @type='checkbox'
            @checked={{this.orgPreference.reportPreference.show_gdpr}}
            onclick={{perform this.saveGdpr}}
            data-test-gdpr-input
          />
          <abbr
            title={{t 'gdprExpansion'}}
            local-class='label'
            data-test-gdpr-label
          >GDPR</abbr>
          <TaskSpin @task={{this.saveGdpr}} data-test-gdpr-progress-spinner />
        </label>
      </div>
    </div>
  </div>
{{/if}}