<div local-class='organization-archive-header-container'>
  <AkTypography data-test-orgArchive-title @variant='h5' @gutterBottom={{true}}>
    {{t 'organizationArchive'}}
  </AkTypography>

  <AkTypography
    data-test-orgArchive-subtitle
    @variant='body2'
    @color='textSecondary'
  >
    {{t 'organizationArchiveDescription'}}
  </AkTypography>

  <div class='my-3'>
    <AkTypography data-test-orgArchive-dateTitle @variant='subtitle1'>
      {{t 'organizationArchiveSelectDateTitle'}}
    </AkTypography>

    <AkTypography
      data-test-orgArchive-dateSubtitle
      @variant='body2'
      @color='textSecondary'
    >
      {{t 'organizationArchiveSelectDateDesc'}}
    </AkTypography>

    <AkStack class='mt-2' @alignItems='center' @spacing='1.5'>
      <AkDatePicker
        @maxDate={{this.maxDate}}
        @range={{true}}
        @selected={{hash start=this.startDate end=this.endDate}}
        @quickSelectOptions={{this.datepickerOptions}}
        @onSelect={{this.setDuration}}
      >
        <AkStack
          data-test-date-picker-toggle-button
          local-class='date-picker-btn'
          @alignItems='center'
        >
          <AkIcon
            @iconName='event'
            @size='small'
            @color='textPrimary'
            title='Select date range'
            local-class='date-picker-icon'
          />

          <div
            data-test-orgArchive-dateRangeLabel
            local-class='date-picker-dateText'
          >
            {{#if this.startDate}}
              <AkTypography @tag='span' @color='textPrimary'>
                {{day-js date=this.startDate format='DD MMM YYYY'}}
              </AkTypography>
            {{else}}
              <AkTypography @tag='span' @color='textSecondary'>
                {{t 'fromDate'}}
              </AkTypography>
            {{/if}}

            <AkTypography @tag='span' @color='textSecondary'>
              -
            </AkTypography>

            {{#if this.endDate}}
              <AkTypography @tag='span' @color='textPrimary'>
                {{day-js date=this.endDate format='DD MMM YYYY'}}
              </AkTypography>
            {{else}}
              <AkTypography @tag='span' @color='textSecondary'>
                {{t 'toDate'}}
              </AkTypography>
            {{/if}}
          </div>

          <AkButton
            data-test-orgArchive-dateClearBtn
            local-class='date-picker-clearBtn'
            @variant='text'
            @color='primary'
            @underline='always'
            {{on 'click' this.clearSelectedDatePickerDates}}
          >
            Clear
          </AkButton>
        </AkStack>
      </AkDatePicker>

      <AkButton
        data-test-orgArchive-exportBtn
        {{on 'click' (perform this.tiggerGenerateArchive)}}
        @loading={{this.tiggerGenerateArchive.isRunning}}
      >
        {{#if this.tiggerGenerateArchive.isRunning}}
          {{t 'processing'}}
        {{else}}
          {{t 'organizationArchiveExport'}}
        {{/if}}
      </AkButton>
    </AkStack>
  </div>
</div>

<OrganizationArchive::List @ref={{this.archiveListRef}} />