{{#if this.isOwner}}
  <div class='m-2 w-full'>
    <AkStack @direction='column' @spacing='1'>
      <AkTypography @variant='h5'>
        {{t 'cyodProxyKeyTitle'}}
      </AkTypography>
      <AkTypography @color='textSecondary'>
        {{t 'cyodProxyKeyDesc'}}
      </AkTypography>
    </AkStack>

    <form
      {{on 'submit' (perform this.generateKey)}}
      {{style width='100%' maxWidth='650px'}}
      class='my-3'
    >
      <AkStack @width='full' @alignItems='center' @spacing='1.5'>
        <div {{style flex='1'}}>
          <AkTextField
            @value={{this.newKeyName}}
            @placeholder={{t 'cyodProxyKeyNamePlaceholder'}}
            {{on 'input' this.setNewKeyName}}
          />
        </div>
        <AkButton @loading={{this.generateKey.isRunning}} @type='submit'>
          <:leftIcon>
            <AkIcon @iconName='add' />
          </:leftIcon>
          <:default>{{t 'cyodProxyKeyGenerate'}}</:default>
        </AkButton>
      </AkStack>
    </form>

    {{#if this.loadKeys.isRunning}}
      <AkStack @spacing='1' @alignItems='center'>
        <AkLoader @size={{16}} />
        <AkTypography @variant='body2' @color='textSecondary'>
          {{t 'loading'}}
        </AkTypography>
      </AkStack>
    {{else if this.hasKeys}}
      <AkTable {{style maxWidth='850px'}} @dense={{true}} as |t|>
        <t.head @columns={{this.columns}} />
        <t.body @rows={{this.keys}} as |b|>
          <b.row as |r|>
            <r.cell as |value|>
              {{#if r.columnValue.component}}
                {{#let (component r.columnValue.component) as |Component|}}
                  <Component
                    @encKey={{r.rowValue}}
                    @reloadKeys={{this.reloadKeys}}
                  />
                {{/let}}
              {{else}}
                <AkTypography @noWrap={{true}} title={{value}}>
                  {{value}}
                </AkTypography>
              {{/if}}
            </r.cell>
          </b.row>
        </t.body>
      </AkTable>
    {{/if}}
  </div>
{{/if}}
