<div class='pending-registration-requests'>
  {{#if this.objects}}
    <h3 local-class='title' class='margin-t-3'>{{t 'rejectedRequests'}}</h3>
    <div>
      <div local-class='table'>
        <div local-class='table-header'>
          <div class='bold'>{{t 'requested'}} {{t 'by'}}</div>
          <div class='bold'>{{t 'company'}}</div>
          <div class='bold'>{{t 'requested'}}</div>
          <div class='bold'>{{t 'rejected'}}</div>
          <div class='bold'></div>
        </div>
        <div local-class='table-body'>
          {{#each this.objects as |request|}}
            <div local-class='table-row'>
              <Partner::RegistrationRequestRejected
                @request={{request}}
                @onUndoReject={{this.onUndoReject}}
              />
            </div>
          {{/each}}
        </div>
      </div>
      {{#if (or this.hasPrevious this.hasNext)}}
        <div local-class='pagination'>
          {{partial 'paginate'}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>