{{#if @data.requested}}
  {{#if @data.exists}}
    <AkTooltip @placement='bottom' @arrow={{true}} @color='light'>
      <:tooltipContent>
        <div local-class='tooltip-content'>
          <AkTypography @color='inherit'>
            {{t 'storeknox.appAlreadyExists'}}
          </AkTypography>
        </div>
      </:tooltipContent>

      <:default>
        <AkIcon
          @iconName='inventory-2'
          @size='small'
          local-class='already-exist-icon'
        />
      </:default>
    </AkTooltip>
  {{else}}
    <AkTooltip @placement='bottom' @arrow={{true}} @color='light'>
      <:tooltipContent>
        <div local-class='tooltip-content'>
          <AkTypography @color='inherit'>
            {{t 'storeknox.appAlreadyRequested'}}
          </AkTypography>
        </div>
      </:tooltipContent>

      <:default>
        <AkIcon
          @iconName='schedule-send'
          @size='small'
          local-class='requested-icon'
        />
      </:default>
    </AkTooltip>
  {{/if}}
{{else}}
  <AkIconButton>
    {{#if this.isAdmin}}
      <AkIcon @iconName='add-box' />
    {{else}}
      <AkIcon @iconName='send' />
    {{/if}}
  </AkIconButton>
{{/if}}