{{#if @loading}}
  <AkStack @justifyContent='center'>
    <AkSkeleton @width='30px' @height='30px' />
  </AkStack>
{{else}}
  {{#if @data.requested}}
    <AkTooltip @placement='bottom' @arrow={{true}} @color='light'>
      <:tooltipContent>
        <div local-class='tooltip-content'>
          <AkTypography @color='inherit'>
            {{this.iconValue.tooltipText}}
          </AkTypography>
        </div>
      </:tooltipContent>

      <:default>
        <AkIcon
          @iconName={{this.iconValue.iconName}}
          @size='small'
          local-class='{{this.iconValue.className}}'
        />
      </:default>
    </AkTooltip>
  {{else}}
    {{#if @data.addButtonLoading}}
      <AkLoader @size={{16}} />
    {{else}}
      <AkIconButton {{on 'click' (fn this.addToInventory @data.docUlid)}}>
        {{#if this.isAdmin}}
          <AkIcon @iconName='add-box' />
        {{else}}
          <AkIcon @iconName='send' />
        {{/if}}
      </AkIconButton>
    {{/if}}
  {{/if}}
{{/if}}