<div local-class='org-setting-mfa'>
  <AkTypography @gutterBottom={{true}} @variant='h5' data-test-mfa-title>
    {{t 'multiFactorAuth'}}
  </AkTypography>

  <AkStack @direction='column' @spacing='0.5'>
    <AkTypography @variant='h6' data-test-mfa-subtitle>
      {{t 'multiFactorAuthSubtitle'}}
    </AkTypography>

    <AkTypography
      @variant='body2'
      @color='textSecondary'
      data-test-enable-mandatory-mfa-description
    >
      {{t 'enableMandatoryMFADescription'}}
    </AkTypography>
  </AkStack>

  <AkFormControlLabel
    data-test-enable-mandatory-mfa-label
    class='my-3'
    @disabled={{this.isMfaMandateDisabled}}
    @label={{t 'enableMandatoryMFATitle'}}
    as |fcl|
  >
    <AkToggle
      @id='mandate-mfa'
      @checked={{@organization.mandatoryMfa}}
      @disabled={{fcl.disabled}}
      @size='small'
      @onChange={{perform this.setMandatoryMFA}}
    />
  </AkFormControlLabel>

  <div class='mb-2' local-class='alert-error'>
    <AkIcon @iconName='warning' @color='error' />

    <AkTypography data-test-enable-mandatory-mfa-warning class='ml-2'>
      {{t 'enableMandatoryMFAWarning'}}
    </AkTypography>
  </div>

  {{#if this.isUserMfaDisabled}}
    <div class='mb-3' local-class='alert-warn'>
      <AkIcon @iconName='security' @color='inherit' />

      <div class='ml-3'>
        <AkTypography
          data-test-enable-mandatory-mfa-requirement
          @gutterBottom={{true}}
        >
          {{t 'enableMandatoryMFARequirement'}}
        </AkTypography>

        <AkLink
          local-class='alert-warn-link'
          @route='authenticated.settings.security'
          @underline='always'
        >
          {{t 'accountSettings'}}
          >
          {{t 'security'}}
          >
          {{t 'multiFactorAuth'}}
        </AkLink>
      </div>
    </div>
  {{/if}}
</div>