<AkStack @direction='column' @spacing='0.5'>
  {{#if (has-block 'title')}}
    {{yield to='title'}}
  {{else}}
    <AkTypography data-test-projectPreference-title @variant='h6'>
      {{t 'devicePreferences'}}
    </AkTypography>
  {{/if}}

  <AkTypography
    data-test-projectPreference-description
    @variant='body2'
    @color='textSecondary'
  >
    {{t 'otherTemplates.selectPreferredDevice'}}
  </AkTypography>
</AkStack>

<AkStack class='mt-2' @spacing='2'>
  <div {{style width='150px'}}>
    <AkSelect
      data-test-projectPreference-deviceTypeSelect
      @label={{t 'deviceType'}}
      @options={{@dpContext.deviceTypes}}
      @selected={{@dpContext.selectedDeviceType}}
      @onChange={{@dpContext.handleSelectDeviceType}}
      @error={{this.isPreferredDeviceNotAvailable}}
      as |aks|
    >
      {{t (device-type aks.value)}}
    </AkSelect>
  </div>

  <div {{style width='150px'}}>
    <AkSelect
      data-test-projectPreference-osVersionSelect
      @label={{t 'osVersion'}}
      @selected={{@dpContext.selectedVersion}}
      @options={{@dpContext.devicePlatformVersions}}
      @onChange={{@dpContext.handleSelectVersion}}
      @error={{this.isPreferredDeviceNotAvailable}}
      as |version|
    >
      {{#if (eq version '0')}}
        {{t 'anyVersion'}}
      {{else}}
        {{version}}
      {{/if}}
    </AkSelect>
  </div>
</AkStack>

{{#if this.isPreferredDeviceNotAvailable}}
  <AkStack
    class='mt-1'
    @alignItems='center'
    @spacing='1'
    data-test-projectPreference-deviceUnavailableError
  >
    <AkIcon @iconName='warning' @color='error' @size='small' />

    <AkTypography @color='error' @variant='body2'>
      {{t 'modalCard.dynamicScan.preferredDeviceNotAvailable'}}
    </AkTypography>
  </AkStack>
{{/if}}