{{#if this.dynamicscanAutomationFeatureAvailable}}
  {{#if this.getDsAutomationPreference.isRunning}}
    <AkStack
      local-class='loading-container'
      @alignItems='center'
      @justifyContent='center'
      @spacing='1.5'
    >
      <AkLoader @size={{16}} />

      <AkTypography local-class='loading-text' @color='textSecondary'>
        {{t 'loading'}}...
      </AkTypography>
    </AkStack>
  {{else if this.automationPreference.dynamicScanAutomationEnabled}}
    <FileDetails::DynamicScan::DeviceWrapper
      @loadingScanStatus={{this.isFetchingDynamicScan}}
      @showStatusChip={{true}}
      @showActionButton={{this.showActionButton}}
    >
      <:statusChip>
        <AkTooltip
          @arrow={{true}}
          @placement='bottom'
          @disabled={{not this.statusChipTooltipMessage}}
          data-test-fileDetails-dynamicScan-automated-statusChipErrorTooltip
        >
          <:tooltipContent>
            <div local-class='tooltip-content-container'>
              {{this.statusChipTooltipMessage}}
            </div>
          </:tooltipContent>

          <:default>
            <FileDetails::DynamicScan::StatusChip
              @status={{this.cumulativeScanStatus}}
              @statusText={{this.cumulativeScanStatusText}}
            />
          </:default>
        </AkTooltip>
      </:statusChip>

      <:actionButton as |dw|>
        <AkStack @alignItems='center' @spacing='1.5'>
          {{#if this.selectedScanHasNavigationGraph}}
            <AkLink
              @route='authenticated.dashboard.ds-navigation-graph'
              @models={{this.navigationGraphRouteModels}}
              data-test-fileDetails-dynamicScan-automated-viewNavigationGraphLink
            >
              <AkButton
                @variant='outlined'
                local-class='view-navigation-graph-btn'
                data-test-fileDetails-dynamicScan-automated-viewNavigationGraphBtn
              >
                <:leftIcon>
                  <AkIcon @iconName='family-history' />
                </:leftIcon>

                <:default>{{t 'navigationGraph.viewNavigationGraph'}}</:default>
              </AkButton>
            </AkLink>
          {{/if}}

          <FileDetails::DynamicScan::Action
            @file={{@file}}
            @dynamicScanText={{t 'dastTabs.automatedDAST'}}
            @isAutomatedScan={{true}}
            @dynamicScans={{this.lastAutomatedDynamicScans}}
            @openActionDrawer={{dw.openActionDrawer}}
          />
        </AkStack>
      </:actionButton>

      <:actionDrawer as |dw|>
        <DsPreferenceProvider @profileId={{@profileId}} as |dpContext|>
          <FileDetails::DynamicScan::Action::Drawer
            @onClose={{dw.closeActionDrawer}}
            @file={{@file}}
            @dpContext={{dpContext}}
            @isAutomatedScan={{true}}
            @reloadLatestDsScan={{this.reloadLastAutomatedDynamicScan}}
          />
        </DsPreferenceProvider>
      </:actionDrawer>

      <:default>
        <AkStack
          @width='full'
          @alignItems='center'
          @direction='column'
          @spacing='2'
          local-class='
            automated-dast-viewer-container
            {{if
            this.dynamicScansHaveAtleastOneUserRole
            "multiple-scans"
            "single-scan"
          }}
          '
        >
          {{#if this.dynamicScansHaveAtleastOneUserRole}}
            <FileDetails::DynamicScan::Automated::UserRoles
              @lastAutomatedDynamicScans={{this.lastAutomatedDynamicScans}}
              @onRoleChange={{this.handleRoleChange}}
              @selectedScan={{this.selectedAutomatedDynamicScan}}
            />
          {{/if}}

          <AkStack
            @direction='column'
            @justifyContent='center'
            @alignItems='center'
            {{style gap='2.8571em'}}
          >
            <VncViewer
              @file={{@file}}
              @profileId={{@profileId}}
              @dynamicScan={{this.selectedAutomatedDynamicScan}}
              @isAutomated={{true}}
            />

            {{#if this.showInteractionInfo}}
              <AkStack @alignItems='center' @spacing='1'>
                <AkIcon
                  @iconName='info'
                  @color='textPrimary'
                  {{style fontSize='1.4286em !important'}}
                  data-test-fileDetails-dynamicScan-automated-interactionInfoIcon
                />

                <AkTypography
                  data-test-fileDetails-dynamicScan-automated-interactionInfoText
                >
                  {{this.interactionInfoText}}
                </AkTypography>
              </AkStack>
            {{/if}}
          </AkStack>
        </AkStack>
      </:default>
    </FileDetails::DynamicScan::DeviceWrapper>
  {{else}}
    <AkStack
      @spacing='2'
      @direction='column'
      @alignItems='center'
      @justifyContent='center'
      local-class='automated-dast-disabled-card'
      class='py-5'
      data-test-fileDetails-dynamicScan-automatedDast-disabledCard
    >
      <AkSvg::ToggleAutomatedDast />

      <AkTypography
        data-test-fileDetails-dynamicScan-automatedDast-disabledTitle
        @variant='h5'
      >
        {{t 'toggleAutomatedDAST'}}
      </AkTypography>

      <AkTypography
        data-test-fileDetails-dynamicScan-automatedDast-disabledDesc
        @align='center'
        @color='textSecondary'
        local-class='helper-text'
      >
        {{t 'toggleAutomatedDASTDesc'}}
      </AkTypography>

      <AkButton
        {{on 'click' this.goToSettings}}
        data-test-fileDetails-dynamicScan-automatedDast-disabledActionBtn
      >
        {{t 'goToSettings'}}
      </AkButton>
    </AkStack>
  {{/if}}
{{else}}
  <AkStack data-test-automated-dast-upselling class='my-2'>
    <DynamicscanAutomationUpsellingFeature />
  </AkStack>
{{/if}}