{{! template-lint-disable no-curly-component-invocation }}
<div
  local-class='table-row'
  role='button'
  {{on 'click' (fn @onRowClick @amApp)}}
  data-test-am-table-row-id={{@id}}
  data-test-am-table-row
>
  <div
    local-class='platform platform-{{@amApp.project.platformIconClass}}'
    data-test-am-table-row-platform={{@amApp.project.platformIconClass}}
    data-test-am-table-row-item
  >
    {{fa-icon @amApp.project.platformIconClass}}
  </div>
  <div local-class='app-name-container' data-test-am-table-row-item>
    <span
      local-class='app-namespace'
      class='pr-4'
      title={{@amApp.project.packageName}}
      data-test-am-table-row-app-namespace
    >
      {{@amApp.project.packageName}}
    </span>
    <span
      local-class='app-name'
      class='pr-4'
      title={{@amApp.project.lastFile.name}}
      data-test-am-table-row-app-name
    >
      {{@amApp.project.lastFile.name}}
    </span>
  </div>
  <div
    local-class='production-version'
    data-test-am-table-row-item
    data-test-am-table-row-store-version
  >
    {{#if @amApp.latestAmAppVersion.comparableVersion}}
      {{@amApp.latestAmAppVersion.comparableVersion}}
      {{#unless @amApp.latestAmAppVersion.latestFile}}
        <span
          local-class='warning-icon'
          class='ak-icon ak-icon-warning'
          data-test-am-table-row-warning-icon
        >
          <AttachTooltip @placement='bottom'>
            <span data-test-am-table-row-warning-tooltip>
              {{t 'appMonitoringErrors.akUnscannedVersion'}}
            </span>
          </AttachTooltip>
        </span>
      {{/unless}}
    {{else}}
      <AppMonitoring::Table::Status
        @condition='{{this.statusCondition}}'
      >{{this.statusText}}</AppMonitoring::Table::Status>
    {{/if}}
  </div>
  <div
    local-class='last-scanned-version'
    data-test-am-table-row-item
    data-test-am-table-row-version
  >
    {{@amApp.project.lastFile.comparableVersion}}
  </div>
  <div
    local-class='project-status'
    data-test-am-table-row-item
    data-test-am-table-row-status
  >
    <AppMonitoring::Table::Status
      @condition='{{this.monitoredStatusCondition}}'
    >
      {{this.monitoredStatusText}}
    </AppMonitoring::Table::Status>
    <p local-class='last-sync-date' data-test-am-table-row-last-sync>
      {{#if @amApp.lastSync.syncedOn}}
        Last synced on:
        <span class='ml-1' data-test-am-table-row-last-sync-date>
          {{day-js date=@amApp.lastSync.syncedOn format='DD MMM YYYY'}}
        </span>
      {{else}}
        <span class='mr-1' data-test-am-table-row-last-sync-spinner>
          {{fa-icon 'spinner fa-spin' class='last-sync-loading'}}
        </span>
        Sync in progress
      {{/if}}
    </p>
  </div>
</div>