{{! template-lint-disable no-curly-component-invocation }}
<div
  local-class='table-row'
  role='button'
  {{on 'click' (fn @onRowClick @amApp)}}
  data-test-am-table-row-id={{@id}}
  data-test-am-table-row
>
  <div
    local-class='platform platform-{{@amApp.project.platformIconClass}}'
    data-test-am-table-row-platform={{@amApp.project.platformIconClass}}
    data-test-am-table-row-item
  >
    {{fa-icon @amApp.project.platformIconClass}}
  </div>
  <div local-class='app-name-container' data-test-am-table-row-item>
    <span local-class='app-namespace' data-test-am-table-row-app-namespace>
      {{@amApp.project.packageName}}
    </span>
    <span local-class='app-name' data-test-am-table-row-app-name>
      {{@amApp.project.lastFile.name}}
    </span>
  </div>
  <div
    local-class='production-version'
    data-test-am-table-row-item
    data-test-am-table-row-store-version
  >
    {{#if @amApp.latestAmAppVersion.comparableVersion}}
      {{@amApp.latestAmAppVersion.comparableVersion}}
    {{else}}
      <AppMonitoring::Table::Status
        @columnName='storeVersion'
        @settings={{@settings}}
        @amApp={{@amApp}}
      />
    {{/if}}
  </div>
  <div
    local-class='last-scanned-version'
    data-test-am-table-row-item
    data-test-am-table-row-version
  >
    {{@amApp.project.lastFile.comparableVersion}}
  </div>
  <div
    local-class='project-status'
    data-test-am-table-row-item
    data-test-am-table-row-status
  >
    <AppMonitoring::Table::Status @settings={{@settings}} @amApp={{@amApp}} />
    <p local-class='last-sync-date' data-test-am-table-row-last-sync>
      Last Synced On:
      {{#if @amApp.lastSync.syncedOn}}
        <span>
          {{day-js date=@amApp.lastSync.syncedOn format='DD MMM YYYY'}}
        </span>
      {{else}}
        <span>
          {{fa-icon 'spinner fa-spin' class='last-sync-loading'}}
        </span>
      {{/if}}
    </p>
  </div>
</div>