{{#if (and this.fetchCapturedApis.isRunning this.showAPIListLoadingState)}}
  <AkStack @justifyContent='center' class='mt-7'>
    <div local-class='captured-api-status-card'>
      <FileDetails::ApiScan::CapturedApis::Loading />
    </div>
  </AkStack>
{{else if this.hasNoCapturedApi}}
  <AkStack @justifyContent='center' class='mt-7'>
    <div local-class='captured-api-status-card'>
      <FileDetails::ApiScan::CapturedApis::Empty />
    </div>
  </AkStack>
{{else}}
  <div local-class='captured-api-list-container'>
    <AkPaginationProvider
      @results={{this.capturedApiList}}
      @onItemPerPageChange={{this.handleItemPerPageChange}}
      @totalItems={{this.totalCapturedApiCount}}
      @nextAction={{this.handlePrevNextAction}}
      @prevAction={{this.handlePrevNextAction}}
      @itemPerPageOptions={{array 10 25 50}}
      @defaultLimit={{this.limit}}
      @offset={{this.offset}}
      as |pgc|
    >
      <div class='mb-1'>
        <AkTypography
          @color='textSecondary'
          local-class='captured-api-title'
          data-test-fileDetails-apiScan-capturedApi-title
        >
          {{t 'capturedApiListTitle'}}
        </AkTypography>

        <AkStack
          @alignItems='center'
          @spacing='1'
          local-class='select-all-captured-api-cta'
          class='w-full px-2 py-1'
        >
          <AkCheckbox
            @disabled={{this.selectAllCapturedApis.isRunning}}
            @checked={{this.allAPIsSelected}}
            @onChange={{this.handleSelectAllCapturedApis}}
            data-test-fileDetails-apiScan-selectAllCapturedApis-checkbox
          />

          <AkTypography
            @fontWeight='bold'
            data-test-fileDetails-apiScan-selectAllCapturedApis-text
          >
            {{t 'selectAll'}}
          </AkTypography>

          {{#if this.selectAllCapturedApis.isRunning}}
            <AkLoader @size={{13}} class='ml-1' />
          {{/if}}
        </AkStack>

        <AkStack @direction='column' @spacing='1.5'>
          {{#each pgc.currentPageResults as |ca|}}
            <AkDivider />

            <div class='px-2'>
              <FileDetails::ApiScan::CapturedApis::Overview
                @capturedApi={{ca}}
                @toggleApi={{perform this.toggleApi ca}}
                @disableToggleApi={{not @file.isActive}}
              />
            </div>
          {{/each}}
        </AkStack>
      </div>

      <AkPagination
        @variant='compact'
        @disableNext={{pgc.disableNext}}
        @nextAction={{pgc.nextAction}}
        @disablePrev={{pgc.disablePrev}}
        @prevAction={{pgc.prevAction}}
        @endItemIdx={{pgc.endItemIdx}}
        @startItemIdx={{pgc.startItemIdx}}
        @itemPerPageOptions={{pgc.itemPerPageOptions}}
        @onItemPerPageChange={{pgc.onItemPerPageChange}}
        @selectedOption={{pgc.selectedOption}}
        @tableItemLabel={{t 'apis'}}
        @perPageTranslation={{t 'recordPerPage'}}
        @totalItems={{pgc.totalItems}}
      />
    </AkPaginationProvider>
  </div>
{{/if}}