<AkStack @width='full' @direction='column'>
  <AkStack @direction='column' @spacing='0.5'>
    {{#if (has-block 'title')}}
      {{yield to='title'}}
    {{else}}
      <AkTypography data-test-apiFilter-title @variant='h6'>
        {{t 'templates.apiScanURLFilter'}}
      </AkTypography>
    {{/if}}

    {{#unless @hideDescriptionText}}
      <AkTypography
        data-test-apiFilter-description
        @variant='body2'
        @color='textSecondary'
      >
        {{t 'otherTemplates.specifyTheURL'}}
      </AkTypography>
    {{/unless}}
  </AkStack>

  <AkStack class='mt-2' @spacing='1.5' @width='full' {{style maxWidth='750px'}}>
    <AkTextField
      data-test-apiFilter-apiEndpointInput
      @formControlClass='w-9/12'
      @placeholder={{t 'templates.enterAPIEndpoint'}}
      @value={{this.newUrlFilter}}
      @helperText={{t 'templates.enterEndpoint'}}
      {{style maxWidth='600px'}}
    />

    <AkButton
      data-test-apiFilter-addApiEndpointBtn
      @variant='outlined'
      @disabled={{this.saveApiUrlFilter.isRunning}}
      {{on 'click' this.addApiUrlFilter}}
    >
      <:leftIcon>
        <AkIcon @iconName='add' />
      </:leftIcon>

      <:default>{{t 'templates.addNewUrlFilter'}}</:default>
    </AkButton>
  </AkStack>

  {{#if this.apiScanOptions.hasApiUrlFilters}}
    <div class='mt-2'>
      <AkTable data-test-apiFilter-table @dense={{true}} as |t|>
        <t.head data-test-apiFilter-thead @columns={{this.columns}} />
        <t.body @rows={{this.apiUrlFilters}} as |b|>
          <b.row data-test-apiFilter-row as |r|>
            <r.cell data-test-apiFilter-cell as |value|>
              {{#if r.columnValue.component}}
                {{#let (component r.columnValue.component) as |Component|}}
                  <Component
                    @onDeleteClick={{fn
                      this.openRemoveURLConfirmBox
                      r.rowValue.url
                    }}
                  />
                {{/let}}
              {{else}}
                <AkTypography title={{value}} @noWrap={{true}}>
                  {{value}}
                </AkTypography>
              {{/if}}
            </r.cell>
          </b.row>
        </t.body>
      </AkTable>
    </div>
  {{/if}}

  <ConfirmBox
    @isActive={{this.showRemoveURLConfirmBox}}
    @description={{t 'confirmBox.removeURL'}}
    @confirmText={{t 'yes'}}
    @delegate={{this}}
    @disabled={{this.saveApiUrlFilter.isRunning}}
    @blurOverlay={{true}}
  />
</AkStack>