<div {{did-insert (fn this.initializeComp)}}>
  {{#if this.partnerPlan.limitedScans}}
    {{#if this.clientPlan.limitedScans}}
      {{#if (eq @partnerPlan.scansLeft 0)}}
        <span class='button' local-class='disabled'>
          {{fa-icon 'plus'}}
          <AttachTooltip @placemnet='top-end'>
            {{t '0sharableCredits'}}
          </AttachTooltip>
        </span>
      {{else}}
        <button type='button' {{on 'click' (fn this.toggleModal)}}>
          {{fa-icon 'plus'}}

          <AttachTooltip @placemnet='top-end'>
            {{t 'transferCredits'}}
          </AttachTooltip>
        </button>
      {{/if}}

    {{else}}
      <span class='button' local-class='disabled'>
        {{fa-icon 'plus'}}
        <AttachTooltip @placemnet='top-end'>
          {{t 'perAppClientCredit'}}
        </AttachTooltip>
      </span>
    {{/if}}
  {{/if}}
</div>

{{#if this.isShowModal}}
  <AkModal
    @onClose={{this.toggleModal}}
    @showHeader={{true}}
    @headerTitle={{t 'creditTransfer'}}
  >

    <div local-class='credit-transfer-container'>

      <div local-class='credit-tranfer'>
        <div local-class='total-credits'>
          {{this.partnerPlan.scansLeft}}
          {{#if this.isPerScan}}
            {{t 'pluralScans' itemCount=this.partnerPlan.scansLeft}}
          {{else}}
            {{t 'pluralApps' itemCount=this.partnerPlan.projectsLimit}}
          {{/if}}
        </div>
        {{fa-icon 'long-arrow-down' local-class='arrow-right-icon'}}
        <div local-class='client'>
          <div local-class='title {{if this.isEmptyTitle 'empty-title'}}'>
            {{#if this.isEmptyTitle}}
              {{t 'noName'}}
            {{else}}
              {{@client.name}}
            {{/if}}
          </div>
          <div local-class='tranfer-count'>
            <Input
              local-class='input-count'
              @type='number'
              @min={{1}}
              @max={{this.partnerPlan.scansLeft}}
              @value={{this.transferCount}}
            />
            <span local-class='credit-type'>
              {{#if this.isPerScan}}
                {{t 'pluralScans' itemCount=this.transferCount}}
              {{else}}
                {{t 'pluralApps' itemCount=this.transferCount}}
              {{/if}}
            </span>
          </div>
        </div>
        <button
          type='button'
          local-class='tranfer-btn'
          class='is-primary button'
          disabled={{not this.isValidNumber}}
          {{on 'click' (perform this.tranferCredits)}}
        >
          {{t 'transferCredits'}}
        </button>
      </div>
      <div local-class='bal-credits'>
        {{t 'remaining'}}
        :
        <span class='bold'>
          {{#if (gt this.balCredits 0)}}
            {{this.balCredits}}
            {{t 'pluralScans' itemCount=this.balCredits}}
          {{else}}
            <span local-class='invalid-credits'>{{t 'invalidCredits'}}</span>
          {{/if}}
        </span>
      </div>
    </div>
  </AkModal>
{{/if}}
