{{#if
  (and this.partner.access.view_plans this.partner.access.transfer_credits)
}}
  <div
    local-class='credit-transfer'
    ...attributes
    data-test='credit-transfer'
    {{did-insert this.initializeComp}}
  >
    {{#if this.partnerPlan.limitedScans}}
      <button
        class='is-primary'
        local-class='credit-transfer-btn {{if
          this.disablePlusbtn
          'disabled-btn'
        }}'
        data-test='plus-btn'
        type='button'
        {{on 'click' this.toggleModal}}
      >
        {{fa-icon 'plus'}}
        <AttachTooltip
          @placemnet='top-end'
          data-test='tooltip'
          @id='client-{{@client.id}}-tooltip'
        >
          {{this.buttonTooltip}}
        </AttachTooltip>
      </button>
    {{/if}}
  </div>
{{/if}}

{{#if this.isShowModal}}
  <AkModal
    @onClose={{this.toggleModal}}
    @showHeader={{true}}
    @headerTitle={{t 'creditTransfer'}}
  >

    <div
      local-class='credit-transfer-container'
      data-test='credit-transfer-modal'
    >

      {{#if this.isEditMode}}
        <Partner::CreditTransferInput
          @partnerPlan={{this.partnerPlan}}
          @transferCount={{this.transferCount}}
          @remainingCredits={{this.remainingCredits}}
          @toggleMode={{this.toggleMode}}
          @clientName={{this.clientName}}
        />

      {{else}}
        <Partner::CreditTransferConfirm
          @partnerPlan={{this.partnerPlan}}
          @clientPlan={{this.clientPlan}}
          @remainingCredits={{this.remainingCredits}}
          @clientName={{this.clientName}}
          @transferCount={{this.transferCount}}
          @tranferCredits={{this.tranferCredits}}
          @toggleMode={{this.toggleMode}}
        />
      {{/if}}
    </div>
  </AkModal>
{{/if}}
