<AkStack
  @direction='row'
  @alignItems='center'
  @justifyContent='space-between'
  local-class='header-storeknox-fake-apps-page'
>
  <AkStack @direction='column' @spacing='0.5'>
    <AkTypography
      @variant='subtitle1'
      data-test-storeknoxInventory-inventoryHeaderText
    >
      {{t 'storeknox.fakeAppsTitle'}}
    </AkTypography>

    <AkTypography
      @variant='body2'
      @color='neutral'
      data-test-storeknoxInventory-inventoryDescriptionText
    >
      This page lists all the fake apps and suspected brand abuse detected in
      your organization applications.
    </AkTypography>
  </AkStack>

  <AkStack @alignItems='center' @justifyContent='center' @spacing='1.5'>
    <AkTextField
      @placeholder={{t 'searchQuery'}}
      @value={{this.searchQuery}}
      {{on 'input' this.onSearchQueryChange}}
      local-class='search-package-name-input'
      data-test-search-query-input
    >
      <:leftAdornment>
        <AkIcon @iconName='search' @color='textSecondary' />
      </:leftAdornment>

      <:rightAdornment>
        {{#if this.searchQuery}}
          <AkIconButton @size='small' {{on 'click' this.clearSearchInput}}>
            <AkIcon @iconName='close' @color='textSecondary' />
          </AkIconButton>
        {{/if}}
      </:rightAdornment>
    </AkTextField>

    <PoweredByAi::Chip
      @clickable={{true}}
      @drawerInfo={{this.aiDrawerInfo}}
      class='ml-2'
      data-test-storeknoxFakeApps-poweredByAiChip
    />
  </AkStack>
</AkStack>

<AkPaginationProvider
  @results={{this.skFakeApps}}
  @onItemPerPageChange={{this.onItemPerPageChange}}
  @totalItems={{this.totalAppsCount}}
  @nextAction={{this.goToPage}}
  @prevAction={{this.goToPage}}
  @itemPerPageOptions={{array 10 25 50}}
  @defaultLimit={{this.skAppsService.limit}}
  @offset={{this.skAppsService.offset}}
  as |pgc|
>
  <div local-class='fake-apps-grid'>
    {{#each pgc.currentPageResults as |skFakeApp|}}
      <Storeknox::FakeApps::ItemCard @skFakeApp={{skFakeApp}} />
    {{/each}}
  </div>

  {{#if this.showEmptyState}}
    <Storeknox::Inventory::AppList::Table::Empty
      @subText={{t 'storeknox.noAppMatchesYourCurrentFilter'}}
    />
  {{/if}}

  {{#unless this.hidePagination}}
    <AkPagination
      @disableNext={{pgc.disableNext}}
      @nextAction={{pgc.nextAction}}
      @disablePrev={{pgc.disablePrev}}
      @prevAction={{pgc.prevAction}}
      @endItemIdx={{pgc.endItemIdx}}
      @startItemIdx={{pgc.startItemIdx}}
      @itemPerPageOptions={{pgc.itemPerPageOptions}}
      @onItemPerPageChange={{pgc.onItemPerPageChange}}
      @selectedOption={{pgc.selectedOption}}
      @tableItemLabel={{t 'apps'}}
      @perPageTranslation={{t 'recordPerPage'}}
      @totalItems={{pgc.totalItems}}
    />
  {{/unless}}
</AkPaginationProvider>