<AkModal
  @showHeader={{true}}
  @headerTitle={{t 'modalCard.dynamicScan.title'}}
  @onClose={{@onClose}}
  @disableClose={{or
    this.startDynamicScan.isRunning
    this.scheduleDynamicScan.isRunning
  }}
>
  <:default>
    <div local-class='dynamic-scan-modal-body' class='p-1'>
      <AkStack
        local-class='dynamic-scan-modal-alert'
        class='p-2'
        @alignItems='center'
        @spacing='2'
        data-test-dynamicScanModal-warningAlert
      >
        <AkIcon @iconName='info' />

        <AkTypography>
          {{t 'modalCard.dynamicScan.warning'}}
        </AkTypography>
      </AkStack>

      {{#if @file.minOsVersion}}
        <div data-test-dynamicScanModal-deviceRequirementContainer class='mt-3'>
          <AkTypography
            data-test-dynamicScanModal-deviceRequirementTitle
            @variant='h6'
            @gutterBottom={{true}}
          >
            {{t 'modalCard.dynamicScan.deviceRequirements'}}
          </AkTypography>

          <AkStack local-class='bordered-box' @direction='column'>
            {{#each this.deviceRequirements as |dr|}}
              <AkStack
                data-test-dynamicScanModal-deviceRequirementGroup='{{dr.type}}'
                local-class='bordered-box-item'
                @width='full'
              >
                <AkTypography
                  @variant='body2'
                  data-test-dynamicScanModal-deviceRequirementType
                  class='w-4/12'
                >
                  {{dr.type}}
                </AkTypography>

                <AkTypography
                  @variant='body2'
                  data-test-dynamicScanModal-deviceRequirementValue
                >
                  <strong>
                    {{dr.boldValue}}
                  </strong>

                  {{dr.value}}
                </AkTypography>
              </AkStack>
            {{/each}}
          </AkStack>
        </div>
      {{/if}}

      <div class='mt-3'>
        <ProjectPreferences
          @profileId={{this.profileId}}
          @platform={{this.projectPlatform}}
          @project={{@file.project}}
        />
      </div>

      {{#unless @file.showScheduleAutomatedDynamicScan}}
        <AkTypography
          data-test-dynamicScanModal-device-settings-warning
          local-class='device-settings-warning'
          class='mt-2'
          @variant='body2'
          @color='textSecondary'
        >
          <strong>{{t 'note'}}:</strong>
          {{t 'modalCard.dynamicScan.deviceSettingsWarning'}}
        </AkTypography>
      {{/unless}}

      <div class='mt-4'>
        <ProxySettingsView
          @profile={{@file.profile}}
          @project={{@file.project}}
        />
      </div>

      <div class='mt-2'>
        <AkFormControlLabel
          data-test-dynamicScanModal-runApiScanFormControl
          @label={{t 'modalCard.dynamicScan.runApiScan'}}
          as |fc|
        >
          <fc.control>
            <AkCheckbox
              data-test-dynamicScanModal-runApiScanCheckbox
              @onChange={{this.enableApiScan}}
            />
          </fc.control>
        </AkFormControlLabel>

        {{#if this.showApiScanSettings}}
          <div
            data-test-dynamicScanModal-apiSettingsContainer
            local-class='bordered-box'
            class='my-3 p-2'
          >
            <AkTypography data-test-dynamicScanModal-apiSettingScanDescription>
              {{t 'modalCard.dynamicScan.apiScanDescription' htmlSafe=true}}
            </AkTypography>

            <AkDivider @color='dark' class='my-2' />

            <ApiFilter @profileId={{this.profileId}} />
          </div>
        {{/if}}

        {{#if @file.showScheduleAutomatedDynamicScan}}
          <div
            data-test-dynamicScanModal-automatedDynamicScanContainer
            local-class='bordered-box'
            class='my-3 p-2'
          >
            <AkStack @spacing='1.5'>
              <AkTypography
                data-test-dynamicScanModal-automatedDynamicScanTitle
                @variant='h6'
              >
                {{t 'dynamicScanAutomation'}}
              </AkTypography>

              <AkChip
                @label={{t 'experimentalFeature'}}
                @variant='semi-filled'
                @size='small'
                @color='warn'
                data-test-dynamicScanModal-automatedDynamicScanChip
              >
                <:icon>
                  <AkIcon @iconName='build' />
                </:icon>
              </AkChip>
            </AkStack>

            <AkTypography
              data-test-dynamicScanModal-automatedDynamicScanDescription
              class='mt-1'
            >
              {{t 'scheduleDynamicscanDesc'}}
            </AkTypography>

            <AkStack class='mt-3' @justifyContent='flex-start'>
              <AkButton
                @variant='outlined'
                {{on 'click' (perform this.scheduleDynamicScan)}}
                data-test-dynamicScanModal-automatedDynamicScanScheduleBtn
              >
                <:leftIcon>
                  {{#if this.scheduleDynamicScan.isRunning}}
                    <AkLoader @size={{13}} />
                  {{else}}
                    <AkIcon @iconName='schedule' />
                  {{/if}}
                </:leftIcon>

                <:default>
                  {{t 'scheduleDynamicscan'}}
                </:default>
              </AkButton>
            </AkStack>
          </div>
        {{/if}}
      </div>
    </div>
  </:default>

  <:footer>
    <AkDivider />

    <AkStack class='px-3 py-2' @justifyContent='flex-end' @spacing='1.5'>
      <AkButton
        data-test-dynamicScanModal-cancelBtn
        @variant='outlined'
        @color='neutral'
        {{on 'click' @onClose}}
        @disabled={{this.startDynamicScan.isRunning}}
      >
        {{t 'cancel'}}
      </AkButton>

      <AkButton
        data-test-dynamicScanModal-startBtn
        {{on 'click' this.runDynamicScan}}
        @loading={{this.startDynamicScan.isRunning}}
      >
        {{t 'modalCard.dynamicScan.start'}}
      </AkButton>
    </AkStack>
  </:footer>
</AkModal>