<Modal-Dialog
  @onClose={{@onClose}}
  @translucentOverlay={{true}}
  @overlayClass="ak-modal-overlay"
  ...attributes
>
  {{#if @showHeader}}
    <div local-class="modal-header">
      <h3 local-class="header-title">
        {{@headerTitle}}
      </h3>
      <div role="button" local-class="close-icon" {{on "click" @onClose}}></div>
    </div>
  {{/if}}
  <div local-class="modal-body">
    {{yield}}
  </div>
</Modal-Dialog>
