<Modal-Dialog @onClose={{fn this.onClose}} @translucentOverlay={{true}} @overlayClass="ak-modal-overlay">
  {{#if @showHeader}}
    <div local-class="modal-header">
      <h3 local-class="header-title">{{@headerTitle}}</h3>
      <div role="button" local-class="close-icon" {{on "click" (fn this.onClose)}}></div>
    </div>
  {{/if}}
  <div local-class="modal-body">
    {{yield}}
  </div>
</Modal-Dialog>