<AkStack
  @direction='column'
  @width='full'
  data-test-store-release-readiness-scan-results
>
  <AkBreadcrumbs::AutoTrail class='mb-3 mt-1' />

  {{#if this.loadScan.isRunning}}
    <StoreReleaseReadiness::ScanResults::SkeletonLoader />
  {{else if this.scanData}}
    <StoreReleaseReadiness::ScanResults::FileSummary
      @scanData={{this.scanData}}
      class='mb-4'
    />

    {{#if this.isScanFailed}}
      <StoreReleaseReadiness::Status
        @svgComponent='ak-svg/store-release-readiness-scan-failed'
        @heading={{t 'storeReleaseReadiness.scanFailedHeading'}}
        @description={{t 'storeReleaseReadiness.scanFailedDescription'}}
      />
    {{else}}
      <StoreReleaseReadiness::ScanResults::Details
        @scanData={{this.scanData}}
        class='mb-4'
      />

      {{#if this.isScanNotStarted}}
        <StoreReleaseReadiness::Status
          @svgComponent='ak-svg/not-started-tower'
          @heading={{t 'storeReleaseReadiness.scanNotStartedHeading'}}
          @description={{t 'storeReleaseReadiness.scanNotStartedDescription'}}
        />
      {{else if this.isScanAssessmentInProgress}}
        <StoreReleaseReadiness::Status
          @svgComponent='ak-svg/not-started-tower'
          @transparentBackground={{true}}
          @heading={{t 'storeReleaseReadiness.assessmentInProgressHeading'}}
          @description={{t
            'storeReleaseReadiness.assessmentInProgressDescription'
          }}
        />
      {{else}}
        <div
          local-class='scan-results-assessment-box'
          data-test-store-release-readiness-scan-results-assessment
        >
          <AkStack @alignItems='center' @justifyContent='space-between'>
            <AkTypography
              @fontWeight='bold'
              data-test-store-release-readiness-scan-results-assessment-heading
            >
              {{t 'storeReleaseReadiness.assessmentResults'}}
            </AkTypography>

            <AkStack
              @direction='row'
              @spacing='2'
              @alignItems='center'
              local-class='assessment-filters-row'
            >
              {{#if this.categoryFilterOptions.length}}
                <div
                  data-test-select-category-filter-container
                  local-class='assessment-status-filter-shell'
                >
                  <AkSelect
                    @multiple={{true}}
                    @closeOnSelect={{false}}
                    @onChange={{this.onCategoryFilterChange}}
                    @options={{this.categoryFilterOptions}}
                    @selected={{this.selectedCategoryLabels}}
                    @verticalPosition='auto'
                    @renderInPlace={{true}}
                    @searchEnabled={{true}}
                    @searchFieldPosition='before-options'
                    @search={{this.searchCategories}}
                    @searchPlaceholder={{t
                      'storeReleaseReadiness.searchCategories'
                    }}
                    @triggerClass={{this.classes.assessmentStatusFilterTrigger}}
                    @dropdownClass={{this.classes.categoryFilterDropdown}}
                    @triggerComponent={{component
                      'ak-select/multi-select-trigger'
                    }}
                    @optionTitle={{t 'storeReleaseReadiness.categoryFilter'}}
                    @extra={{hash
                      filterLabel=(t 'storeReleaseReadiness.categoryFilter')
                      iconName='filter-list'
                      fontSize='medium'
                    }}
                    {{style width='auto'}}
                    class='select-assessment-status-class pl-1'
                    local-class='select-assessment-status-class'
                    data-test-store-release-readiness-category-filter
                    as |option|
                  >
                    <AkStack
                      @direction='row'
                      @alignItems='center'
                      @spacing='1'
                      @width='full'
                      local-class='assessment-filter-option-row'
                    >
                      <div local-class='category-filter-option-checkbox'>
                        <AkCheckbox
                          @checked={{this.isCategoryOptionSelected option}}
                          @readonly={{true}}
                        />
                      </div>

                      <span local-class='assessment-filter-option-label-text'>
                        {{option}}
                      </span>
                    </AkStack>
                  </AkSelect>
                </div>
              {{/if}}

              <div
                data-test-select-scan-type-container
                local-class='assessment-status-filter-shell'
              >
                <AkSelect
                  @onChange={{this.onAssessmentPolicyFilterChange}}
                  @options={{this.assessmentPolicyFilterOptionObjects}}
                  @selected={{this.selectedAssessmentPolicyFilterObject}}
                  @verticalPosition='auto'
                  @triggerClass={{this.classes.assessmentStatusFilterTrigger}}
                  @dropdownClass={{this.classes.assessmentStatusFilterDropdown}}
                  @optionTitle={{t 'status'}}
                  @extra={{hash
                    selectedItem=this.selectedAssessmentPolicyFilterObject.key
                    showLabel=true
                    iconName='filter-list'
                    fontSize='medium'
                  }}
                  @selectedItemComponent={{component
                    'project-list/filter-selected-item'
                  }}
                  {{style width='auto'}}
                  class='select-assessment-status-class pl-1'
                  local-class='select-assessment-status-class'
                  data-test-vulnerability-analysis-filterselect
                  as |option|
                >
                  <AkStack
                    @direction='row'
                    @alignItems='center'
                    @justifyContent='space-between'
                    @width='full'
                    @spacing='2'
                    local-class='assessment-filter-option-row'
                  >
                    <AkStack
                      @spacing='1'
                      @alignItems='center'
                      local-class='assessment-filter-option-label'
                    >
                      <AkRadio
                        @checked={{eq this.assessmentPolicyFilter option.value}}
                      />

                      <span local-class='assessment-filter-option-label-text'>
                        {{option.key}}
                      </span>
                    </AkStack>

                    <span
                      aria-hidden='true'
                      local-class='assessment-filter-status-dot'
                      class={{option.statusDotClass}}
                    >
                    </span>
                  </AkStack>
                </AkSelect>
              </div>
            </AkStack>
          </AkStack>
        </div>

        {{#if this.showAssessmentFilteredEmpty}}
          <div
            local-class='assessment-filtered-empty'
            data-test-store-release-readiness-scan-results-assessment-filtered-empty
          >
            <StoreReleaseReadiness::Status
              @svgComponent='ak-svg/no-result'
              @transparentBackground={{true}}
              @heading={{t
                'storeReleaseReadiness.assessmentTryAdjustingFilters'
              }}
              @description={{t
                'storeReleaseReadiness.assessmentFilteredEmptyDescription'
              }}
            />
          </div>
        {{else}}
          <AkTable
            @hoverable={{true}}
            local-class='scan-results-assessment-table'
            data-test-store-release-readiness-scan-results-assessment-table
            as |tb|
          >
            <tb.head @columns={{this.assessmentColumns}} />
            <tb.body @rows={{this.filteredAssessmentRows}} as |b|>
              <b.row
                {{style cursor='pointer'}}
                @onClick={{this.handleAssessmentRowClick}}
                data-test-store-release-readiness-scan-results-assessment-row={{b.rowValue.id}}
                as |r|
              >
                <r.cell>
                  {{#let (component r.columnValue.component) as |Cell|}}
                    <Cell @data={{r.rowValue}} />
                  {{/let}}
                </r.cell>
              </b.row>
            </tb.body>
          </AkTable>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
</AkStack>