{{#if this.partner.access.list_files}}
  <div
    {{did-insert (perform this.getFileSummary)}}
    data-test-report-summary
    ...attributes
  >
    {{#if this.getFileSummary.isRunning}}
      {{fa-icon 'circle-o-notch fa-spin text-lightgray'}}
    {{else if this.fileSummary}}
      <div local-class='summary' data-test-risk-summary>
        <div local-class='riskbar' data-test-risk-summary-bar>
          <div
            local-class='riskblock riskblock--critical'
            style={{this.criticalWidthStyle}}
            data-test-riskblock-critical
          ></div>
          <div
            local-class='riskblock riskblock--high'
            style={{this.highWidthStyle}}
            data-test-riskblock-high
          ></div>
          <div
            local-class='riskblock riskblock--medium'
            style={{this.mediumWidthStyle}}
            data-test-riskblock-medium
          ></div>
          <div
            local-class='riskblock riskblock--low'
            style={{this.lowWidthStyle}}
            data-test-riskblock-low
          ></div>
          <div
            local-class='riskblock riskblock--passed'
            style={{this.passedWidthStyle}}
            data-test-riskblock-passed
          ></div>
          <div
            local-class='riskblock riskblock--untested'
            style={{this.untestedWidthStyle}}
            data-test-riskblock-untested
          ></div>
        </div>
        <AttachPopover
          @interactive={{true}}
          @arrow={{true}}
          @placement={{this.popoverPlacement}}
          @isShown={{false}}
          @showOn='mouseenter focus'
          @hideOn='mouseleave blur escapekey'
          @animation='shift'
          @class='ember-attacher-popper popper--white'
          data-test-risk-summary-popover
        >
          <div local-class='popover' data-test-riskpopover>
            <div local-class='index' data-test-riskindex>
              <div local-class='riskkey' data-test-riskindex-critical>
                <div local-class='riskkey-label'>
                  <div
                    local-class='riskkey-color riskkey-color--critical'
                    data-test-riskindex-critical-key
                  ></div>
                  <div
                    local-class='riskkey-text'
                    data-test-riskindex-critical-label
                  >{{t 'critical'}}</div>
                </div>
                <div
                  local-class='riskkey-count'
                  data-test-riskindex-critical-count
                >{{this.fileSummary.riskCountCritical}}</div>
              </div>
              <div local-class='riskkey' data-test-riskindex-high>
                <div local-class='riskkey-label'>
                  <div
                    local-class='riskkey-color riskkey-color--high'
                    data-test-riskindex-high-key
                  ></div>
                  <div
                    local-class='riskkey-text'
                    data-test-riskindex-high-label
                  >{{t 'high'}}</div>
                </div>
                <div
                  local-class='riskkey-count'
                  data-test-riskindex-high-count
                >{{this.fileSummary.riskCountHigh}}</div>
              </div>
              <div local-class='riskkey' data-test-riskindex-medium>
                <div local-class='riskkey-label'>
                  <div
                    local-class='riskkey-color riskkey-color--medium'
                    data-test-riskindex-medium-key
                  ></div>
                  <div
                    local-class='riskkey-text'
                    data-test-riskindex-medium-label
                  >{{t 'medium'}}</div>
                </div>
                <div
                  local-class='riskkey-count'
                  data-test-riskindex-medium-count
                >{{this.fileSummary.riskCountMedium}}</div>
              </div>
              <div local-class='riskkey' data-test-riskindex-low>
                <div local-class='riskkey-label'>
                  <div
                    local-class='riskkey-color riskkey-color--low'
                    data-test-riskindex-low-key
                  ></div>
                  <div
                    local-class='riskkey-text'
                    data-test-riskindex-low-label
                  >{{t 'low'}}</div>
                </div>
                <div
                  local-class='riskkey-count'
                  data-test-riskindex-low-count
                >{{this.fileSummary.riskCountLow}}</div>
              </div>
              <div local-class='riskkey' data-test-riskindex-passed>
                <div local-class='riskkey-label'>
                  <div
                    local-class='riskkey-color riskkey-color--passed'
                    data-test-riskindex-passed-key
                  ></div>
                  <div
                    local-class='riskkey-text'
                    data-test-riskindex-passed-label
                  >{{t 'passed'}}</div>
                </div>
                <div
                  local-class='riskkey-count'
                  data-test-riskindex-passed-count
                >{{this.fileSummary.riskCountPassed}}</div>
              </div>
              <div local-class='riskkey' data-test-riskindex-untested>
                <div local-class='riskkey-label'>
                  <div
                    local-class='riskkey-color riskkey-color--untested'
                    data-test-riskindex-untested-key
                  ></div>
                  <div
                    local-class='riskkey-text'
                    data-test-riskindex-untested-label
                  >{{t 'untested'}}</div>
                </div>
                <div
                  local-class='riskkey-count'
                  data-test-riskindex-untested-count
                >{{this.fileSummary.riskCountUntested}}</div>
              </div>
            </div>
          </div>
        </AttachPopover>
      </div>
    {{/if}}
  </div>
{{/if}}