<div data-test-fileDetailsSummary-root local-class='file-summary-root'>
  <AkStack
    class='p-2'
    local-class='file-summary-header'
    @alignItems='center'
    @justifyContent='space-between'
  >
    <AkStack @alignItems='center' @spacing='1.5'>
      <AppLogo
        @src={{@file.iconUrl}}
        @size='large'
        @alt={{concat @file.name ' - logo'}}
      />

      <AkStack @direction='column' @spacing='0.5'>
        <AkTypography data-test-fileDetailsSummary-appName @variant='subtitle1'>
          {{@file.name}}
        </AkTypography>

        <AkTypography
          data-test-fileDetailsSummary-appPackageName
          @color='textSecondary'
        >
          {{this.packageName}}
        </AkTypography>
      </AkStack>
    </AkStack>

    <AkStack @alignItems='stretch' @spacing='1.5'>
      <div>
        <File::ReportBtn @file={{@file}} />
      </div>

      <AkIconButton
        {{style padding='0.5em'}}
        {{on 'click' this.handleFileMoreMenuOpen}}
        @variant='outlined'
        aria-label='file summary more button'
        data-test-fileDetailsSummary-moreMenuBtn
      >
        <AkIcon @iconName='more-vert' />
      </AkIconButton>
    </AkStack>
  </AkStack>

  <AkDivider @color='dark' />

  <div class='px-2'>
    <AkStack
      local-class='file-summary-padding'
      @alignItems='center'
      @justifyContent='space-between'
    >
      <AkStack @alignItems='center'>
        <AkIconButton
          @size='small'
          {{on 'click' this.handleFileSummaryToggle}}
          data-test-fileDetailsSummary-showMoreOrLessBtn
        >
          <AkIcon
            @iconName={{if
              this.showMoreFileSummary
              'arrow-drop-up'
              'arrow-drop-down'
            }}
            local-class='show-more-icon'
            data-test-fileDetailsSummary-showMoreOrLessBtn-icon
          />
        </AkIconButton>
        <AkTypography data-test-fileDetailsSummary-fileId @variant='subtitle1'>
          {{t 'fileID'}}
          -
          {{@file.id}}
        </AkTypography>
      </AkStack>

      <AkStack @alignItems='center' @spacing='1'>
        <FileDetails::Summary::AppPlatform @file={{@file}} />

        {{#if @file.submission.url}}
          <AkTooltip
            @placement='top'
            @arrow={{true}}
            @title='{{if
              @file.submission.isIos
              (t "openInAppstore")
              (t "openInPlaystore")
            }}'
          >
            <a
              target='_blank'
              href={{@file.submission.url}}
              rel='noopener noreferrer'
              local-class='store-logo-container'
            >
              {{#if @file.submission.isIos}}
                <AkSvg::AppstoreLogo local-class='appstore-logo-vector' />
              {{/if}}

              {{#if @file.submission.isAndroid}}
                <AkSvg::PlaystoreLogo />
              {{/if}}
            </a>
          </AkTooltip>
        {{/if}}

        {{#unless @file.isActive}}
          <AkTooltip
            @placement='bottom'
            @arrow={{true}}
            @title={{t 'fileInactive'}}
            @color='dark'
          >
            <AkIcon
              data-test-fileDetailSummary-inactiveFileIcon
              @color='warn'
              @iconName='warning'
            />
          </AkTooltip>
        {{/unless}}
      </AkStack>
    </AkStack>

    {{#if this.showMoreFileSummary}}
      <AkDivider />

      {{#each this.fileSummary as |fs|}}
        <AkStack
          local-class='file-summary-padding'
          data-test-fileDetailsSummary-fileOverviewGroup='{{fs.label}}'
        >
          <AkTypography
            {{style width='160px'}}
            @color='textSecondary'
            data-test-fileDetailsSummary-fileOverviewLabel
          >
            {{fs.label}}
          </AkTypography>

          <AkTypography
            @variant='h6'
            data-test-fileDetailsSummary-fileOverviewValue
          >
            {{fs.value}}
          </AkTypography>
        </AkStack>

        <AkDivider />
      {{/each}}

      <div class='my-2'>
        <AkTypography
          data-test-fileDetailsSummary-fileTagTitle
          @variant='subtitle1'
          @gutterBottom={{true}}
        >
          {{t 'tags'}}
        </AkTypography>

        <FileDetails::Summary::FileTags @file={{@file}} />
      </div>

      <AkDivider />
    {{/if}}
  </div>

  <AkMenu
    @anchorRef={{this.fileMoreMenuRef}}
    @onClose={{this.handleFileMoreMenuClose}}
    @arrow={{true}}
    as |akm|
  >
    {{#each this.fileMoreMenuList as |it|}}
      {{#if it.group}}
        <AkList::Item
          @noGutters={{true}}
          local-class='file-more-menu-item-group'
        >
          <AkTypography
            {{style fontSize='0.857rem'}}
            @fontWeight='medium'
            @tag='span'
            @color='textSecondary'
          >
            {{it.group}}
          </AkTypography>
        </AkList::Item>
      {{/if}}

      <akm.listItem
        data-test-fileDetailsSummary-moreMenuItem
        @link={{true}}
        @button={{false}}
        @route={{it.route}}
        @model={{it.routeModel}}
        @query={{it.query}}
        @divider={{unless it.hideDivider true}}
        as |li|
      >
        <li.leftIcon>
          <AkIcon @iconName={{it.iconName}} />
        </li.leftIcon>

        <li.text @primaryText={{it.label}} />
      </akm.listItem>
    {{/each}}
  </AkMenu>
</div>