<div local-class='file-summary-root'>
  <AkStack class='p-2' @alignItems='center' @justifyContent='space-between'>
    <AkStack @alignItems='center' @spacing='1.5'>
      <AkStack
        local-class='app-logo-container'
        @alignItems='center'
        @justifyContent='center'
      >
        <img
          data-test-fileDetailsSummary-appLogo
          src={{@file.iconUrl}}
          alt=''
          role='none'
        />
      </AkStack>

      <AkStack @direction='column' @spacing='0.5'>
        <AkTypography data-test-fileDetailsSummary-appName @variant='subtitle1'>
          {{@file.name}}
        </AkTypography>

        <AkTypography
          data-test-fileDetailsSummary-appPackageName
          @color='textSecondary'
        >
          {{this.packageName}}
        </AkTypography>
      </AkStack>
    </AkStack>

    <AkStack @alignItems='stretch' @spacing='1.5'>
      <div>
        <File::ReportBtn @file={{@file}} />
      </div>

      <AkIconButton
        {{style padding='0.5em'}}
        {{on 'click' this.handleFileMoreMenuOpen}}
        @variant='outlined'
        data-test-fileDetailsSummary-moreMenuBtn
      >
        <AkIcon @iconName='more-vert' />
      </AkIconButton>
    </AkStack>
  </AkStack>

  <AkDivider @color='dark' />

  <div class='px-2'>
    <AkStack
      local-class='file-summary-padding'
      @alignItems='center'
      @justifyContent='space-between'
    >
      <AkTypography data-test-fileDetailsSummary-fileId @variant='subtitle1'>
        {{t 'fileID'}}
        -
        {{@file.id}}
      </AkTypography>

      <FileDetails::Summary::AppPlatform @file={{@file}} />
    </AkStack>

    <AkDivider />

    {{#if this.showMoreFileSummary}}
      {{#each this.fileSummary as |fs|}}
        <AkStack
          local-class='file-summary-padding'
          data-test-fileDetailsSummary-fileOverviewGroup='{{fs.label}}'
        >
          <AkTypography
            {{style width='160px'}}
            @color='textSecondary'
            data-test-fileDetailsSummary-fileOverviewLabel
          >
            {{fs.label}}
          </AkTypography>

          <AkTypography
            @variant='h6'
            data-test-fileDetailsSummary-fileOverviewValue
          >
            {{fs.value}}
          </AkTypography>
        </AkStack>

        <AkDivider />
      {{/each}}

      <div class='my-2'>
        <AkTypography
          data-test-fileDetailsSummary-fileTagTitle
          @variant='subtitle1'
          @gutterBottom={{true}}
        >
          {{t 'tags'}}
        </AkTypography>

        <FileDetails::Summary::FileTags @file={{@file}} />
      </div>

      <AkDivider />
    {{/if}}

    <div local-class='file-summary-padding'>
      <AkButton
        @variant='text'
        @underline='always'
        @color='primary'
        @typographyVariant='subtitle1'
        {{on 'click' this.handleFileSummaryToggle}}
        data-test-fileDetailsSummary-showMoreOrLessBtn
      >
        <:default>
          {{if this.showMoreFileSummary (t 'showLess') (t 'showMore')}}
        </:default>

        <:rightIcon>
          <AkIcon
            @iconName={{if
              this.showMoreFileSummary
              'arrow-drop-up'
              'arrow-drop-down'
            }}
            @color='primary'
          />
        </:rightIcon>
      </AkButton>
    </div>
  </div>

  <AkMenu
    @anchorRef={{this.fileMoreMenuRef}}
    @onClose={{this.handleFileMoreMenuClose}}
    @arrow={{true}}
    as |akm|
  >
    {{#each this.fileMoreMenuList as |it|}}
      {{#if it.group}}
        <AkList::Item
          @noGutters={{true}}
          local-class='file-more-menu-item-group'
        >
          <AkTypography
            {{style fontSize='0.857rem'}}
            @fontWeight='medium'
            @tag='span'
            @color='textSecondary'
          >
            {{it.group}}
          </AkTypography>
        </AkList::Item>
      {{/if}}

      <akm.listItem
        data-test-fileDetailsSummary-moreMenuItem
        @link={{true}}
        @button={{false}}
        @route={{it.route}}
        @model={{it.routeModel}}
        @divider={{unless it.hideDivider true}}
        as |li|
      >
        <li.leftIcon>
          <AkIcon @iconName={{it.iconName}} />
        </li.leftIcon>

        <li.text @primaryText={{it.label}} />
      </akm.listItem>
    {{/each}}
  </AkMenu>
</div>