<div
  data-test-ak-tooltip-root
  local-class='ak-tooltip-wrapper {{if @arrow "ak-tooltip-with-arrow"}}'
  {{on 'mouseenter' this.handleShowTooltip}}
  {{on 'mouseleave' this.handleHideTooltip}}
>

  {{yield}}

  {{#unless @disabled}}
    <AkPopover
      @anchorRef={{this.anchorRef}}
      @placement={{@placement}}
      @arrow={{@arrow}}
      @arrowColor={{or @color 'dark'}}
      @modifiers={{this.modifiers}}
    >
      <div
        data-test-ak-tooltip-content
        local-class='ak-tooltip-root ak-tooltip-color-{{or @color "dark"}}'
      >
        {{#if (has-block 'tooltipContent')}}
          {{yield to='tooltipContent'}}
        {{else}}
          {{@title}}
        {{/if}}
      </div>
    </AkPopover>
  {{/unless}}
</div>