{{!@glint-nocheck: did-update}}
<div
  class='px-3'
  {{did-update this.reloadAmAppRecords this.amApp.id}}
  data-test-amDetailsTable-container
>

  {{#if this.showPendingStateLoader}}
    <AppMonitoring::Loading
      @loadingText='{{t "appMonitoringMessages.pendingStateLoadingText"}}'
      data-test-amDetailsTable-pendingStateLoader
    />

  {{else if this.fetchAmAppRecords.isRunning}}
    <AppMonitoring::Loading
      @loadingText='{{t "loading"}}...'
      data-test-amDetailsTable-loading
    />

  {{else if this.hasNoAmAppVersions}}
    <AppMonitoring::Empty
      @header='{{t "notFound"}}'
      @body={{t 'appMonitoringMessages.monitoringDetailsEmpty.body'}}
      data-test-amDetailsTable-empty
    />

  {{else}}
    <div
      local-class='
        app-details-table-container
        '
    >
      <AkTable
        @variant='full-bordered'
        @borderColor='dark'
        local-class='app-details-table'
        data-test-amDetailsTable
        as |tb|
      >
        <tb.head @columns={{this.columns}} data-test-amTable-header />

        <tb.body
          @rows={{this.storeVersionsToDisplay}}
          @renderAll={{true}}
          as |b|
        >
          <b.row local-class='table-row' data-test-amDetailsTable-row as |r|>
            <r.cell data-test-amDetailsTable-cell>
              {{#let (component r.columnValue.component) as |Component|}}
                <Component @storeVersionInfo={{r.rowValue}} />
              {{/let}}
            </r.cell>
          </b.row>
        </tb.body>
      </AkTable>
    </div>
  {{/if}}

</div>