<div local-class="overview">
  <h3 local-class="overview-title">
    {{#if @client.isEmptyTitle}}
      <i>{{t 'noName'}}</i>
    {{else}}
      {{@client.name}}
    {{/if}}
  </h3>
  <div local-class="overview-plan">
    {{t 'paymentPlan'}}:
    {{#if @client.isPerScan}}
      <span local-class="type per-scan">{{t 'perScan'}}</span>
      ({{@client.creditsLeft}} {{t 'pluralScans' itemCount=@client.creditsLeft}} {{t 'remaining'}})
    {{else}}
      <span local-class="type per-app">{{t 'perApp'}}</span>
      {{#if @client.invalidPayment}}
        <span local-class="payment-invalid">{{t 'invalidPayment'}}</span>
      {{else}}
        ({{@client.creditsLeft}} {{t 'pluralApps' itemCount=@client.creditsLeft}})
      {{/if}}
    {{/if}}
  </div>
  <div local-class="overview-owner">{{t 'organizationOwner'}}: <span class="black-text">{{@client.ownerEmail}}</span></div>
  <div local-class="overview-status-container">
    <div local-class="overview-status">
      <span local-class="status-count">{{@client.usersCount}}</span>
      <span local-class="status-label">{{t 'pluralUsers' itemCount=@client.usersCount}}</span>
    </div>
    <div local-class="overview-status">
      <span local-class="status-count">{{@client.projectsCount}}</span>
      <span local-class="status-label">{{t 'pluralProjects' itemCount=@client.projectsCount}}</span>
    </div>
    <div local-class="overview-status">
      <span local-class="status-count">{{@client.filesCount}}</span>
      <span local-class="status-label">{{t 'pluralUploads' itemCount=@client.filesCount}}</span>
    </div>
  </div>
</div>

<Partner::ClientUploadsList @clientId={{@client.id}}></Partner::ClientUploadsList>