{{! template-lint-disable no-curly-component-invocation }}
<AkStack 
  @alignItems='center'
  local-class='platform platform-{{@project.platformIcon}}'
  data-test-platform='{{@project.platformIcon}}'
>
  <AkIcon @iconName='{{@project.platformIcon}}' />
</AkStack>
<div
  local-class='package-name'
  title='Project ID: {{@project.id}}'
  data-test-package_name
>
  {{@project.packageName}}
</div>
<div local-class='created-on' class='text-lightgray' data-test-created_on>
  {{day-js date=@project.createdOn format='DD MMM YYYY'}}
</div>
{{#if (and @enableViewFiles @clientId @project.id)}}
  <LinkTo
    @route='authenticated.partner.project'
    @models={{array @clientId @project.id}}
    class='button is-primary margin-l-3q'
    data-test-view-files
  >
    {{t 'viewUploads'}}
  </LinkTo>
{{/if}}