<AkStack @alignItems='center' data-test-platform='{{@project.platformIcon}}'>
  <AppPlatformIcon @platform='{{@project.platformIcon}}' />
</AkStack>

<div
  local-class='package-name'
  title='Project ID: {{@project.id}}'
  data-test-package_name
>
  {{@project.packageName}}
</div>

<AkTypography @color='textSecondary' @fontWeight='light' data-test-created_on>
  {{day-js date=@project.createdOn format='DD MMM YYYY'}}
</AkTypography>

{{#if (and @enableViewFiles @clientId @project.id)}}
  <AkLink
    @route='authenticated.partner.project'
    @models={{array @clientId @project.id}}
    @underline='none'
    @color='primary'
    local-class='view-files-button'
    data-test-view-files
  >
    {{t 'viewUploads'}}
  </AkLink>
{{/if}}