<div local-class='ak-pagination'>
  <div local-class='ak-pagination-info'>
    <AkTypography @tag='p' data-test-per-page-translation>
      {{@perPageTranslation}}
    </AkTypography>

    <AkSelect
      @onChange={{or @onItemPerPageChange this.noop}}
      @options={{@itemPerPageOptions}}
      @selected={{@selectedOption}}
      @renderInPlace={{true}}
      @veritcalPosition='above'
      @triggerClass='ak-pagination-select'
      {{style width='50px'}}
      data-test-pagination-select
      as |aks|
    >
      {{aks.label}}
    </AkSelect>

    {{#if @totalItems}}
      <div local-class='ak-pagination-divider'></div>
      <AkTypography @tag='span' data-test-page-range>
        {{@startItemIdx}}-{{@endItemIdx}}
        of
        {{@totalItems}}
        {{@tableItemLabel}}
      </AkTypography>
    {{/if}}
  </div>
  <div local-class='ak-pagination-btns' data-test-pagination-btns-container>
    <div local-class='ak-pagination-divider'></div>
    <AkButton
      @disabled={{@disablePrev}}
      @color='neutral'
      @variant='outlined'
      @iconSize='medium'
      {{on 'click' (or @prevAction this.noop)}}
      data-test-pagination-prev-btn
    >
      <:leftIcon>
        <AkIcon @iconName='arrow-left' data-test-prev-btn-icon />
      </:leftIcon>
      <:default>
        {{#if @prevBtnLabel}}
          {{@prevBtnLabel}}
        {{else}}
          {{t 'previous'}}
        {{/if}}
      </:default>
    </AkButton>
    <AkButton
      @disabled={{@disableNext}}
      @color='neutral'
      @variant='outlined'
      @iconSize='medium'
      {{on 'click' (or @nextAction this.noop)}}
      data-test-pagination-next-btn
    >
      <:default>
        {{#if @nextBtnLabel}}
          {{@nextBtnLabel}}
        {{else}}
          {{t 'next'}}
        {{/if}}
      </:default>
      <:rightIcon>
        <AkIcon @iconName='arrow-right' data-test-next-btn-icon />
      </:rightIcon>
    </AkButton>
  </div>
</div>