<div local-class="client-container" {{did-insert (fn this.initializeComp)}}>
  <div local-class="chart-container">
    <Charts::ClientUploads @title="Uploads" @clientId={{@client.id}}></Charts::ClientUploads>
    <div local-class="credits-left">
      <div local-class="header">{{ t 'clients.availableCredits'}}</div>
      <div local-class="available-credits">
        <span>{{@client.creditsLeft}}<br>
          {{#if @client.isPerScan}}
            {{t 'clients.scans'}}
          {{else}}
            {{t 'clients.apps'}}
          {{/if}}
        </span>
      </div>
      <button type="button" local-class="add-credit" {{on "click" (fn this.onShowCreditTransferModal)}}>
        {{t 'clients.addCredit'}} {{fa-icon "plus"}}
      </button>
    </div>
  </div>
  <div local-class="list-container">

    <Partner::ClientUploads @clientId={{@client.id}}></Partner::ClientUploads>

    <div local-class="client-users">
      <div local-class="users-label">
        Users ({{this.totalMembers}})
      </div>
      <ul local-class="user-list">
        {{#each this.members as |member index|}}
          <li local-class="list-item">
            <span local-class="serial">{{plus-one index}}</span>
            <span local-class="name">{{member.firstName}}, {{member.lastName}}</span>
            <span local-class="role {{member.role}}">{{member.role}}</span>
          </li>
        {{/each}}
      </ul>
      {{#if (gt this.totalMembers 5)}}
        <button local-class="view-all-users-btn" type="button" {{on "click" (fn this.onToggleMemberListModal)}}>View
          All</button>
      {{/if}}
    </div>
  </div>
</div>

{{#if this.isShowCreditAllocationModal}}
  <AkModal @onClose={{this.onCloseModal}} @showHeader={{true}} @headerTitle={{t 'clients.creditTransfer'}}>
    <Modals::ClientCreditTransfer @client={{@client}} @onClose={{this.onCloseModal}}>
    </Modals::ClientCreditTransfer>
  </AkModal>
{{/if}}

{{#if this.isShowMemberListModal}}
  <AkModal @onClose={{fn this.onToggleMemberListModal false}} @showHeader={{true}} @headerTitle="All Users">
    <Modals::ClientMemberList @clientId={{@client.id}} @onClose={{fn this.onToggleMemberListModal false}}>
    </Modals::ClientMemberList>
  </AkModal>
{{/if}}