<div local-class="client-container">
  <div local-class="chart-container">
    <Charts::ClientUploads @title="Uploads" @clientId={{@client.id}}></Charts::ClientUploads>
    <div local-class="credits-left">
      <div local-class="header">{{ t 'clients.availableCredits'}}</div>
      <div local-class="available-credits">
        <span>{{@client.creditsLeft}}<br>
          {{#if @client.isPerScan}}
            {{t 'clients.scans'}}
          {{else}}
            {{t 'clients.apps'}}
          {{/if}}
        </span>
      </div>
      <button type="button" local-class="add-credit" {{on "click" (fn this.onShowCreditTransferModal)}}>
        {{t 'clients.addCredit'}} {{fa-icon "plus"}}
      </button>
    </div>
  </div>
  <div local-class="all-uploads-container">
    <h3 local-class="title">{{t 'allUploads'}} ({{this.uploads.length}})</h3>
    <div local-class="client-uploads-cards">
      {{#each this.uploads as |upload|}}
        <Cards::ClientUpload @upload={{upload}}></Cards::ClientUpload>
      {{else}}
        <div local-class="no-uploads">{{t 'noUploads'}}</div>
      {{/each}}
    </div>
    {{#if (or this.hasPrevious this.hasNext)}}
      <div local-class="pagination">
        {{partial 'paginate'}}
      </div>
    {{/if}}
  </div>
</div>

{{#if this.isShowCreditAllocationModal}}
  <AkModal @onClose={{this.onCloseModal}} @showHeader={{true}} @headerTitle={{t 'clients.creditTransfer'}}>
    <Modals::ClientCreditTransfer @client={{@client}} @onClose={{this.onCloseModal}}>
    </Modals::ClientCreditTransfer>
  </AkModal>
{{/if}}