<div class="columns margin-bottom">
  <div class="column">
    <h4 class="bold black-text">
      {{t "settings"}} | {{this.project.packageName}}
    </h4>
  </div>
  <div class="column">
    <LinkTo @route="authenticated.project.files" @model={{this.project.id}} class="button is-primary"
      class="mp-settings-all-scans">
      {{fa-icon "navicon"}}&nbsp;&nbsp;{{t "allUploads"}}
    </LinkTo>
  </div>
</div>

<div class="tabs is-medium is-boxed">
  <ul>
    <li class={{this.generalSettingsClass}}>
      <a {{on "click" this.displayGeneralSettings class="mp-display-general-settings" }}>{{t
        "generalSettings"}}</a>
    </li>
    <li class={{this.analysisSettingsClass}}>
      <a {{on "click" this.displayAnalysisSettings class="mp-display-analysis-settings" }}>{{t
        "analysisSettings"}}</a>
    </li>
  </ul>
</div>

{{#if isGeneralSettings}}
<div class="box-container project-preference">
  <ProjectPreferences @profileId={{this.project.activeProfileId}} @platform={{this.project.platform}}
    @project={{this.project}} />
</div>
<div class="box-container">
  <div class="collaboration-settings">
    <div class="columns">
      <div class="column">
        <h5 class="bold black-text margin-t-q margin-b-1">{{t "proxySettingsTitle"}}</h5>
        <div class="margin-b-1">{{t "proxySettingsDescription"}}</div>
      </div>
    </div>
    <ProxySettings @profile={{this.profile}} />
  </div>
</div>
<div class="box-container">
  <ApiFilter @profileId={{this.project.activeProfileId}} />
</div>
<div class="box-container collaboration-settings">
  <div class="columns">
    <div class="column">
      <h5 class="bold black-text margin-t-q margin-b-1">{{t "teamsAndCollaborators"}}</h5>
    </div>
  </div>
  <ProjectTeamList @project={{this.project}} />
  <ProjectCollaboratorList @project={{this.project}} />
</div>

{{#if this.organization.selected.features.dynamicscan_automation}}
<div class="box-container">
  <DynamicscanAutomationSettings @profileId={{this.project.activeProfileId}} @project={{this.project}} />
</div>
{{/if}}

<div class="box-container">
  <GithubProject @project={{this.project}} />
</div>

<div class="margin-l-1 margin-b-4">
  <JiraProject @project={{this.project}} />
</div>
{{/if}}

{{#if this.isAnalysisSettings}}
<div class="box-container">
  <AnalysisSettings @project={{this.project}} />
</div>
<div class="box-container">
  <RegulatoryPreferenceProfile @project={{this.project}} />
</div>
<div class="{{if this.me.org.is_admin 'box-container' 'box-container-w-b'}}">
  <ReportPreference @project={{this.project}} />
</div>
<VulnerabilityList @project={{this.project}} />
{{/if}}