<AkStack @justifyContent='space-between' @alignItems='center' @width='full'>
  <AkStack @direction='column'>
    <AkTypography
      @variant='h5'
      @gutterBottom={{true}}
      data-test-prjSettings-integrations-integratedHeader-headerText
    >
      {{@headerText}}
    </AkTypography>

    {{#if @headerSubtext}}
      <AkTypography
        @variant='body2'
        @color='textSecondary'
        data-test-prjSettings-integrations-integratedHeader-headerSubText
      >
        {{@headerSubtext}}
      </AkTypography>
    {{/if}}
  </AkStack>

  {{#if @showHeaderActions}}
    <div>
      <AkIconButton
        {{style padding='0.5em'}}
        {{on 'click' this.handleHeaderActionsOpen}}
        data-test-prjSettings-integrations-integratedHeader-moreActionTrigger
      >
        <AkIcon @iconName='more-vert' />
      </AkIconButton>

      <AkMenu
        @anchorRef={{this.headActionsRef}}
        @onClose={{this.handleHeaderActionsClose}}
        @arrow={{true}}
        as |akm|
      >
        {{#each this.headerActionsList as |it|}}
          <akm.listItem
            @button={{true}}
            @onClick={{it.action}}
            @divider={{unless it.hideDivider true}}
            data-test-prjSettings-integrations-integratedHeader-menuItem
            as |li|
          >
            <li.text @primaryText={{it.label}} />
          </akm.listItem>
        {{/each}}
      </AkMenu>
    </div>
  {{/if}}
</AkStack>