<div class='columns'>
  <div class='column margin-auto edit-analysis-box'>
    <div class='columns'>
      <div class='column margin-top is-one-third'>
        <LinkTo
          @route='authenticated.security.file'
          @model={{this.analysisDetails.file.id}}
        >
          <AkStack @alignItems='center'>
            <AkIcon @iconName='arrow-left' />&nbsp; View All Analyses
          </AkStack>
        </LinkTo>
      </div>
      <div class='column'>
        <h3>
          {{this.analysisDetails.file.id}}
          |
          {{this.analysisDetails.file.name}}
        </h3>
      </div>
      <div class='column content-right'>
        {{#if this.analysisDetails.isPassed}}
          <button
            class='is-success button success-button'
            type='button'
            {{on 'click' this.openMarkPassedConfirmBox}}
          >
            Mark as Passed
          </button>
        {{/if}}
        <a
          href={{this.ireneFilePath}}
          target='_blank'
          rel='noopener noreferrer'
          class='margin-left button is-primary'
        >
          Visit Dashboard
        </a>
      </div>
    </div>
    <div class='box analysis-box'>
      <div class='columns border-bottom-container'>
        <div class='column'>
          <h4>
            {{this.analysisDetails.vulnerability.name}}
          </h4>
        </div>
      </div>
      <div class='columns'>
        <div class='column is-one-third'>
          <h5 class='bold-font'>
            Status
          </h5>
        </div>
      </div>
      <div class='columns border-bottom-container'>
        <div class='column is-one-third margin-bottom20'>
          <PowerSelect
            @placeholder='Select Status'
            @selected={{hash value=this.analysisDetails.status}}
            @options={{this.statuses}}
            @onChange={{this.selectStatus}}
            as |status|
          >
            {{analysis-status status}}
          </PowerSelect>
        </div>
      </div>
      <div class='columns'>
        <div class='column'>
          <h5 class='bold-font margin-left20'>
            CVSS Metrics
          </h5>
        </div>
        <div class='column text-right'>
          <button
            class='is-primary button highlighted-button'
            type='button'
            {{on 'click' (perform this.clearCvss)}}
          >
            <AkIcon @iconName='close' />
            <div class='margin-l-h'>
              Set to Untested
            </div>
          </button>
        </div>
      </div>
      <div class='columns border-bottom-container'>
        <div class='column is-one-third cvss-score-section'>
          <div
            class='colored-box
              {{this.analysisDetails.riskLabelClass}}
              {{if this.isInValidCvssBase "is-error"}}'
          >
            {{#if this.isInValidCvssBase}}
              <div class='font-legible padding-t-2 padding-b-1h'>
                <AkIcon @iconName='warning' />
                <div class='padding-t-h'>
                  Invalid
                </div>
                <div>
                  vector
                </div>
              </div>
            {{else}}
              <div class='columns'>
                <div class='column'>
                  <h1>
                    {{this.analysisDetails.cvssBase}}
                  </h1>
                </div>
              </div>
              <div class='columns'>
                <div class='column'>
                  <h6 class='uppercase-text'>
                    {{risk-text this.analysisDetails.risk}}
                  </h6>
                </div>
              </div>
            {{/if}}
          </div>
        </div>
        <div class='column'>
          <div class='columns'>
            <div class='column'>
              Attack Vector
            </div>
            <div class='column'>
              <PowerSelect
                @selected={{this.analysisDetails.attackVector}}
                @options={{this.attackVectors}}
                @onChange={{this.selectAttackVector}}
                as |key|
              >
                {{metric-vector key}}
              </PowerSelect>
            </div>
          </div>
          <div class='columns'>
            <div class='column'>
              Attack Complexity
            </div>
            <div class='column'>
              <PowerSelect
                @selected={{this.analysisDetails.attackComplexity}}
                @options={{this.attackComplexities}}
                @onChange={{this.selectAttackComplexity}}
                as |key|
              >
                {{metric-impact key}}
              </PowerSelect>
            </div>
          </div>
          <div class='columns'>
            <div class='column'>
              Privileges Required
            </div>
            <div class='column'>
              <PowerSelect
                @selected={{this.analysisDetails.privilegesRequired}}
                @options={{this.requiredPrevileges}}
                @onChange={{this.selectRequiredPrevilege}}
                as |key|
              >
                {{metric-impact key}}
              </PowerSelect>
            </div>
          </div>
          <div class='columns'>
            <div class='column'>
              User Interaction
            </div>
            <div class='column'>
              <PowerSelect
                @selected={{this.analysisDetails.userInteraction}}
                @options={{this.userInteractions}}
                @onChange={{this.selectUserInteraction}}
                as |key|
              >
                {{metric-interaction key}}
              </PowerSelect>

            </div>
          </div>
          <div class='columns'>
            <div class='column'>
              Scope
            </div>
            <div class='column'>
              <PowerSelect
                @selected={{this.analysisDetails.scope}}
                @options={{this.scopes}}
                @onChange={{this.selectScope}}
                as |key|
              >
                {{metric-scope key}}
              </PowerSelect>
            </div>
          </div>
          <div class='columns'>
            <div class='column'>
              Confidentiality Impact
            </div>
            <div class='column'>
              <PowerSelect
                @selected={{this.analysisDetails.confidentialityImpact}}
                @options={{this.confidentialityImpacts}}
                @onChange={{this.selectConfidentialityImpact}}
                as |key|
              >
                {{metric-impact key}}
              </PowerSelect>
            </div>
          </div>
          <div class='columns'>
            <div class='column'>
              Integrity Impact
            </div>
            <div class='column'>
              <PowerSelect
                @selected={{this.analysisDetails.integrityImpact}}
                @options={{this.integrityImpacts}}
                @onChange={{this.selectIntegrityImpact}}
                as |key|
              >
                {{metric-impact key}}
              </PowerSelect>
            </div>
          </div>
          <div class='columns'>
            <div class='column'>
              Availability Impact
            </div>
            <div class='column'>
              <PowerSelect
                @selected={{this.analysisDetails.availabilityImpact}}
                @options={{this.availabilityImpacts}}
                @onChange={{this.selectAvailabilityImpact}}
                as |key|
              >
                {{metric-impact key}}
              </PowerSelect>
            </div>
          </div>
        </div>
      </div>
      {{#unless this.owaspMobile2024Exists}}
        <div class='columns'>
          <div class='column is-one-third'>
            <h5 class='bold-font'>
              OWASP Category
            </h5>
          </div>
        </div>
        <div class='columns border-bottom-container'>
          <div class='column margin-bottom20'>
            <PowerSelectMultiple
              @placeholder='Select OWASP Categories'
              @selected={{this.analysisDetails.owasp}}
              @options={{this.owasps}}
              @onChange={{this.selectOwaspCategory}}
              as |key|
            >
              {{key.code}}
              -
              {{key.year}}
              -
              {{key.title}}
            </PowerSelectMultiple>
          </div>
        </div>
      {{/unless}}
      <div class='columns'>
        <div class='column is-one-third'>
          <h5 class='bold-font'>
            OWASP Mobile Top 10 (2024)
          </h5>
        </div>
      </div>
      <div class='columns border-bottom-container'>
        <div class='column margin-bottom20'>
          <PowerSelectMultiple
            @placeholder='Select OWASP Mobile Top 10 Categories'
            @selected={{this.analysisDetails.owaspmobile2024}}
            @options={{this.owaspmobile2024s}}
            @onChange={{this.selectOwaspMobile2024Category}}
            as |key|
          >
            {{key.code}}
            -
            {{key.year}}
            -
            {{key.title}}
          </PowerSelectMultiple>
        </div>
      </div>
      <div class='columns'>
        <div class='column is-one-third'>
          <h5 class='bold-font'>
            OWASP API TOP 10 (2023)
          </h5>
        </div>
      </div>
      <div class='columns border-bottom-container'>
        <div class='column margin-bottom20'>
          <PowerSelectMultiple
            @placeholder='Select OWASP API TOP 10 (2023) Section'
            @selected={{this.analysisDetails.owaspapi2023}}
            @options={{this.owaspapi2023s}}
            @onChange={{this.selectOwaspApi2023Category}}
            as |key|
          >
            {{key.code}}
            -
            {{key.title}}
          </PowerSelectMultiple>
        </div>
      </div>
      <div class='columns'>
        <div class='column is-one-third'>
          <h5 class='bold-font'>
            PCI-DSS Risk Category
          </h5>
        </div>
      </div>
      <div class='columns border-bottom-container'>
        <div class='column margin-bottom20'>
          <PowerSelectMultiple
            @placeholder='Select PCI-DSS Risk Category'
            @selected={{this.analysisDetails.pcidss}}
            @options={{this.pcidsses}}
            @onChange={{this.selectPcidssCategory}}
            as |key|
          >
            {{key.code}}
            -
            {{key.title}}
          </PowerSelectMultiple>
        </div>
      </div>
      <div class='columns'>
        <div class='column is-one-third'>
          <h5 class='bold-font'>
            HIPAA Sections
          </h5>
        </div>
      </div>
      <div class='columns border-bottom-container'>
        <div class='column margin-bottom20'>
          <PowerSelectMultiple
            @placeholder='Select HIPAA Risk Section'
            @selected={{this.analysisDetails.hipaa}}
            @options={{this.hipaas}}
            @onChange={{this.selectHipaaCategory}}
            as |key|
          >
            {{key.code}}
            -
            {{key.safeguard}}
            -
            {{key.title}}
          </PowerSelectMultiple>
        </div>
      </div>
      <div class='columns'>
        <div class='column is-one-third'>
          <h5 class='bold-font'>
            OWASP MASVS (v2) Requirements
          </h5>
        </div>
      </div>
      <div class='columns border-bottom-container'>
        <div class='column margin-bottom20'>
          <PowerSelectMultiple
            @placeholder='Select OWASP MASVS (v2) Requirements'
            @selected={{this.analysisDetails.masvs}}
            @options={{this.masvses}}
            @onChange={{this.selectMasvsCategory}}
            as |key|
          >
            {{key.code}}
            -
            {{key.title}}
          </PowerSelectMultiple>
        </div>
      </div>
      <div class='columns'>
        <div class='column is-one-third'>
          <h5 class='bold-font'>
            MSTG Requirements
          </h5>
        </div>
      </div>
      <div class='columns border-bottom-container'>
        <div class='column margin-bottom20'>
          <PowerSelectMultiple
            @placeholder='Select MSTG Requirements'
            @selected={{this.analysisDetails.mstg}}
            @options={{this.mstgs}}
            @onChange={{this.selectMstgCategory}}
            as |key|
          >
            {{key.code}}
            -
            {{key.title}}
          </PowerSelectMultiple>
        </div>
      </div>
      <div class='columns'>
        <div class='column is-one-third'>
          <h5 class='bold-font'>
            ASVS Requirements
          </h5>
        </div>
      </div>
      <div class='columns border-bottom-container'>
        <div class='column margin-bottom20'>
          <PowerSelectMultiple
            @placeholder='Select ASVS Requirements'
            @selected={{this.analysisDetails.asvs}}
            @options={{this.asvses}}
            @onChange={{this.selectAsvsCategory}}
            as |key|
          >
            {{key.code}}
            -
            {{key.title}}
          </PowerSelectMultiple>
        </div>
      </div>
      <div class='columns'>
        <div class='column is-one-third'>
          <h5 class='bold-font'>
            CWE Weaknesses
          </h5>
        </div>
      </div>
      <div class='columns border-bottom-container'>
        <div class='column margin-bottom20'>
          <PowerSelectMultiple
            @placeholder='Select CWE Weaknesses'
            @selected={{this.analysisDetails.cwe}}
            @options={{this.cwes}}
            @onChange={{this.selectCWECategory}}
            as |key|
          >
            {{key.code}}
            -
            {{key.url}}
          </PowerSelectMultiple>
        </div>
      </div>
      <div class='columns'>
        <div class='column is-one-third'>
          <h5 class='bold-font'>
            GDPR Articles
          </h5>
        </div>
      </div>
      <div class='columns border-bottom-container'>
        <div class='column margin-bottom20'>
          <PowerSelectMultiple
            @placeholder='Select GDPR Articles'
            @selected={{this.analysisDetails.gdpr}}
            @options={{this.gdprs}}
            @onChange={{this.selectGDPRCategory}}
            as |key|
          >
            {{key.code}}
            -
            {{key.title}}
          </PowerSelectMultiple>
        </div>
      </div>
      <div class='columns'>
        <div class='column is-one-third'>
          <h5 class='bold-font'>
            NIST SP 800-171
          </h5>
        </div>
      </div>
      <div class='columns border-bottom-container'>
        <div class='column margin-bottom20'>
          <PowerSelectMultiple
            @placeholder='Select NIST SP 800-171 Section'
            @selected={{this.analysisDetails.nistsp800171}}
            @options={{this.nistsp800171s}}
            @onChange={{this.selectNistsp800171Category}}
            as |key|
          >
            {{key.code}}
            -
            {{key.title}}
          </PowerSelectMultiple>
        </div>
      </div>
      <div class='columns'>
        <div class='column is-one-third'>
          <h5 class='bold-font'>
            NIST SP 800-53
          </h5>
        </div>
      </div>
      <div class='columns border-bottom-container'>
        <div class='column margin-bottom20'>
          <PowerSelectMultiple
            @placeholder='Select NIST SP 800-53 Section'
            @selected={{this.analysisDetails.nistsp80053}}
            @options={{this.nistsp80053s}}
            @onChange={{this.selectNistsp80053Category}}
            as |key|
          >
            {{key.code}}
            -
            {{key.title}}
          </PowerSelectMultiple>
        </div>
      </div>
      <div class='columns'>
        <div class='column is-one-third'>
          <h5 class='bold-font'>
            Findings
          </h5>
        </div>
      </div>{{#if this.allFindings}}
        <div class='columns'>
          <div class='column'>
            <table class='finding-list-table'>
              <thead>
                <tr>
                  <th>
                    Title
                  </th>
                  <th>
                    Description
                  </th>
                  <th>
                    Delete
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#each this.allFindings as |finding|}}
                  <tr>
                    <td>
                      <label>
                        <Textarea
                          autocomplete='off'
                          autocorrect='off'
                          autocapitalize='off'
                          spellcheck='false'
                          type='text'
                          @value={{finding.title}}
                          class='form-control input'
                        />
                      </label>
                    </td>
                    <td>
                      <label>
                        <Textarea
                          autocomplete='off'
                          autocorrect='off'
                          autocapitalize='off'
                          spellcheck='false'
                          type='text'
                          @value={{finding.description}}
                          class='form-control input'
                        />
                      </label>
                    </td>
                    <td>
                      <div
                        class='pointed-cursor'
                        role='button'
                        {{on
                          'click'
                          (fn this.openRemoveFindingConfirmBox finding.id)
                        }}
                      >
                        <AkIcon @iconName='delete' @variant='outlined' />
                      </div>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      {{/if}}
      <div class='border-bottom-container'>
        <form class='form margin-left30' aria-label='add finding form'>
          <div class='columns'>
            <div class='column'>
              <p class='control is-fullwidth'>
                <label for='add-finding-form-title'>
                  <Textarea
                    autocomplete='off'
                    autocorrect='off'
                    autocapitalize='off'
                    spellcheck='false'
                    type='text'
                    @value={{this.findingTitle}}
                    placeholder='TITLE'
                    class='form-control input'
                    id='add-finding-form-title'
                  />
                </label>
              </p>
            </div>
            <div class='column'>
              <p class='control is-fullwidth'>
                <label for='add-finding-form-description'>
                  <Textarea
                    autocomplete='off'
                    autocorrect='off'
                    autocapitalize='off'
                    spellcheck='false'
                    type='text'
                    @value={{this.findingDescription}}
                    placeholder='DESCRIPTION'
                    class='form-control input'
                    id='add-finding-form-description'
                  />
                </label>
              </p>
            </div>
            <div class='column is-one-sixth margin-right'>
              <p class='control is-fullwidth'>
                <button
                  class='is-primary margin-top30 button highlighted-button'
                  type='button'
                  {{on 'click' this.addFinding}}
                >
                  Add Finding
                </button>
              </p>
            </div>
          </div>
        </form>{{#if this.allFindings}}
          <div class='columns'>
            <div class='column'>
              <button
                class='is-primary button margin-top30 margin-left30'
                type='button'
                {{on 'click' this.openClearAllFindingConfirmBox}}
              >
                Clear All Findings
              </button>
            </div>
          </div>
        {{/if}}<div class='column is-one-third'></div>
      </div>
      <div class='columns'>
        <div class='column'>
          <h5 class='bold-font'>
            Attachments
          </h5>
        </div>
      </div>
      <div class='columns'>
        <div class='column'>
          <form aria-label='file upload form'>
            <p class='control is-fullwidth'>
              {{#let
                (file-queue
                  name='uploadAnalysisDetails'
                  onFileAdded=this.uploadFileWrapper
                )
                as |queue|
              }}
                <label disabled={{this.isUploading}} class='button is-primary'>
                  {{#if this.isUploading}}
                    Uploading...
                  {{else}}
                    Upload file
                  {{/if}}

                  <input
                    type='file'
                    id='upload-analysis-details-input'
                    disabled={{this.isUploading}}
                    {{style display='none'}}
                    {{queue.selectFile}}
                  />
                </label>
              {{/let}}
            </p>
          </form>
        </div>
      </div>
      <h5 class='bold-font margin-top10 margin-bottom0'>
        List of Attachments
      </h5>
      <div class='columns border-bottom-container'>
        <div class='column'>
          {{#if this.analysisDetails.attachments}}
            <table class='attachments-list-table'>
              <thead><tr>
                  <th>
                    File Key
                  </th>
                  <th>
                    Delete
                  </th>
                  <th>
                    Download
                  </th>
                </tr></thead>
              <tbody>
                {{#each this.analysisDetails.attachments as |attachment|}}
                  <tr>
                    <td>
                      <div
                        data-type='{{file-extension attachment.name}}'
                        title='{{attachment.name}}'
                        class='attachment'
                      >
                        <span class='margin-left'>
                          {{attachment.name}}
                        </span>
                      </div>
                    </td>
                    <td>
                      <span
                        {{on
                          'click'
                          (fn this.openRemoveFileConfirmBox attachment.id)
                        }}
                        role='button'
                      >
                        <AkIcon @iconName='delete' @variant='outlined' />
                      </span>
                    </td>
                    <td>
                      <span
                        {{on
                          'click'
                          (fn this.downloadAttachment attachment.id)
                        }}
                        role='button'
                      >
                        <AkIcon @iconName='download' />
                      </span>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <h6 class='margin-left'>
              No Files Uploaded
            </h6>
          {{/if}}
        </div>
      </div>
      <div class='columns'>
        <div class='column'>
          <button
            disabled={{this.savingAnalysis}}
            class='is-primary button margin-top30 highlighted-button'
            type='button'
            {{on 'click' (fn (perform this.saveAnalysis))}}
          >
            SAVE & CONTINUE EDITING
          </button>
          <button
            type='button'
            disabled={{this.savingAnalysis}}
            class='is-primary button margin-top30 highlighted-button margin-left'
            {{on 'click' (fn (perform this.saveAnalysis 'back'))}}
          >
            SAVE & GO BACK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ConfirmBox
  @isActive={{this.showRemoveFindingConfirmBox}}
  @title='Are you sure you want to remove this finding'
  @delegate={{this}}
  @key='finding'
/>
<ConfirmBox
  @isActive={{this.showRemoveFileConfirmBox}}
  @title='Are you sure you want to remove this file'
  @delegate={{this}}
  @key='attachment'
/>
<ConfirmBox
  @isActive={{this.showClearAllFindingsConfirmBox}}
  @title='Are you sure you want to clear all findings'
  @delegate={{this}}
  @key='findings'
/>
<ConfirmBox
  @isActive={{this.showMarkPassedConfirmBox}}
  @title='Are you sure you want to mark this analysis as passed'
  @delegate={{this}}
  @key='passed'
/>