<AkStack
  @width='full'
  @direction='column'
  @spacing='1.5'
  local-class='findings-card-root
  {{if @isDefaultFinding "is-default"}} {{if @isIgnored "is-ignored"}}'
  class='p-3'
  data-test-storeknoxFakeAppsFindingsCard-root
  data-test-storeknoxFakeAppsFindingsCard-title={{@title}}
>
  {{#if @isDefaultFinding}}
    <PoweredByAi::Chip
      @clickable={{false}}
      @chipText='Findings'
      class='m-0'
      data-test-storeknoxFakeAppsFindingsCard-poweredByAiChip
    />
  {{/if}}

  <AkStack
    @width='full'
    @direction='row'
    @justifyContent='space-between'
    @spacing='1'
  >
    <AkStack
      @width='full'
      @direction='column'
      @alignItems='flex-start'
      {{style maxWidth='620px'}}
    >
      <AkStack @spacing='1' @alignItems='center' {{style marginBottom='0.5em'}}>
        <AkTypography
          @fontWeight='bold'
          data-test-storeknoxFakeAppsFindingsCard-title
        >
          {{@title}}
        </AkTypography>

        {{#if @isSemanticFinding}}
          <AkTooltip @placement='right' @arrow={{true}}>
            <:tooltipContent>
              <div local-class='tooltip-content-container'>
                <AkTypography @variant='body1' @color='inherit'>
                  {{t 'storeknox.fakeApps.semanticSimilarityInfo'}}
                </AkTypography>
              </div>
            </:tooltipContent>

            <:default>
              <AkIcon @iconName='info' @size='small' @color='textSecondary' />
            </:default>
          </AkTooltip>
        {{/if}}
      </AkStack>

      <AkTypography data-test-storeknoxFakeAppsFindingsCard-description>
        {{@description}}
      </AkTypography>
    </AkStack>

    <AkTypography
      @variant='h2'
      @fontWeight={{if @isDefaultFinding 'bold' 'regular'}}
      local-class='score
      {{if @isDefaultFinding "is-default"}} {{if @isIgnored "is-ignored"}}'
      {{style alignSelf='flex-end'}}
      data-test-storeknoxFakeAppsFindingsCard-score
    >
      {{this.scorePercentage}}
    </AkTypography>
  </AkStack>
</AkStack>