<AkStack
  @direction='column'
  @width='full'
  local-class='scan-modal-body-wrapper'
  data-test-fileDetails-dynamicScanDrawer-manualDast-modalBodyWrapper
>
  <AkStack
    @direction='column'
    @spacing='2'
    @width='full'
    local-class='scan-modal-section'
    data-test-fileDetails-dynamicScanDrawer-manualDast-header
  >
    <AkTypography
      @fontWeight='bold'
      data-test-fileDetails-dynamicScanDrawer-manualDast-headerDeviceRequirements
    >
      {{t 'modalCard.dynamicScan.deviceRequirements'}}
    </AkTypography>

    <AkStack @alignItems='center' @spacing='2.5'>
      <AkTypography
        @color='textSecondary'
        {{style minWidth='140px'}}
        data-test-fileDetails-dynamicScanDrawer-manualDast-headerOSInfoDesc
      >
        {{t 'modalCard.dynamicScan.osVersion'}}
      </AkTypography>

      <AkTypography
        @fontWeight='medium'
        data-test-fileDetails-dynamicScanDrawer-manualDast-headerOSInfoValue
      >
        {{this.deviceDisplay}}
        {{this.minOsVersion}}
        {{t 'modalCard.dynamicScan.orAbove'}}
      </AkTypography>
    </AkStack>
  </AkStack>

  <AkDivider @color='dark' />

  <AkStack
    @direction='column'
    @spacing='3'
    @width='full'
    local-class='scan-modal-section'
  >
    <AkStack
      @direction='column'
      @spacing='1'
      data-test-fileDetails-dynamicScanDrawer-manualDast-devicePrefHeader
    >
      <AkTypography
        @fontWeight='bold'
        data-test-fileDetails-dynamicScanDrawer-manualDast-devicePrefHeaderDesc
      >
        {{t 'devicePreferences'}}
      </AkTypography>

      <AkSelect
        @placeholder={{t 'modalCard.dynamicScan.selectDevicePreference'}}
        @options={{this.deviceSelectionTypes}}
        @selected={{this.selectedDeviceSelection}}
        @onChange={{@dpContext.handleDsManualDeviceSelection}}
        {{style minWidth='330px'}}
        data-test-fileDetails-dynamicScanDrawer-manualDast-devicePrefSelect
        as |dst|
      >
        {{t (ds-manual-device-pref dst.value)}}
      </AkSelect>
    </AkStack>

    {{#if this.isSpecificDeviceSelection}}
      <FileDetails::DynamicScan::Action::Drawer::DevicePrefTable
        @file={{@file}}
        @dpContext={{@dpContext}}
        @allAvailableManualDevices={{@allAvailableManualDevices}}
        @isFetchingManualDevices={{@isFetchingManualDevices}}
      />
    {{/if}}
  </AkStack>

  <AkDivider @color='dark' />

  <FileDetails::ProxySettings
    @profile={{@file.profile}}
    @project={{@file.project}}
  />

  <AkStack
    @alignItems='center'
    @justifyContent='space-between'
    @width='full'
    local-class='scan-modal-section'
    data-test-fileDetails-dynamicScanDrawer-manualDast-enableAPICapture
  >
    <AkTypography @fontWeight='bold'>
      {{t 'modalCard.dynamicScan.runApiScan'}}
    </AkTypography>

    <AkToggle
      @size='small'
      @checked={{@isApiScanEnabled}}
      @onClick={{@enableApiScan}}
      data-test-fileDetails-dynamicScanDrawer-manualDast-enableAPICaptureCheckbox
    />
  </AkStack>

  <AkDivider @color='dark' />

  <AkStack @width='full' local-class='scan-modal-section'>
    <ApiFilter
      @profileId={{this.activeProfileId}}
      @hideDescriptionText={{true}}
    >
      <:title>
        <AkStack
          @alignItems='center'
          @spacing='1'
          data-test-fileDetails-dynamicScanDrawer-manualDast-apiFilter-title
        >
          <AkTypography @fontWeight='bold'>
            {{t 'templates.apiScanURLFilter'}}
          </AkTypography>

          <AkTooltip
            @arrow={{true}}
            @placement='right'
            data-test-fileDetails-dynamicScanDrawer-manualDast-apiURLFilter-iconTooltip
          >
            <:tooltipContent>
              <div local-class='tooltip-content-container'>
                {{t 'modalCard.dynamicScan.apiScanUrlFilterTooltipText'}}
              </div>
            </:tooltipContent>

            <:default>
              <AkIcon
                local-class='api-url-filter-help-icon'
                @iconName='help'
                @size='small'
                data-test-fileDetails-dynamicScanDrawer-manualDast-apiURLFilter-helpIcon
              />
            </:default>
          </AkTooltip>
        </AkStack>
      </:title>
    </ApiFilter>
  </AkStack>

  <AkDivider @color='dark' />
</AkStack>