<button class="is-primary" onclick={{perform openAddSSOMembersModal}}>
  {{fa-icon "address-book" class="margin-r-h"}}&nbsp;{{t "addSSOMembers"}}
</button>

{{#modal-card class="input-modal" isActive=showAddSSOMemberModal title=(t 'addSSOMembers')}}
  <div class="card-body">
    <div class="card-wrapper">
      <form {{action (perform addSSOMembers) on="submit"}}>
        <p class="control">
          <label>
            <span class="black-text margin-b-h margin-t-1 bold">Email</span>&nbsp;
            <small class="text-lightgray">(for multiple entries, separate by comma)</small><br>
            {{textarea class="form-control input margin-t-q" placeholder=(t 'email') type="text" value=emailsFromText autofocus="autofocus"}}
          </label>
        </p>
        <div class="or margin-t-1 margin-b-h">or</div>
        <div>
          <label class="black-text margin-b-h margin-t-1 bold">Upload CSV file</label>
          <input type="file" multiple="true" accept="text/csv" class="form-control input input-file margin-t-q" onchange={{action "uploadCsv"}} />
        </div>
        <button class="margin-t-2 is-primary" type="submit" disabled={{isAddingSSOMember}}>
          {{#if isAddingSSOMember}}
            <div class="fa-font-size">
              <i class="fa fa-spinner fa-spin"></i>&nbsp;
            </div>
          {{/if}}
          {{t "addMembers"}}
        </button>
      </form>
    </div>
  </div>
{{/modal-card}}