<div
  data-test-file-actions-container
  class='columns'
  {{did-insert (perform this.getVulnerabilities)}}
>
  <div class='column'>
    <div class='file-action-container'>
      <div class='columns'>
        <div class='column'>
          <h3 data-test-file-actions-name-id>
            {{this.file.name}}
            |
            {{this.file.id}}
          </h3>
        </div>
        <div class='column content-right'>
          <button
            class='button is-primary'
            type='button'
            {{on 'click' (perform this.downloadApp)}}
          >
            <AkIcon @iconName='download' />&nbsp; Original
            {{this.file.fileFormatDisplay}}
          </button>
          <button
            class='margin-left button is-primary'
            type='button'
            {{on 'click' (perform this.downloadAppModified)}}
          >
            <AkIcon @iconName='download' />&nbsp; Resigned
          </button>
          <a
            href={{this.ireneFilePath}}
            target='_blank'
            class='margin-left button is-primary'
            rel='noopener noreferrer'
          >
            Visit Dashboard
          </a>
          <div class='margin-left'>
            <Security::AnalysisReportBtn @file={{this.file}} />
          </div>
        </div>
      </div>
      <div class='columns'>
        <div class='column'>
          <div class='box margin-top'>
            <div class='columns'>
              <div class='column'>
                <h3>
                  Scan Status
                </h3>
              </div>
            </div>
            <div class='columns margin-t-h vertical-align-center'>
              <div class='column'>
                <label>
                  <Input
                    class='checkbox'
                    placeholder='Enter the file number'
                    @type='checkbox'
                    @checked={{this.file.isApiDone}}
                    {{on
                      'click'
                      (perform this.setApiScanStatus value='target.checked')
                    }}
                  />
                  &nbsp; Is API done
                </label>
              </div>
              <div class='column'>
                <label>
                  <Input
                    class='checkbox'
                    placeholder='Enter the file number'
                    @type='checkbox'
                    @checked={{this.file.isDynamicDone}}
                    {{on
                      'click'
                      (perform this.setDynamicDone value='target.checked')
                    }}
                  />
                  &nbsp; Is Dynamic done
                </label>
              </div>
              {{#if this.file.project.isManualScanAvailable}}
                <div class='column' data-test-manual-scan-statuses>
                  <div class='vertical-align-center'>
                    <div class='padding-r-h'>
                      Manual Scan
                    </div>
                    <div class='flex-grow-1'>
                      <PowerSelect
                        @searchEnabled={{false}}
                        @selected={{this.manualToString}}
                        @onChange={{this.selectManualScan}}
                        @options={{this.manualStatuses}}
                        as |status|
                      >
                        {{manual-scan-status status}}
                      </PowerSelect>
                    </div>
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class='columns'>
        <div class='column'>
          <div class='box margin-top'>
            <div class='columns'>
              <div class='column'>
                <h3>
                  List of Analyses
                </h3>
              </div>
              <div class='column content-right'>
                <button
                  class='is-primary button highlighted-button'
                  type='button'
                  {{on 'click' this.openPurgeAPIAnalysisConfirmBox}}
                >
                  Purge API Analyses
                </button>
                <button
                  class='is-primary margin-left button highlighted-button'
                  type='button'
                  {{on 'click' this.openAddAnalysisModal}}
                >
                  Add Analysis
                </button>
              </div>
            </div>
            <div class='columns'>
              <div class='column'>
                <Security::AnalysisList @fileDetails={{this.file}} />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{#if this.showAddAnalysisModal}}
  <AkModal
    @headerTitle='Add Analysis'
    @showHeader={{true}}
    @onClose={{this.closeAddAnalysisModal}}
  >
    <div class='columns'>
      <div class='column'>
        Vulnerability
      </div>
    </div>

    <div class='columns'>
      <div class='column margin-top20'>
        <AkSelect
          {{style width='600px'}}
          @searchField='name'
          @placeholder='Select the Vulnerability'
          @selected={{this.selectedVulnerability}}
          @options={{this.vulnerabilities}}
          @onChange={{this.selectVulnerabilty}}
          as |key|
        >
          {{key.id}}
          -
          {{key.name}}
        </AkSelect>
      </div>
    </div>

    <div class='columns'>
      <div class='column margin-top20'>
        <button
          class='button is-primary'
          type='button'
          {{on 'click' (perform this.addAnalysis)}}
        >
          Add Analysis
        </button>
      </div>
    </div>
  </AkModal>
{{/if}}

<ConfirmBox
  @isActive={{this.showPurgeAPIAnalysisConfirmBox}}
  @title='Are you sure of Purging API Analyses'
  @delegate={{this}}
  @confirmAction={{this.confirmPurgeAPIAnalysisConfirmBox}}
  @disabled={{this.isPurgingAPIAnalysis}}
  @key='purge'
/>