<div>
  <AiReporting::Preview::FilterSections::AdditionalFilters
    @additionalFilters={{@additionalFilters}}
    @filterDetails={{@filterDetails}}
    @onAddUpdateFilter={{@onAddUpdateFilter}}
  />

  <div class='mt-4'>
    <AiReporting::Preview::FilterSections::Columns
      @allColumnsMap={{@allColumnsMap}}
      @onColumnsChange={{@onColumnsChange}}
    />
  </div>
</div>