{{page-title 'Client Details'}}

<Partner::ClientsNav />

<div class='padding-h-1 padding-t-1h padding-b-h'>
  <LinkTo @route='authenticated.partner.clients'>{{t 'clients'}}</LinkTo>
  /
  {{#if this.model.isEmptyTitle}}
    <em>{{t 'noName'}}</em>
  {{else}}
    {{this.model.name}}
  {{/if}}
  <Partner::ClientDetail @client={{this.model}} />
  {{outlet}}
</div>

<div class='padding-b-2'>
  <Partner::ClientProjectList @clientId={{this.model.id}} />
</div>