{{page-title 'Client Details'}}

<Partner::ClientsNav />

<div class='padding-h-1 padding-b-2'>
  <div class='padding-t-1h padding-b-3'>
    <LinkTo @route='authenticated.partner.clients'>{{t 'clients'}}</LinkTo>
    /
    {{#if this.model.client.isEmptyTitle}}
      <em>{{t 'noName'}}</em>
    {{else}}
      {{this.model.client.name}}
    {{/if}}

    <Partner::ClientDetail @client={{this.model.client}} />
  </div>

  <div class='padding-h-1 padding-b-3'>
    <Partner::ClientProjectList @clientId={{this.model.client.id}} />
  </div>

  {{#if this.model.partner.access.view_analytics}}
    <div class='padding-h-1 padding-b-3'>
      <Partner::ClientUploadsStatChart
        @title={{this.model.client.name}}
        @targetModel='partner/partnerclient-analytic'
        @id={{this.model.client.id}}
      />
    </div>
  {{/if}}

  {{outlet}}
</div>