{{page-title 'Project Files'}}

<Partner::ClientsNav />

<div class='padding-h-1 padding-t-1h padding-b-q'>
  <div class='padding-b-1'>
    <LinkTo @route='authenticated.partner.clients'>{{t 'clients'}}</LinkTo>
    /
    <LinkTo
      @route='authenticated.partner.client'
      @model={{this.model.client.id}}
    >
      {{#if this.model.isEmptyTitle}}
        <em>{{t 'noName'}}</em>
      {{else}}
        {{this.model.client.name}}
      {{/if}}
    </LinkTo>

    /
    <span
      title='Project ID: {{this.model.project.id}}'
    >{{this.model.project.id}}</span>
  </div>
  <Partner::ClientProjectDetail @project={{this.model.project}} />
</div>
{{outlet}}

<div class='padding-b-2'>
  <Partner::ClientUploadsList
    @clientId={{this.model.client.id}}
    @projectId={{this.model.project.id}}
  />
</div>