<div local-class='service-account-details-root'>
  <div
    local-class='service-account-details-breadcrumbs-container'
    class='pt-2 pb-3'
  >
    <AkBreadcrumbs::AutoTrail
      data-test-serviceAccountCreate-breadcrumbContainer
    />
  </div>

  <AkStack
    @alignItems='center'
    @justifyContent='space-between'
    class='p-3'
    local-class='service-account-details-header'
  >
    <AkStack @direction='column' @spacing='0.5'>
      <AkTypography data-test-serviceAccountCreate-title @variant='subtitle1'>
        {{t 'serviceAccountModule.createTitle'}}
      </AkTypography>

      <AkTypography
        data-test-serviceAccountCreate-description
        @variant='body2'
        @color='textSecondary'
      >
        {{t 'serviceAccountModule.createDescription'}}
      </AkTypography>
    </AkStack>

    <AkStack @alignItems='center' @spacing='1.5'>
      <AkLink
        data-test-serviceAccountCreate-cancelLink
        @route='authenticated.admin.service-account.index'
      >
        <AkButton
          @variant='outlined'
          @color='neutral'
          @disabled={{this.createServiceAccount.isRunning}}
        >
          {{t 'cancel'}}
        </AkButton>
      </AkLink>

      <AkButton
        data-test-serviceAccountCreate-saveButton
        data-test-cy='serviceAccountCreate-saveButton'
        @loading={{this.createServiceAccount.isRunning}}
        {{on 'click' (perform this.createServiceAccount)}}
      >
        {{t 'save'}}
      </AkButton>
    </AkStack>
  </AkStack>

  <AkStack class='my-3' @width='full' @direction='column' @spacing='3'>
    <Admin::ServiceAccount::Section::AccountOverview
      @serviceAccount={{this.serviceAccount}}
      @setChangeset={{this.setChangeset}}
      @renderType='create'
    />

    <Admin::ServiceAccount::Section::AccessToken
      @serviceAccount={{this.serviceAccount}}
      @renderType='create'
    />

    <Admin::ServiceAccount::Section::SelectScope
      @serviceAccount={{this.serviceAccount}}
      @renderType='create'
    />

    <Admin::ServiceAccount::Section::SelectProject
      @serviceAccount={{this.serviceAccount}}
      @renderType='create'
    />
  </AkStack>
</div>