<AkStack
  @width='full'
  @direction='column'
  local-class='header-sbom-page'
  class='mb-4'
>
  <AkStack
    @width='full'
    @justifyContent='space-between'
    @alignItems='center'
    local-class='header-sbom-page-title'
  >
    <AkStack @direction='column' @spacing='0.5'>
      <AkTypography @variant='h5' data-test-sbomApp-title>
        {{t 'sbomModule.sbomAppTitle'}}
      </AkTypography>

      <AkTypography @variant='body2' data-test-sbomApp-description>
        {{t 'sbomModule.sbomAppDescription'}}
      </AkTypography>
    </AkStack>

    <div local-class='search-input-container-width'>
      <AkTextField
        @placeholder={{t 'searchQuery'}}
        @value={{@packageNameSearchQuery}}
        {{on 'input' this.onSearchQueryChange}}
        local-class='search-package-name-input'
        data-test-sbomApp-searchInput
      >
        <:leftAdornment>
          <AkIcon @iconName='search' @color='textSecondary' />
        </:leftAdornment>

        <:rightAdornment>
          {{#if @packageNameSearchQuery}}
            <AkIconButton @size='small' {{on 'click' this.clearSearchInput}}>
              <AkIcon @iconName='close' @color='textSecondary' />
            </AkIconButton>
          {{/if}}
        </:rightAdornment>
      </AkTextField>
    </div>
  </AkStack>

  <AkDivider @color='dark' />

  <AkStack @alignItems='center' local-class='header-sbom-page-sorting-filter'>

    <AkSelect
      @onChange={{this.filterPlatformChange}}
      @options={{this.platformObjects}}
      @selected={{this.selectedPlatform}}
      @verticalPosition='auto'
      @triggerClass={{this.triggerClass}}
      @dropdownClass={{this.dropDownClass}}
      @optionTitle={{t 'platform'}}
      @extra={{hash
        selectedItem=this.selectedPlatform.key
        showLabel=true
        iconName='filter-list'
      }}
      @selectedItemComponent={{component 'sbom/app-list/filter-selected-item'}}
      {{style width='auto'}}
      class='select-platform-class'
      data-test-select-platform-container
      as |platformObject|
    >
      <AkStack @spacing='1'>
        <AkStack @alignItems='center'>
          {{#if (eq this.selectedPlatform.value platformObject.value)}}
            <AkIcon @iconName='radio-button-checked' @color='success' />
          {{else}}
            <AkIcon @iconName='radio-button-unchecked' />
          {{/if}}
        </AkStack>

        {{platformObject.key}}
      </AkStack>
    </AkSelect>

    {{#if this.showClearFilter}}
      <AkDivider local-class='divider' />

      <AkButton
        @color='textSecondary'
        @underline='none'
        @leftIconClass={{this.clearFilterIconClass}}
        {{on 'click' this.clearFilters}}
        local-class='clear-filter'
        data-test-sbom-list-header-clear-filter
      >
        <:leftIcon>
          <AkIcon @iconName='close' @size='small' />
        </:leftIcon>

        <:default>
          <AkTypography local-class='clear-filter-label'>
            {{t 'clearFilter'}}
          </AkTypography>
        </:default>
      </AkButton>
    {{/if}}
  </AkStack>
</AkStack>