<div class='column is-one-sixth side-menu'>
  <div class='side-menu-fixed'>
    <div class='appknox-logo'>
      <ImgLogo />
    </div>
    <ul class='menu-list text-center margin-top20'>
      <li>
        <LinkTo @route='authenticated.projects' class='menu-list-link'>
          <div class='menu-list-title-container'>
            <span class='menu-list-icons ak-icon ak-icon-folder'></span>
            <span class='menu-list-title'>{{t 'projects'}}</span>
          </div>
          <span class='badge-square is-sidebar content-right'>
            {{this.organization.selected.projectsCount}}
          </span>
        </LinkTo>
      </li>
      {{#if this.isShowAnalytics}}
        <li>

          <LinkTo @route='authenticated.analytics' class='menu-list-link'>
            <div class='menu-list-title-container'>
              <span class='menu-list-icons ak-icon ak-icon-graphic-eq'></span>
              <span class='menu-list-title'>{{t 'analytics'}}</span>
            </div>
          </LinkTo>

        </li>
      {{/if}}
      <li>
        <LinkTo
          @route='authenticated.organization.namespaces'
          class='menu-list-link'
        >
          <div class='menu-list-title-container'>
            <span class='menu-list-icons ak-icon ak-icon-people'></span>
            <span class='menu-list-title'>{{t 'organization'}}</span>
          </div>
        </LinkTo>
      </li>
      {{#if this.showAppMonitoringDashboard}}
        <li>
          <LinkTo @route='authenticated.app-monitoring' class='menu-list-link'>
            <div class='menu-list-title-container'>
              <span class='menu-list-icons ak-icon ak-icon-inventory-2'></span>
              <span class='menu-list-title'>{{t 'appMonitoring'}}</span>
            </div>
          </LinkTo>
        </li>
      {{/if}}
      <li>
        <LinkTo @route='authenticated.settings' class='menu-list-link'>
          <div class='menu-list-title-container'>
            <span class='menu-list-icons ak-icon ak-icon-account-box'></span>
            <span class='menu-list-title'>{{t 'accountSettings'}}</span>
          </div>
        </LinkTo>

      </li>
      {{#if this.showMarketplace}}
        <li>
          <LinkTo @route='authenticated.marketplace' class='menu-list-link'>
            <div class='menu-list-title-container'>
              <span
                class='menu-list-icons ak-icon ak-icon-account-balance'
              ></span>
              <span class='menu-list-title'>{{t 'marketplace'}}</span>
            </div>
          </LinkTo>

        </li>
      {{/if}}
      {{#if this.showBilling}}
        <li>
          <LinkTo @route='authenticated.billing' class='menu-list-link'>
            <div class='menu-list-title-container'>
              <span class='menu-list-icons ak-icon ak-icon-credit-card'></span>
              <span class='menu-list-title'>{{t 'billing'}}</span>
            </div>
          </LinkTo>
        </li>
      {{/if}}
      {{#if this.showPartnerDashboard}}
        <li>
          <LinkTo @route='authenticated.partner.clients' class='menu-list-link'>
            <div class='menu-list-title-container'>
              <span
                class='menu-list-icons ak-icon-outlined ak-icon-groups-2'
              ></span>
              <span class='menu-list-title'>{{t 'clients'}}</span>
              <sup class='menu-list-title-beta primary-color'>beta</sup>
            </div>
          </LinkTo>

        </li>
      {{/if}}
    </ul>
    <div class='status-updates'>
      <SubmissionList />
    </div>
    <div
      class='product-version
        {{if this.enablePendo "ak-pendo-version-container"}}'
    >
      {{t 'version'}}
      {{this.productVersion}}
    </div>
  </div>
</div>