<div class='column' local-class='side-menu'>
  <div local-class='side-menu-fixed'>
    <div local-class='app-logo'>
      <ImgLogo />
    </div>

    <AkList class='mt-2' as |akl|>
      {{#each this.menuItems as |it|}}
        <akl.listItem
          @link={{true}}
          @route={{it.route}}
          @query={{it.query}}
          @currentWhen={{it.currentWhen}}
          @activeLinkClass={{this.classes.menuItemLinkActive}}
          data-test-side-menu-item
          @linkClass={{this.classes.menuItemLink}}
          as |li|
        >
          <li.leftIcon>
            <AkIcon
              local-class='menu-item-icon'
              data-test-side-menu-item-icon
              @iconName={{it.icon}}
            />
          </li.leftIcon>

          <li.text
            data-test-side-menu-item-text
            @primaryText={{it.label}}
            @primaryTextClass={{this.classes.menuItemText}}
          />

          {{#if it.hasBadge}}
            <AkStack @alignItems='center' @justifyContent='center'>
              <AkChip
                data-test-side-menu-item-badge
                local-class='menu-item-badge'
                @variant='filled'
                @size='small'
                @label='
                  {{if
                  it.isBeta
                  "Beta"
                  this.organization.selected.projectsCount
                }}'
              />
            </AkStack>
          {{/if}}
        </akl.listItem>
      {{/each}}
    </AkList>

    <div>
      <SubmissionList />
    </div>

    <div
      local-class='product-version
        {{if this.enablePendo "ak-pendo-version-container"}}'
    >
      {{t 'version'}}
      {{this.productVersion}}
    </div>
  </div>
</div>