<div class='column is-one-sixth side-menu'>
  <div class='side-menu-fixed'>
    <div class='appknox-logo'>
      <ImgLogo />
    </div>
    <ul class='menu-list text-center margin-top20'>
      <li>
        <LinkTo @route='authenticated.projects' class="class='mp-auth-projects">
          <div>
            {{fa-icon 'tasks' class='sidebar-icons'}}{{t 'projects'}}
          </div>
          <span class='badge-square is-sidebar content-right'>
            {{this.organization.selected.projectsCount}}
          </span>
        </LinkTo>
      </li>
      {{#if this.isShowAnalytics}}
        <li>

          <LinkTo @route='authenticated.analytics'>
            <div>
              {{fa-icon 'area-chart' class='sidebar-icons'}}{{t 'analytics'}}
            </div>
          </LinkTo>

        </li>
      {{/if}}
      <li>
        <LinkTo
          @route='authenticated.organization.namespaces'
          class='mp-auth-teams'
        >
          <div>
            {{fa-icon 'users' class='sidebar-icons'}}{{t 'organization'}}
          </div>
        </LinkTo>
      </li>
      <li>
        <LinkTo @route='authenticated.settings' class='mp-auth-setting'>
          <div>
            {{fa-icon 'cog' class='sidebar-icons'}}{{t 'accountSettings'}}
          </div>
        </LinkTo>

      </li>
      {{#if this.showMarketplace}}
        <li>
          <LinkTo
            @route='authenticated.marketplace'
            class='mp-auth-marketplace'
          >
            <div>
              {{fa-icon 'cubes' class='sidebar-icons'}}{{t 'marketplace'}}
            </div>
          </LinkTo>

        </li>
      {{/if}}
      {{#if this.showBilling}}
        <li>
          <LinkTo @route='authenticated.billing' class='mp-auth-billing'>
            <div>
              {{fa-icon 'tag' class='sidebar-icons'}}{{t 'billing'}}
            </div>
          </LinkTo>
        </li>
      {{/if}}
      {{#if this.showPartnerDashboard}}
        <li>
          <LinkTo
            @route='authenticated.partner.clients'
            class='mp-auth-clients'
          >
            <div>
              {{fa-icon 'sitemap' class='sidebar-icons'}}{{t 'clients'}}<sup
                class='margin-left primary-color'
              >
                beta
              </sup>
            </div>
          </LinkTo>

        </li>
      {{/if}}
    </ul>
    <div class='status-updates'>
      <SubmissionList />
    </div>
    <div
      class='product-version
        {{if this.enablePendo "ak-pendo-version-container"}}'
    >
      {{t 'version'}}
      {{this.productVersion}}
    </div>
  </div>
</div>