<div local-class='table-container' data-test-production-scan-table>
  <ProductionScan::Table::Header />
  {{#if this.showProdScanTableData}}
    <div local-class='table-body' data-test-prod-scan-table-body>
      <Pagination
        @results={{this.tableData}}
        @onPageItemsCountChange={{this.getPage}}
        @totalItems={{this.totalCount}}
        @nextAction={{this.goToPage}}
        @prevAction={{this.goToPage}}
        @itemPerPageOptions={{this.itemPerPageOptions}}
        @defaultLimit={{@defaultLimit}}
        @offset={{@offset}}
        @tableItemLabel='Projects'
        data-test-pagination-component
        as |context|
      >
        {{#each context.currentPage as |project idx|}}
          <ProductionScan::Table::Row @project={{project}} @id={{idx}} />
        {{/each}}
      </Pagination>
    </div>
  {{else if this.isEmptyProdScanResult}}
    <div
      local-class='table-empty-container'
      data-test-empty-prod-data-container
    >
      <span
        local-class='empty-state-vector'
        data-test-empty-prod-data-illustration
      >
        {{inline-svg '/prod_scan_empty_illustration.svg'}}
      </span>
      <h2>{{t 'productionScanEmptyDesc.header'}}</h2>
      <p>{{t 'productionScanEmptyDesc.body'}}</p>
    </div>
  {{else}}
    <div
      local-class='table-empty-container'
      data-test-empty-prod-data-container
    >
      <span
        local-class='empty-state-vector'
        data-test-empty-prod-data-illustration
      >
        {{inline-svg '/prod_scan_empty_illustration.svg'}}
      </span>
      <h2>{{t 'productionScanDisabledDesc.header'}}</h2>
      <p>{{t 'productionScanDisabledDesc.body'}}</p>
    </div>
  {{/if}}
</div>