<div ...attributes>
  <AkPaginationProvider
    @results={{this.sbomComponentList}}
    @onItemPerPageChange={{this.handleItemPerPageChange}}
    @totalItems={{this.totalSbomComponentCount}}
    @nextAction={{this.handlePrevNextAction}}
    @prevAction={{this.handlePrevNextAction}}
    @itemPerPageOptions={{array 10 25 50}}
    @defaultLimit={{this.limit}}
    @offset={{this.offset}}
    as |pgc|
  >
    <Sbom::EmptyLoadingView
      @empty={{this.isEmptyAndNoFilterApplied}}
      @loading={{this.isFetchingSbomComponentList}}
      @skeleton={{true}}
      @bordered={{true}}
      @height='500px'
    >
      <:emptySvg>
        <AkSvg::NoResult data-test-sbomComponent-emptySvg />
      </:emptySvg>

      <:emptyText>
        <AkStack
          class='mt-2'
          @direction='column'
          @alignItems='center'
          @spacing='1'
        >
          <AkTypography
            data-test-sbomComponent-emptyTextTitle
            @variant='h5'
            data-test-cy='emptytitle'
          >
            {{t 'sbomModule.componentListEmptyText.title'}}

          </AkTypography>

          <AkTypography
            data-test-sbomComponent-emptyTextDescription
            {{style width='600px'}}
            @color='textSecondary'
            @align='center'
          >
            {{t 'sbomModule.componentListEmptyText.description'}}
          </AkTypography>
        </AkStack>
      </:emptyText>

      <:default>
        <AkTable
          local-class='sbom-component-list-table'
          @hoverable={{true}}
          data-test-sbomComponent-table
          as |t|
        >
          <t.head
            @columns={{this.columns}}
            data-test-sbomComponent-thead
            as |h|
          >
            <h.row as |r|>
              <r.cell as |column|>
                {{#if column.headerComponent}}
                  {{#let (component column.headerComponent) as |Component|}}
                    <Component
                      @onDependencyTypeChange={{this.onDependencyTypeChange}}
                      @selectedDependencyType={{this.selectedDependencyType}}
                      @onComponentTypeChange={{this.onComponentTypeChange}}
                      @selectedComponentType={{this.selectedComponentType}}
                    />
                  {{/let}}
                {{else}}
                  {{column.name}}
                {{/if}}
              </r.cell>
            </h.row>
          </t.head>

          <t.body @rows={{pgc.currentPageResults}} as |b|>
            <b.row
              {{style cursor='pointer'}}
              @onClick={{this.handleComponentClick}}
              data-test-sbomComponent-row
              as |r|
            >
              <r.cell data-test-sbomComponent-cell as |value|>
                {{#if r.columnValue.component}}
                  {{#let (component r.columnValue.component) as |Component|}}
                    <Component @sbomComponent={{r.rowValue}} />
                  {{/let}}
                {{else}}
                  <AkTypography title={{value}} @noWrap={{true}}>
                    {{value}}
                  </AkTypography>
                {{/if}}
              </r.cell>
            </b.row>
          </t.body>
        </AkTable>

        {{#if this.isEmptyAndFilterApplied}}
          <AkStack
            @direction='column'
            @alignItems='center'
            @justifyContent='center'
            @spacing='1'
            class='py-5'
          >
            <AkSvg::NoResult data-test-sbomComponent-emptySvg />

            <AkTypography
              data-test-sbomComponent-emptyTextTitle
              @variant='h5'
              data-test-cy='sbomComponent-emptyTextTitle'
            >
              {{this.tNoComponentsFound}}

            </AkTypography>

            <AkTypography
              data-test-sbomComponent-emptyTextDescription
              {{style width='600px'}}
              @color='textSecondary'
              @align='center'
            >
              {{this.tNoComponentsFoundFilter}}
            </AkTypography>
          </AkStack>
        {{/if}}

        <AkPagination
          @disableNext={{pgc.disableNext}}
          @nextAction={{pgc.nextAction}}
          @disablePrev={{pgc.disablePrev}}
          @prevAction={{pgc.prevAction}}
          @endItemIdx={{pgc.endItemIdx}}
          @startItemIdx={{pgc.startItemIdx}}
          @itemPerPageOptions={{pgc.itemPerPageOptions}}
          @onItemPerPageChange={{pgc.onItemPerPageChange}}
          @selectedOption={{pgc.selectedOption}}
          @tableItemLabel={{t 'sbomModule.components'}}
          @perPageTranslation={{t 'recordPerPage'}}
          @totalItems={{pgc.totalItems}}
        />
      </:default>
    </Sbom::EmptyLoadingView>
  </AkPaginationProvider>
</div>