{{#if (eq @request.approvalStatus "pending")}}
  <div local-class="request" data-test-pending-request>
    <div local-class="user">
      <div local-class="email" data-test-pending-request-email>{{@request.email}}</div>
      <div local-class="name" class="text-lightgray" data-test-pending-request-name>{{@request.fullName}}</div>
    </div>
    <div local-class="company" data-test-pending-request-company>{{@request.data.company}}</div>
    <div
      local-class="date"
      class="text-lightgray"
      title="{{day-js date=@request.createdOn format='DD MMM YYYY HH:mm A'}}"
      data-test-pending-request-createdon
    >{{dayjs-from-now @request.createdOn}}</div>
    <div local-class="action">
      <button
        type="button"
        class="is-success is-icon no-border no-hover-button"
        local-class="approveRequest"
        title="Send invite mail"
        {{on "click" (perform this.approveRequest @request)}}
        data-test-pending-request-approve-button
      >{{fa-icon "check"}}</button>
    </div>
    <div local-class="action">
      <button
        type="button"
        class="is-primary is-icon no-border no-hover-button"
        local-class="rejectRequest"
        title="Reject request"
        {{on "click" (perform this.rejectRequest @request)}}
        data-test-pending-request-reject-button
      >{{fa-icon "remove"}}</button>
    </div>
  </div>
{{/if}}