<AkTypography
  data-test-githubAccount-title
  @variant='h5'
  @gutterBottom={{true}}
>
  {{t 'githubIntegration'}}
</AkTypography>

{{#if this.integratedUser}}
  <div local-class='bordered-box'>
    <div local-class='integration-logo-container'>
      <img
        data-test-githubAccount-logo
        src='/images/github-icon.png'
        alt='github-icon'
      />
    </div>

    <div local-class='integration-account-container'>
      <div class='mr-2'>
        <AkTypography data-test-githubAccount-host @color='textSecondary'>
          https://github.com
        </AkTypography>

        <AkTypography data-test-githubAccount-userLogin>
          {{this.integratedUser.login}}
        </AkTypography>
      </div>

      <AkButton
        data-test-githubAccount-disconnectBtn
        @variant='outlined'
        {{on 'click' this.openRevokeGithubConfirmBox}}
      >
        {{t 'disconnect'}}
      </AkButton>
    </div>
  </div>

  <ConfirmBox
    @isActive={{this.showRevokeGithubConfirmBox}}
    @description={{t 'confirmBox.revokeGithub'}}
    @delegate={{this}}
    @disabled={{this.removeIntegration.isRunning}}
    @confirmText={{t 'disconnect'}}
    @confirmAction={{perform this.removeIntegration}}
  />
{{else}}
  <AkTypography
    data-test-githubAccount-desc
    @variant='body2'
    @color='textSecondary'
  >
    {{#if @reconnect}}
      {{t 'integrationFailed'}}
    {{else}}
      {{t 'githubIntegrationDesc'}}
    {{/if}}
  </AkTypography>

  <AkButton
    data-test-githubAccount-integrateBtn
    class='my-2'
    @loading={{this.integrateGithub.isRunning}}
    {{on 'click' (perform this.integrateGithub)}}
  >
    {{if @reconnect (t 'reconnect') (t 'integrateGithub')}}
  </AkButton>

  {{yield}}
{{/if}}