<div
  local-class='
    app-inventory-header-root
    {{if @skInventoryApp.isArchived "archived"}}
    {{unless @skInventoryApp.monitoringEnabled "monitoring-disabled"}}
  '
  class='w-full mb-3 pt-2'
>
  <AkBreadcrumbs::AutoTrail
    class='pb-3'
    data-test-storeknoxInventoryDetails-breadcrumbContainer
  />

  <AkStack @direction='column' @spacing='2' @width='full'>
    <AkStack @direction='column' @width='full'>
      {{#if
        (and
          (not @hideUploadToAppknoxBanner)
          this.skInventoryApp.appIsNotAvailableOnAppknox
        )
      }}
        <Storeknox::InventoryDetails::SectionHeader {{style minHeight='44px'}}>
          <:icon>
            <AkIcon
              @iconName='info'
              @size='small'
              data-test-storeknoxInventoryDetails-appNotPartOfAppknoxIcon
            />
          </:icon>

          <:default>
            <AkTypography
              @fontWeight='medium'
              data-test-storeknoxInventoryDetails-appNotPartOfAppknoxIconText
            >
              {{t 'storeknox.appNotPartOfAppknox'}}
            </AkTypography>
          </:default>
        </Storeknox::InventoryDetails::SectionHeader>
      {{/if}}

      <Storeknox::InventoryDetails::SectionInfo
        @width='full'
        @alignItems='flex-end'
        local-class='app-inventory-header-info'
      >
        {{#if (and (not @hideLicenseIcon) this.appHasLicense)}}
          <AkStack local-class='license-icon-container' class='p-1'>
            <AkTooltip
              @arrow={{true}}
              @title={{t 'storeknox.licenseAllocated'}}
            >
              <AkIcon
                @iconName='license-outline-rounded'
                @size='small'
                @color='success'
                {{style fontSize='2em !important'}}
                data-test-storeknoxInventoryDetails-licenseAllocatedIcon
              />
            </AkTooltip>
          </AkStack>
        {{/if}}

        <AkStack @width='full' @direction='column'>
          <img
            local-class='app-info-logo'
            src={{@skInventoryApp.appMetadata.iconUrl}}
            alt={{@skInventoryApp.appMetadata.title}}
            data-test-storeknoxInventoryDetails-appLogoImage
            hidden={{this.showFallback}}
            {{on 'error' this.handleImageError}}
          />

          {{#if this.showFallback}}
            <AkStack
              @alignItems='center'
              @justifyContent='center'
              local-class='app-info-logo-placeholder'
            >
              <AkIcon @iconName='hugeicons:image-03' @color='textSecondary' />
            </AkStack>
          {{/if}}

          <AkStack @spacing='0.75' @direction='column' @alignItems='flex-start'>
            <AkButton
              @tag='a'
              @variant='text'
              @color='textPrimary'
              @underline='always'
              href={{@skInventoryApp.appMetadata.url}}
              target='_blank'
              rel='noopener noreferrer'
              class='mt-1'
              {{style justifyContent='flex-start'}}
            >
              <AkTypography
                @variant='h5'
                @fontWeight='bold'
                data-test-storeknoxInventoryDetails-headerAppTitle
              >
                {{@skInventoryApp.appMetadata.title}}
              </AkTypography>
            </AkButton>

            <AkTypography
              @color='textPrimary'
              data-test-storeknoxInventoryDetails-headerAppPackageName
            >
              {{@skInventoryApp.appMetadata.packageName}}
            </AkTypography>

            <AkTypography
              @color='textSecondary'
              data-test-storeknoxInventoryDetails-headerAppDeveloperName
            >
              {{@skInventoryApp.appMetadata.devName}}
            </AkTypography>
          </AkStack>

          <AkStack @spacing='1' class='mt-1'>
            <Storeknox::ProductIcon
              @product={{if this.skInventoryApp.isAndroid 'android' 'ios'}}
            >
              <AppPlatformIcon
                @platform={{if this.skInventoryApp.isAndroid 'android' 'apple'}}
                data-test-storeknoxInventoryDetails-headerPlatformIcon
              />
            </Storeknox::ProductIcon>

            <Storeknox::ProductIcon
              @product={{if @skInventoryApp.isAndroid 'android' 'ios'}}
            >
              {{#if this.skInventoryApp.isAndroid}}
                <AkSvg::PlaystoreLogo
                  {{style width='16px'}}
                  data-test-storeknoxInventoryDetails-playStoreLogo
                />

              {{else}}
                <AkSvg::AppstoreLogo
                  {{style width='16px'}}
                  data-test-storeknoxInventoryDetails-appStoreLogo
                />
              {{/if}}
            </Storeknox::ProductIcon>
          </AkStack>
        </AkStack>

        {{#if (has-block 'actionItems')}}
          {{yield to='actionItems'}}

        {{else}}
          <AkStack
            @alignItems='center'
            @justifyContent='flex-end'
            @spacing='1'
            {{style minWidth=(if this.isFakeAppListRoute '550px' '300px')}}
          >
            {{#if this.activeRouteTagProps}}
              {{#unless this.activeRouteTagProps.hideTag}}
                <Storeknox::InventoryDetails::AppDetails::ActionsList::Button
                  @skInventoryApp={{this.skInventoryApp}}
                  @disabled={{true}}
                  @needsAction={{this.activeRouteTagProps.needsAction}}
                  @featureInProgress={{this.activeRouteTagProps.featureInProgress}}
                  @label={{this.activeRouteTagProps.label}}
                  @hideRightIcon={{true}}
                  {{style height='32px' border='none'}}
                  data-test-storeknoxInventoryDetails-pageInfoTag
                />
              {{/unless}}

            {{else if (not this.skInventoryApp.isArchived)}}
              <AkStack
                @alignItems='center'
                @spacing='1'
                data-test-storeknoxInventoryDetails-monitoringStatusToggleContainer
              >
                {{#if this.toggleSkInventoryAppMonitoring.isRunning}}
                  <AkLoader @size={{14}} />
                {{/if}}

                <AkTooltip
                  @disabled={{this.canToggleMonitoring}}
                  @placement='top'
                  @arrow={{true}}
                  data-test-storeknoxInventoryDetails-monitoringStatusToggleTooltip
                >
                  <:tooltipContent>
                    <div local-class='tooltip-content-container'>
                      <AkTypography
                        @tag='span'
                        @color='inherit'
                        data-test-storeknoxInventoryDetails-monitoringStatusToggleTooltipText
                      >
                        {{this.disableMonitoringTooltipText}}
                      </AkTypography>
                    </div>
                  </:tooltipContent>

                  <:default>
                    <AkToggle
                      @size='small'
                      @checked={{this.monitoringChecked}}
                      @onChange={{this.onMonitoringActionToggle}}
                      @disabled={{this.disableMonitoringToggle}}
                      {{style margin='0em'}}
                      data-test-storeknoxInventoryDetails-monitoringStatusToggle
                    />
                  </:default>
                </AkTooltip>
              </AkStack>

              <AkTypography
                @color='neutral'
                data-test-storeknoxInventoryDetails-monitoringStatusInfoText
              >
                {{t 'storeknox.monitoringAction'}}
              </AkTypography>
            {{/if}}

            {{#if this.showArchiveButton}}
              {{#if this.showArchivedAppsInfoTagDivider}}
                <AkDivider
                  @direction='vertical'
                  @color='dark'
                  @height='32px'
                  class='mx-1'
                />
              {{/if}}

              <AkTooltip
                @disabled={{not this.disableArchiving}}
                @arrow={{true}}
                @placement='left'
                @title={{t 'storeknox.actionDisabledDueToLockPeriod'}}
                data-test-storeknoxInventoryDetails-archiveButtonTooltip
              >
                <AkIconButton
                  @variant='outlined'
                  disabled={{this.disableArchiving}}
                  {{on 'click' this.openArchiveAppDrawer}}
                  data-test-storeknoxInventoryDetails-archiveButton
                >
                  <AkIcon
                    @color='textPrimary'
                    @iconName={{if
                      this.skInventoryApp.isArchived
                      'unarchive'
                      'archive'
                    }}
                    data-test-storeknoxInventoryDetails-archiveButtonIcon
                  />
                </AkIconButton>
              </AkTooltip>
            {{/if}}
          </AkStack>
        {{/if}}
      </Storeknox::InventoryDetails::SectionInfo>
    </AkStack>
  </AkStack>
</div>

{{! Archive App Drawer }}
<Storeknox::InventoryDetails::Header::ArchiveDrawer
  @open={{this.isArchiveAppDrawerOpen}}
  @onClose={{this.closeArchiveAppDrawer}}
  @skInventoryApp={{this.skInventoryApp}}
/>

{{! Toggle Monitoring Drawer }}
{{#if this.openToggleMonitoringDrawer}}
  <Storeknox::InventoryDetails::Header::ToggleMonitoringDrawer
    @open={{true}}
    @onClose={{this.closeToggleMonitoringDrawer}}
    @confirmMonitoringToggle={{this.confirmMonitoringToggle}}
    @cancelMonitoringToggle={{this.cancelMonitoringToggle}}
    @skInventoryApp={{this.skInventoryApp}}
  />
{{/if}}