<div
  local-class='
    app-inventory-header-root
    {{if @skInventoryApp.isArchived "archived"}}
  '
  class='w-full mb-3 pt-2'
>
  <AkBreadcrumbs::AutoTrail
    class='pb-3'
    data-test-storeknoxInventoryDetails-breadcrumbContainer
  />

  <AkStack @direction='column' @spacing='2' @width='full'>
    <AkStack @direction='column' @width='full'>
      {{#if this.skInventoryApp.appIsNotAvailableOnAppknox}}
        <Storeknox::InventoryDetails::SectionHeader {{style minHeight='44px'}}>
          <:icon>
            <AkIcon
              @iconName='info'
              @size='small'
              data-test-storeknoxInventoryDetails-appNotPartOfAppknoxIcon
            />
          </:icon>

          <:default>
            <AkTypography
              @fontWeight='medium'
              data-test-storeknoxInventoryDetails-appNotPartOfAppknoxIconText
            >
              {{t 'storeknox.appNotPartOfAppknox'}}
            </AkTypography>
          </:default>
        </Storeknox::InventoryDetails::SectionHeader>
      {{/if}}

      <Storeknox::InventoryDetails::SectionInfo
        @width='full'
        @alignItems='flex-end'
        local-class='app-inventory-header-info'
      >
        {{#if this.appHasLicense}}
          <AkStack local-class='license-icon-container' class='p-1'>
            <AkTooltip
              @arrow={{true}}
              @title={{t 'storeknox.licenseAllocated'}}
            >
              <AkIcon
                @iconName='license-outline-rounded'
                @size='small'
                @color='success'
                {{style fontSize='2em !important'}}
                data-test-storeknoxInventoryDetails-licenseAllocatedIcon
              />
            </AkTooltip>
          </AkStack>
        {{/if}}

        <AkStack @width='full' @direction='column'>
          <img
            local-class='app-info-logo'
            src={{@skInventoryApp.appMetadata.iconUrl}}
            alt={{@skInventoryApp.appMetadata.title}}
            data-test-storeknoxInventoryDetails-appLogoImage
          />

          <AkTypography
            @variant='h5'
            @fontWeight='bold'
            @gutterBottom={{true}}
            class='mt-1'
            data-test-storeknoxInventoryDetails-headerAppTitle
          >
            {{@skInventoryApp.appMetadata.title}}
          </AkTypography>

          <AkTypography
            @color='neutral'
            @gutterBottom={{true}}
            data-test-storeknoxInventoryDetails-headerAppPackageName
          >
            {{@skInventoryApp.appMetadata.packageName}}
          </AkTypography>

          <AkStack @spacing='1'>
            <Storeknox::ProductIcon @notClickable={{true}} @product='android'>
              <AppPlatformIcon
                @platform={{if this.skInventoryApp.isAndroid 'android' 'apple'}}
                data-test-storeknoxInventoryDetails-headerPlatformIcon
              />
            </Storeknox::ProductIcon>

            <Storeknox::ProductIcon
              @product={{if this.skInventoryApp.isAndroid 'android' 'ios'}}
              @storeLink={{@skInventoryApp.appMetadata.url}}
            >
              {{#if this.skInventoryApp.isAndroid}}
                <AkSvg::PlaystoreLogo
                  {{style width='16px'}}
                  data-test-storeknoxInventoryDetails-playStoreLogo
                />

              {{else}}
                <AkSvg::AppstoreLogo
                  {{style width='16px'}}
                  data-test-storeknoxInventoryDetails-appStoreLogo
                />
              {{/if}}
            </Storeknox::ProductIcon>

            {{! TODO: Uncomment when feature is fully ready }}
            {{!-- {{#unless this.skInventoryApp.appIsNotAvailableOnAppknox}}
              <Storeknox::ProductIcon @product='vapt'>
                <AkSvg::AoxIcon data-test-storeknoxInventoryDetails-vaptLogo />
              </Storeknox::ProductIcon>
            {{/unless}} --}}

            {{! <Storeknox::ProductIcon @product='sm'>
              <AkSvg::SoxIcon />
            </Storeknox::ProductIcon> }}
          </AkStack>
        </AkStack>

        <AkStack
          @alignItems='center'
          @justifyContent='flex-end'
          @spacing='1'
          {{style minWidth='300px'}}
        >
          {{#if this.activeRouteTagProps}}
            <Storeknox::InventoryDetails::AppDetails::ActionsList::Button
              @skInventoryApp={{this.skInventoryApp}}
              @disabled={{true}}
              @needsAction={{this.activeRouteTagProps.needsAction}}
              @featureInProgress={{this.activeRouteTagProps.featureInProgress}}
              @label={{this.activeRouteTagProps.label}}
              @hideRightIcon={{true}}
              {{style height='32px' border='none'}}
              data-test-storeknoxInventoryDetails-pageInfoTag
            />

          {{else if (not this.skInventoryApp.isArchived)}}
            <AkStack
              @alignItems='center'
              @spacing='1'
              data-test-storeknoxInventoryDetails-monitoringStatusToggleContainer
            >
              {{#if this.toggleSkInventoryAppMonitoring.isRunning}}
                <AkLoader @size={{14}} />
              {{/if}}

              <AkTooltip
                @disabled={{this.canToggleMonitoring}}
                @placement='top'
                @arrow={{true}}
                data-test-storeknoxInventoryDetails-monitoringStatusToggleTooltip
              >
                <:tooltipContent>
                  <div local-class='tooltip-content-container'>
                    <AkTypography
                      @tag='span'
                      @color='inherit'
                      data-test-storeknoxInventoryDetails-monitoringStatusToggleTooltipText
                    >
                      {{this.disableMonitoringTooltipText}}
                    </AkTypography>
                  </div>
                </:tooltipContent>

                <:default>
                  <AkToggle
                    @size='small'
                    @checked={{this.monitoringChecked}}
                    @onChange={{this.onMonitoringActionToggle}}
                    @disabled={{this.disableMonitoringToggle}}
                    {{style margin='0em'}}
                    data-test-storeknoxInventoryDetails-monitoringStatusToggle
                  />
                </:default>
              </AkTooltip>
            </AkStack>

            <AkTypography
              @color='neutral'
              data-test-storeknoxInventoryDetails-monitoringStatusInfoText
            >
              {{t 'storeknox.monitoringAction'}}
            </AkTypography>
          {{/if}}

          {{#if this.showArchiveButton}}
            {{#if this.showArchivedAppsInfoTagDivider}}
              <AkDivider
                @direction='vertical'
                @color='dark'
                @height='32px'
                class='mx-1'
              />
            {{/if}}

            <AkTooltip
              @disabled={{not this.disableArchiving}}
              @arrow={{true}}
              @placement='left'
              @title={{t 'storeknox.actionDisabledDueToLockPeriod'}}
              data-test-storeknoxInventoryDetails-archiveButtonTooltip
            >
              <AkIconButton
                @variant='outlined'
                disabled={{this.disableArchiving}}
                {{on 'click' this.openArchiveAppDrawer}}
                data-test-storeknoxInventoryDetails-archiveButton
              >
                <AkIcon
                  @color='textPrimary'
                  @iconName={{if
                    this.skInventoryApp.isArchived
                    'unarchive'
                    'archive'
                  }}
                  data-test-storeknoxInventoryDetails-archiveButtonIcon
                />
              </AkIconButton>
            </AkTooltip>
          {{/if}}
        </AkStack>
      </Storeknox::InventoryDetails::SectionInfo>
    </AkStack>
  </AkStack>
</div>

{{! Archive App Drawer }}
<Storeknox::InventoryDetails::Header::ArchiveDrawer
  @open={{this.isArchiveAppDrawerOpen}}
  @onClose={{this.closeArchiveAppDrawer}}
  @skInventoryApp={{this.skInventoryApp}}
/>

{{! Toggle Monitoring Drawer }}
{{#if this.openToggleMonitoringDrawer}}
  <Storeknox::InventoryDetails::Header::ToggleMonitoringDrawer
    @open={{true}}
    @onClose={{this.closeToggleMonitoringDrawer}}
    @confirmMonitoringToggle={{this.confirmMonitoringToggle}}
    @cancelMonitoringToggle={{this.cancelMonitoringToggle}}
    @skInventoryApp={{this.skInventoryApp}}
  />
{{/if}}