<div
  local-class='
    app-inventory-header-root
    {{if @skInventoryApp.isArchived "archived"}}
    {{unless @skInventoryApp.monitoringEnabled "monitoring-disabled"}}
  '
  class='w-full mb-3 pt-2'
>
  <AkBreadcrumbs::AutoTrail
    class='pb-3'
    data-test-storeknoxInventoryDetails-breadcrumbContainer
  />

  <AkStack @direction='column' @spacing='2' @width='full'>
    <AkStack @direction='column' @width='full'>
      {{#if this.showUploadToAppknoxBanner}}
        <Storeknox::InventoryDetails::SectionHeader {{style minHeight='44px'}}>
          <:icon>
            <AkIcon
              @iconName='info'
              @size='small'
              data-test-storeknoxInventoryDetails-appNotPartOfAppknoxIcon
            />
          </:icon>

          <:default>
            <AkTypography
              @fontWeight='medium'
              data-test-storeknoxInventoryDetails-appNotPartOfAppknoxIconText
            >
              {{t 'storeknox.appNotPartOfAppknox'}}
            </AkTypography>
          </:default>
        </Storeknox::InventoryDetails::SectionHeader>
      {{/if}}

      <Storeknox::InventoryDetails::SectionInfo
        @width='full'
        @alignItems='flex-end'
        local-class='app-inventory-header-info'
      >
        {{#if this.showLicenseAllocatedIcon}}
          <AkStack local-class='license-icon-container' class='p-1'>
            <AkTooltip
              @arrow={{true}}
              @title={{t 'storeknox.licenseAllocated'}}
            >
              <AkIcon
                @iconName='license-outline-rounded'
                @size='small'
                @color='success'
                {{style fontSize='2em !important'}}
                data-test-storeknoxInventoryDetails-licenseAllocatedIcon
              />
            </AkTooltip>
          </AkStack>
        {{/if}}

        <AkStack @width='full' @direction='column'>
          {{#if @skInventoryApp.appMetadata.iconUrl}}
            <img
              local-class='app-info-logo'
              src={{@skInventoryApp.appMetadata.iconUrl}}
              alt={{@skInventoryApp.appMetadata.title}}
              data-test-storeknoxInventoryDetails-appLogoImage
              hidden={{this.failedToLoadAppIcon}}
              {{on 'error' this.handleAppLogoImageError}}
            />
          {{/if}}

          {{#if this.displayFallbackAppIcon}}
            <AkStack
              @alignItems='center'
              @justifyContent='center'
              local-class='app-info-logo-placeholder'
            >
              <AkIcon @iconName='hugeicons:image-03' @color='textSecondary' />
            </AkStack>
          {{/if}}

          <AkStack @spacing='0.75' @direction='column' @alignItems='flex-start'>
            <AkButton
              @tag='a'
              @variant='text'
              @color='textPrimary'
              @underline='always'
              href={{@skInventoryApp.appMetadata.url}}
              target='_blank'
              rel='noopener noreferrer'
              class='mt-1'
              {{style justifyContent='flex-start'}}
            >
              <AkTypography
                @variant='h5'
                @fontWeight='bold'
                data-test-storeknoxInventoryDetails-headerAppTitle
              >
                {{@skInventoryApp.appMetadata.title}}
              </AkTypography>
            </AkButton>

            <AkTypography
              @color='textPrimary'
              data-test-storeknoxInventoryDetails-headerAppPackageName
            >
              {{@skInventoryApp.appMetadata.packageName}}
            </AkTypography>

            <AkTypography
              @color='textSecondary'
              data-test-storeknoxInventoryDetails-headerAppDeveloperName
            >
              {{@skInventoryApp.appMetadata.devName}}
            </AkTypography>
          </AkStack>

          <AkStack @spacing='1' class='mt-1'>
            <Storeknox::ProductIcon
              @product={{if this.skInventoryApp.isAndroid 'android' 'ios'}}
            >
              <AppPlatformIcon
                @platform={{if this.skInventoryApp.isAndroid 'android' 'apple'}}
                data-test-storeknoxInventoryDetails-headerPlatformIcon
              />
            </Storeknox::ProductIcon>

            <Storeknox::ProductIcon
              @product={{if @skInventoryApp.isAndroid 'android' 'ios'}}
            >
              {{#if this.skInventoryApp.isAndroid}}
                <AkSvg::PlaystoreLogo
                  {{style width='16px'}}
                  data-test-storeknoxInventoryDetails-playStoreLogo
                />

              {{else}}
                <AkSvg::AppstoreLogo
                  {{style width='16px'}}
                  data-test-storeknoxInventoryDetails-appStoreLogo
                />
              {{/if}}
            </Storeknox::ProductIcon>
          </AkStack>
        </AkStack>

        {{#if (has-block 'actionItems')}}
          {{yield to='actionItems'}}

        {{else}}
          <Storeknox::InventoryDetails::Header::Actions
            @skInventoryApp={{this.skInventoryApp}}
            @toggleMonitoringIsRunning={{this.toggleSkInventoryAppMonitoring.isRunning}}
            @monitoringChecked={{this.monitoringChecked}}
            @onMonitoringActionToggle={{this.onMonitoringActionToggle}}
            @openArchiveAppDrawer={{this.openArchiveAppDrawer}}
          />
        {{/if}}
      </Storeknox::InventoryDetails::SectionInfo>
    </AkStack>
  </AkStack>
</div>

{{! Archive App Drawer }}
<Storeknox::InventoryDetails::Header::ArchiveDrawer
  @open={{this.isArchiveAppDrawerOpen}}
  @onClose={{this.closeArchiveAppDrawer}}
  @skInventoryApp={{this.skInventoryApp}}
/>

{{! Toggle Monitoring Drawer }}
{{#if this.openToggleMonitoringDrawer}}
  <Storeknox::InventoryDetails::Header::ToggleMonitoringDrawer
    @open={{true}}
    @onClose={{this.closeToggleMonitoringDrawer}}
    @confirmMonitoringToggle={{this.confirmMonitoringToggle}}
    @cancelMonitoringToggle={{this.cancelMonitoringToggle}}
    @skInventoryApp={{this.skInventoryApp}}
  />
{{/if}}