<div local-class='header-container'>
  {{#if @showAddOrgNameBtn}}

    <AkButton
      @variant='outlined'
      data-test-org-name-add-btn
      local-class='
        add-button {{if this.isAddBtnDisabled "add-button-disabled"}}'
      {{on 'click' (if this.isAddBtnDisabled this.voidFunction @onAddBtnClick)}}
    >
      <:leftIcon>
        {{fa-icon 'plus'}}
      </:leftIcon>

      <:default>
        Add Organization Name

        {{#if this.isAddBtnDisabled}}
          <AttachPopover
            @interactive={{true}}
            @arrow={{true}}
            @placement='bottom-end'
            @isShow={{false}}
            @lazyRender={{true}}
            @animation='shift'
            @class='not-permitted-popover'
          >
            <span data-test-org-name-add-not-permitted-msg>
              {{t
                'organizationNameAddNotPermitted'
                type=this.userType
                htmlSafe=true
              }}
            </span>
          </AttachPopover>
        {{/if}}
      </:default>
    </AkButton>
  {{else}}
    <div local-class='header-group'>
      <span local-class='label'>Organization Name</span>
      <span data-test-org-name local-class='value'>{{@organization.name}}</span>
    </div>
  {{/if}}

  {{#if @showActionBtn}}
    <AkButton
      @variant='outlined'
      data-test-org-name-action-btn
      {{on 'click' @actionBtnClick}}
    >
      <:leftIcon>
        {{#if @actionBtnIconName}} {{fa-icon @actionBtnIconName}} {{/if}}
      </:leftIcon>

      <:default>
        {{@actionBtnLabel}}
      </:default>
    </AkButton>
  {{/if}}
</div>