<div local-class='header-container'>
  {{#if this.orgNameDoesNotExist}}
    <AkTooltip
      @arrow={{true}}
      @color='light'
      @disabled={{not this.isAddBtnDisabled}}
      @placement='bottom-start'
    >
      <:default>
        <AkButton
          data-test-org-name-add-btn
          @variant='outlined'
          @disabled={{this.isAddBtnDisabled}}
          local-class='add-button'
          {{on 'click' this.handleAddOrgNameClick}}
        >
          <:leftIcon>
            <AkIcon @iconName='add' />
          </:leftIcon>

          <:default>
            <span local-class='add-button-text'>{{t 'addOrgName'}}</span>
          </:default>
        </AkButton>
      </:default>

      <:tooltipContent>
        <div local-class='tooltip-content-container'>
          <AkTypography @tag='span' data-test-org-name-add-not-permitted-msg>
            {{t
              'organizationNameAddNotPermitted'
              type=this.userType
              htmlSafe=true
            }}
          </AkTypography>
        </div>
      </:tooltipContent>
    </AkTooltip>
  {{else}}
    <AkStack @direction='column' @spacing='0.5'>
      <AkTypography data-test-org-name-label @tag='span' @color='textSecondary'>
        {{t 'organizationName'}}
      </AkTypography>

      <AkTypography data-test-org-name @variant='subtitle1'>
        {{@organization.name}}
      </AkTypography>
    </AkStack>
  {{/if}}

  {{#if (has-block 'actionBtn')}}
    {{yield (hash openEditOrgNameModal=this.handleEditOrgName) to='actionBtn'}}
  {{/if}}
</div>

{{#if this.showAddEditModal}}
  <OrganizationNameHeader::AddEditModal
    @organization={{@organization}}
    @handleCancel={{this.handleCancel}}
    @editModal={{this.editModal}}
  />
{{/if}}