<div local-class="client-uploads-chart">
  <div local-class="title">{{@title}}</div>
  <div local-class="filter">
    <div local-class="date-range-picker">
      <DatePicker @range={{true}} @value={{this.dateRange}} @maxDate={{this.maxDate}} @action={{this.updateDateRange}}
        as |selectedDates|>
        <div local-class="date-range">
          <span local-class="date">
            {{#if selectedDates.firstObject}}
              {{day-js date=selectedDates.firstObject format="DD/MM/YYYY"}}
            {{else}}
              --
            {{/if}}

          </span>
          <span>
            -
          </span>
          <span local-class="date">
            {{#if selectedDates.lastObject}}
              {{day-js date=selectedDates.lastObject format="DD/MM/YYYY"}}
            {{else}}
              --
            {{/if}}
          </span>
        </div>
      </DatePicker>
    </div>
    <ul local-class="duration-options">
      {{#each this.timelinePlaceholders as |option|}}
        <li local-class=""><a local-class="option {{if (eq this.currentTimeline.key option.key) 'active'}}" href="#"
            {{on "click" (fn this.onChangeTimeline option)}}>{{option.key}}</a></li>
      {{/each}}
    </ul>
  </div>
  <div {{did-insert (perform this.loadChart)}}></div>
  {{#if this.loadChart.isRunning}}
    <ThreeBounceSpinner></ThreeBounceSpinner>
  {{/if}}
</div>