<div local-class='credit-tranfer' data-test-credit-transfer-input>
  <div local-class='transferable-credits' data-test-transferable-credits>
    {{@partnerPlan.scansLeft}}
    {{t 'pluralScans' itemCount=@partnerPlan.scansLeft}}
  </div>
  <AkIcon @iconName='south' local-class='tranfer-btn' />
  <div local-class='client'>
    <div
      local-class='title {{unless @clientName "empty-title"}}'
      data-test-client-title
    >
      {{#if @clientName}}
        {{@clientName}}
      {{else}}
        {{t 'noName'}}
      {{/if}}
    </div>
    <div local-class='tranfer-count'>
      <Input
        local-class='input-count'
        @type='number'
        min={{1}}
        max={{@partnerPlan.scansLeft}}
        @value={{@transferCount}}
        autofocus='autofocus'
        data-test-data-input-count
        aria-label='Credit tranfer input'
      />
      <span local-class='credit-type' data-test-credit-type>
        {{t 'pluralScans' itemCount=@transferCount}}
      </span>
    </div>
  </div>
  {{#if @toggleMode}}
    <button
      type='button'
      local-class='tranfer-btn'
      class='is-primary button'
      disabled={{not this.isValidInput}}
      data-test-transfer-btn
      {{on 'click' @toggleMode}}
    >
      {{t 'transferCredits'}}
    </button>
  {{/if}}
</div>