<aside
  data-test-side-nav
  local-class='side-menu-root {{if @isCollapsed "collapsed" "expanded"}}'
  ...attributes
>
  {{yield (hash classes=this.classes)}}

  <div local-class='{{if @isCollapsed "favicon-logo" "app-logo"}}'>
    <LinkTo @route='authenticated.index'>
      <img
        data-test-img-logo
        src={{if @isCollapsed this.faviconImage.src this.appLogoImage.src}}
        alt={{this.whitelabel.name}}
      />
    </LinkTo>
  </div>

  {{#if (or this.isSecurityEnabled this.showStoreknox)}}
    <SideNav::ProductSwitcher
      @isCollapsed={{@isCollapsed}}
      @classes={{this.classes}}
      @productSwitcherFilterKey={{@productSwitcherFilterKey}}
    />
  {{/if}}

  <div local-class='scroll-container'>
    <AkList
      local-class='side-menu-list {{if this.showStoreknox "" "no-switcher"}}'
      as |akl|
    >
      {{#each @menuItems as |it|}}
        <akl.listItem
          aria-label='{{it.label}} side menu item'
          @noGutters={{true}}
          @link={{true}}
          @route={{it.route}}
          @query={{it.query}}
          @currentWhen={{it.currentWhen}}
          @activeLinkClass={{this.classes.menuItemLinkActive}}
          data-test-side-menu-item='{{it.label}}'
          @linkClass={{this.classes.menuItemLink}}
          as |li|
        >
          <AkTooltip
            @disabled={{this.isSidebarExpanded}}
            @color='dark'
            @placement='right'
            @arrow={{true}}
            @title={{it.label}}
            class={{this.classes.menuItemTooltip}}
          >
            <li.leftIcon @rightGutter={{this.isSidebarExpanded}}>
              {{#if it.icon}}
                <AkIcon
                  local-class='menu-item-icon'
                  data-test-side-menu-item-icon
                  @iconName={{it.icon}}
                />
              {{else if it.customIconComponent}}
                {{#let (component it.customIconComponent) as |CustomIcon|}}
                  <CustomIcon local-class='menu-item-icon-svg' />
                {{/let}}
              {{/if}}
            </li.leftIcon>

            {{#if this.isSidebarExpanded}}
              <li.text
                data-test-side-menu-item-text
                @primaryText={{it.label}}
                @primaryTextClass={{this.classes.menuItemText}}
              />
            {{/if}}

            {{#if (and it.hasBadge this.isSidebarExpanded)}}
              <AkStack @alignItems='center' @justifyContent='center'>
                <AkChip
                  data-test-side-menu-item-badge
                  local-class='menu-item-badge'
                  @variant='filled'
                  @size='small'
                  @label={{it.badgeLabel}}
                />
              </AkStack>
            {{/if}}
          </AkTooltip>
        </akl.listItem>
      {{/each}}
    </AkList>
  </div>

  <AkList data-test-side-lower-menu local-class='lower-menu' as |akl|>
    {{#each this.lowerMenuItems as |lmi|}}
      {{#if lmi.divider}}
        <AkDivider
          data-test-side-lower-menu-divider
          local-class='divider'
          @color='dark'
          @tag='li'
        />
      {{/if}}

      <akl.listItem
        @noGutters={{true}}
        id={{if lmi.enablePendo @pendoContainerId}}
        class={{this.classes.menuItemLink}}
        local-class='{{lmi.listItemClass}}'
        {{on 'click' lmi.onClick}}
        data-test-side-lower-menu-item='{{lmi.title}}'
        as |li|
      >
        <AkTooltip
          @color='dark'
          @placement='right'
          @arrow={{true}}
          @title={{lmi.title}}
          @disabled={{this.isSidebarExpanded}}
          class={{this.classes.menuItemTooltip}}
        >
          <li.leftIcon @rightGutter={{this.isSidebarExpanded}}>
            <AkIcon
              data-test-side-lower-menu-item-icon
              @iconName={{lmi.icon}}
              local-class='menu-item-icon {{lmi.iconClass}}'
            />
          </li.leftIcon>

          {{#if this.isSidebarExpanded}}
            <li.text
              data-test-side-lower-menu-item-text
              @primaryText={{lmi.title}}
              @primaryTextClass={{lmi.textClass}}
            />
          {{/if}}
        </AkTooltip>
      </akl.listItem>
    {{/each}}
  </AkList>
</aside>