<AuthAssets />

<div local-class='container flex-center'>
  <form local-class='form' {{on 'submit' (perform this.recover)}}>
    <h4 local-class='text-center' data-test-reset-password-header-text>
      {{t 'resetPassword'}}
    </h4>

    {{#if this.mailSent}}
      <div data-test-mail-sent-text>
        <div local-class='reset-success-text'>
          Check your email for a link to reset your password. If it doesn't
          appear within a few minutes, check your spam folder.
        </div>
        <div local-class='reset-success-subtext'>
          If you are not receiving new emails after a few attempts, please retry
          after 24 hours or contact support.
        </div>
      </div>
    {{else}}
      <div
        local-class='input-wrapper {{if
          this.changeset.error.username
          "has-error"
        }}'
      >
        {{#if this.changeset.error.username}}
          <span data-test-username-error local-class='error-msg'>
            {{this.changeset.error.username.validation}}
          </span>
        {{/if}}

        <Input
          id='recover-username-email'
          local-class='input-field'
          placeholder='{{t "identification"}}'
          @value={{this.changeset.username}}
          autofocus='autofocus'
          data-test-username-email-input
        />
      </div>

      <div local-class='flex-center'>
        <AkButton
          @loading={{this.recover.isRunning}}
          @type='submit'
          local-class='send-reset-mail-btn'
          data-test-send-reset-mail-btn
        >
          {{t 'sendPasswordResetMail'}}
        </AkButton>
      </div>

      <div local-class='flex-center'>
        <LinkTo
          @route='login'
          local-class='login-link'
          data-test-reset-password-login-link
        >
          {{t 'login'}}?
        </LinkTo>
      </div>
    {{/if}}
  </form>
</div>