<Storeknox::ThirdPartyScans::Header
  @selectedStore={{this.skThirdPartyApps.storeFilter}}
  @selectedRegion={{this.skThirdPartyApps.region}}
  @selectedRiskStatus={{this.skThirdPartyApps.riskStatusFilter}}
  @filterQuery={{this.skThirdPartyApps.filterQuery}}
  @regionsOpted={{@config.regionsOpted}}
/>

<div local-class='table-container'>
  <Storeknox::ThirdPartyScans::Table />
</div>
