<div local-class="partner-dashboard" class="padding-h-1 padding-v-1" {{did-insert this.initializeComp}}>
  <div local-class="dashboard-header">
    <div local-class="overall-uploads">
      <Charts::ClientUploads @title="App uploads overview"></Charts::ClientUploads>
      <button local-class="export-btn" type="button" {{on "click" (perform this.exportOverallPlatformUsage)}}>Export
        Metrics</button>
    </div>
    <div></div>
    <div local-class="credits-left">
      <div local-class="header">Available Scan Credits</div>
      <div local-class="credits-status">
        {{#if this.creditsStats.isPerScan}}
          <div local-class="sharable-credits">
            <div>{{this.creditsStats.creditsLeft}}</div>
            <div>{{t 'clients.scans'}}</div>
          </div>
        {{else}}
          <div local-class="non-sharable-credits">
            Scan credit sharing is currently not supported in your payment plan
            (per-app). Please contact support for transferring credits to client organizations.</div>
        {{/if}}
      </div>
    </div>
  </div>

  <div local-class="client-groups">
    <div local-class="group-header">
      <div local-class="tabs">
        {{#each this.clientGroups as |clientGroup|}}
          <a href="#" local-class="client-group {{if clientGroup.active 'active'}}"
            {{on "click" (fn this.onSelectClientGroup clientGroup)}}>
            {{clientGroup.label}}
          </a>
        {{/each}}
      </div>
      <div local-class="invite-btn">
        <button type="button" class="is-primary" {{on "click" (fn this.openInviteModal)}}>
          {{t 'clients.invite'}}
        </button>
      </div>
    </div>

    <div local-class="group-body">
      {{#each this.clientGroups as |clientGroup|}}
        {{#if clientGroup.active}}
          <Partner::ClientList @title={{clientGroup.label}} @model={{clientGroup.model}} @type={{clientGroup.key}}
            @partnerCreditStat={{this.creditsStats}}>
          </Partner::ClientList>
        {{/if}}
      {{/each}}
    </div>
  </div>

</div>

{{#if this.isShowInviteClientModal}}
  <AkModal @onClose={{this.onCloseModal}} @showHeader={{true}} @headerTitle={{t 'clients.invite'}}>
    <Modals::InviteClient @onInvited={{this.onClientInvited}}></Modals::InviteClient>
  </AkModal>
{{/if}}