<div local-class="partner-dashboard" class="padding-h-1 padding-t-1">
  <div local-class="client-groups">
    <div local-class="group-header">
      <div local-class="tabs">
        {{#each this.clientGroups as |clientGroup|}}
          <LinkTo @route={{clientGroup.link}} local-class="client-group {{if clientGroup.active 'active'}}">
            {{clientGroup.label}}
          </LinkTo>
        {{/each}}
      </div>
      <button class="is-primary margin-right" type="button"
        {{on "click" (fn this.toggleInviteModal)}}>{{t 'invite'}}</button>
    </div>
  </div>
</div>


{{#if this.showInviteModal}}
  <AkModal @onClose={{this.toggleInviteModal}} @showHeader={{true}} @headerTitle={{t 'invite'}}>
    <Modals::UserInvitation @onSent={{this.toggleInviteModal}}>
    </Modals::UserInvitation>
  </AkModal>
{{/if}}