<div local-class="partner-dashboard" {{did-insert this.initalize}}>
  <header local-class="header">
    <div local-class="header-left">
      <div local-class="header-title">Partner Dashboard</div>
      <div local-class="header-name">{{this.organization.selected.name}}</div>
    </div>
    <div local-class="header-right">
      <nav local-class="nav">
        {{#each this.tabs as |tab|}}
          {{#if tab.enabled}}
            <LinkTo
              @route={{tab.link}}
              local-class="nav-link {{if tab.active "active"}}"
              {{on "click" (fn this.switchTab tab)}}
            >
              {{tab.label}}
            </LinkTo>
          {{/if}}
        {{/each}}
      </nav>
    </div>
  </header>
</div>