{{! template-lint-disable no-partial }}
{{#if this.partner.access.list_projects}}
  <div local-class='client-project-list' data-test-project-list>
    <div local-class='header'>
      <h3 local-class='title' data-test-title>{{t 'projects'}}</h3>
      <div
        class='badge-square is-default margin-l-1'
        data-test-total-projects-count
      >{{this.totalCount}}</div>
    </div>

    {{#if this.objects}}
      <div>
        <div local-class='table' data-test-table>
          <div
            local-class='table-header {{if
              this.partner.access.list_files
              'add-column'
            }}'
            data-test-table-header
          >
            <div class='bold' data-test-table-header-platform>{{t
                'platform'
              }}</div>
            <div class='bold' data-test-table-header-package_name>
              {{t 'packageName'}}
            </div>
            <div class='bold' data-test-table-header-created_on>
              {{t 'createdOn'}}
            </div>
          </div>
          <div local-class='table-body' data-test-table-body>
            {{#each this.objects as |project|}}
              <div
                local-class='table-row {{if
                  this.partner.access.list_files
                  'add-column'
                }}'
                data-test-table-row
              >
                <Partner::ClientProjectList::Item
                  @project={{project}}
                  @clientId={{@clientId}}
                  @enableViewFiles={{this.partner.access.list_files}}
                />
              </div>
            {{/each}}
          </div>
        </div>
        {{#if (or this.hasPrevious this.hasNext)}}
          <div local-class='pagination' data-test-pagination>
            {{partial 'paginate'}}
          </div>
        {{/if}}
      </div>
    {{else if this.error}}
      <div local-class='loading-error' data-test-load-error>{{t
          'errorCouldNotLoadData'
        }}</div>
    {{else if this.isLoading}}
      <div local-class='loading'>
        <ThreeBounceSpinner />
      </div>
    {{else}}
      <div local-class='empty-data' data-test-no-upload-msg>
        {{t 'noClientUploads'}}
      </div>
    {{/if}}
  </div>
{{/if}}