<div class="bg-color-container" local-class="container">
  <div class="bg-color-container" local-class="inner-container">
    <AuthAssets></AuthAssets>
    <section local-class="login-container">
      <h1 local-class="login-title">{{t "login"}}</h1>
      <div local-class="action-container">
        {{#if this.isCheckDone}}
          {{#if this.MFAEnabled}}
            <LoginComponent::Mfa
              @forced={{this.MFAForced}}
              @isEmail={{this.MFAIsEmail}}
              @otp={{this.otp}}
              @showSpinner={{this.loginTask.isRunning}}
              @login={{this.login}}
              data-test-login-mfa
            >
            </LoginComponent::Mfa>
          {{else}}

            {{#if this.isSSOEnabled}}
              <LoginComponent::Sso
                @username={{this.username}}
                @password={{this.password}}
                @usernameChanged={{this.usernameChanged}}
                @showLoginSpinner={{this.loginTask.isRunning}}
                @login={{this.login}}
                @showSSOSpinner={{this.ssoLoginTask.isRunning}}
                @ssologin={{this.ssologin}}
                @isEnforced={{this.isSSOEnforced}}
                data-test-login-sso
              >
              </LoginComponent::Sso>
            {{else}}
              <LoginComponent::Login
                @username={{this.username}}
                @password={{this.password}}
                @usernameChanged={{this.usernameChanged}}
                @showSpinner={{this.loginTask.isRunning}}
                @login={{this.login}}
                data-test-login-login
              >
              </LoginComponent::Login>
            {{/if}}

          {{/if}}
        {{else}}
          <LoginComponent::Check
            @showSpinner={{this.verifySSOTask.isRunning}}
            @check={{this.verifySSO}}
            @username={{this.username}}
            data-test-login-check
          >
          </LoginComponent::Check>
        {{/if}}
      </div>
      {{#if this.showRegistrationLink}}
      <div local-class="login-footer">
        <p>{{t "dontHaveAccount"}}</p>
        <a data-test-login-registration-link href="{{this.registrationLink}}" local-class="register-link">
          {{t "register"}}
        </a>
      </div>
      {{/if}}
    </section>
  </div>
</div>
