{{! template-lint-disable no-curly-component-invocation }}
<div local-class='file-cleanup-list-container'>
  <AkPaginationProvider
    @results={{this.organizationCleanupList}}
    @onItemPerPageChange={{this.handleItemPerPageChange}}
    @totalItems={{this.totalOrganizationCleanupCount}}
    @nextAction={{this.handleNextPrevAction}}
    @prevAction={{this.handleNextPrevAction}}
    @itemPerPageOptions={{array 10 25 50}}
    @defaultLimit={{this.limit}}
    @offset={{this.offset}}
    as |pgc|
  >
    <div local-class='list-table'>
      <div local-class='list-head'>
        <span>{{t 'date'}}</span>
        <span>{{t 'type'}}</span>
        <span>{{t 'fileCleanup.status'}}</span>
      </div>

      <div local-class='list-body'>
        {{#if this.fetchOrganizationCleanup.isRunning}}
          <div local-class='loading-rows'>
            <ThreeBounceSpinner />
          </div>
        {{else}}
          {{#each pgc.currentPageResults as |cleanup|}}
            <div local-class='list-body__row'>
              <span local-class='list-body__row-item'>
                {{day-js date=cleanup.createdOn format='DD MMM YYYY'}}
              </span>

              {{#if cleanup.isManual}}
                <span local-class='list-body__row-item'>
                  {{cleanup.typeValue}}

                  <span local-class='username'>
                    ({{cleanup.user.username}})
                  </span>
                </span>
              {{else}}
                <span
                  local-class='list-body__row-item'
                >{{cleanup.typeValue}}</span>
              {{/if}}

              <span local-class='list-body__row-item'>
                {{#each cleanup.projects as |project index|}}
                  <span>
                    {{#if index}},{{/if}}
                    {{project.package_name}}
                    ({{project.cleaned_files_count}}
                    {{t 'files'}})
                  </span>
                {{/each}}
              </span>
            </div>
          {{else}}
            <div local-class='no-result'>{{t 'fileCleanup.noCleanup'}}</div>
          {{/each}}
        {{/if}}
      </div>
    </div>

    <AkPagination
      @disableNext={{pgc.disableNext}}
      @nextAction={{pgc.nextAction}}
      @disablePrev={{pgc.disablePrev}}
      @prevAction={{pgc.prevAction}}
      @endItemIdx={{pgc.endItemIdx}}
      @startItemIdx={{pgc.startItemIdx}}
      @itemPerPageOptions={{pgc.itemPerPageOptions}}
      @onItemPerPageChange={{pgc.onItemPerPageChange}}
      @selectedOption={{pgc.selectedOption}}
      @tableItemLabel={{t 'files'}}
      @perPageTranslation={{t 'recordPerPage'}}
      @totalItems={{pgc.totalItems}}
    />
  </AkPaginationProvider>
</div>