<div local-class="file-cleanup-list-container">
  <div local-class="list-table">
    <div local-class="list-head">
      <div>Date</div>
      <div>Type</div>
      <div>File cleanup status</div>
    </div>
    <div local-class="list-body">
      {{#if this.isLoading}}
        <div local-class="loading-rows">
          <ThreeBounceSpinner></ThreeBounceSpinner>
        </div>
      {{else}}
        {{#each this.fileCleanupList as |cleanup|}}
            <div local-class="list-body__row">
              <div local-class="list-body__row-item">{{moment-format cleanup.createdOn 'DD MMM YYYY'}}</div>
              <div local-class="list-body__row-item">{{cleanup.typeValue}}</div>
              <div local-class="list-body__row-item">
                {{#each cleanup.projects as |project index|}}
                  <span>{{#if index}},{{/if}} {{project.package_name}} ({{project.cleaned_files_count}} Files)</span>
                {{/each}}
              </div>
            </div>
        {{else}}
          <div local-class="no-result">--</div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>