{{! template-lint-disable no-partial }}
<div local-class="file-cleanup-list-container">
  <div local-class="list-table">
    <div local-class="list-head">
      <span>{{t 'date'}}</span>
      <span>{{t 'type'}}</span>
      <span>{{t 'fileCleanup.status'}}</span>
    </div>
    <div local-class="list-body">
      {{#if this.isLoading}}
        <div local-class="loading-rows">
          <ThreeBounceSpinner></ThreeBounceSpinner>
        </div>
      {{else}}
        {{#each this.objects as |cleanup|}}
          <div local-class="list-body__row">
            <span local-class="list-body__row-item">{{moment-format cleanup.createdOn 'DD MMM YYYY'}}</span>
            {{#if cleanup.isManual}}
              <span local-class="list-body__row-item">{{cleanup.typeValue}} <span
                  local-class="username">({{cleanup.user.username}})</span></span>
            {{else}}
              <span local-class="list-body__row-item">{{cleanup.typeValue}}</span>
            {{/if}}
            <span local-class="list-body__row-item">
              {{#each cleanup.projects as |project index|}}
                <span>{{#if index}},{{/if}} {{project.package_name}} ({{project.cleaned_files_count}}
                  {{t 'files'}})</span>
              {{/each}}
            </span>
          </div>
        {{else}}
          <div local-class="no-result">{{t 'fileCleanup.noCleanup'}}</div>
        {{/each}}
      {{/if}}
    </div>
  </div>
  {{partial 'paginate'}}
</div>