<div local-class="client-info-card {{@client.type}}">
  <LinkTo @route="authenticated.client" @model={{@client.id}} local-class="client-info-header">
    <span local-class="thumbnail">
      {{fa-icon "users"}}
    </span>
    <div local-class="title {{if this.isEmptyTitle 'empty-title'}}">
      {{#if this.isEmptyTitle}}
        {{t 'noName'}}
      {{else}}
        {{@client.name}}
      {{/if}}
    </div>
  </LinkTo>
  <div local-class="client-info-body">

    <div local-class="client-activities">
      <div local-class="last-upload activity">
        <span local-class="label">{{t 'lastUpload'}}</span>
        <span>
          {{#if @client.lastUploadedOn}}
            {{dayjs-from-now @client.lastUploadedOn}}
          {{else}}
            {{t 'noUploads'}}
          {{/if}}
        </span>
      </div>

      {{#if this.partner.access.view_plans}}
        <div local-class="payment activity" {{did-insert (perform this.getClientPlan)}}>
          <span local-class="label">{{t 'paymentPlan'}}</span>
          <div local-class="credit-info">
            {{#if this.getClientPlan.isRunning}}
              <div local-class="loading">{{fa-icon "circle-o-notch fa-spin"}}</div>
            {{else}}
              <span local-class="type {{if this.clientPlan.limitedScans 'per-scan' 'per-app'}}">
                {{t (if  this.clientPlan.limitedScans 'perScan' 'perApp')}}
              </span>
              <span local-class="payment-status">
                {{#if this.clientPlan.invalidPayment}}
                  <span local-class="payment-invalid">{{t 'invalidPayment'}}</span>
                {{else}}
                  <span local-class="data">
                    {{#if this.clientPlan.limitedScans}}
                      <strong local-class="value">
                        {{this.clientPlan.scansLeft}}
                        {{t 'pluralScans' itemCount=this.clientPlan.scansLeft}}
                      </strong>
                      {{t 'remaining'}}
                    {{else}}
                      <strong local-class="value">
                        {{this.clientPlan.projectsLimit}}
                        {{t 'pluralApps' itemCount=this.clientPlan.projectsLimit}}
                      </strong>
                      <span local-class="expiry-date">{{t 'expiresOn'}}
                        {{day-js this.clientPlan.expiryDate format="DD MMM YYYY"}}</span>
                    {{/if}}
                  </span>
                {{/if}}
              </span>
            {{/if}}
          </div>

        </div>
      {{/if}}

    </div>
  </div>
</div>