<div local-class="client-info-card {{@client.type}}">
  <LinkTo @route="authenticated.client" @model={{@client.id}} local-class="client-info-header">
    <span local-class="thumbnail">
      {{fa-icon "users"}}
    </span>
    <div local-class="title {{if this.isEmptyTitle 'empty-title'}}">
      {{#if this.isEmptyTitle}}
        {{t 'noName'}}
      {{else}}
        {{@client.name}}
      {{/if}}
    </div>
  </LinkTo>
  <div local-class="client-info-body">

    {{#if this.partner.access.view_count_statistics}}
      <div local-class="client-metrics" {{did-insert (perform this.getClientStatistics)}}>
        <div local-class="users metric">
          <span local-class="metric-value">{{this.clientStatistics.usersCount}}</span>
          <span local-class="metric-label">{{t 'pluralUsers' itemCount=this.clientStatistics.usersCount}}</span>
        </div>
        <div local-class="uploads metric">
          <span local-class="metric-value">{{this.clientStatistics.filesCount}}</span>
          <span local-class="metric-label">{{t 'pluralUploads' itemCount=this.clientStatistics.filesCount}}</span>
        </div>
        <div local-class="projects metric">
          <span local-class="metric-value">{{this.clientStatistics.projectsCount}}</span>
          <span local-class="metric-label">{{t 'pluralProjects' itemCount=this.clientStatistics.projectsCount}}</span>
        </div>
      </div>
    {{/if}}

    <div local-class="client-activities">
      <div local-class="last-upload activity">
        <span local-class="label">{{t 'lastUpload'}}</span>
        <span>
          {{#if @client.lastUploadedOn}}
            {{dayjs-from-now @client.lastUploadedOn}}
          {{else}}
            {{t 'noUploads'}}
          {{/if}}
        </span>
      </div>

      {{#if this.partner.access.view_payment}}
        <div local-class="payment activity" {{did-insert (perform this.getClientPlan)}}>
          <span local-class="label">{{t 'paymentPlan'}}</span>
          <div local-class="credit-info">
            {{#if this.getClientPlan.isRunning}}
              <div local-class="loading">{{fa-icon "circle-o-notch fa-spin"}}</div>
            {{else}}
              <span local-class="type {{if this.clientPlan.isPerScan 'per-scan' 'per-app'}}">
                {{t (if  this.clientPlan.isPerScan 'perScan' 'perApp')}}
              </span>
              <span local-class="payment-status">
                {{#if this.clientPlan.invalidPayment}}
                  <span local-class="payment-invalid">{{t 'invalidPayment'}}</span>
                {{else}}
                  <span local-class="data">
                    <strong>
                      {{this.clientPlan.creditsLeft}}
                      {{t (if  this.clientPlan.isPerScan 'pluralScans' 'pluralApps') itemCount=this.clientPlan.creditsLeft}}
                    </strong>
                    {{#if this.clientPlan.isPerScan}}
                      {{t 'remaining'}}
                    {{/if}}
                  </span>
                {{/if}}
              </span>
            {{/if}}
          </div>

        </div>
      {{/if}}

    </div>
  </div>
</div>