<div local-class="client-info-card {{@client.type}}">
  <LinkTo @route="authenticated.client" @model={{@client}} local-class="client-info-header">
    <span local-class="thumbnail {{unless this.isRegistered 'not-registered'}}">
      {{#if this.isRegistered}}
        {{fa-icon "users"}}

      {{else}}
        {{@client.thumbnail}}
      {{/if}}
    </span>
    <div local-class="title">
      {{#unless this.isRegistered}}
        <span local-class="name">{{concat @client.firstName ' ' @client.lastName}}</span>
      {{/unless}}
      <span local-class="company {{if this.isRegistered 'registered'}}">{{@client.company}}</span>
    </div>
  </LinkTo>
  {{#if this.isRegistered}}
    <div local-class="client-info-body">
      <div local-class="client-metrics">
        <div local-class="users metric">
          <span>{{@client.totalUserCount}}</span>
          <span>Users</span>
        </div>
        <div local-class="uploads metric">
          <span>{{@client.totalFileUploadCount}}</span>
          <span>Uploads</span>
        </div>
        <div local-class="projects metric">
          <span>{{@client.totalProjectCount}}</span>
          <span>Projects</span>
        </div>
      </div>
      <div local-class="client-activities">
        <div local-class="last-upload activity">
          <span local-class="label">Last Upload</span>
          <span>
            {{#if @client.lastUpload}}
              {{dayjs-from-now @client.lastUpload}}
            {{else}}
              --
            {{/if}}
          </span>
        </div>
        <div local-class="payment activity">
          <span local-class="label">Payment Plan</span>
          <div local-class="credit-info">
            <span local-class="type {{if @client.isPerScan 'per-scan' 'per-app'}}">
              {{t (if  @client.isPerScan 'perScan' 'perApp')}}
            </span>
            {{!-- TODO need to enable after per app credits transfer implemented --}}
            {{#if (not @client.isPerScan)}}
              <span local-class="info-icon">
                {{fa-icon 'info-circle' local-class='icon'}}
                <AttachTooltip @placemnet="top-end">
                  Scan credit sharing is currently not supported in per-app plan.
                </AttachTooltip>
              </span>

            {{else if @partnerCreditStat.allowTransfer}}
              <a href="#" class="button" local-class="add-credit {{unless @client.isPerScan 'disabled'}}"
                {{on "click" (fn this.onAddCredits)}}>
                {{fa-icon "plus"}}
                <AttachTooltip @placemnet="top-end">
                  {{t 'clients.addCredit'}}
                </AttachTooltip>
              </a>
            {{/if}}
            <span local-class="remaining">
              <span local-class="data">
                {{@client.creditsLeft}} {{t (if  @client.isPerScan 'clients.scans' 'clients.apps')}}
              </span>
              <span local-class="">
                remaining
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div local-class="client-info-body">
      <div local-class="client-invite">
        <div local-class="invite-info">Email: {{@client.email}}</div>
        <div local-class="invite-info">Trial: {{fa-icon (if @client.isTrial 'check-circle' 'circle-thin')}}</div>
        <div local-class="invite-info">Invitation sent {{dayjs-from-now @client.updatedOn}}</div>
        <div local-class="invite-info">Expires {{dayjs-from-now @client.expiresOn}}</div>
      </div>
    </div>
    <div local-class="client-info-footer {{unless this.isRegistered "not-registered"}}">
      <a href="#" local-class="resend border-right {{unless this.isInvited 'hidden'}}"
        {{on "click" (perform this.resendInvitation)}}>
        {{fa-icon "paper-plane"}}
        <AttachTooltip @placemnet="top-end">
          {{t 'resendInvitation'}}
        </AttachTooltip>
      </a>
      <div></div>
      <a href="#" local-class="approve border-left {{unless this.isSelfRegistered 'hidden'}}"
        {{on "click" (perform this.approveRegistration)}}>
        {{fa-icon "check-circle"}}
        <AttachTooltip @placemnet="top-end">
          {{t 'approve'}}
        </AttachTooltip>
      </a>

    </div>
  {{/if}}
</div>


{{#if this.isShowCreditAllocationModal}}
  <AkModal @onClose={{this.onCloseModal}} @showHeader={{true}} @headerTitle={{t "clients.creditTransfer"}}>
    <Modals::ClientCreditTransfer @client={{@client}} @onClose={{this.onCloseModal}}>
    </Modals::ClientCreditTransfer>
  </AkModal>
{{/if}}