{{#if this.me.org.is_owner}}
  <AkStack @justifyContent='center'>
    <div {{style width='120px'}}>
      <AkSelect
        @triggerClass='user-role-select-trigger'
        @disabled={{this.userDisabled}}
        @selected={{this.selectedRole}}
        @options={{this.roles}}
        @onChange={{perform this.selectMemberRole}}
        as |role|
      >
        {{t (user-role role.value)}}
      </AkSelect>
    </div>
  </AkStack>
{{else}}
  <AkTypography @color='textSecondary'>
    {{t (user-role @member.role)}}
  </AkTypography>
{{/if}}