{{#if this.partner.access.view_analytics}}
  <div local-class='client-uploads-chart' data-test-chart='upload-stat-chart'>
    <div local-class='header' data-test-chart='title'>
      {{@title}}
      {{t 'uploadStatistics'}}
    </div>

    <div local-class='body'>
      <div local-class='filter'>
        <div
          local-class='date-range-picker'
          data-test-chart='date-range-picker'
        >
          <AkDatePicker
            @range={{true}}
            @selected={{this.selectedDateRange}}
            @maxDate={{this.maxDate}}
            @onSelect={{this.updateDateRange}}
            @quickSelectOptions={{this.datepickerOptions}}
          >
            <div local-class='date-range'>
              <span local-class='date' data-test-chart='start-date'>
                {{#if this.selectedDateRange.start}}
                  {{day-js
                    date=this.selectedDateRange.start
                    format='DD MMM YYYY'
                  }}
                {{else}}
                  --
                {{/if}}

              </span>
              <span>
                -
              </span>
              <span local-class='date' data-test-chart='end-date'>
                {{#if this.selectedDateRange.end}}
                  {{day-js
                    date=this.selectedDateRange.end
                    format='DD MMM YYYY'
                  }}
                {{else}}
                  --
                {{/if}}
              </span>
            </div>
          </AkDatePicker>
        </div>
        <div local-class='duration-options' data-test-chart='filter-options'>
          {{#each this.timelinePlaceholders as |option seq|}}
            <button
              class='button'
              type='button'
              local-class='option {{if
                (eq this.currentTimeline.key option.key)
                "active"
              }}'
              {{on 'click' (fn this.onChangeTimeline option)}}
              data-test-chart='filter-btns-{{seq}}'
            >
              {{option.buttonSelectorText}}
            </button>

          {{/each}}
        </div>
      </div>
      <div
        local-class='chart-container'
        {{did-insert (perform this.loadChart)}}
        data-test-chart='container'
      ></div>
      {{#if this.loadChart.isRunning}}
        <div local-class='loading-spinner'>
          <AkLoader @size={{16}} />
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}