<div class='flex-column' local-class='home-page-container'>
  <ProjectList::Header
    @hasProjects={{this.hasProjects}}
    @query={{this.query}}
    @platform={{this.platform}}
    @sortKey={{this.sortKey}}
    @onQueryChange={{this.onQueryChange}}
    @handleClear={{this.handleClear}}
    @filterPlatform={{this.filterPlatform}}
    @onSelectTeam={{this.onSelectTeam}}
    @sortProjects={{this.sortProjects}}
  />

  {{#if this.hasProjects}}
    <div>
      {{#if this.isLoading}}
        <div class='flex-row flex-justify-center'>
          <ProjectList::Loader
            @loadingText='{{t "loading"}}...'
            data-test-fileList-loadingContainer
          />
        </div>
      {{else if this.showProjectResults}}
        <AkPaginationProvider
          @results={{this.projects}}
          @onItemPerPageChange={{this.handleItemPerPageChange}}
          @totalItems={{this.totalProjectCount}}
          @nextAction={{this.handlePrevNextAction}}
          @prevAction={{this.handlePrevNextAction}}
          @itemPerPageOptions={{array 12 24 48}}
          @defaultLimit={{this.limit}}
          @offset={{this.offset}}
          as |pgc|
        >
          <div local-class='project-grid'>
            {{#each pgc.currentPageResults as |project|}}
              <ProjectOverview
                data-test-cy='project-overview-{{project.lastFile.id}}'
                @project={{project}}
              />
            {{/each}}
          </div>

          {{#if this.showPagination}}
            <AkPagination
              @disableNext={{pgc.disableNext}}
              @nextAction={{pgc.nextAction}}
              @disablePrev={{pgc.disablePrev}}
              @prevAction={{pgc.prevAction}}
              @endItemIdx={{pgc.endItemIdx}}
              @startItemIdx={{pgc.startItemIdx}}
              @itemPerPageOptions={{pgc.itemPerPageOptions}}
              @onItemPerPageChange={{pgc.onItemPerPageChange}}
              @selectedOption={{pgc.selectedOption}}
              @tableItemLabel={{t 'projects'}}
              @perPageTranslation={{t 'recordPerPage'}}
              @totalItems={{pgc.totalItems}}
            />
          {{/if}}
        </AkPaginationProvider>
      {{else if this.hasNoProjects}}
        <AkStack
          local-class='no-project-container'
          @alignItems='center'
          @justifyContent='center'
          @direction='column'
        >
          <AkSvg::ProjectListEmpty />

          <AkTypography @variant='h4' @fontWeight='bold' class='pt-3 pb-1'>
            {{t 'noResultsFound'}}
          </AkTypography>

          <AkTypography @variant='h5' @fontWeight='regular' @align='center'>
            {{t 'tryAdjustingFilter'}}
          </AkTypography>

        </AkStack>
      {{else}}
        <div class='flex-row flex-justify-center'>
          <ProjectList::Loader @loadingText='{{t "loading"}}...' />
        </div>
      {{/if}}
    </div>
  {{else}}
    <AkStack
      local-class='no-project-container'
      @alignItems='center'
      @justifyContent='center'
      @direction='column'
      data-test-no-project-container
    >
      <AkSvg::ProjectListEmpty />

      <AkTypography
        @variant='h4'
        @fontWeight='bold'
        class='pt-3 pb-1'
        data-test-no-project-header
      >
        {{t 'uploadAnApp'}}
      </AkTypography>

      <AkTypography
        @variant='h5'
        @fontWeight='regular'
        @align='center'
        data-test-no-project-text
      >
        {{t 'noProjectExists'}}
      </AkTypography>
    </AkStack>
  {{/if}}
</div>