<div local-class="device-timeout">
  <span local-class="time-display">{{timeRemaining.minutes}}:{{timeRemaining.seconds}}</span>
  {{#basic-dropdown disabled=(not canExtend) horizontalPosition="auto-right" as |dd|}}
    {{#dd.trigger class="button is-default" local-class="extend-btn"}}
      {{fa-icon "plus"}}
      {{#unless canExtend}}
        {{#attach-tooltip placement="top"}}
            {{t "dynamicScanExtentionLimit"}}
        {{/attach-tooltip}}
      {{/unless}}
    {{/dd.trigger}}

    {{#dd.content class="dropdown-content dropdown--default-content" local-class="dropdown"}}
      <div class="dropdown-container">
        <a class="dropdown-item" onclick={{perform extendtime 5 dd.actions.close}}>5 mins</a>
        <a class="dropdown-item" onclick={{perform extendtime 15 dd.actions.close}}>15 mins</a>
        <a class="dropdown-item" onclick={{perform extendtime 30 dd.actions.close}}>30 mins</a>
      </div>
    {{/dd.content}}
  {{/basic-dropdown}}
  <span local-class="spinner" class="{{if extendtime.isRunning (local-class 'show')}}"> {{fa-icon "spinner fa-spin"}}</span>
</div>
