<div class='py-1'>
  <AkStack class='mb-3' @direction='column' @spacing='0.5'>
    <AkTypography data-test-sbomScan-title @variant='h5'>
      {{t 'sbomModule.pastSbomAnalyses'}}
    </AkTypography>

    <AkTypography
      data-test-sbomScan-description
      @variant='body2'
      @color='textSecondary'
    >
      {{t
        'sbomModule.pastSbomAnalysesDescription'
        projectName=this.projectName
      }}
    </AkTypography>
  </AkStack>

  <Sbom::SummaryHeader>
    <:summary>
      <AkStack @alignItems='center' @spacing='1.5'>
        <Sbom::AppLogo @sbomProject={{@sbomProject}} />

        <AkTypography data-test-sbomScan-appPackageName @variant='h6'>
          {{this.packageName}}
        </AkTypography>

        <Sbom::AppPlatform @sbomProject={{@sbomProject}} />
      </AkStack>
    </:summary>
  </Sbom::SummaryHeader>

  <Sbom::AppScan::List
    @sbomProject={{@sbomProject}}
    @queryParams={{@queryParams}}
  />
</div>