<AkTooltip
  @placement='bottom'
  @disabled={{or @loading this.appIsDisabled}}
  @arrow={{true}}
  @color='light'
>
  <:tooltipContent>
    <div local-class='tooltip-content'>
      <AkStack @spacing='0.5' @alignItems='center'>
        <AkTypography
          @color='textSecondary'
          {{style textTransform='uppercase'}}
        >
          {{t 'reason'}}
        </AkTypography>
      </AkStack>

      <AkTypography class='mt-1'>
        <strong>{{this.tooltipMessage}}</strong>
        {{t 'storeknox.hasBeenDetected'}}
      </AkTypography>
    </div>
  </:tooltipContent>

  <:default>
    <AkStack @alignItems='center' @spacing='0.5'>
      {{#if @loading}}
        <AkSkeleton @variant='circular' @height='16px' @width='16px' />

        <AkSkeleton @variant='rounded' @height='19px' @width='100px' />
      {{else}}
        <AkIcon
          @iconName={{this.monitoringStatusIconDetails.name}}
          @color={{this.monitoringStatusIconDetails.color}}
          @size='small'
        />

        <AkTypography>
          {{#if this.appIsDisabled}}
            {{t 'disabled'}}
          {{else if this.needsAction}}
            {{t 'storeknox.needsAction'}}
          {{else}}
            {{t 'storeknox.noActionNeeded'}}
          {{/if}}
        </AkTypography>
      {{/if}}
    </AkStack>
  </:default>
</AkTooltip>