<AkStack
  data-test-vncViewer-root
  class='ph-no-capture'
  @justifyContent='center'
  @alignItems='center'
  @direction='column'
  @spacing='3'
>
  {{#if this.isAutomated}}
    {{#if
      (or
        @dynamicScan.isStartingOrShuttingInProgress
        @dynamicScan.isReadyOrRunning
      )
    }}
      <AkStack
        data-test-vncViewer-scanTriggeredNote
        @spacing='0.5'
        local-class='automated-scan-trigger-info'
      >
        <AkIcon @color='primary' @iconName='description-outline' />

        {{#if this.startedBy}}
          <AkTypography data-test-vncViewer-scanStartedByText>
            {{t 'scanStartedBy'}}
            <strong>{{this.startedBy}}</strong>
          </AkTypography>
        {{else}}
          <AkTypography data-test-vncViewer-scanTriggeredAutomaticallyText>
            {{t 'scanTriggeredAutomatically'}}
          </AkTypography>
        {{/if}}
      </AkStack>
    {{/if}}
  {{else}}
    {{#if @dynamicScan.isReady}}
      <AkStack
        @justifyContent='center'
        @alignItems='center'
        @direction='column'
        @spacing='1.5'
      >
        <FileDetails::DynamicScan::Action::Expiry
          @dynamicscan={{@dynamicScan}}
        />

        {{#if (has-block 'controls')}}
          {{yield to='controls'}}
        {{/if}}
      </AkStack>
    {{/if}}

    {{#if @dynamicScan.isStarting}}
      <AkTypography data-test-vncViewer-manualScanNote>
        <strong>{{t 'note'}} -</strong>
        {{t 'dynamicScanText'}}
      </AkTypography>
    {{/if}}
  {{/if}}

  {{#if this.isIOSDevice}}
    <div data-test-vncViewer-device local-class='ios-device-frame'>
      <div data-test-vncViewer-deviceScreen local-class='ios-device-screen'>
        {{#if this.isAutomated}}
          {{#if
            (or
              @dynamicScan.isStartingOrShuttingInProgress
              @dynamicScan.isReadyOrRunning
            )
          }}
            <AkStack
              data-test-vncViewer-automatedNote
              local-class='automated-scan-vnc-note'
            >
              <AkTypography @color='inherit'>
                <strong>{{t 'note'}}</strong>
                -
                {{t
                  (if
                    @dynamicScan.isInqueue
                    'automatedScanQueuedVncNote'
                    'automatedScanRunningVncNote'
                  )
                }}
              </AkTypography>
            </AkStack>
          {{/if}}
        {{else if @dynamicScan.isReady}}
          <NovncRfb
            @deviceFarmURL={{this.deviceFarmURL}}
          />
        {{/if}}
      </div>
    </div>
  {{else}}
    <div data-test-vncViewer-device class='marvel-device {{this.deviceType}}'>
      <div data-test-vncViewer-deviceCamera class='camera' />

      <div data-test-vncViewer-deviceScreen class='screen'>
        {{#if this.isAutomated}}
          {{#if
            (or
              @dynamicScan.isStartingOrShuttingInProgress
              @dynamicScan.isReadyOrRunning
            )
          }}
            <AkStack
              data-test-vncViewer-automatedNote
              local-class='automated-scan-vnc-note'
            >
              <AkTypography @color='inherit'>
                <strong>{{t 'note'}}</strong>
                -
                {{t
                  (if
                    @dynamicScan.isInqueue
                    'automatedScanQueuedVncNote'
                    'automatedScanRunningVncNote'
                  )
                }}
              </AkTypography>
            </AkStack>
          {{/if}}
        {{else if @dynamicScan.isReady}}
          <NovncRfb
            @deviceFarmURL={{this.deviceFarmURL}}
          />
        {{/if}}
      </div>

      <div data-test-vncViewer-deviceHome class='home' />
    </div>
  {{/if}}
</AkStack>