<AkStack
  data-test-vncViewer-root
  class='ph-no-capture'
  @justifyContent='center'
  @alignItems='center'
  @direction='column'
  @spacing='3'
>
  {{#if this.isAutomated}}
    {{#if
      (or
        @dynamicScan.isStartingOrShuttingInProgress
        @dynamicScan.isReadyOrRunning
      )
    }}
      <AkStack
        data-test-vncViewer-scanTriggeredNote
        @spacing='0.5'
        local-class='automated-scan-trigger-info'
      >
        <AkIcon @color='primary' @iconName='description-outline' />

        {{#if this.startedBy}}
          <AkTypography data-test-vncViewer-scanStartedByText>
            {{t 'scanStartedBy'}}
            <strong>{{this.startedBy}}</strong>
          </AkTypography>
        {{else}}
          <AkTypography data-test-vncViewer-scanTriggeredAutomaticallyText>
            {{t 'scanTriggeredAutomatically'}}
          </AkTypography>
        {{/if}}
      </AkStack>
    {{/if}}
  {{else}}
    {{#if @dynamicScan.isReady}}
      <AkStack
        @justifyContent='center'
        @alignItems='center'
        @direction='column'
        @spacing='1.5'
      >
        <FileDetails::DynamicScan::Action::Expiry
          @dynamicscan={{@dynamicScan}}
        />

        {{#if (has-block 'controls')}}
          {{yield to='controls'}}
        {{/if}}
      </AkStack>
    {{/if}}

    {{#if @dynamicScan.isStarting}}
      <AkTypography data-test-vncViewer-manualScanNote>
        <strong>{{t 'note'}} -</strong>
        {{t 'dynamicScanText'}}
      </AkTypography>
    {{/if}}
  {{/if}}

  <div data-test-vncViewer-device class='marvel-device {{this.deviceType}}'>
    {{#if this.isTablet}}
      <div data-test-vncViewer-deviceTopBar class='top-bar' />
      <div data-test-vncViewer-deviceSleep class='sleep' />
      <div data-test-vncViewer-deviceVolume class='volume' />
    {{/if}}

    <div data-test-vncViewer-deviceCamera class='camera' />

    {{#if this.isIOSDevice}}
      {{#if this.isTablet}}
        <div data-test-vncViewer-deviceSpeaker class='speaker' />
      {{/if}}
    {{/if}}

    <div data-test-vncViewer-deviceScreen class='screen'>
      {{#if this.isByodScan}}
        {{#if @dynamicScan.isInstalling}}
          {{#if this.isWebusbCyod}}
            {{! WebUSB CYOD — auto-install in browser }}
            <AkStack
              data-test-vncViewer-webusbInstall
              local-class='byod-install-note'
              @direction='column'
              @alignItems='center'
              @spacing='1'
            >
              {{#if this.webusbInstallIsRunning}}
                <AkTypography @color='inherit' @variant='subtitle2'>
                  {{#if (eq this.webusbInstallStage 'downloading')}}
                    {{t 'cyodAutoInstallDownloading'}} ({{this.webusbInstallPercent}}%)
                  {{else if (eq this.webusbInstallStage 'pushing')}}
                    {{t 'cyodAutoInstallPushing'}} ({{this.webusbInstallPercent}}%)
                  {{else if (eq this.webusbInstallStage 'installing')}}
                    {{t 'cyodAutoInstalling'}}
                  {{else}}
                    {{t 'cyodAutoInstallDone'}}
                  {{/if}}
                </AkTypography>
              {{else if this.webusbAdb}}
                <AkTypography @color='inherit' @variant='subtitle2'>
                  {{t 'cyodAutoInstallReady'}}
                </AkTypography>
                <AkButton
                  data-test-vncViewer-webusbInstallBtn
                  @variant='contained'
                  @size='small'
                  {{on 'click' (perform this.autoInstallViaWebUsb)}}
                >
                  {{t 'cyodAutoInstallStart'}}
                </AkButton>
              {{else}}
                {{! No ADB session — fall back to manual download }}
                <AkTypography @color='inherit' @variant='subtitle2'>
                  {{t 'cyodInstallApp'}}
                </AkTypography>
                {{#if this.byodDownloadUrl}}
                  <AkLink
                    data-test-vncViewer-byodDownloadLink
                    @href={{this.byodDownloadUrl}}
                    @target='_blank'
                  >
                    {{t 'cyodDownloadApk'}}
                  </AkLink>
                {{/if}}
              {{/if}}
            </AkStack>
          {{else}}
            {{! Non-WebUSB BYOD — manual download }}
            <AkStack
              data-test-vncViewer-byodDownload
              local-class='byod-install-note'
              @direction='column'
              @alignItems='center'
              @spacing='1'
            >
              <AkTypography @color='inherit' @variant='subtitle2'>
                {{t 'cyodInstallApp'}}
              </AkTypography>
              {{#if this.byodDownloadUrl}}
                <AkLink
                  data-test-vncViewer-byodDownloadLink
                  @href={{this.byodDownloadUrl}}
                  @target='_blank'
                >
                  {{if this.byodIsIos (t 'cyodInstallIos') (t 'cyodDownloadApk')}}
                </AkLink>
              {{/if}}
            </AkStack>
          {{/if}}
        {{else if @dynamicScan.isReady}}
          <AkStack
            data-test-vncViewer-byodReady
            local-class='byod-ready-note'
            @direction='column'
            @alignItems='center'
            @spacing='1'
          >
            <AkIcon @iconName='smartphone' @color='inherit' />
            <AkTypography @color='inherit' @variant='subtitle2'>
              {{t 'cyodInteractOnDevice'}}
            </AkTypography>
          </AkStack>
        {{/if}}
      {{else if this.isAutomated}}
        {{#if
          (or
            @dynamicScan.isStartingOrShuttingInProgress
            @dynamicScan.isReadyOrRunning
          )
        }}
          <AkStack
            data-test-vncViewer-automatedNote
            local-class='automated-scan-vnc-note'
          >
            <AkTypography @color='inherit'>
              <strong>{{t 'note'}}</strong>
              -
              {{t
                (if
                  @dynamicScan.isInqueue
                  'automatedScanQueuedVncNote'
                  'automatedScanRunningVncNote'
                )
              }}
            </AkTypography>
          </AkStack>
        {{/if}}
      {{else if @dynamicScan.isReady}}
        {{#if this.isScrcpyScan}}
          {{! Proxy CYOD — Mercer streaming via scrcpy/go-ios }}
          <CyodViewer
            data-test-vncViewer-cyodViewer
            @scanToken={{this.scrcpyScanToken}}
            @platform={{@file.project.platform}}
            @authToken={{this.deviceFarmPassword}}
          />
        {{else}}
          {{! Farm device — existing noVNC }}
          <NovncRfb
            @deviceFarmURL={{this.deviceFarmURL}}
            @deviceFarmPassword={{this.deviceFarmPassword}}
          />
        {{/if}}
      {{/if}}
    </div>

    {{#if this.isIOSDevice}}
      <div data-test-vncViewer-deviceHome class='home' />

      {{#if this.isTablet}}
        <div data-test-vncViewer-deviceBottomBar class='bottom-bar' />
      {{/if}}
    {{/if}}
  </div>
</AkStack>