<AkStack
  @justifyContent='center'
  @alignItems='center'
  @direction='column'
  @spacing='3'
>
  {{#if @file.isReady}}
    <AkStack @justifyContent='center'>
      <DynamicScan::Expiry @file={{@file}} @vncViewer={{true}} />
    </AkStack>
  {{/if}}

  {{#if @file.isDynamicStatusStarting}}
    <AkStack @spacing='0.5'>
      <AkTypography @fontWeight='bold'>Note - </AkTypography>
      {{t 'dynamicScanText'}}
    </AkStack>
  {{/if}}

  <div data-test-vncViewer-device class='marvel-device {{this.deviceType}}'>
    {{#if this.isTablet}}
      <div data-test-vncViewer-deviceTopBar class='top-bar' />
      <div data-test-vncViewer-deviceSleep class='sleep' />
      <div data-test-vncViewer-deviceVolume class='volume' />
    {{/if}}

    <div data-test-vncViewer-deviceCamera class='camera' />

    {{#if this.isIOSDevice}}
      {{#if this.isTablet}}
        <div data-test-vncViewer-deviceSpeaker class='speaker' />
      {{/if}}
    {{/if}}

    <div
      data-test-vncViewer-deviceScreen
      class={{if this.screenRequired 'noscreen' 'screen'}}
    >
      {{#if (and @file.isReady this.deviceType)}}
        <NovncRfb
          @deviceFarmURL={{this.deviceFarmURL}}
          @deviceFarmPassword={{this.deviceFarmPassword}}
        />
      {{/if}}
    </div>

    {{#if this.isIOSDevice}}
      <div data-test-vncViewer-deviceHome class='home' />

      {{#if this.isTablet}}
        <div data-test-vncViewer-deviceBottomBar class='bottom-bar' />
      {{/if}}
    {{/if}}
  </div>
</AkStack>