<div {{style minWidth='180px'}}>
  <AkSelect
    @disabled={{@isLoadingCapturedApis}}
    @closeOnSelect={{false}}
    @registerAPI={{this.registerAPI}}
    @dropdownClass={{this.dropDownClass}}
    @triggerClass={{this.triggerClass}}
    @options={{this.options}}
    @selected={{@selectedAPIUrlDomain}}
    @onOpen={{this.onOpen}}
    @onClose={{this.onClose}}
    @onChange={{this.onSelectAPIUrlDomainChange}}
    @labelTypographyFontWeight='regular'
    @selectedItemComponent={{this.FilterSelectedItemComponent}}
    @afterOptionsComponent={{this.AfterOptionsComponent}}
    @groupComponent={{this.GroupOptionComponent}}
    @horizontalPosition='right'
    @extra={{this.selectElementExtras}}
    data-test-fileDetails-apiScan-capturedApi-domainFilterSelect
  />
</div>