<div {{style minWidth='180px'}}>
  <AkSelect
    @closeOnSelect={{false}}
    @registerAPI={{this.registerAPI}}
    @dropdownClass={{this.dropDownClass}}
    @triggerClass={{this.triggerClass}}
    @options={{@domainFilters}}
    @selected={{@selectedAPIUrlDomain}}
    @onOpen={{this.onOpen}}
    @loadingMessage={{concat (t 'loading') '...'}}
    @onChange={{this.onSelectAPIUrlDomainChange}}
    @labelTypographyFontWeight='regular'
    @selectedItemComponent='file-details/api-scan/captured-apis/api-domain-filters/filter-selected-item'
    @afterOptionsComponent='file-details/api-scan/captured-apis/api-domain-filters/after-options'
    @beforeOptionsComponent='file-details/api-scan/captured-apis/api-domain-filters/before-option'
    @optionTitle='Domain Filters'
    @horizontalPosition='right'
    @extra={{this.selectElementExtras}}
    data-test-fileDetails-apiScan-capturedApi-domainFilterSelect
    as |option|
  >
    <AkStack @width='full' @alignItems='center'>
      <AkCheckbox
        @readonly={{true}}
        @checked={{this.isDomainFilterSelected option}}
        @onClick={{fn this.onSelectAPIUrlDomainChange option}}
      />

      <AkTypography @noWrap={{true}}>
        {{option}}
      </AkTypography>
    </AkStack>
  </AkSelect>
</div>