{{! template-lint-disable no-curly-component-invocation }}
<div
  local-class='modal {{if @showRightDrawer "open"}}'
  id='am-right-drawer-container'
  data-test-am-drawer-container
>
  <div
    local-class='modal-content {{if @showRightDrawer "open"}}'
    data-test-modal-content
    {{on-click-outside @closeModalHandler '#am-right-drawer-container'}}
  >
    <header local-class='modal-header' data-test-header>
      <h2 data-test-header-title>Store Monitoring Details</h2>
      <span
        local-class='close-icon'
        class='ak-icon ak-icon-close'
        role='button'
        data-test-header-close-icon
        {{on 'click' @closeModalHandler}}
      >
      </span>
    </header>
    {{#if @appDetails}}
      <section local-class='modal-body'>
        <div local-class='modal-body-section basic-details'>
          <h3>Basic Details</h3>
          <section local-class='section'>
            <h4>Application Name</h4>
            <p data-test-app-name>{{@appDetails.project.lastFile.name}}</p>
          </section>
          <section local-class='section'>
            <h4>Namespace</h4>
            <p data-test-app-namespace> {{@appDetails.project.packageName}}</p>
          </section>
          <section local-class='section'>
            <h4>Platform</h4>
            <span
              local-class='platform-icon platform-{{@appDetails.project.platformIconClass}}'
              data-test-app-platform
            >
              {{fa-icon @appDetails.project.platformIconClass}}
            </span>
          </section>
        </div>
        <div local-class='modal-body-section scan-details'>
          <h3>Scan Details</h3>
          <section local-class='section'>
            <div local-class='section-content'>
              <h4>Appknox Version</h4>
              <p data-test-app-last-scanned-version>
                {{if
                  @appDetails.project.lastFile.comparableVersion
                  @appDetails.project.lastFile.comparableVersion
                  '-'
                }}
              </p>
            </div>
            <div local-class='section-content'>
              <h4>Store Version</h4>
              <p data-test-app-store-version>
                {{#if @appDetails.latestAmAppVersion.comparableVersion}}
                  {{@appDetails.latestAmAppVersion.comparableVersion}}
                  {{#unless @appDetails.latestAmAppVersion.latestFile}}
                    <span
                      local-class='warning-icon'
                      class='ak-icon ak-icon-warning'
                      data-test-app-warning-icon
                    >
                      <AttachTooltip
                        @placement='bottom'
                        class='am-drawer-tooltip'
                      >
                        <span data-test-app-warning-tooltip>
                          {{t 'appMonitoringErrors.akUnscannedVersion'}}
                        </span>
                      </AttachTooltip>
                    </span>
                  {{/unless}}
                {{else}}
                  <AppMonitoring::Table::Status
                    @condition='{{this.statusCondition}}'
                  >
                    {{this.statusText}}
                  </AppMonitoring::Table::Status>
                {{/if}}
              </p>
            </div>
          </section>
          <section local-class='section'>
            <div local-class='section-content'>
              <h4>Status</h4>
              <div data-test-am-app-status>
                <AppMonitoring::Table::Status
                  @condition='{{this.monitoredStatusCondition}}'
                >
                  {{this.monitoredStatusText}}
                </AppMonitoring::Table::Status>
                <p local-class='last-sync-date' data-test-am-app-last-sync>
                  Last Synced On:
                  {{#if @appDetails.lastSync.syncedOn}}
                    <span>
                      {{day-js
                        date=@appDetails.lastSync.syncedOn
                        format='DD MMM YYYY'
                      }}
                    </span>
                  {{else}}
                    <span>
                      {{fa-icon 'spinner fa-spin' class='last-sync-loading'}}
                    </span>
                  {{/if}}
                </p>
              </div>
            </div>
          </section>
        </div>
      </section>
    {{/if}}
  </div>
</div>