{{! template-lint-disable no-curly-component-invocation }}
<div
  local-class='modal {{if @showRightDrawer "open"}}'
  id='am-right-drawer-container'
  data-test-am-drawer-container
>
  <div
    local-class='modal-content {{if @showRightDrawer "open"}}'
    class='flex-column flex-justify-space-between'
    data-test-modal-content
    {{on-click-outside @closeModalHandler '#am-right-drawer-container'}}
  >
    <header
      local-class='modal-header'
      class='flex-row flex-justify-space-between'
      data-test-am-drawer-header
    >
      <h2 data-test-am-drawer-header-title>Store Monitoring Details</h2>
      <span
        local-class='close-icon'
        class='ak-icon ak-icon-close'
        role='button'
        data-test-am-drawer-header-close-icon
        {{on 'click' @closeModalHandler}}
      >
      </span>
    </header>
    {{#if @appDetails}}
      <section local-class='modal-body'>
        <div local-class='modal-body-section basic-details'>
          <h3>Basic Details</h3>
          <section local-class='section'>
            <h4>Application Name</h4>
            <p
              data-test-am-drawer-name
            >{{@appDetails.project.lastFile.name}}</p>
          </section>
          <section local-class='section'>
            <h4>Namespace</h4>
            <p data-test-am-drawer-namespace>
              {{@appDetails.project.packageName}}</p>
          </section>
          <section local-class='section'>
            <h4>Platform</h4>
            <span
              local-class='platform-icon platform-{{@appDetails.project.platformIconClass}}'
              data-test-am-drawer-platform
            >
              {{fa-icon @appDetails.project.platformIconClass}}
            </span>
          </section>
        </div>
        <div local-class='modal-body-section scan-details'>
          <h3>Scan Details</h3>
          <section local-class='section'>
            <div local-class='section-content'>
              <h4>Appknox Version</h4>
              <p
                class='flex-column flex-justify-center'
                data-test-am-drawer-last-scanned-version
              >
                <span class='mb-1'>
                  {{if
                    @appDetails.project.lastFile.comparableVersion
                    @appDetails.project.lastFile.comparableVersion
                    '-'
                  }}
                </span>

                {{#if @appDetails.project.lastFile}}
                  <LinkTo
                    local-class='file-link'
                    target='_blank'
                    rel='noopener noreferrer'
                    @route='authenticated.file'
                    @model={{@appDetails.project.lastFile.id}}
                  >
                    File ID -
                    {{@appDetails.project.lastFile.id}}
                  </LinkTo>
                {{/if}}
              </p>
            </div>
            <div local-class='section-content'>
              <h4>Store Version</h4>
              <p
                local-class='store-version'
                class='flex-column flex-justify-center'
                data-test-am-drawer-store-version
              >
                {{#if @appDetails.latestAmAppVersion.comparableVersion}}
                  <span class='mb-1'>
                    {{@appDetails.latestAmAppVersion.comparableVersion}}
                  </span>

                  {{#if @appDetails.latestAmAppVersion.latestFile}}
                    <LinkTo
                      local-class='file-link'
                      target='_blank'
                      rel='noopener noreferrer'
                      @route='authenticated.file'
                      @model={{@appDetails.latestAmAppVersion.latestFile.id}}
                    >
                      File ID -
                      {{@appDetails.latestAmAppVersion.latestFile.id}}
                    </LinkTo>
                  {{else}}
                    <AppMonitoring::Table::Status @condition='alert'>
                      {{t 'notScanned'}}
                    </AppMonitoring::Table::Status>
                  {{/if}}
                {{else}}
                  <AppMonitoring::Table::Status
                    @condition='{{this.statusCondition}}'
                  >
                    {{this.statusText}}
                  </AppMonitoring::Table::Status>
                {{/if}}
              </p>
            </div>
          </section>
          <section local-class='section'>
            <div local-class='section-content'>
              <h4>Status</h4>
              <div data-test-am-app-status>
                <AppMonitoring::Table::Status
                  @condition='{{this.monitoredStatusCondition}}'
                >
                  {{this.monitoredStatusText}}
                </AppMonitoring::Table::Status>
                <p
                  local-class='last-sync-date'
                  class='flex-row flex-justify-start'
                  data-test-am-app-last-sync
                >
                  {{#if @appDetails.lastSync.syncedOn}}
                    Last monitored on
                    <span class='ml-1' data-test-am-app-last-sync-date>
                      {{day-js
                        date=@appDetails.lastSync.syncedOn
                        format='DD MMM YYYY'
                      }}
                    </span>
                  {{else if @appDetails.isActive}}
                    <span
                      class='mr-1 flex-row flex-align-center'
                      data-test-am-app-last-sync-spinner
                    >
                      {{fa-icon 'spinner fa-spin' class='last-sync-loading'}}
                    </span>
                    Sync in progress
                  {{/if}}
                </p>
              </div>
            </div>
          </section>
        </div>
      </section>
    {{/if}}
  </div>
</div>