<div local-class='file-details-root'>
  <AkBreadcrumbs::AutoTrail
    class='mt-2 mb-3'
    data-test-fileDetails-breadcrumbContainer
  />

  <AkStack @direction='column' @spacing='2.5'>
    <FileDetails::Summary @file={{@file}} />

    <FileDetails::ScanActions @file={{@file}} />

    <FileDetails::InsightsWrapper
      @file={{@file}}
      @fileAnalyses={{this.fileAnalyses}}
    />
  </AkStack>

  <FileDetails::VulnerabilityAnalysis @file={{@file}} />
</div>