{{#if this.screenshots.length}}
  <div
    local-class='analysis-section {{if
      @analysis.isOverriddenAsPassed
      "analysis-overridded-passed"
    }}'
    class='mb-2'
    data-test-screenshots-container
  >
    <AkPaginationProvider
      @results={{this.screenshots}}
      @onItemPerPageChange={{this.noop}}
      @totalItems={{this.screenshots.length}}
      @nextAction={{this.handleNextClick}}
      @prevAction={{this.handlePrevClick}}
      @itemPerPageOptions={{array 1}}
      @defaultLimit={{this.limit}}
      @offset={{this.currentIndex}}
      as |pgc|
    >
      <AkStack
        @alignItems='center'
        @justifyContent='space-between'
        local-class='analysis-content-title'
      >
        <AkTypography
          data-test-screenshots-title
          @variant='subtitle1'
          @gutterBottom={{true}}
        >
          {{t 'screenshots'}}
        </AkTypography>

        {{#if (gt this.screenshots.length 1)}}
          <AkStack @spacing='1.5' @alignItems='center'>
            <AkStack
              local-class='counter-container'
              @spacing='3'
              @alignItems='center'
            >
              <AkIconButton
                data-test-screenshots-prev-button
                disabled={{pgc.disablePrev}}
                local-class='ak-pagination-prev-button'
                {{on 'click' pgc.prevAction}}
              >
                <AkIcon
                  @iconName='arrow-left'
                  {{style fontSize='1.28rem !important'}}
                />
              </AkIconButton>

              <AkStack
                @spacing='0.5'
                @alignItems='center'
                data-test-screenshot-counter
              >
                <AkTypography @variant='subtitle1'>
                  {{add this.currentIndex 1}}
                </AkTypography>

                <AkTypography @variant='body2'>
                  {{t 'outOf'}}
                </AkTypography>

                <AkTypography @variant='subtitle1'>
                  {{this.screenshots.length}}
                </AkTypography>
              </AkStack>

              <AkIconButton
                data-test-screenshots-next-button
                disabled={{pgc.disableNext}}
                local-class='ak-pagination-next-button'
                {{on 'click' pgc.nextAction}}
              >
                <AkIcon
                  @iconName='arrow-right'
                  {{style fontSize='1.28rem !important'}}
                />
              </AkIconButton>
            </AkStack>
          </AkStack>
        {{/if}}
      </AkStack>

      <AkStack
        local-class='analysis-content analysis-content-container'
        @alignItems='center'
        @justifyContent='center'
        class='p-2'
        data-test-screenshots-content
      >
        {{#if this.screenshots.length}}
          {{#if this.isLoadingImage}}
            <div local-class='loading-container'>
              <AkStack @alignItems='center' @spacing='2'>
                <AkLoader @size={{16}} />
                <AkTypography>{{t 'loading'}}...</AkTypography>
              </AkStack>
            </div>
          {{/if}}

          {{#if this.currentScreenshot}}
            <img
              src={{this.currentScreenshot}}
              alt={{t 'screenshots'}}
              local-class='screenshot-image {{if
                this.isLoadingImage
                "ak-display-none"
              }}'
              data-test-screenshot-image
            />
          {{/if}}
        {{/if}}
      </AkStack>
    </AkPaginationProvider>
  </div>
{{/if}}