<AuthAssets />

<div class='columns margin-t-3'>
  <div {{style width='450px'}} class='column is-one-quarter margin-side-auto'>
    <form class='form'>
      {{#if this.isVerified}}
        <h4 class='has-text-centered'>
          {{t 'resetPassword'}}
        </h4>

        <div
          class='input-wrap {{if this.changeset.error.password "has-error"}}'
        >
          <div class='label-error'>
            <label for='new-password-input'>
              {{t 'newPassword'}}
            </label>

            {{#if this.changeset.error.password}}
              <span class='error-msg'>
                {{this.changeset.error.password.validation}}
              </span>
            {{/if}}
          </div>

          <Input
            id='new-password-input'
            class='input-field mp-reset-password'
            placeholder={{t 'newPassword'}}
            @type='password'
            @value={{this.changeset.password}}
            autofocus='autofocus'
            autocomplete='new-password'
          />
        </div>

        <div
          class='input-wrap
            {{if this.changeset.error.confirm_password "has-error"}}'
        >
          <div class='label-error'>
            <label for='confirm-password-input'>
              {{t 'confirmPassword'}}
            </label>

            {{#if this.changeset.error.confirm_password}}
              <span class='error-msg'>
                {{this.changeset.error.confirm_password.validation}}
              </span>
            {{/if}}
          </div>

          <Input
            id='confirm-password-input'
            class='input-field mp-confirm-reset-password'
            placeholder={{t 'confirmPassword'}}
            @type='password'
            @value={{this.changeset.confirm_password}}
            autofocus='autofocus'
            autocomplete='new-password'
          />
        </div>

        <p class='control flex-center'>
          <AkButton
            class='w-8/12'
            {{on 'click' (perform this.reset)}}
            @loading={{this.reset.isRunning}}
          >
            {{t 'reset'}}
          </AkButton>
        </p>

        <p class='control flex-center'>
          <AkLink @route='login' @color='primary'>{{t 'login'}} ?</AkLink>
        </p>
      {{/if}}

      {{#if this.isNotVerified}}
        <div class='has-text-centered alert alert-danger'>
          It looks like you clicked on an invalid password reset link.
        </div>

        <div class='control flex-center margin-t-1'>
          <AkLink @route='recover' @color='primary'>Try again ?</AkLink>
        </div>
      {{/if}}
    </form>
  </div>
</div>