<div
  ...attributes
  local-class='bordered-box'
  data-test-sbomScanDetails-componentDetails-summary
>
  {{#each this.componentSummary as |cs|}}
    <AkStack
      class='p-2'
      data-test-sbomScanDetails-componentDetails-summary='{{cs.label}}'
    >
      <AkTypography class='w-4/12' @color='textSecondary'>
        {{cs.label}}
      </AkTypography>

      <AkTypography class='w-8/12' @variant='h6'>
        {{or cs.value '-'}}
      </AkTypography>
    </AkStack>

    {{#unless cs.isLast}}
      <AkDivider />
    {{/unless}}
  {{/each}}

  {{!-- {{#if @sbomScanComponent.remediation}}
    <AkStack class='my-4 px-2' @direction='column' @spacing='1.5'>
      <AkTypography
        data-test-sbomScanDetails-componentDetails-howToFixTitle
        @variant='h5'
      >
        {{t 'howToFix'}}
      </AkTypography>

      <AkTypography data-test-sbomScanDetails-componentDetails-howToFixRemedy>
        {{@sbomScanComponent.remediation}}
      </AkTypography>
    </AkStack>
  {{/if}} --}}
</div>