{{#if this.partner.access.list_files}}
  <div data-test-upload-list>
    <div local-class='header'>
      <AkTypography
        @tag='h3'
        @fontWeight='bold'
        @color='neutral'
        {{style fontSize='1.1rem'}}
        data-test-title
      >
        {{t 'uploads'}}
      </AkTypography>

      <AkStack
        @alignItems='center'
        @justifyContent='center'
        local-class='badge'
        class='ml-1'
        data-test-total-projects-count
      >
        {{this.totalParnterClientUploadsCount}}
      </AkStack>
    </div>

    <AkPaginationProvider
      @results={{this.partnerClientUploadList}}
      @onItemPerPageChange={{this.handleItemPerPageChange}}
      @totalItems={{this.totalParnterClientUploadsCount}}
      @nextAction={{this.handleNextPrevAction}}
      @prevAction={{this.handleNextPrevAction}}
      @itemPerPageOptions={{array 10 25 50}}
      @defaultLimit={{this.limit}}
      @offset={{this.offset}}
      as |pgc|
    >
      {{#if this.fetchPartnerClientUploads.isRunning}}
        <div local-class='loading'>
          <ThreeBounceSpinner />
        </div>
      {{else if this.hasErrored}}
        <div local-class='loading-error' data-test-load-error>
          {{t 'errorCouldNotLoadData'}}
        </div>
      {{else if this.hasNoParnterClientUpload}}
        <div local-class='empty-data' data-test-no-uploads>
          {{t 'noClientUploads'}}
        </div>
      {{else}}
        <div>
          <div local-class='table' data-test-table>
            <div
              local-class='table-header {{if
                this.partner.access.view_reports
                "has-report-column"
              }}'
              data-test-table-header
            >
              <AkTypography
                @fontWeight='bold'
                @color='neutral'
                data-test-table-header-item
                data-test-table-header-app
              >
                {{t 'app'}}
              </AkTypography>

              <AkTypography
                @fontWeight='bold'
                @color='neutral'
                data-test-table-header-item
                data-test-table-header-version
              >
                {{t 'version'}}
              </AkTypography>

              <AkTypography
                @fontWeight='bold'
                @color='neutral'
                data-test-table-header-item
                data-test-table-header-uploaded
              >
                {{t 'uploaded'}}
              </AkTypography>

              {{#if this.partner.access.view_reports}}
                <AkTypography
                  @fontWeight='bold'
                  @color='neutral'
                  data-test-table-header-item
                  data-test-table-header-summary
                >
                  {{t 'scanResults'}}
                </AkTypography>

                <AkTypography
                  @fontWeight='bold'
                  @color='neutral'
                  data-test-table-header-item
                  data-test-table-header-report
                >
                  {{t 'report'}}
                </AkTypography>
              {{/if}}
            </div>

            <div local-class='table-body' data-test-table-body>
              {{#each pgc.currentPageResults as |upload seq|}}
                <div
                  local-class='table-row {{if
                    this.partner.access.view_reports
                    "has-report-column"
                  }}'
                  data-test-table-body-row='{{seq}}'
                >
                  <div local-class='app' data-test-app>
                    <div
                      local-class='app-icon'
                      style={{upload.backgroundIconStyle}}
                      data-test-app-icon
                    ></div>

                    <div>
                      <AkTypography
                        @fontWeight='bold'
                        @color='neutral'
                        title='File ID: {{upload.id}}'
                        data-test-app-info
                      >
                        {{upload.name}}
                      </AkTypography>

                      <div data-test-app-fileid>
                        <span local-class='fileid-key'>{{t 'fileID'}}:</span>
                        <span local-class='fileid-value'>{{upload.id}}</span>
                      </div>
                    </div>
                  </div>

                  <div local-class='version-info' data-test-version-info>
                    <div local-class='version' data-test-version>
                      <span local-class='version-key'>{{t 'version'}}:</span>
                      <span
                        local-class='version-value'
                      >{{upload.version}}</span>
                    </div>

                    <div local-class='version' data-test-versioncode>
                      <span local-class='version-key'>{{t
                          'versionCode'
                        }}:</span>

                      <span local-class='version-value'>
                        {{upload.versionCode}}
                      </span>
                    </div>
                  </div>

                  <div local-class='uploaded' data-test-uploaded>
                    {{dayjs-from-now upload.createdOn}}
                  </div>

                  {{#if this.partner.access.view_reports}}
                    <div local-class='summary' data-test-summary>
                      <Partner::ClientReportSummary
                        @clientId={{@clientId}}
                        @fileId={{upload.id}}
                        @indexPlacement='left'
                      />
                    </div>

                    <div local-class='download' data-test-report>
                      <Partner::ClientReportDownload
                        @clientId={{@clientId}}
                        @fileId={{upload.id}}
                      />
                    </div>
                  {{/if}}
                </div>
              {{/each}}
            </div>
          </div>

          {{#let (and pgc.disableNext pgc.disablePrev) as |hidePagination|}}
            {{#unless hidePagination}}
              <div local-class='pagination' data-test-pagination>
                <AkPagination
                  @disableNext={{pgc.disableNext}}
                  @nextAction={{pgc.nextAction}}
                  @disablePrev={{pgc.disablePrev}}
                  @prevAction={{pgc.prevAction}}
                  @endItemIdx={{pgc.endItemIdx}}
                  @startItemIdx={{pgc.startItemIdx}}
                  @itemPerPageOptions={{pgc.itemPerPageOptions}}
                  @onItemPerPageChange={{pgc.onItemPerPageChange}}
                  @selectedOption={{pgc.selectedOption}}
                  @tableItemLabel={{t 'uploads'}}
                  @perPageTranslation={{t 'recordPerPage'}}
                  @totalItems={{pgc.totalItems}}
                />
              </div>
            {{/unless}}
          {{/let}}
        </div>
      {{/if}}
    </AkPaginationProvider>
  </div>
{{/if}}