{{! template-lint-disable no-partial }}
{{#if this.partner.access.list_files}}
  <div data-test-upload-list>
    <div local-class='header'>
      <h3 local-class='title' data-test-title>{{t 'uploads'}}</h3>
      <div
        class='badge-square is-default margin-l-1'
        data-test-total-projects-count
      >{{this.totalCount}}</div>
    </div>

    {{#if this.objects}}
      <div>
        <div local-class='table' data-test-table>
          <div local-class='table-header' data-test-table-header>
            <div class='bold' data-test-table-header-app>{{t 'app'}}</div>
            <div class='bold' data-test-table-header-version>{{t
                'version'
              }}</div>
            <div class='bold' data-test-table-header-versioncode>{{t
                'versionCode'
              }}</div>
            <div class='bold' data-test-table-header-uploaded>{{t
                'uploaded'
              }}</div>
          </div>
          <div local-class='table-body' data-test-table-body>
            {{#each this.objects as |upload seq|}}
              <div local-class='table-row' data-test-table-body-row='{{seq}}'>
                <div local-class='app' data-test-row-app>
                  <div
                    local-class='app-icon'
                    style={{upload.iconHtmlUrl}}
                    data-test-row-app-icon
                  ></div>
                  <div
                    local-class='app-name'
                    class='black-text bold'
                    title='File ID: {{upload.id}}'
                    data-test-row-app-info
                  >{{upload.name}}</div>
                </div>

                <div local-class='version' data-test-row-version>
                  <span>{{upload.version}}</span>
                </div>
                <div local-class='version' data-test-row-versioncode>
                  <span>{{upload.versionCode}}</span>
                </div>
                <div
                  local-class='uploaded'
                  class='text-lightgray'
                  data-test-row-uploaded
                >{{dayjs-from-now upload.createdOn}}</div>
              </div>
            {{/each}}
          </div>
        </div>
        {{#if (or this.hasPrevious this.hasNext)}}
          <div local-class='pagination' data-test-pagination>
            {{partial 'paginate'}}
          </div>
        {{/if}}
      </div>
    {{else if this.error}}
      <div local-class='loading-error' data-test-load-error>{{t
          'errorCouldNotLoadData'
        }}</div>
    {{else if this.isLoading}}
      <div local-class='loading'>
        <ThreeBounceSpinner />
      </div>
    {{else}}
      <div local-class='empty-data' data-test-no-uploads>
        {{t 'noClientUploads'}}
      </div>
    {{/if}}
  </div>
{{/if}}