<div local-class='table-container' data-test-am-table-container>
  <AppMonitoring::Table::Header />

  {{#if this.hasNoOrgProjects}}
    <AppMonitoring::Table::Error
      @header='{{t "appMonitoringErrors.noOrgProjects.header"}}'
      @body='{{t "appMonitoringErrors.noOrgProjects.body"}}'
    />
  {{else}}
    <div local-class='table-body' data-test-am-table-body>
      <AkPaginationProvider
        @results={{this.tableData}}
        @onItemPerPageChange={{this.onItemPerPageChange}}
        @totalItems={{this.totalCount}}
        @nextAction={{this.goToPage}}
        @prevAction={{this.goToPage}}
        @itemPerPageOptions={{this.itemPerPageOptions}}
        @defaultLimit={{this.limit}}
        @offset={{this.offset}}
        as |pgc|
      >
        {{#if this.isFetchingAMTableData}}
          <div local-class='loading'>
            <ThreeBounceSpinner />
          </div>
        {{else if this.isEmptyAMResult}}
          <AppMonitoring::Table::Error
            @header='{{t "appMonitoringErrors.emptyResults.header"}}'
            @body='{{t "appMonitoringErrors.emptyResults.body"}}'
          />
        {{else}}
          {{#each pgc.currentPageResults as |app idx|}}
            <AppMonitoring::Table::Row
              @amApp={{app}}
              @id={{idx}}
              @onRowClick={{this.onTableRowClick}}
              @settings={{@settings}}
            />
          {{/each}}
        {{/if}}

        <AkPagination
          @disableNext={{pgc.disableNext}}
          @nextAction={{pgc.nextAction}}
          @disablePrev={{pgc.disablePrev}}
          @prevAction={{pgc.prevAction}}
          @endItemIdx={{pgc.endItemIdx}}
          @startItemIdx={{pgc.startItemIdx}}
          @itemPerPageOptions={{pgc.itemPerPageOptions}}
          @onItemPerPageChange={{pgc.onItemPerPageChange}}
          @tableItemLabel='Projects'
          @perPageTranslation='Records per page'
          @totalItems={{pgc.totalItems}}
        />
      </AkPaginationProvider>
    </div>
  {{/if}}
</div>

<AppMonitoring::Details
  @showRightDrawer={{this.showRightDrawer}}
  @appDetails={{this.currentAppInView}}
  @closeModalHandler={{this.closeRightDrawer}}
  @settings={{@settings}}
/>