<Organization::Integrations::Card
  @data={{this.data}}
  @onIntegrateClick={{this.openDrawer}}
  @loading={{this.isLoadingSNData}}
/>

<Organization::Integrations::ConfigDrawer
  @openDrawer={{this.integrationDrawerIsOpen}}
  @drawerTitle={{t
    (if
      this.showRevokeServiceNowConfirmBox 'confirmation' 'serviceNowIntegration'
    )
  }}
  @closeDrawerHandler={{this.closeDrawer}}
  @drawerSaveAction={{if
    this.showIntegratedOrLoadingUI
    this.openRevokeServiceNowConfirmBox
    (perform this.integrateServiceNow this.changeset)
  }}
  @loadingDrawerSaveAction={{or
    this.revokeServiceNow.isRunning
    this.integrateServiceNow.isRunning
  }}
  @showDeleteButton={{this.showIntegratedOrLoadingUI}}
  @noFooter={{false}}
>
  <:drawerContent>
    {{#if this.showRevokeServiceNowConfirmBox}}
      <AkStack
        local-class='drawer-content form'
        @direction='column'
        class='p-2 m-3'
      >
        <AkTypography
          data-test-orgIntegrations-serviceNowAccount-revoke-confirmation
          @variant='body1'
        >
          {{t 'confirmBox.revokeServiceNow'}}
        </AkTypography>

        <AkStack @spacing='1.5' class='pt-4'>
          <AkButton
            @variant='filled'
            @loading={{this.revokeServiceNow.isRunning}}
            @disabled={{this.revokeServiceNow.isRunning}}
            {{on 'click' (perform this.revokeServiceNow)}}
            data-test-orgIntegrations-serviceNowAccount-disconnectBtnConfirmation
          >
            {{t 'yesDisconnect'}}
          </AkButton>

          <AkButton
            @variant='outlined'
            @color='neutral'
            {{on 'click' this.closeRevokeServiceNowConfirmBox}}
            data-test-orgIntegrations-serviceNowAccount-cancelBtnConfirmation
          >
            {{t 'cancel'}}
          </AkButton>
        </AkStack>
      </AkStack>
    {{else}}
      <AkStack local-class='drawer-content' @direction='column'>
        {{#if this.showIntegratedOrLoadingUI}}
          <Organization::Integrations::IntegratedUi
            @imageSource='/images/service-now.png'
            @imageAlt='service now icon'
            @hostURL={{this.snInstanceURL}}
            @property={{this.snUsername}}
            @propertyTitle={{t 'username'}}
            @loading={{this.isLoadingSNData}}
          />
        {{else}}
          <form local-class='form' class='p-2'>
            <AkStack @direction='column' @spacing='2'>
              <AkTextField
                @placeholder={{t 'serviceNow.enterInstanceURL'}}
                @label={{t 'instanceURL'}}
                @labelTypographyVariant='subtitle2'
                @labelTypographyColor='textPrimary'
                @value={{this.changeset.instanceURL}}
                @error={{this.changeset.error.instanceURL}}
                data-test-orgIntegrations-serviceNow-instanceURLInput
              />

              <AkTextField
                @placeholder={{t 'enterUsername'}}
                @label={{t 'username'}}
                @labelTypographyVariant='subtitle2'
                @labelTypographyColor='textPrimary'
                @value={{this.changeset.username}}
                @error={{this.changeset.error.username}}
                data-test-orgIntegrations-serviceNow-usernameInput
              />

              <AkTextField
                @placeholder={{t 'enterPassword'}}
                @label={{t 'password'}}
                @labelTypographyVariant='subtitle2'
                @labelTypographyColor='textPrimary'
                @type='password'
                @value={{this.changeset.password}}
                @error={{this.changeset.error.password}}
                autocomplete='service-now-password'
                data-test-orgIntegrations-serviceNow-passwordInput
              />

              <AkStack @direction='column' {{style gap='0.4em'}}>
                <AkTypography
                  @variant='subtitle2'
                  data-test-orgIntegrations-serviceNow-selectServiceNowTableTitle
                >
                  {{t 'serviceNow.serviceNowTable'}}
                </AkTypography>

                <AkSelect
                  @options={{this.snTableItems}}
                  @onChange={{this.setSNTable}}
                  @selected={{this.selectedSNTable}}
                  @placeholder={{t 'serviceNow.selectServiceNowTable'}}
                  local-class='select-service-now-table'
                  data-test-orgIntegrations-serviceNow-serviceNowTableSelect
                  as |aks|
                >
                  {{aks.label}}
                </AkSelect>
              </AkStack>
            </AkStack>
          </form>
        {{/if}}
      </AkStack>
    {{/if}}
  </:drawerContent>
</Organization::Integrations::ConfigDrawer>