{{#if @isEnableBack}}
  <div local-class="back-to-container" data-test-back-to-org>
    <LinkTo
      @route="authenticated.organization.namespaces"
      local-class="back-to"
    >
      <MdIcon @name="arrow_back" />
      <span local-class="back-text">
        {{t 'back'}}
      </span>
    </LinkTo>
  </div>
{{/if}}
<div local-class="org-name-container">
  <div local-class="org-name-content">
    <div local-class="org-name-label" data-test-org-name-label>
      {{t 'organizationName'}}
    </div>
    <div local-class="org-name-text" data-test-org-name-text>
      {{@organization.name}}
    </div>
  </div>
  {{#if this.isShowEdit}}
    <button
      class="primary-btn transparent-bg"
      type="button"
      local-class="edit-name-btn"
      data-test-org-name-edit-btn
      {{on 'click' this.toggleEditNameModal}}
      {{did-insert this.initChangeset}}
    >
      <MdIcon @name="create" />
      {{t 'edit'}}
    </button>
  {{/if}}
  {{#if this.isShowSettings}}
    <LinkTo
      @route="authenticated.organization-settings"
      class="primary-btn transparent-bg"
      local-class="org-settings-btn"
      data-test-org-settings-link
    >
      <MdIcon @name="settings" />
      {{t 'organizationSettings'}}
    </LinkTo>
  {{/if}}
</div>
{{#if this.isShowEditOrgName}}
  <AkModal
    @showHeader={{true}}
    @headerTitle={{t 'editOrganizationName'}}
    @onClose={{this.toggleEditNameModal}}
  >
    <div local-class="edit-name-modal-container" data-test-org-edit-modal>
      <div local-class="edit-name-label" data-test-org-edit-modal-label>
        {{t 'editOrganizationNameModalLabel'}}
      </div>
      <div local-class="edit-name-input">
        <Input
          class="input-box"
          @type="text"
          aria-label="organization name"
          @value={{this.changeset.organizationName}}
          data-test-org-edit-modal-input
        />
        {{#if this.changeset.error.organizationName}}
          <span class="error-msg" data-test-input-error-org-name>
            {{this.changeset.error.organizationName.validation}}
          </span>
        {{/if}}
      </div>
      <div local-class="edit-name-action-container">
        <button
          class="secondary-btn transparent-bg"
          type="button"
          data-test-org-edit-modal-cancel-btn
          {{on 'click' this.toggleEditNameModal}}
        >
          {{t 'cancel'}}
        </button>
        <button
          class="primary-btn"
          type="button"
          disabled={{this.changeset.error.organizationName}}
          data-test-org-edit-modal-save-btn
          {{on 'click' this.updateOrgName}}
        >
          {{t 'save'}}
        </button>
      </div>
    </div>
  </AkModal>
{{/if}}
