<AkStack @alignItems='center'>
  <span
    class='mr-2'
    local-class='team-project-icon-{{this.teamProject.platformIconClass}}'
  >
    {{fa-icon
      this.teamProject.platformIconClass
      local-class='team-project-icon'
    }}
  </span>

  <AkLink
    @route='authenticated.project.files'
    @model={{@project.id}}
    @noWrap={{true}}
    @title={{this.teamProject.packageName}}
  >
    {{this.teamProject.packageName}}
  </AkLink>
</AkStack>