<AkDatePicker
  @multiple={{this.isMultipleDateSelect}}
  @range={{this.isRangeDate}}
  @maxDate={{this.maxDate}}
  @selected={{this.currentValue}}
  @onSelect={{this.onSelectDay}}
  data-test-aiReporting-preview-filterByColumnDrawer-filterGroupContent-field-dateTypeSelect
>
  <AkStack
    @alignItems='center'
    local-class='date-picker-btn
    {{if @isErrored "is-errored"}}
    {{if this.isMultipleDateSelect "is-multiple-date-select"}}'
    data-test-aiReporting-preview-filterByColumnDrawer-filterGroupContent-field-datePicker-toggleBtn
  >
    <AkIcon
      @iconName='event'
      @size='small'
      @color='textPrimary'
      title='Select date range'
      local-class='date-picker-icon'
      {{style minWidth='11px'}}
      data-test-aiReporting-preview-filterByColumnDrawer-filterGroupContent-field-datePicker-toggleBtn-icon
    />

    <div
      local-class='
      date-picker-date-text
      {{if this.isRangeDate "range-date"}}
      {{if
        (and this.isMultipleDateSelect this.hasMultipleDates)
        "is-multiple-date-select"
      }}
    '
    >
      {{#if this.isMultipleDateSelect}}
        <AkStack
          @direction='row'
          @flexWrap='wrap'
          @spacing='1'
          data-test-aiReporting-preview-filterByColumnDrawer-filterGroupContent-field-dateTypeSelect-multipleDates
        >
          {{#each this.multipleDates as |date|}}
            <AkChip
              @size='small'
              @label={{this.getMultipleDateDisplayValue date}}
              @onDelete={{fn this.onDeleteDate date}}
              data-test-aiReporting-preview-filterByColumnDrawer-filterGroupContent-field-dateTypeSelect-multipleDates-chip
            />
          {{else}}
            <AkTypography
              @tag='span'
              @variant='body2'
              @color='textSecondary'
              data-test-aiReporting-preview-filterByColumnDrawer-filterGroupContent-field-dateTypeSelect-multipleDates-noDates
            >
              {{t 'reportModule.advancedFilters.selectMultipleDates'}}
            </AkTypography>
          {{/each}}
        </AkStack>

      {{else if this.isRangeDate}}
        <AkStack
          @width='full'
          @direction='row'
          @justifyContent='center'
          @spacing='1'
          data-test-aiReporting-preview-filterByColumnDrawer-filterGroupContent-field-dateTypeSelect-rangeDates
        >
          {{#if this.rangeDate.start}}
            <AkTypography
              @tag='span'
              @variant='body2'
              @color='textPrimary'
              data-test-aiReporting-preview-filterByColumnDrawer-filterGroupContent-field-dateTypeSelect-rangeDates-start
            >
              {{this.rangeDateDisplayValues.start}}
            </AkTypography>
          {{else}}
            <AkTypography
              @tag='span'
              @variant='body2'
              @color='textSecondary'
              data-test-aiReporting-preview-filterByColumnDrawer-filterGroupContent-field-dateTypeSelect-rangeDates-start-noDate
            >
              {{t 'fromDate'}}
            </AkTypography>
          {{/if}}

          <AkTypography
            @tag='span'
            @variant='body2'
            @color='textSecondary'
            data-test-aiReporting-preview-filterByColumnDrawer-filterGroupContent-field-dateTypeSelect-rangeDates-delimiter
          >
            -
          </AkTypography>

          {{#if this.rangeDate.end}}
            <AkTypography
              @tag='span'
              @variant='body2'
              @color='textPrimary'
              data-test-aiReporting-preview-filterByColumnDrawer-filterGroupContent-field-dateTypeSelect-rangeDates-end
            >
              {{this.rangeDateDisplayValues.end}}
            </AkTypography>
          {{else}}
            <AkTypography
              @tag='span'
              @variant='body2'
              @color='textSecondary'
              data-test-aiReporting-preview-filterByColumnDrawer-filterGroupContent-field-dateTypeSelect-rangeDates-end-noDate
            >
              {{t 'toDate'}}
            </AkTypography>
          {{/if}}
        </AkStack>
      {{else}}
        {{#if this.singleDate}}
          <AkTypography
            @tag='span'
            @variant='body2'
            @color='textPrimary'
            data-test-aiReporting-preview-filterByColumnDrawer-filterGroupContent-field-dateTypeSelect-singleDate
          >
            {{this.singleDateDisplayValue}}
          </AkTypography>
        {{else}}
          <AkTypography
            @tag='span'
            @variant='body2'
            @color='textSecondary'
            data-test-aiReporting-preview-filterByColumnDrawer-filterGroupContent-field-dateTypeSelect-singleDate-noDate
          >
            {{t 'reportModule.advancedFilters.selectDate'}}
          </AkTypography>
        {{/if}}
      {{/if}}
    </div>
  </AkStack>
</AkDatePicker>