{{#if @isLoading}}
  <div data-test-loading-spinner>
    <ThreeBounceSpinner />
  </div>
{{else if @clientPlan}}
  <div local-class="plan" ...attributes data-test-plan>
    <div local-class="plan-type {{if @clientPlan.limitedScans 'per-scan' 'per-app'}}" data-test-plan-type>
      {{t (if  @clientPlan.limitedScans 'perScan' 'perApp')}}
    </div>
    <div local-class="plan-status" data-test-plan-status>
      {{#if @clientPlan.limitedScans}}
        <strong class="margin-r-h" data-test-plan-status-left>
          {{@clientPlan.scansLeft}}
          {{t 'pluralScans' itemCount=@clientPlan.scansLeft}}
        </strong>
        {{t 'remaining'}}
      {{else}}
        <strong class="margin-r-h" data-test-plan-status-left>
          {{@clientPlan.projectsLimit}}
          {{t 'pluralApps' itemCount=@clientPlan.projectsLimit}}
        </strong>
        <span local-class="expiry-date {{if @clientPlan.isPaymentExpired 'expiry-date-expired'}}" data-test-plan-expiry>
          {{t (if @clientPlan.isPaymentExpired 'expiredOn' 'expiresOn')}}
          {{day-js date=@clientPlan.expiryDate format="DD MMM YYYY"}}
        </span>
      {{/if}}
    </div>
  </div>
{{/if}}
