<AkStack
  @alignItems='center'
  @justifyContent='space-between'
  local-class='app-list-header'
>
  <div local-class='search-input-container-width'>
    <AkTextField @placeholder={{t 'search'}} @value={{this.searchQuery}}>
      <:rightAdornment>
        {{#if this.searchQuery}}
          <AkIcon
            @iconName='close'
            local-class='close-search-text'
            {{on 'click' this.clearSearch}}
          />
        {{else}}
          <AkIcon @iconName='search' @color='textSecondary' />
        {{/if}}
      </:rightAdornment>
    </AkTextField>
  </div>

  <AkStack @spacing='1.5' @alignItems='center'>
    <AkButton
      @disabled={{this.showMoveToInventoryBtn}}
      @color='primary'
      @variant='filled'
    >
      Move To Inventory
    </AkButton>

    {{! <AkLink @route='authenticated.storeknox.review-logs'>
      <AkButton @color='neutral' @variant='outlined'>
        Archived Apps
      </AkButton>
    </AkLink> }}
  </AkStack>
</AkStack>

<div local-class='app-list-table'>
  <Storeknox::Inventory::AppList::Table
    @handleSelectedDisabledApps={{this.handleSelectedDisabledApps}}
    @loadDisabledApps={{true}}
  />
</div>