<div data-test-notification-page local-class='notification_container'>
  <NotificationsPage::Header @product={{@product}} />

  <main local-class='notification_main_list'>
    <AkPaginationProvider
      @results={{this.tableData}}
      @onItemPerPageChange={{this.onItemPerPageChange}}
      @totalItems={{this.totalCount}}
      @nextAction={{this.goToPage}}
      @prevAction={{this.goToPage}}
      @itemPerPageOptions={{this.itemPerPageOptions}}
      @defaultLimit={{this.limit}}
      @offset={{this.offset}}
      as |pgc|
    >

      {{#if this.isLoading}}
        <AkDivider @color='dark' />

        <div local-class='loading'>
          <AkLoader />
        </div>
      {{else if this.isEmpty}}
        <AkDivider @color='dark' />

        <NotificationsPage::Empty @message='No Notifications' />
      {{else}}
        {{#each pgc.currentPageResults as |notification|}}
          <AkDivider @color='dark' />

          <NotificationsPage::Message @notification={{notification}} />
        {{/each}}

        <AkPagination
          @disableNext={{pgc.disableNext}}
          @nextAction={{pgc.nextAction}}
          @disablePrev={{pgc.disablePrev}}
          @prevAction={{pgc.prevAction}}
          @endItemIdx={{pgc.endItemIdx}}
          @startItemIdx={{pgc.startItemIdx}}
          @itemPerPageOptions={{pgc.itemPerPageOptions}}
          @onItemPerPageChange={{pgc.onItemPerPageChange}}
          @selectedOption={{pgc.selectedOption}}
          @tableItemLabel='Notifications'
          @perPageTranslation='Notifications per page'
          @totalItems={{pgc.totalItems}}
        />
      {{/if}}
    </AkPaginationProvider>
  </main>
</div>