<div local-class='settings-analysis-container'>
  <div class='py-2 px-3'>
    <ProjectSettings::AnalysisSettings::ToggleAnalysis
      @project={{this.project}}
    />
  </div>

  <AkDivider @color='dark' />

  <div class='py-2'>
    <ProjectSettings::AnalysisSettings::RegulatoryPreference
      @project={{this.project}}
    />
  </div>

  <AkDivider @color='dark' />

  <div class='py-2 px-3'>
    <ProjectSettings::AnalysisSettings::EmailNotifications
      @profileId={{this.project.activeProfileId}}
    />
  </div>

  <AkDivider @color='dark' />

  <div class='py-2'>
    <ProjectSettings::AnalysisSettings::ReportPreference
      @project={{this.project}}
    />
  </div>

  <AkDivider @color='dark' />

  <div class='py-2 px-3'>
    <ProjectSettings::AnalysisSettings::VulnerabilityList
      @project={{this.project}}
    />
  </div>
</div>