<div local-class='org-settings-container'>
  <AkLink @route='authenticated.organization.namespaces'>
    <:leftIcon>
      <span class='ak-icon ak-icon-arrow-back'></span>
    </:leftIcon>

    <:default>Back</:default>
  </AkLink>

  <div class='my-3'>
    <OrganizationNameHeader
      @organization={{@model.organization}}
      @showActionBtn={{this.showOrgNameActionBtn}}
      @actionBtnIconName={{'pencil'}}
      @actionBtnLabel={{'Edit Name'}}
      @actionBtnClick={{this.addEditOrganization}}
      @showAddOrgNameBtn={{this.orgNameDoesNotExist}}
      @onAddBtnClick={{this.addEditOrganization}}
    />
  </div>

  {{#if this.me.org.is_owner}}
    <RegulatoryPreferenceOrganization />

    <AkDivider class='my-3' @color='dark' />

    <OrganizationMfa
      @organization={{@model.organization}}
      @user={{@model.user}}
    />

    <AkDivider class='my-3' @color='dark' />
  {{/if}}

  {{#if @model.organization.features.sso}}
    <SsoSettings @organization={{@model.organization}} @user={{@model.user}} />

    <AkDivider class='my-3' @color='dark' />
  {{/if}}

  <OrganizationEmailDomain @isEditable={{this.me.org.is_owner}} />

  <AkDivider class='my-3' @color='dark' />

  <OrganizationArchive />

  <AkDivider class='my-3' @color='dark' />

  <JiraAccount @user={{@model.user}} />

  <AkDivider class='my-3' @color='dark' />

  <GithubAccount
    @integratedUser={{@model.integratedUser}}
    @reconnect={{@model.reconnect}}
    @user={{@model.user}}
  />

  <AkDivider class='my-3' @color='dark' />

  <FileCleanup />
</div>

{{#if this.showAddEditPopup}}
  <OrganizationNameAddEditModal
    @organization={{@model.organization}}
    @handleCancel={{this.cancelEditing}}
  />
{{/if}}