<div local-class='org-settings-container'>
  <AkLink @route='authenticated.organization.namespaces'>
    <:leftIcon>
      <AkIcon @iconName='arrow-back' />
    </:leftIcon>

    <:default>{{t 'back'}}</:default>
  </AkLink>

  <div class='mt-3 mb-4'>
    <OrganizationNameHeader @organization={{@model.organization}}>
      <:actionBtn as |ab|>
        {{#if this.showOrgNameActionBtn}}
          <AkButton
            @variant='outlined'
            data-test-org-name-action-btn
            {{on 'click' ab.openEditOrgNameModal}}
          >
            <:leftIcon>
              <AkIcon @iconName='edit' />
            </:leftIcon>

            <:default>
              {{t 'editName'}}
            </:default>
          </AkButton>
        {{/if}}
      </:actionBtn>
    </OrganizationNameHeader>
  </div>

  {{#if this.me.org.is_owner}}
    <RegulatoryPreferenceOrganization />

    <AkDivider class='my-3' @color='dark' />

    <OrganizationMfa
      @organization={{@model.organization}}
      @user={{@model.user}}
    />

    <AkDivider class='my-3' @color='dark' />
  {{/if}}

  {{#if @model.organization.features.sso}}
    <SsoSettings @organization={{@model.organization}} @user={{@model.user}} />

    <AkDivider class='my-3' @color='dark' />
  {{/if}}

  <OrganizationEmailDomain @isEditable={{this.me.org.is_owner}} />

  <AkDivider class='my-3' @color='dark' />

  <OrganizationArchive />

  <AkDivider class='my-3' @color='dark' />

  <JiraAccount @user={{@model.user}} />

  <AkDivider class='my-3' @color='dark' />

  <GithubAccount
    @integratedUser={{@model.integratedUser}}
    @reconnect={{@model.reconnect}}
    @user={{@model.user}}
  />

  <AkDivider class='my-3' @color='dark' />

  <FileCleanup />
</div>