<div local-class='org-settings-container'>
  <LinkTo local-class='back-btn' @route='authenticated.organization.namespaces'>
    <span local-class='back-icon' class='ak-icon ak-icon-arrow-back'></span>
    <span local-class='back-text'>Back</span>
  </LinkTo>

  <OrganizationNameHeader
    @organization={{@model.organization}}
    @showActionBtn={{this.showOrgNameActionBtn}}
    @actionBtnIconName={{'pencil'}}
    @actionBtnLabel={{'Edit Name'}}
    @actionBtnClick={{this.addEditOrganization}}
    @showAddOrgNameBtn={{this.orgNameDoesNotExist}}
    @onAddBtnClick={{this.addEditOrganization}}
  />

  {{#if this.me.org.is_owner}}
    <div class='margin-t-1 margin-b-1h'>
      <div class='columms'>
        <div class='column'>
          <RegulatoryPreferenceOrganization />
        </div>
      </div>
    </div>

    <div class='divider margin-t-1 margin-b-1'></div>

    <div class='columms'>
      <div class='column'>
        <OrganizationMfa
          @organization={{@model.organization}}
          @user={{@model.user}}
        />
      </div>
    </div>

    <div class='divider margin-t-1 margin-b-1'></div>
  {{/if}}

  {{#if @model.organization.features.sso}}
    <SsoSettings @organization={{@model.organization}} @user={{@model.user}} />
    <div class='divider margin-t-1 margin-b-1'></div>
  {{/if}}

  <div class='columns'>
    <div class='column'>
      <div class='org-settings-subtitle black-text is-fullwidth'>
        {{t 'emailDomainRestriction'}}
      </div>
      <OrganizationEmailDomain @isEditable={{this.me.org.is_owner}} />
    </div>
  </div>

  <div class='divider margin-t-1 margin-b-1'></div>

  <OrganizationArchive />

  <div class='divider margin-t-1 margin-b-1'></div>

  <div class='columns'>
    <div class='column'>
      <div class='org-settings-subtitle black-text is-fullwidth'>
        {{t 'jiraIntegration'}}
      </div>
      <JiraAccount @user={{@model.user}} />
    </div>
  </div>

  <div class='divider margin-t-1 margin-b-1'></div>

  <div class='columns'>
    <div class='column'>
      <div class='org-settings-subtitle black-text is-fullwidth'>
        {{t 'githubIntegration'}}
      </div>
      <GithubAccount
        @integratedUser={{@model.integratedUser}}
        @reconnect={{@model.reconnect}}
        @user={{@model.user}}
      />
    </div>
  </div>

  <div class='divider margin-t-1 margin-b-1'></div>

  <div class='columns'>
    <div class='column'>
      <FileCleanup />
    </div>
  </div>
</div>

{{#if this.showAddEditPopup}}
  <OrganizationNameAddEditModal
    @organization={{@model.organization}}
    @handleCancel={{this.cancelEditing}}
  />
{{/if}}