<LinkTo
  @route='authenticated.file'
  @model={{this.project.lastFile.id}}
  data-test-project-overview-container
>
  <FileOverview
    @file={{this.project.lastFile}}
    @profileId={{this.project.activeProfileId}}
  >
    <div class='flex-row flex-justify-center flex-row-gap-2 px-1 py-2'>
      <LinkTo
        @route='authenticated.project.settings'
        @model={{this.project.id}}
        class='button is-primary mp-project-setting'
      >
        {{fa-icon 'cog'}}&nbsp;
        {{t 'settings'}}
      </LinkTo>

      {{#if this.project.hasMultipleFiles}}
        <LinkTo
          @route='authenticated.project.files'
          @model={{this.project.id}}
          class='button is-primary mp-all-scans'
        >
          {{fa-icon 'navicon'}}&nbsp;
          {{t 'allUploads'}}
        </LinkTo>

        <LinkTo
          @route='authenticated.choose'
          @model={{this.project.lastFile.id}}
          class='button is-primary mp-file-compare'
        >
          {{fa-icon 'exchange'}}&nbsp;
          {{t 'compare'}}
        </LinkTo>
      {{/if}}
    </div>
  </FileOverview>
</LinkTo>