<div
  local-class='
    app-inventory-header-root
    {{if @skInventoryApp.isArchived "archived"}}
  '
  class='w-full mb-3 pt-2'
>
  <AkStack @direction='column' @spacing='2' @width='full'>
    <AkStack @direction='column' @width='full'>
      {{#if this.skInventoryApp.appIsNotAvailableOnAppknox}}
        <Storeknox::InventoryDetails::SectionHeader {{style minHeight='44px'}}>
          <:icon>
            <AkIcon
              @iconName='info'
              @size='small'
              data-test-storeknoxInventoryDetails-appNotPartOfAppknoxIcon
            />
          </:icon>

          <:default>
            <AkTypography
              @fontWeight='medium'
              data-test-storeknoxInventoryDetails-appNotPartOfAppknoxIconText
            >
              {{t 'storeknox.appNotPartOfAppknox'}}
            </AkTypography>
          </:default>
        </Storeknox::InventoryDetails::SectionHeader>
      {{/if}}

      <Storeknox::InventoryDetails::SectionInfo
        @width='full'
        @alignItems='flex-end'
        local-class='app-inventory-header-info'
      >
        {{#if this.appHasLicense}}
          <AkStack local-class='license-icon-container' class='p-1'>
            <AkTooltip
              @arrow={{true}}
              @title={{t 'storeknox.licenseAllocated'}}
            >
              <AkIcon
                @iconName='license-outline-rounded'
                @size='small'
                @color='success'
                {{style fontSize='2em !important'}}
                data-test-storeknoxInventoryDetails-licenseAllocatedIcon
              />
            </AkTooltip>
          </AkStack>
        {{/if}}

        <AkStack @width='full' @direction='column'>
          <img
            local-class='app-info-logo'
            src={{@skInventoryApp.appMetadata.iconUrl}}
            alt={{@skInventoryApp.appMetadata.title}}
            data-test-storeknoxInventoryDetails-appLogoImage
          />

          <a
            href={{@skInventoryApp.appMetadata.url}}
            target='_blank'
            rel='noopener noreferrer'
            class='w-full'
            {{on 'click' this.openAppLinkInNewTab}}
          >
            <AkTypography
              @variant='h5'
              @fontWeight='bold'
              @gutterBottom={{true}}
              @underline='always'
              class='mt-1'
              data-test-storeknoxInventoryDetails-headerAppTitle
            >
              {{@skInventoryApp.appMetadata.title}}
            </AkTypography>
          </a>

          <AkTypography
            @gutterBottom={{true}}
            data-test-storeknoxInventoryDetails-headerAppPackageName
          >
            {{@skInventoryApp.appMetadata.packageName}}
          </AkTypography>

          <AkTypography
            @color='neutral'
            @gutterBottom={{true}}
            data-test-storeknoxInventoryDetails-headerAppPackageName
          >
            {{@skInventoryApp.appMetadata.devName}}
          </AkTypography>

          <AkStack
            @width='full'
            @justifyContent='space-between'
            @alignItems='center'
          >
            <AkStack @spacing='1'>
              <Storeknox::ProductIcon @notClickable={{true}} @product='android'>
                <AppPlatformIcon
                  @platform={{if
                    this.skInventoryApp.isAndroid
                    'android'
                    'apple'
                  }}
                  data-test-storeknoxInventoryDetails-headerPlatformIcon
                />
              </Storeknox::ProductIcon>

              <Storeknox::ProductIcon
                @product={{if this.skInventoryApp.isAndroid 'android' 'ios'}}
                @storeLink={{@skInventoryApp.appMetadata.url}}
              >
                {{#if this.skInventoryApp.isAndroid}}
                  <AkSvg::PlaystoreLogo
                    {{style width='16px'}}
                    data-test-storeknoxInventoryDetails-playStoreLogo
                  />

                {{else}}
                  <AkSvg::AppstoreLogo
                    {{style width='16px'}}
                    data-test-storeknoxInventoryDetails-appStoreLogo
                  />
                {{/if}}
              </Storeknox::ProductIcon>
            </AkStack>

            <AkStack @spacing='1'>
              <AkTooltip
                @title={{t 'storeknox.lastMonitoredDate'}}
                @color='light'
                @arrow={{true}}
                data-test-storeknoxInventoryDetails-lastMonitoredDateTooltip
              >
                <AkStack @spacing='0.5' local-class='last-monitored-date'>
                  <AkIcon
                    @iconName='event'
                    @color='textPrimary'
                    data-test-storeknoxInventoryDetails-lastMonitoredDateIcon
                  />

                  <AkTypography
                    data-test-storeknoxInventoryDetails-lastMonitoredDate
                  >
                    {{this.lastMonitoredDate}}
                  </AkTypography>
                </AkStack>
              </AkTooltip>

              <AkIconButton
                data-test-sbomApp-actionBtn
                {{on 'click' this.handleOpenMenu}}
              >
                <AkIcon @iconName='more-vert' />
              </AkIconButton>

              <AkMenu
                @anchorRef={{this.anchorRef}}
                @arrow={{true}}
                @onClose={{this.handleCloseMenu}}
                as |akm|
              >
                {{#each this.menuItems as |it|}}
                  <akm.listItem
                    data-test-sbomApp-actionMenuItem
                    @button={{it.button}}
                    @link={{it.link}}
                    @route={{it.route}}
                    @model={{it.model}}
                    @onClick={{it.onClick}}
                    @divider={{it.divider}}
                    as |li|
                  >
                    <li.text @primaryText={{it.label}} />
                  </akm.listItem>
                {{/each}}
              </AkMenu>
            </AkStack>
          </AkStack>
        </AkStack>
      </Storeknox::InventoryDetails::SectionInfo>
    </AkStack>
  </AkStack>
</div>