<span
  local-class='
    toggle-container
    toggle-container-{{if @size @size "default"}}
    {{if @disabled "disabled"}}
  '
>
  <input
    data-test-toggle-input
    ...attributes
    local-class='toggle-input toggle-input-{{if @size @size "default"}}'
    type='checkbox'
    disabled={{@disabled}}
    readonly={{@readonly}}
    checked={{this.checked}}
    id={{this.id}}
    {{on 'change' this.onChange}}
  />
  <span
    local-class='track track-{{if @size @size "default"}}'
    data-test-toggle-input-slider
  ></span>
</span>