<div local-class="partner-client-list" class="padding-h-1 padding-b-2" {{did-insert this.initializeComp}}>
  <div local-class="client-list-container">
    {{#if this.clientList}}
      <div local-class="client-items">
        {{#each this.clientList as |client|}}
          <Cards::ClientInfo @client={{client}} @partnerCreditStat={{this.partnerCreditStat}}>
          </Cards::ClientInfo>
        {{/each}}
      </div>
      <div class="padding-t-1">
        {{#if (or this.hasPrevious this.hasNext)}}
          <div local-class="pagination">
            {{partial 'paginate'}}
          </div>
        {{/if}}
      </div>
    {{else}}
      {{#if this.isLoading}}
        <div local-class="loading">
          <ThreeBounceSpinner />
        </div>
      {{else}}
        <div local-class="no-data">{{t 'noClients'}}</div>
      {{/if}}
    {{/if}}
  </div>
</div>