<tr>
  <td>{{@invoice.id}}</td>
  <td>{{@invoice.planName}}</td>
  <td>${{@invoice.amount}}</td>
  <td>{{@invoice.paidDate}}</td>
  <td>{{@invoice.paidStatus}}</td>

  <td>
    <AkButton {{on 'click' (perform this.getInvoiceLink)}} @variant='outlined'>
      <:leftIcon>
        {{#if this.getInvoiceLink.isRunning}}
          <AkLoader @size={{13}} />
        {{else}}
          <AkIcon @iconName='download' />
        {{/if}}
      </:leftIcon>

      <:default>{{t 'download'}}</:default>
    </AkButton>
  </td>
</tr>