<div class='columns'>
  <div class='column is-one-third margin-auto'>
    <div class='box margin-top10'>
      <div class='margin-auto'>
        <AkTypography @color='neutral' @variant='h4' @fontWeight='regular'>
          Download App
        </AkTypography>

        <AkStack @direction='column' @width='full' @spacing='1.5' class='mt-3'>
          <Input
            @value={{this.fileNumber}}
            id='file-number'
            placeholder={{'Enter the file number'}}
            autofocus={{true}}
            class='form-control input'
          />

          <AkButton
            type='button'
            @variant='outlined'
            @disabled={{this.isDownloadingApp}}
            {{on 'click' this.downloadApp}}
          >
            {{#if this.isDownloadingApp}}
              <AkLoader @size={{13}} class='mr-1' />
            {{/if}}

            Download App
          </AkButton>
        </AkStack>
      </div>
    </div>
  </div>
</div>