<AkStack local-class='app-summary-container' @direction='column' @spacing='1.5'>
  <AkStack @alignItems='center' @justifyContent='space-between' @width='full'>
    <AkStack @spacing='1.5'>
      <Sbom::AppLogo @sbomApp={{@sbomApp}} />
    </AkStack>

    {{#if (has-block 'actionBtn')}}
      <div>
        {{yield to='actionBtn'}}
      </div>
    {{/if}}
  </AkStack>

  <AkStack @direction='column' @spacing='0.5'>
    <AkTypography data-test-sbomScanSummary-appName @variant='h5'>
      {{this.name}}
    </AkTypography>

    <AkTypography
      data-test-sbomScanSummary-appPackageName
      @variant='h6'
      @color='textSecondary'
    >
      {{this.packageName}}
    </AkTypography>

    <Sbom::AppPlatform local-class='app-platform-icon' @sbomApp={{@sbomApp}} />
  </AkStack>

  {{yield}}
</AkStack>