<div local-class='bordered-box'>
  <AkTabs local-class='tabs-container' as |akt|>
    {{#each this.tabItems as |item|}}
      <akt.tabItem
        @id={{item.id}}
        @buttonVariant={{true}}
        @onTabClick={{this.handleTabClick}}
        @isActive={{eq item.id this.selectedTab}}
      >
        {{item.label}}
      </akt.tabItem>
    {{/each}}
  </AkTabs>

  {{#let (component this.activeTabComponent) as |Component|}}
    <Component @file={{@file}} />
  {{/let}}
</div>