<table class="margin-t-1 margin-b-h table-h-bordered-gray">
  <tr>
    <td class="black-text bold font-small">
      {{t 'entityID'}}
    </td>
    <td>
      <div class="text-gray">
        {{@spMetadata.entity_id}}
      </div>
    </td>
  </tr>
  <tr>
    <td class="black-text bold font-small">
      {{t 'acsURL'}}
    </td>
    <td>
      {{@spMetadata.acs_url}}
    </td>
  </tr>
  <tr>
    <td class="black-text bold font-small">
      {{t 'nameIDFormat'}}
    </td>
    <td>
      {{@spMetadata.named_id_format}}
    </td>
  </tr>
</table>
