<div local-class='file-list-root'>
  <FileCompare::Header
    @file1={{this.baseFile}}
    @project={{@project}}
    @selectedScanType={{this.selectedScanType}}
    @scanTypeValue={{this.scanTypeValue}}
    @filterScanTypeChange={{this.filterScanTypeChange}}
    data-test-fileList-projectOverview-container
  >
    <:breadcrumbs>
      <AkBreadcrumbs::AutoTrail data-test-fileList-breadcrumbsContainer />
    </:breadcrumbs>

    <:header>
      <AkStack
        @direction='column'
        @spacing='1'
        data-test-fileList-projectOverview-header
      >
        <AkTypography @variant='h5'>
          {{t 'allUploads'}}
        </AkTypography>

        {{#if (or this.baseFile this.fileToCompare)}}
          <AkStack
            @direction='column'
            @spacing='0.5'
            data-test-fileList-projectOverview-headerFileCompare
          >
            <AkStack @alignItems='center' @spacing='1'>
              <AkTypography
                @variant='body2'
                @color='textSecondary'
                data-test-fileList-projectOverview-headerFileCompare-summaryText1
              >
                {{t 'fileCompare.summary1'}}
              </AkTypography>

              {{#if this.baseFile}}
                <AkChip
                  @label={{this.baseFile.id}}
                  @onDelete={{this.handleFile1Delete}}
                  @variant='outlined'
                  @size='medium'
                  @color='error'
                  @button={{true}}
                  local-class='file-list-compare-header-chip selected-file-chip'
                  data-test-fileList-projectOverview-headerFileCompare-baseFileChip
                />
              {{else}}
                <AkChip
                  @variant='outlined'
                  @label='{{t "fileCompare.selectAFile"}}'
                  local-class='file-list-compare-header-chip'
                  data-test-fileList-projectOverview-headerFileCompare-baseFileSelectText
                >
                  <:icon>
                    <AkIcon @iconName='info' @color='primary' />
                  </:icon>
                </AkChip>
              {{/if}}

              <AkTypography
                @variant='body2'
                @color='textSecondary'
                data-test-fileList-projectOverview-headerFileCompare-summaryText2
              >
                {{t 'fileCompare.summary2'}}
              </AkTypography>

              {{#if this.fileToCompare}}
                <AkChip
                  @label={{this.fileToCompare.id}}
                  @onDelete={{this.handleFile2Delete}}
                  @variant='outlined'
                  @size='medium'
                  @color='error'
                  @button={{true}}
                  local-class='file-list-compare-header-chip selected-file-chip'
                  data-test-fileList-projectOverview-headerFileCompare-compareFileChip
                />
              {{else}}
                <AkChip
                  @variant='outlined'
                  @label='{{t "fileCompare.selectCompareFile"}}'
                  local-class='file-list-compare-header-chip'
                  data-test-fileList-projectOverview-headerFileCompare-compareFileSelectText
                >
                  <:icon>
                    <AkIcon @iconName='info' @color='primary' />
                  </:icon>
                </AkChip>
              {{/if}}
            </AkStack>
          </AkStack>

        {{else}}
          <AkTypography
            @color='textSecondary'
            @variant='body2'
            data-test-fileList-projectOverview-header-noSelectedFileText
          >
            {{t 'fileList.selectFilesHeaderText'}}
          </AkTypography>
        {{/if}}
      </AkStack>
    </:header>

    <:headerCTA>
      <AkStack @alignItems='center'>
        {{#if (or this.baseFile this.fileToCompare)}}
          <AkButton
            @disabled={{this.disableCompareBtn}}
            {{style minWidth='100px'}}
            {{on 'click' this.onCompareBtnClick}}
            data-test-fileList-projectOverview-header-compareBtn
          >
            {{t 'compare'}}
          </AkButton>
        {{/if}}
      </AkStack>
    </:headerCTA>
  </FileCompare::Header>

  {{#if this.showClearFilter}}
    <AkStack
      @width='full'
      @alignItems='center'
      local-class='clear-filter-section'
    >
      <AkTypography>Showing results of &nbsp;</AkTypography>

      <AkTypography @fontWeight='bold'>{{this.totalFilesCount}}
        out of
        {{this.overallFilesCount}}
        files</AkTypography>

      <AkDivider
        local-class='divider'
        @direction='vertical'
        @color='dark'
        @height='20px'
      />

      <AkButton
        @color='textSecondary'
        @underline='none'
        @variant='text'
        @leftIconClass={{this.clearFilterIconClass}}
        {{on 'click' this.clearFilters}}
        local-class='clear-filter'
        data-test-project-list-header-clear-filter
      >
        <:leftIcon>
          <AkIcon @iconName='close' @size='small' />
        </:leftIcon>

        <:default>
          <AkTypography local-class='clear-filter-label'>
            {{t 'clearFilter'}}
          </AkTypography>
        </:default>
      </AkButton>
    </AkStack>
  {{/if}}

  <div local-class='file-list-wrapper' data-test-fileList-wrapper>
    <AkPaginationProvider
      @results={{this.files}}
      @onItemPerPageChange={{this.onItemPerPageChange}}
      @totalItems={{this.totalFilesCount}}
      @nextAction={{this.goToPage}}
      @prevAction={{this.goToPage}}
      @itemPerPageOptions={{array 10 20 30}}
      @defaultLimit={{this.limit}}
      @offset={{this.offset}}
      as |pgc|
    >
      {{#if this.getFiles.isRunning}}
        <FileCompare::Loader
          @loadingText='{{t "loading"}}...'
          data-test-fileList-loadingContainer
        />
      {{else if this.hasNoProjects}}
        <AkStack
          local-class='no-project-container'
          @alignItems='center'
          @justifyContent='center'
          @direction='column'
        >
          <AkSvg::ProjectListEmpty />

          <AkTypography @variant='h4' @fontWeight='bold' class='pt-3 pb-1'>
            {{t 'noResultsFound'}}
          </AkTypography>

          <AkTypography @variant='h5' @fontWeight='regular' @align='center'>
            Kindly reset / clear the filter for better results
          </AkTypography>
        </AkStack>
      {{else if this.hasFiles}}
        <div local-class='file-list-container'>
          {{#each this.files as |file|}}
            <FileOverview
              @file={{file}}
              @isSelectedFile={{or
                (eq file.id this.fileToCompare.id)
                (eq file.id this.baseFile.id)
              }}
              @disableSelection={{and
                (not this.disableCompareBtn)
                (and
                  (not-eq file.id this.fileToCompare.id)
                  (not-eq file.id this.baseFile.id)
                )
              }}
              @onFileSelect={{this.handleFileSelect}}
              {{style maxWidth='unset'}}
              data-test-fileList-fileOverview-item
              data-test-fileList-fileOverview='{{file.id}}'
            />
          {{/each}}
        </div>

        <AkPagination
          @disableNext={{pgc.disableNext}}
          @nextAction={{pgc.nextAction}}
          @disablePrev={{pgc.disablePrev}}
          @prevAction={{pgc.prevAction}}
          @endItemIdx={{pgc.endItemIdx}}
          @startItemIdx={{pgc.startItemIdx}}
          @itemPerPageOptions={{pgc.itemPerPageOptions}}
          @onItemPerPageChange={{pgc.onItemPerPageChange}}
          @selectedOption={{pgc.selectedOption}}
          @tableItemLabel={{t 'files'}}
          @perPageTranslation={{t 'recordPerPage'}}
          @totalItems={{pgc.totalItems}}
        />
      {{/if}}
    </AkPaginationProvider>
  </div>
</div>