<div class='py-1' data-test-sbomComponentDetails-container>
  <AkStack local-class='summary-header-root' @direction='column' class='p-2'>
    <AkTypography
      data-test-sbomComponentDetails-headerTitleLabel
      @color='textSecondary'
    >
      {{t 'sbomModule.componentName'}}
    </AkTypography>

    <AkTypography
      data-test-sbomComponentDetails-headerTitleValue
      @variant='h5'
      local-class='summary-header-value'
    >
      {{@sbomComponent.bomRef}}&nbsp;:&nbsp;{{@sbomComponent.name}}
    </AkTypography>
  </AkStack>

  <AkTabs class='mt-3' as |Akt|>
    {{#each this.tabs as |item|}}
      <Akt.tabItem
        @id={{item.id}}
        @route={{item.route}}
        @currentWhen={{item.activeRoutes}}
      >
        {{item.label}}
      </Akt.tabItem>
    {{/each}}
  </AkTabs>
</div>