<AkStack
  @width='full'
  @spacing='2'
  @flexWrap='wrap'
  data-test-fileDetailScanActions-scan-type-cards
>
  <div local-class='scan-status-card'>
    <FileDetails::ScanActions::StaticScan
      @file={{@file}}
      @vulnerabilityCount={{this.vulnerabilityCounts.static}}
    />
  </div>

  <div local-class='scan-status-card' data-test-cy='dynamicScan-infoContainer'>
    <FileDetails::ScanActions::DynamicScan
      @file={{@file}}
      @vulnerabilityCount={{this.vulnerabilityCounts.dynamic}}
    />
  </div>

  {{#if this.isAPIScanEnabled}}
    <div local-class='scan-status-card'>
      <FileDetails::ScanActions::ApiScan
        @file={{@file}}
        @vulnerabilityCount={{this.vulnerabilityCounts.api}}
      />
    </div>
  {{/if}}

  {{#unless this.isManualScanDisabled}}
    <div local-class='scan-status-card'>
      <FileDetails::ScanActions::ManualScan
        @file={{@file}}
        @vulnerabilityCount={{this.vulnerabilityCounts.manual}}
      />
    </div>
  {{/unless}}
</AkStack>