<div class='tabs is-centered is-medium is-boxed'>
  <ul>
    <li class={{if this.isSummary 'is-active'}}>
      <a class='mp-display-summary' href='#' {{on 'click' this.displaySummary}}>
        {{t 'summary'}}
      </a>
    </li>
    <li class={{unless this.isSummary 'is-active'}}>
      <a class='mp-display-details' href='#' {{on 'click' this.displayDetails}}>
        {{t 'details'}}
      </a>
    </li>
  </ul>
</div>

<div class='columns flex-center compare-container'>
  <div class='column is-half'>
    <LinkTo @route='authenticated.dashboard.file' @model={{@file1.id}}>
      <FileOverview
        @file={{@file1}}
        @isReverse={{true}}
        @profileId={{@file1.profile.id}}
      />
    </LinkTo>
  </div>
  <div class='column is-half'>
    <LinkTo @route='authenticated.dashboard.file' @model={{@file2.id}}>
      <FileOverview @file={{@file2}} @profileId={{@file2.profile.id}} />
    </LinkTo>
  </div>
</div>

<div {{did-insert this.fetchdata}} class='columns compare-details my-2'>
  <div class='column text-centre'>
    {{t 'compareSummary1'}}
    <select
      name='base-file-id'
      id='base-file-id'
      {{on 'change' this.selectBaseFile}}
    >
      <option value={{@file1.id}}>{{@file1.id}}</option>
      {{#each this.allBaseFiles as |file|}}
        <option value={{file.id}}>{{file.id}}</option>
      {{/each}}
    </select>
    &nbsp;
    {{t 'compareSummary2'}}
    <select
      name='compare-file-id'
      id='compare-file-id'
      {{on 'change' this.selectCompareFile}}
    >
      <option value={{@file2.id}}>{{@file2.id}}</option>
      {{#each this.allCompareFiles as |file|}}
        <option value={{file.id}}>{{file.id}}</option>
      {{/each}}
    </select>
  </div>
</div>

{{#if this.compareText}}
  <div class='columns'>
    <AkStack
      @direction='row'
      @justifyContent='center'
      @alignItems='center'
      class='column compare-text'
    >
      <AkIcon @iconName='report-problem' />
      {{this.compareText}}
    </AkStack>
  </div>
{{/if}}

{{#if this.isSummary}}
  <table local-class='compare-table'>
    <thead>
      <tr local-class='table-head'>
        <td colspan='2'>
          {{t 'riskType'}}
        </td>
        <td rowspan='2'>
          {{t 'riskOf'}}
        </td>
        <td rowspan='2'>
          {{t 'status'}}
        </td>
      </tr>
      <tr local-class='table-head'>
        <td>
          <div>File ID {{@file1.id}}</div>
          <div>{{t 'version'}} &nbsp; {{@file1.version}}</div>
          <span class='arrow-left'>
            <AkIcon @iconName='keyboard-backspace' />
          </span>
        </td>
        <td>
          <div>File ID {{@file2.id}}</div>
          <div>{{t 'version'}} &nbsp; {{@file2.version}}</div>
        </td>
      </tr>
    </thead>
    <tbody>
      {{#each this.comparisons as |comparison|}}
        <CompareSummary @comparison={{comparison}} />
      {{/each}}
    </tbody>
  </table>
{{else}}
  <AkAccordion::Group @openMultiple={{true}} class='columns' as |actx|>
    {{#each this.comparisons as |comparison|}}
      <div class='column is-half'>
        <AkAccordion @accordionCtx={{actx}} @mountContentOnExpand={{true}}>
          <:summaryText>
            <AkStack
              @alignItems='center'
              @justifyContent='space-between'
              @width='full'
            >
              <AkStack @alignItems='center' @spacing='1.5'>
                <RiskTag @analysis={{comparison.analysis1}} />

                <AkTypography>
                  {{comparison.analysis1.vulnerability.name}}
                </AkTypography>
              </AkStack>

              <div class='px-2'>
                <FileDetails::TypeOfScan @analysis={{comparison.analysis1}} />
              </div>
            </AkStack>
          </:summaryText>

          <:content>
            <FileDetails::VulnerabilityAnalysisDetails
              @analysis={{comparison.analysis1}}
            />
          </:content>
        </AkAccordion>
      </div>
      <div class='column is-half'>
        <AkAccordion @accordionCtx={{actx}} @mountContentOnExpand={{true}}>
          <:summaryText>
            <AkStack
              @alignItems='center'
              @justifyContent='space-between'
              @width='full'
            >
              <AkStack @alignItems='center' @spacing='1.5'>
                <RiskTag @analysis={{comparison.analysis2}} />

                <AkTypography>
                  {{comparison.analysis2.vulnerability.name}}
                </AkTypography>
              </AkStack>

              <div class='px-2'>
                <FileDetails::TypeOfScan @analysis={{comparison.analysis2}} />
              </div>
            </AkStack>
          </:summaryText>

          <:content>
            <FileDetails::VulnerabilityAnalysisDetails
              @analysis={{comparison.analysis2}}
            />
          </:content>
        </AkAccordion>
      </div>
    {{/each}}
  </AkAccordion::Group>
  <hr />
{{/if}}