{{! template-lint-disable no-curly-component-invocation }}
{{#unless this.isHideSettings}}
  <div class="org-settings-subtitle black-text is-fullwidth" {{did-insert (perform this.loadCleanupPref)}}>
    {{t 'storageManagement'}}
  </div>
  <div>
    <div class="vertical-align-top">
      <div local-class="toggle-check" class="div">
        <label class="switch margin-right">
          <Input {{!-- template-lint-disable require-input-label  --}}
            class="switch-input" @type="checkbox" id="auto-cleanup"
            {{on "change" (fn this.onChangePref this.changeset 'checkbox')}}
            @checked={{get this.changeset "isEnabled"}} />
          <span class="slider slider-nolabel round"></span>
        </label>
      </div>
      <div class="padding-l-1h">
        <label class="black-text" local-class="cleanup-title" for="auto-cleanup">
          {{t 'fileCleanup.autoCleanup'}}
        </label>
        <p local-class="cleanup-descripton">{{t 'fileCleanup.description'}}</p>
        {{#if this.changeset.isEnabled}}
          <div class="input-wrap margin-right20" local-class="files-count-input">
            <label for="active-file-limit">
              {{t 'fileCleanup.activeCount'}}
            </label>
            <Input class="input-field" local-class="{{if this.changeset.error.filesToKeep 'error-input'}}" @type="number"
              @value={{mut (get this.changeset "filesToKeep")}} min={{2}} max={{50}} id="active-file-limit"
              disabled={{unless this.changeset.isEnabled "disabled"}} />
            <button type="button" local-class="save-input {{unless this.changeset.error.filesToKeep 'correct-input'}}"
              disabled={{if this.changeset.error.filesToKeep "disabled"}}
              {{on "click" (fn this.onChangePref this.changeset)}}>
              <AkIcon @iconName='done' />
            </button>
            {{#if this.changeset.error.filesToKeep}}
              <span local-class="file-count-err">{{this.changeset.error.filesToKeep.validation}}</span>
            {{/if}}
          </div>

          <div class="last-cleanup vertical-align-center">
            <label local-class="last-activity" class="margin-right black-text">
              {{t 'fileCleanup.lastActivity'}}
            </label>
            <span class="margin-right">{{day-js date=this.changeset.lastCleanedAt format="DD MMM YYYY"}}</span>
            <button class="view-all-cleanup button is-primary" {{on "click" this.onViewAllCleanup}} type="button">
              {{t 'fileCleanup.viewList'}}
            </button>
            <div class="trigger-cleanup-btn align-end">
              <button type="button" class="is-primary highlighted-button margin-l-1"
                {{on "click" this.onTriggerCleanup}}
                disabled={{unless this.changeset.isEnabled "disabled"}}>{{t 'fileCleanup.run'}}</button>
            </div>
          </div>
        {{/if}}

      </div>
    </div>

  </div>

  {{!-- Added divider since it's render by self context check --}}
  <div class="divider margin-t-1 margin-b-1"></div>
{{/unless}}


{{#if this.isShowAllCleanup}}
  <AkModal @onClose={{this.onCloseModal}} @showHeader={{true}} @headerTitle={{t 'fileCleanup.listTitle'}}>
    <Modals::OrgFileCleanupList></Modals::OrgFileCleanupList>
  </AkModal>
{{/if}}