<div class='mt-2' ...attributes data-test-sbomComponentVulnerabilities>
  <AkPaginationProvider
    @results={{this.sbomVulnerabilityList}}
    @onItemPerPageChange={{this.handleItemPerPageChange}}
    @totalItems={{this.totalSbomVulnerabilityCount}}
    @nextAction={{this.handlePrevNextAction}}
    @prevAction={{this.handlePrevNextAction}}
    @itemPerPageOptions={{array 10 25 50}}
    @defaultLimit={{this.limit}}
    @offset={{this.offset}}
    as |pgc|
  >
    <Sbom::EmptyLoadingView
      @empty={{this.hasNoSbomVulnerability}}
      @loading={{this.fetchSbomComponentVulnerabilities.isRunning}}
    >
      <:emptySvg>
        <AkSvg::NoVulnerability
          data-test-sbomComponentVulnerabilities-emptySvg
        />
      </:emptySvg>

      <:emptyText>
        <AkStack
          class='mt-2'
          @direction='column'
          @alignItems='center'
          @spacing='1'
        >
          <AkTypography
            data-test-sbomComponentVulnerabilities-emptyTextTitle
            @variant='h5'
          >
            {{t 'sbomModule.knownVulnerabilitiesEmptyText.title'}}
          </AkTypography>

          <AkTypography
            data-test-sbomComponentVulnerabilities-emptyTextDescription
            {{style width='400px'}}
            @color='textSecondary'
            @align='center'
          >
            {{t 'sbomModule.knownVulnerabilitiesEmptyText.description'}}
          </AkTypography>
        </AkStack>
      </:emptyText>

      <:default>
        <div local-class='vulnerability-list-header'>
          {{#each this.columns as |col|}}
            <AkTypography
              data-test-sbomComponentVulnerabilities-listHead
              local-class='vulnerability-list-header-item'
              @tag='div'
              @variant='h6'
              @align={{col.textAlign}}
            >
              {{col.name}}
            </AkTypography>
          {{/each}}
        </div>

        <AkList class='py-0' as |akl|>
          {{#each pgc.currentPageResults as |svl|}}
            <akl.listItem
              data-test-sbomComponentVulnerabilities-listItem
              local-class='vulnerability-list-item'
              @noGutters={{true}}
            >
              <Sbom::ComponentDetails::Vulnerabilities::DetailWrapper
                @sbomVulnerabilityAudit={{svl}}
                local-class='vulnerability-detail-wrapper'
                as |dw|
              >
                {{#each this.columns as |col|}}
                  {{#let (component col.component) as |Component|}}
                    <div
                      data-test-sbomComponentVulnerabilities-listCell
                      {{style textAlign=col.textAlign}}
                      local-class='vulnerability-detail-cell'
                    >
                      <Component
                        @isContentCollapsed={{dw.isContentCollapsed}}
                        @collapsibleContentHandler={{dw.collapsibleContentHandler}}
                        @sbomVulnerability={{svl.sbVulnerability}}
                      />
                    </div>
                  {{/let}}
                {{/each}}
              </Sbom::ComponentDetails::Vulnerabilities::DetailWrapper>
            </akl.listItem>
          {{/each}}
        </AkList>

        <AkPagination
          @disableNext={{pgc.disableNext}}
          @nextAction={{pgc.nextAction}}
          @disablePrev={{pgc.disablePrev}}
          @prevAction={{pgc.prevAction}}
          @endItemIdx={{pgc.endItemIdx}}
          @startItemIdx={{pgc.startItemIdx}}
          @itemPerPageOptions={{pgc.itemPerPageOptions}}
          @onItemPerPageChange={{pgc.onItemPerPageChange}}
          @selectedOption={{pgc.selectedOption}}
          @tableItemLabel={{t 'vulnerabilities'}}
          @perPageTranslation={{t 'recordPerPage'}}
          @totalItems={{pgc.totalItems}}
        />
      </:default>
    </Sbom::EmptyLoadingView>
  </AkPaginationProvider>
</div>