<UseEffect
  @effect={{this.reloadRegistrationRequest}}
  @dependencies={{this.reloadRegistrationRequestDependencies}}
>
  <div>
    <div local-class='header'>
      <h3 local-class='title'>{{t 'pendingInvitations'}}</h3>

      <Partner::InviteClient />
    </div>

    <AkPaginationProvider
      @results={{this.partnerRegistrationRequestList}}
      @onItemPerPageChange={{this.handleItemPerPageChange}}
      @totalItems={{this.totalPartnerRegistrationRequestCount}}
      @nextAction={{this.handleNextPrevAction}}
      @prevAction={{this.handleNextPrevAction}}
      @itemPerPageOptions={{array 10 25 50}}
      @defaultLimit={{this.limit}}
      @offset={{this.offset}}
      as |pgc|
    >
      {{#if this.fetchPartnerRegistrationRequest.isRunning}}
        <div local-class='loading'>
          <ThreeBounceSpinner />
        </div>
      {{else if this.hasErrored}}
        <div local-class='loading-error'>{{t 'errorCouldNotLoadData'}}</div>
      {{else if this.hasNoPartnerRegistrationRequest}}
        <div local-class='empty-data'>{{t 'noInvitations'}}</div>
      {{else}}
        <div data-test-invitations-list>
          <div local-class='table'>
            <div local-class='table-header'>
              <AkTypography @fontWeight='bold' @color='neutral'>
                {{t 'invitee'}}
              </AkTypography>

              <AkTypography @fontWeight='bold' @color='neutral'>
                {{t 'company'}}
              </AkTypography>

              <AkTypography @fontWeight='bold' @color='neutral'>
                {{t 'invited'}}
              </AkTypography>

              <AkTypography @fontWeight='bold' @color='neutral'>
                {{t 'expiresOn'}}
              </AkTypography>

              <AkTypography @fontWeight='bold' @color='neutral'>
                {{t 'source'}}
              </AkTypography>

              <div></div>
            </div>

            <div local-class='table-body'>
              {{#each pgc.currentPageResults as |request|}}
                <div local-class='table-row' data-test-invitations-row>
                  <Partner::Invitation
                    @request={{request}}
                    @onResend={{this.onResend}}
                    @onDelete={{this.onDelete}}
                    data-test-invitation-id={{request.id}}
                  />
                </div>
              {{/each}}
            </div>
          </div>

          {{#let (and pgc.disableNext pgc.disablePrev) as |hidePagination|}}
            {{#unless hidePagination}}
              <div local-class='pagination'>
                <AkPagination
                  @disableNext={{pgc.disableNext}}
                  @nextAction={{pgc.nextAction}}
                  @disablePrev={{pgc.disablePrev}}
                  @prevAction={{pgc.prevAction}}
                  @endItemIdx={{pgc.endItemIdx}}
                  @startItemIdx={{pgc.startItemIdx}}
                  @itemPerPageOptions={{pgc.itemPerPageOptions}}
                  @onItemPerPageChange={{pgc.onItemPerPageChange}}
                  @selectedOption={{pgc.selectedOption}}
                  @tableItemLabel={{t 'invitations'}}
                  @perPageTranslation={{t 'recordPerPage'}}
                  @totalItems={{pgc.totalItems}}
                />
              </div>
            {{/unless}}
          {{/let}}
        </div>
      {{/if}}
    </AkPaginationProvider>
  </div>
</UseEffect>