<Storeknox::InventoryDetails::SectionInfo
  @direction='column'
  @alignItems='center'
  @width='full'
  @spacing='3'
  class='py-6'
>
  {{#if this.showUploadCompletedIllustration}}
    <AkSvg::SoxUploadCompleted
      data-test-storeknoxInventoryDetails-UploadCompletedIllustration
    />

  {{else if this.uploadFailed}}
    <AkSvg::SoxInvalidUploadUrl
      data-test-storeknoxInventoryDetails-failedUploadIllustration
    />

  {{else}}
    <AkSvg::SoxInitiateUpload
      data-test-storeknoxInventoryDetails-initiateUploadIllustration
    />
  {{/if}}

  <AkStack @width='full' @direction='column' @alignItems='center' @spacing='1'>
    <AkTypography
      @fontWeight='bold'
      @align='center'
      data-test-storeknoxInventoryDetails-initiateUploadHeaderMsg
    >
      {{this.uploadHeaderMsg}}
    </AkTypography>

    <AkTypography
      @align='center'
      {{style maxWidth='400px'}}
      data-test-storeknoxInventoryDetails-initiateUploadHeaderSubtext
    >
      {{this.uploadSubTextMsg}}
    </AkTypography>
  </AkStack>

  {{#if this.canInitiateUpload}}
    <AkTooltip
      @disabled={{this.hideTooltipMessage}}
      @placement='left'
      @arrow={{true}}
      data-test-skAppVersionTable-initiateUploadBtn-tooltip
    >
      <:tooltipContent>
        <div local-class='tooltip-content'>
          <AkTypography
            @color='inherit'
            @variant='body2'
            data-test-skAppVersionTable-initiateUploadBtn-tooltipContent
          >
            {{#if this.skInventoryApp.isArchived}}
              {{t 'storeknox.cannotUploadForArchivedApps'}}
            {{else}}
              {{t 'storeknox.initiateUploadComingSoon'}}
            {{/if}}
          </AkTypography>
        </div>
      </:tooltipContent>

      <:default>
        <AkButton
          @variant='outlined'
          @disabled={{this.disableInitiateUploadBtn}}
          {{on 'click' @initiateAppUpload}}
          data-test-storeknoxInventoryDetails-initiateUploadBtn
        >
          <:leftIcon>
            <AkIcon
              @iconName='cloud-upload'
              @variant='filled'
              data-test-storeknoxInventoryDetails-initiateUploadBtnIcon
            />
          </:leftIcon>

          <:default>
            {{#if this.uploadFailed}}
              {{t 'storeknox.retryUpload'}}
            {{else}}
              {{t 'storeknox.initiateUpload'}}
            {{/if}}
          </:default>
        </AkButton>
      </:default>
    </AkTooltip>
  {{/if}}

  {{#if this.showNamespacesLink}}
    <Storeknox::InventoryDetails::ViewNamespaceLink />
  {{/if}}
</Storeknox::InventoryDetails::SectionInfo>