<Admin::ServiceAccount::Section::Card
  @title={{if
    this.isEditOrCreateView
    (t 'selectProject')
    (t 'selectedProject')
  }}
  @headerColor={{if this.isEditView 'primary'}}
  @showHeaderAction={{this.showHeaderAction}}
  @showFooterAction={{this.isEditView}}
>
  <:headerAction as |ha|>
    <AkTooltip
      @placement='top'
      @arrow={{true}}
      @title='{{t "edit"}} {{t "selectedProject"}}'
    >
      <AkIconButton
        data-test-serviceAccountSection-selectProject-actionBtn
        data-test-cy='serviceAccountSection-selectProject-actionBtn'
        @variant='outlined'
        class={{ha.classes.headerActionBtn}}
        {{on 'click' this.handleShowEditView}}
      >
        <AkIcon @iconName='edit' />
      </AkIconButton>
    </AkTooltip>
  </:headerAction>

  <:default>
    <AkStack @direction='column' @spacing='0.5'>
      {{#if this.isEditOrCreateView}}
        <AkSelect
          data-test-serviceAccountSection-selectProject-projectAccessSelect
          data-test-cy='serviceAccountSection-selectProject-projectAccessSelect'
          class='w-6/12'
          @label='Project Access'
          @labelTypographyVariant='h6'
          @labelTypographyColor='textPrimary'
          @options={{this.projectAccessOptions}}
          @selected={{this.selectedProjectAccessOption}}
          @onChange={{this.handleProjectAccessSelectChange}}
          as |aks|
        >
          {{aks.label}}
        </AkSelect>

        <AkStack class='mt-1' @alignItems='center' @spacing='0.5'>
          <AkIcon @iconName='info' @size='small' @color='textPrimary' />

          <AkTypography
            data-test-serviceAccountSection-selectProject-projectAccessDescription
          >
            {{t 'serviceAccountModule.projectAccessDescription'}}
          </AkTypography>
        </AkStack>
      {{else}}
        <AkStack @alignItems='center' @spacing='1'>
          <AkTypography
            @variant='subtitle1'
            data-test-serviceAccountSection-selectProject-projectAccessLabel
          >
            {{t 'serviceAccountModule.projectAccess'}}
          </AkTypography>

          <AkTooltip @placement='right' @arrow={{true}}>
            <:tooltipContent>
              <div
                data-test-serviceAccountSection-selectProject-projectAccessTooltipContent
                local-class='tooltip-content-container'
              >
                {{t 'serviceAccountModule.projectAccessDescription'}}
              </div>
            </:tooltipContent>

            <:default>
              <AkIcon
                data-test-serviceAccountSection-selectProject-projectAccessInfoIcon
                @iconName='info'
                @size='small'
                @color='textPrimary'
              />
            </:default>
          </AkTooltip>
        </AkStack>

        <AkTypography
          local-class='selected-project-access-value'
          data-test-serviceAccountSection-selectProject-selectedProjectAccess
        >
          {{t
            'serviceAccountModule.selectedProjectAccess'
            projectAccess=this.selectedProjectAccessOption.label
            htmlSafe=true
          }}
        </AkTypography>
      {{/if}}
    </AkStack>

    {{#unless @serviceAccount.allProjects}}
      <Admin::ServiceAccount::Section::SelectProject::List
        @isEditView={{this.isEditView}}
        @isCreateView={{this.isCreateView}}
        @serviceAccount={{@serviceAccount}}
      />
    {{/unless}}
  </:default>

  <:footerAction>
    <AkButton
      data-test-serviceAccountSection-selectProject-updateBtn
      data-test-cy='serviceAccountSection-selectProject-updateBtn'
      @loading={{this.updateServiceAccount.isRunning}}
      {{on 'click' this.handleUpdateServiceAccount}}
    >
      {{t 'update'}}
    </AkButton>

    <AkButton
      data-test-serviceAccountSection-selectProject-cancelBtn
      @variant='outlined'
      @color='neutral'
      @disabled={{this.updateServiceAccount.isRunning}}
      {{on 'click' this.handleCancelEditView}}
    >
      {{t 'cancel'}}
    </AkButton>
  </:footerAction>
</Admin::ServiceAccount::Section::Card>