<div>
  <AkStack
    data-test-fileDetails-dynamicScan-expiry
    local-class='dynamic-scan-expiry-container'
    @justifyContent='center'
    @alignItems='center'
    @spacing='1'
  >
    <AkTooltip
      data-test-fileDetails-dynamicScan-expiry-tooltip
      @color='dark'
      @placement='top'
      @arrow={{true}}
      @title={{t 'dynamicScanTitleTooltip'}}
    >
      <AkIconButton @size='small' local-class='info-btn'>
        <AkIcon @iconName='info' @color='primary' />
      </AkIconButton>
    </AkTooltip>

    <AkTypography
      data-test-fileDetails-dynamicScan-expiry-time
      @tag='span'
      @variant='h5'
      @fontWeight='regular'
    >
      {{this.timeRemaining.minutes}}:{{this.timeRemaining.seconds}}
    </AkTypography>

    {{#if this.extendtime.isRunning}}
      <AkLoader @size={{16}} />
    {{else}}
      <AkTooltip
        data-test-fileDetails-dynamicScan-expiry-extendBtn-tooltip
        @disabled={{this.canExtend}}
        @color='dark'
        @placement='top'
        @arrow={{true}}
        @title={{t 'dynamicScanExtentionLimit'}}
      >
        <AkIconButton
          data-test-fileDetails-dynamicScan-expiry-extendBtn
          @size='small'
          disabled={{not this.canExtend}}
          {{on 'click' this.handleExtendTimeClick}}
          local-class='extend-time-btn'
        >
          <AkIcon @size='small' @iconName='add' />
        </AkIconButton>
      </AkTooltip>
    {{/if}}
  </AkStack>

  <AkMenu
    @anchorRef={{this.extendBtnAnchorRef}}
    @onClose={{this.handleExtendTimeMenuClose}}
    as |akm|
  >
    {{#each this.extendTimeOptions as |time|}}
      <akm.listItem
        data-test-fileDetails-dynamicScan-expiry-extendTime-menu-item
        @onClick={{perform this.extendtime time}}
        as |li|
      >
        <li.text @primaryText='{{time}} mins' />
      </akm.listItem>
    {{/each}}
  </AkMenu>
</div>