<div>
  <AkStack
    local-class='dynamic-scan-expiry-container'
    @justifyContent='center'
    @alignItems='center'
    @spacing='1'
  >
    <AkTooltip
      @color='dark'
      @placement='top'
      @arrow={{true}}
      @title='Kindly interact with the device to get the potential results'
    >
      <AkIconButton @size='small' local-class='info-btn'>
        <AkIcon @iconName='info' @color='primary' />
      </AkIconButton>
    </AkTooltip>

    <AkTypography @tag='span' @variant='h5' @fontWeight='regular'>
      {{this.timeRemaining.minutes}}:{{this.timeRemaining.seconds}}
    </AkTypography>

    {{#if this.extendtime.isRunning}}
      <AkLoader @size={{16}} />
    {{else}}
      <AkTooltip
        @disabled={{this.canExtend}}
        @color='dark'
        @placement='top'
        @arrow={{true}}
        @title={{t 'dynamicScanExtentionLimit'}}
      >
        <AkIconButton
          @size='small'
          disabled={{not this.canExtend}}
          {{on 'click' this.handleExtendTimeClick}}
          local-class='extend-time-btn'
        >
          <AkIcon @size='small' @iconName='add' />
        </AkIconButton>
      </AkTooltip>
    {{/if}}
  </AkStack>

  <AkMenu
    @anchorRef={{this.extendBtnAnchorRef}}
    @onClose={{this.handleExtendTimeMenuClose}}
    as |akm|
  >
    {{#each this.extendTimeOptions as |time|}}
      <akm.listItem @onClick={{perform this.extendtime time}} as |li|>
        <li.text @primaryText='{{time}} mins' />
      </akm.listItem>
    {{/each}}
  </AkMenu>
</div>