{{! template-lint-disable no-curly-component-invocation }}
<div
  local-class='app-details-container'
  class='pl-3 pt-3 pr-3'
  data-test-app-details-container
>
  <AkStack @direction='column' @tag='section' local-class='app-details-wrapper'>
    <AkStack
      @direction='row'
      @justifyContent='space-between'
      @alignItems='stretch'
      @width='full'
      local-class='overview-container'
    >
      <AkStack @direction='column' @tag='article'>
        <AkStack @direction='row' @spacing='1.5' local-class='overview-icons'>
          <AkStack
            @tag='span'
            @direction='row'
            @justifyContent='center'
            @alignItems='center'
            local-class='project-icon'
          >
            <img
              src={{@amApp.project.lastFile.iconUrl}}
              alt='app icon'
              data-test-app-icon-url
            />
          </AkStack>

          <AkStack
            @tag='span'
            @direction='row'
            @justifyContent='center'
            @alignItems='center'
            local-class='platform-icon platform-{{@amApp.project.platformIconClass}}'
            data-test-app-platform
          >
            {{fa-icon @amApp.project.platformIconClass}}
          </AkStack>
        </AkStack>

        <AkTypography
          @tag='h3'
          @variant='h5'
          @gutterBottom={{true}}
          data-test-app-name
        >
          {{@amApp.project.lastFile.name}}
        </AkTypography>

        <AkTypography
          @tag='p'
          @variant='h6'
          @color='textSecondary'
          data-test-app-namespace
        >
          {{@amApp.project.packageName}}
        </AkTypography>
      </AkStack>

      <AkStack
        @direction='column'
        @alignItems='flex-start'
        @justifyContent='center'
        local-class='monitoring-toggle-container'
      >
        <AkTypography
          @tag='p'
          @variant='h6'
          @color='secondary'
          @gutterBottom={{true}}
        >
          {{t 'appMonitoringModule.monitoringAction'}}
        </AkTypography>

        <AkToggle
          @size='small'
          @checked={{@amApp.monitoringEnabled}}
          local-class='monitoring-toggle'
          data-test-app-monitoring-toggle
        />
      </AkStack>
    </AkStack>

    <AkStack @direction='column' local-class='monitoring-details-container'>
      <div local-class='monitoring-details-group'>
        <AkStack>
          <AkTypography
            @tag='p'
            @variant='body1'
            @color='textSecondary'
            local-class='details-header'
          >
            {{t 'appMonitoringModule.latestScannedVersion'}}
          </AkTypography>

          <AkTypography
            @tag='span'
            @variant='body1'
            @color='textSecondary'
            local-class='details-value'
            data-test-app-latest-scanned-version
          >
            {{if
              @amApp.project.lastFile.comparableVersion
              @amApp.project.lastFile.comparableVersion
              '-'
            }}
          </AkTypography>
        </AkStack>

        <AkStack>
          <AkTypography
            @tag='p'
            @variant='body1'
            @color='textSecondary'
            local-class='details-header'
          >
            {{t 'appMonitoringModule.lastMonitoredOn'}}
          </AkTypography>

          <AkStack
            local-class='details-value'
            @direction='row'
            @alignItems='center'
            @tag='p'
            data-test-app-last-monitored-date
          >
            {{#if @amApp.lastSync.syncedOn}}

              {{day-js date=@amApp.lastSync.syncedOn format='DD MMM YYYY'}}

            {{else if @amApp.isActive}}
              <AkStack
                @direction='row'
                @alignItems='center'
                @tag='span'
                class='mr-1'
                data-test-app-last-monitored-date-pending
              >
                <AkLoader @size={{13}} />
              </AkStack>

              <AkTypography
                @tag='span'
                @variant='body1'
                @color='secondary'
                local-class='details-header'
                data-test-app-last-monitored-date-pending-text
              >
                {{t 'appMonitoringModule.syncInProgress'}}
              </AkTypography>

            {{else}}
              ---
            {{/if}}
          </AkStack>
        </AkStack>
      </div>

      <div local-class='monitoring-details-group'>
        <AkStack>
          <AkTypography
            @tag='p'
            @variant='body1'
            @color='textSecondary'
            local-class='details-header'
          >
            {{t 'fileID'}}
          </AkTypography>

          {{#if @amApp.project.lastFile}}
            <AkLink
              @underline='always'
              @color='primary'
              @fontWeight='medium'
              @route='authenticated.file'
              @model={{@amApp.project.lastFile.id}}
              target='_blank'
              rel='noopener noreferrer'
              data-test-app-file-id
            >
              {{@amApp.project.lastFile.id}}
            </AkLink>

          {{else}}
            -
          {{/if}}
        </AkStack>

        <AkStack>
          <AkTypography
            @tag='p'
            @variant='body1'
            @color='textSecondary'
            local-class='details-header'
          >
            {{t 'appMonitoringModule.monitoringStatus'}}
          </AkTypography>

          <AkTypography
            @tag='span'
            @variant='body1'
            @color='textSecondary'
            local-class='details-value'
            data-test-app-monitoring-status
          >
            <AppMonitoring::Status
              @condition='{{am-monitoring-condition @amApp}}'
              @label='{{am-monitoring-text @amApp}}'
            />
          </AkTypography>
        </AkStack>
      </div>
    </AkStack>
  </AkStack>

  <AkTabs as |Akt|>
    {{#each this.tabItems as |item|}}
      <Akt.tabItem
        @id={{item.id}}
        @hasBadge={{false}}
        @route={{item.route}}
        data-test-app-details-tabs='{{item.id}}-tab'
      >
        {{item.label}}
      </Akt.tabItem>
    {{/each}}
  </AkTabs>
</div>