<AkStack
  @direction='column'
  @width='full'
  local-class='app-details-container'
  class='pl-3 pt-3 pr-3'
  data-test-app-details-container
>
  <AkStack
    @direction='column'
    @tag='section'
    @width='full'
    local-class='app-details-wrapper'
  >
    <AkStack
      @direction='row'
      @justifyContent='space-between'
      @alignItems='stretch'
      @width='full'
      local-class='overview-container'
    >
      <AkStack @direction='column' @tag='article'>
        <AkStack @direction='row' @spacing='1.5' local-class='overview-icons'>
          <AkStack
            @tag='span'
            @direction='row'
            @justifyContent='center'
            @alignItems='center'
            local-class='project-icon'
          >
            <img
              src={{this.lastFile.iconUrl}}
              alt='app icon'
              data-test-app-icon-url
            />
          </AkStack>

          <AkStack
            @tag='span'
            @direction='row'
            @justifyContent='center'
            @alignItems='center'
            local-class='platform-icon platform-{{this.project.platformIconClass}}'
            data-test-app-platform
          >
            <AkIcon @iconName='{{this.project.platformIconClass}}' />
          </AkStack>
        </AkStack>

        <AkTypography
          @tag='h3'
          @variant='h5'
          @gutterBottom={{true}}
          data-test-app-name
        >
          {{this.lastFile.name}}
        </AkTypography>

        <AkTypography
          @tag='p'
          @variant='h6'
          @color='textSecondary'
          data-test-app-namespace
        >
          {{this.project.packageName}}
        </AkTypography>
      </AkStack>

      <AkStack
        @direction='column'
        @alignItems='flex-start'
        @justifyContent='center'
        local-class='monitoring-toggle-container'
      >
        <AkTypography
          @tag='p'
          @variant='h6'
          @color='secondary'
          @gutterBottom={{true}}
          data-test-app-monitoring-action-text
        >
          {{t 'appMonitoringModule.monitoringAction'}}
        </AkTypography>

        <AkStack @alignItems='center' @spacing='1'>
          <AkToggle
            @size='small'
            @onChange={{this.onMonitoringActionToggle}}
            @checked={{@amApp.monitoringEnabled}}
            @disabled={{this.toggleAmAppMonitoring.isRunning}}
            local-class='monitoring-toggle'
            data-test-app-monitoring-toggle
          />

          {{#if this.toggleAmAppMonitoring.isRunning}}
            <AkLoader @size={{14}} />
          {{/if}}
        </AkStack>
      </AkStack>
    </AkStack>

    <AkStack @direction='column' local-class='monitoring-details-container'>
      <div local-class='monitoring-details-group'>
        <AkStack>
          <AkTypography
            @tag='p'
            @variant='body1'
            @color='textSecondary'
            local-class='details-header'
            data-test-app-latest-scanned-version-desc
          >
            {{t 'appMonitoringModule.latestScannedVersion'}}
          </AkTypography>

          <AkTypography
            @tag='span'
            @variant='body1'
            @color='textSecondary'
            local-class='details-value'
            data-test-app-latest-scanned-version
          >
            {{if
              this.lastFile.comparableVersion
              this.lastFile.comparableVersion
              '-'
            }}
          </AkTypography>
        </AkStack>

        <AkStack>
          <AkTypography
            @tag='p'
            @variant='body1'
            @color='textSecondary'
            local-class='details-header'
            data-test-app-last-monitored-date-desc
          >
            {{t 'appMonitoringModule.lastMonitoredOn'}}
          </AkTypography>

          <AkStack
            local-class='details-value'
            @direction='row'
            @alignItems='center'
            @tag='p'
            data-test-app-last-monitored-date
          >
            {{#if this.lastSyncedDate}}
              {{this.lastSyncedDate}}

            {{else if @amApp.isActive}}
              <AkStack
                @direction='row'
                @alignItems='center'
                @tag='span'
                class='mr-1'
                data-test-app-last-monitored-date-pending
              >
                <AkLoader @size={{13}} />
              </AkStack>

              <AkTypography
                @tag='span'
                @variant='body1'
                @color='secondary'
                local-class='details-header'
                data-test-app-last-monitored-date-pending-text
              >
                {{t 'appMonitoringModule.syncInProgress'}}
              </AkTypography>

            {{else}}
              ---
            {{/if}}
          </AkStack>
        </AkStack>
      </div>

      <div local-class='monitoring-details-group'>
        <AkStack>
          <AkTypography
            @tag='p'
            @variant='body1'
            @color='textSecondary'
            local-class='details-header'
          >
            {{t 'fileID'}}
          </AkTypography>

          {{#if this.lastFile}}
            <AkLink
              @underline='always'
              @color='primary'
              @fontWeight='medium'
              @route='authenticated.dashboard.file'
              @model={{this.lastFile.id}}
              target='_blank'
              rel='noopener noreferrer'
              data-test-app-file-id
            >
              {{this.lastFile.id}}
            </AkLink>

          {{else}}
            -
          {{/if}}
        </AkStack>

        <AkStack>
          <AkTypography
            @tag='p'
            @variant='body1'
            @color='textSecondary'
            local-class='details-header'
          >
            {{t 'appMonitoringModule.monitoringStatus'}}
          </AkTypography>

          <AkTypography
            @tag='span'
            @variant='body1'
            @color='textSecondary'
            local-class='details-value'
            data-test-app-monitoring-status
          >
            <AppMonitoring::Status
              @condition='{{am-monitoring-condition @amApp}}'
              @label='{{am-monitoring-text @amApp}}'
            />
          </AkTypography>
        </AkStack>
      </div>
    </AkStack>
  </AkStack>

  <AkTabs local-class='app-details-tabs' as |Akt|>
    {{#each this.tabItems as |item|}}
      <Akt.tabItem
        @id={{item.id}}
        @hasBadge={{false}}
        @route={{item.route}}
        data-test-app-details-tabs='{{item.id}}-tab'
      >
        {{item.label}}
      </Akt.tabItem>
    {{/each}}
  </AkTabs>
</AkStack>