<div
  local-class='partner-plan'
  data-test-partner-plan
  {{did-insert this.initalize}}
>
  {{#if this.fetchPartnerPlan.isRunning}}
    {{fa-icon 'circle-o-notch fa-spin text-lightgray'}}
  {{else if this.partnerPlan}}
    <div class='margin-right' local-class='partner-plan-labels'>
      <div local-class='plan-label' data-test-plan-label>{{t 'yourPlan'}}</div>
      <div
        local-class='plan-type
                      {{if this.partnerPlan.limitedScans 'per-scan' 'per-app'}}'
        data-test-plan-type
      >
        {{t (if this.partnerPlan.limitedScans 'perScan' 'perApp')}}
      </div>
    </div>
    <div local-class='plan-value'>
      <span local-class='credits-left' data-test-credits-left>
        {{#if this.partnerPlan.limitedScans}}
          {{this.partnerPlan.scansLeft}}
        {{else}}
          {{this.partnerPlan.projectsLimit}}
        {{/if}}
      </span>
      <span local-class='credits-type' data-test-credits-type>
        {{#if this.partnerPlan.limitedScans}}
          {{t 'pluralScans' itemCount=this.partnerPlan.scansLeft}}
        {{else}}
          {{t 'pluralApps' itemCount=this.partnerPlan.projectsLimit}}
        {{/if}}
      </span>
    </div>
  {{/if}}
</div>
