<div local-class='org-email-domain'>
  <AkTypography
    data-test-orgEmailDomain-title
    @variant='h5'
    @gutterBottom={{true}}
  >
    {{t 'emailDomainRestriction'}}
  </AkTypography>

  <AkTypography
    @gutterBottom={{true}}
    @variant='body2'
    @color='textSecondary'
    data-test-orgEmailDomain-subtitle
  >
    {{t 'emailRestrictDesc'}}
  </AkTypography>

  {{#if @isEditable}}
    <AkStack @alignItems='flex-end' class='mt-3'>
      <div class='w-8/12'>
        <AkTextField
          @label='Add email domains'
          @labelTypographyColor='textPrimary'
          @labelTypographyVariant='subtitle1'
          @value={{this.tDomain}}
          @placeholder='example.com'
          aria-label='domain input'
          data-test-orgEmailDomain-input
        />
      </div>

      <AkButton
        {{on 'click' (perform this.addDomain)}}
        @disabled={{this.isDisableSave}}
        @loading={{this.addDomain.isRunning}}
        class='mx-2'
        data-test-orgEmailDomain-saveBtn
      >
        {{t 'addDomain'}}
      </AkButton>
    </AkStack>
  {{/if}}

  <AkStack @spacing='1.5' @flexWrap='wrap' class='mt-2'>
    {{#each this.domains as |domain idx|}}
      <AkChip
        data-test-orgEmailDomain-chip='{{idx}}-{{domain.id}}'
        @variant='outlined'
        @label={{domain.domainName}}
        @onDelete={{if @isEditable (perform this.deleteDomain domain idx)}}
      />
    {{/each}}
  </AkStack>
</div>