<div local-class='org-email-domain'>
  <AkTypography @variant='h5' @gutterBottom={{true}}>
    {{t 'emailDomainRestriction'}}
  </AkTypography>

  <AkTypography
    @gutterBottom={{true}}
    @variant='body2'
    @color='textSecondary'
    data-test-organization-email='sub-desc'
  >
    {{t 'emailRestrictDesc'}}
  </AkTypography>

  {{#if @isEditable}}
    <div
      class='flex-row flex-align-end mt-3'
      data-test-organization-email='input-container'
    >
      <AkTextField
        @formControlClass='w-8/12'
        @label='Added email domains'
        @labelTypographyColor='textPrimary'
        @labelTypographyVariant='subtitle1'
        @value={{this.tDomain}}
        @placeholder='example.com'
        aria-label='domain input'
        data-test-organization-email='input'
      />

      <AkButton
        {{on 'click' this.saveDomainInput}}
        @disabled={{this.isDisableSave}}
        class='mx-2'
        data-test-organization-email='save-btn'
      >{{t 'addDomain'}}</AkButton>
    </div>
  {{/if}}

  <ul local-class='domain-list' data-test-organization-email='domain-list'>
    {{#each this.domains as |domain seq|}}
      <li class='margin-top10' data-test-organization-email='domain'>
        <AkChip
          data-test-organization-email='delete-{{seq}}'
          @variant='outlined'
          @label={{domain.domainName}}
          @onDelete={{if @isEditable (perform this.deleteDomain domain)}}
        />
      </li>
    {{/each}}
  </ul>
</div>