<div local-class="org-email-domain-container">
  <div local-class="title" data-test-org-email-domain-title>
    {{t 'emailDomainRestriction'}}
  </div>
  <div local-class="desc" data-test-org-email-domain-desc>
    {{t 'emailRestrictDesc'}}
  </div>
  {{#if @isEditable}}
    <div
      local-class="domain-input-item"
      data-test-organization-email-input-container
    >
      <Input
        local-class="domain-input"
        class="input-field"
        @type="text"
        @value={{this.tDomain}}
        placeholder="example.com"
        aria-label="domain input"
        data-test-organization-email-input
      />
      <AkButton::PrimaryFilled
        @isDisabled={{this.isDisableSave}}
        @onClick={{this.saveDomainInput}}
        data-test-organization-email-save-btn
      >
        {{t 'addDomain'}}
      </AkButton::PrimaryFilled>
    </div>
  {{/if}}
</div>
<div local-class="added-domains-container" {{did-insert this.initializeComp}}>
  {{#if this.domains.length}}
    <ul local-class="domain-list" data-test-organization-email-domain-list>
      {{#each this.domains as |domain seq|}}
        <li local-class="domain" data-test-organization-email-domain>
          <span local-class="domain-box">
            {{domain.domainName}}
            {{#if @isEditable}}
              <a
                href="#"
                local-class="domain-remove"
                data-test-organization-email="delete-domain-{{seq}}"
                {{on 'click' (fn this.onDeleteDomain domain)}}
              >
                <AttachTooltip @placemnet="top">
                  {{t 'deleteDomain'}}
                </AttachTooltip>
                <MdIcon @name="close" />
              </a>
            {{/if}}
          </span>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div local-class="no-domains-added" data-test-organization-email-no-domain>
      <img src="/images/no-data-found.svg" alt="No Data Found" />
      <div local-class="no-domain-desc">
        <div
          local-class="no-domain-desc-title"
          data-test-organization-email-no-domain-title
        >
          {{t 'noDataFound'}}
        </div>
        <div
          local-class="no-domain-desc-exp"
          data-test-organization-email-no-domain-exp
        >
          {{t 'noDomainAdded'}}
        </div>
      </div>
    </div>
  {{/if}}
</div>
