<AkStack
  @direction='column'
  class='pb-2'
  data-test-projectSettings-genSettings-jiraProject-root
>
  <AkTypography
    @variant='h5'
    @gutterBottom={{true}}
    data-test-projectSettings-genSettings-jiraProject-headerText
  >
    {{t 'jiraIntegration'}}
  </AkTypography>

  {{#if this.currentJiraProject}}
    <AkStack @alignItems='center' @spacing='2'>
      <AkTypography @variant='body2' @color='textSecondary'>
        {{t 'integratedJIRA'}}

        <AkTypography
          @tag='span'
          @variant='body2'
          @color='primary'
          data-test-projectSettings-genSettings-jiraProject-keyAndName
        >
          {{this.currentJiraProject.project_key}}-{{this.currentJiraProject.project_name}}
        </AkTypography>
      </AkTypography>

      <AkStack @alignItems='center'>
        <AnalysisRisk::Tag
          @computedRisk={{this.currentJiraProject.risk_threshold}}
          local-class='threshold-risk-label'
          {{style width='fit-content'}}
          data-test-projectSettings-genSettings-jiraProject-risk
        />

        <span local-class='threshold-risk-divider' />

        <AkStack @spacing='0.5'>
          <AkIconButton
            @variant='outlined'
            {{on 'click' this.editJiraRepoModal}}
            data-test-projectSettings-genSettings-jiraProject-editPrjIcon
          >
            <AkIcon @iconName='edit' />
          </AkIconButton>

          <AkIconButton
            @variant='outlined'
            {{on 'click' this.openDeleteJIRAConfirmBox}}
            data-test-projectSettings-genSettings-jiraProject-deletePrjIcon
          >
            <AkIcon @iconName='delete' />
          </AkIconButton>
        </AkStack>
      </AkStack>
    </AkStack>

  {{else}}
    <div class='padding-v-h'>
      {{#if this.fetchJIRAProjects.isRunning}}
        <AkStack @alignItems='center' @spacing='2'>
          <AkLoader @size={{16}} />
          <AkTypography>{{t 'loading'}}...</AkTypography>
        </AkStack>
      {{/if}}

      {{#if this.fetchJIRAProjects.isIdle}}
        {{#if this.noAccess}}
          <AkStack @alignItems='center' @spacing='1'>
            <AkIcon @iconName='warning' @color='error' @variant='filled' />

            <AkTypography @color='error'>
              {{t 'adminPermissionProject'}}
            </AkTypography>
          </AkStack>
        {{else if this.noIntegration}}
          <AkStack @alignItems='center' @spacing='0.5'>
            <AkTypography @color='textSecondary' @variant='body2'>
              {{t 'jira'}}
              {{t 'gotoSettings'}}
            </AkTypography>

            <AkLink
              @typographyVariant='body2'
              @route='authenticated.dashboard.organization-settings'
              @color='primary'
            >
              {{t 'clickingHere'}}
            </AkLink>
          </AkStack>
        {{else if this.hasJIRAProject}}
          <AkStack @direction='column' @spacing='2'>
            <AkTypography
              @variant='body2'
              @color='textSecondary'
              data-test-projectSettings-genSettings-jiraProject-selectProjectText
            >
              {{t 'otherTemplates.selectJIRAAccount'}}
            </AkTypography>

            <AkButton
              @variant='outlined'
              {{on 'click' this.editJiraRepoModal}}
              data-test-projectSettings-genSettings-jiraProject-selectProjectBtn
            >
              {{t 'selectProject'}}
            </AkButton>
          </AkStack>
        {{else}}
          <AkStack @alignItems='center' @spacing='0.5'>
            <AkTypography
              @color='textSecondary'
              @variant='body2'
              data-test-projectSettings-genSettings-jiraProject-noProject
            >
              {{#if this.reconnect}}
                {{t 'jira'}}
                {{t 'reconnectGotoSettings'}}
              {{else}}
                {{t 'jiraNoProject'}}
              {{/if}}
            </AkTypography>

            <AkLink
              @typographyVariant='body2'
              @route='authenticated.dashboard.organization-settings'
              @color='primary'
              data-test-projectSettings-genSettings-jiraProject-noProject-integrationLink
            >
              {{t 'clickingHere'}}
            </AkLink>
          </AkStack>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}

  {{#if this.showEditJiraModal}}
    <AkModal
      @showHeader={{true}}
      @headerTitle='{{t "editProjectSettings"}}'
      @onClose={{this.closeJiraRepoModal}}
      @disableClose={{this.selectProject.isRunning}}
    >
      <:default>
        <AkStack @direction='column' {{style maxWidth='600px'}}>
          <AkStack
            @direction='column'
            @spacing='2'
            @width='full'
            data-test-projectSettings-genSettings-jiraProject-editModal
          >
            <AkTypography
              @variant='h5'
              @fontWeight='regular'
              @color='textPrimary'
              data-test-genSettings-jiraProject-editModal-title
            >
              {{t 'otherTemplates.selectJIRAAccount'}}
            </AkTypography>

            {{#if this.jiraProjects}}
              <AkStack @width='full' @spacing='1.5'>
                <AkStack @direction='column' @width='8/12' @spacing='1'>
                  <AkTypography
                    @variant='h6'
                    data-test-genSettings-jiraProject-editModal-repoListTitle
                  >
                    {{t 'repo'}}
                  </AkTypography>

                  <AkSelect
                    @options={{this.jiraProjects}}
                    @selected={{this.selectedRepo}}
                    @onChange={{this.selectRepo}}
                    @placeholder='{{t "selectRepo"}}'
                    @triggerClass='select-repo-class'
                    {{style width='100%'}}
                    data-test-genSettings-jiraProject-editModal-repoList
                    as |repo|
                  >
                    {{repo.key}}-{{repo.name}}
                  </AkSelect>
                </AkStack>

                <AkStack @direction='column' @width='4/12' @spacing='1'>
                  <AkTypography @variant='h6'>{{t 'threshold'}}</AkTypography>

                  <AkSelect
                    @selected={{this.selectedThreshold}}
                    @options={{this.thresholds}}
                    @onChange={{this.selectThreshold}}
                    @placeholder='{{t "selectThreshold"}}'
                    @triggerClass='select-threshold-class'
                    {{style width='100%'}}
                    data-test-genSettings-jiraProject-editModal-thresholdList
                    as |threshold|
                  >
                    {{threshold-status threshold}}
                  </AkSelect>
                </AkStack>
              </AkStack>
            {{/if}}
          </AkStack>

          <AkDivider class='my-3' @color='dark' />

          <AkTypography
            @variant='body2'
            @color='textSecondary'
            data-test-genSettings-jiraProject-editModal-note
          >
            <strong>{{t 'note'}}:</strong>
            {{t 'otherTemplates.selectJIRAAccountNote' htmlSafe=true}}
          </AkTypography>
        </AkStack>
      </:default>

      <:footer>
        <AkDivider />

        <AkStack @justifyContent='flex-start' @spacing='1.5' class='px-3 py-2'>
          <AkButton
            @variant='filled'
            {{on 'click' (perform this.selectProject)}}
            @loading={{this.selectProject.isRunning}}
            data-test-genSettings-jiraProject-editModal-saveProjectBtn
          >
            {{t 'save'}}
          </AkButton>

          <AkButton
            @variant='outlined'
            @color='neutral'
            {{on 'click' this.closeJiraRepoModal}}
            data-test-genSettings-jiraProject-editModal-cancelSaveProjectBtn
          >
            {{t 'cancel'}}
          </AkButton>
        </AkStack>
      </:footer>
    </AkModal>
  {{/if}}

  <ConfirmBox
    @isActive={{this.showDeleteJIRAConfirmBox}}
    @description={{t 'confirmBox.removeJIRA'}}
    @delegate={{this}}
    @disabled={{this.deleteRepo.isRunning}}
    @blurOverlay={{true}}
  />
</AkStack>