<div class='mb-2'>
  <AkTabs local-class='api-results-tabs-container' as |Akt|>
    {{#each this.tabItems as |item|}}
      <Akt.tabItem
        @id={{item.id}}
        @route={{item.route}}
        @currentWhen={{item.currentWhen}}
        data-test-fileDetails-apiScanResults-tabs='{{item.id}}-tab'
      >
        {{item.label}}
      </Akt.tabItem>
    {{/each}}
  </AkTabs>

  <div local-class='vulnerability-details-container'>
    <AkTypography
      data-test-fileDetails-apiScanResults-desc
      @color='textSecondary'
      class='p-2'
    >
      {{t 'apiScanResultsDesc'}}
    </AkTypography>

    <FileDetails::VulnerabilityAnalysis::Table
      @file={{@file}}
      @columns={{this.columns}}
      @filterVulnerabilityType={{this.filterVulnerabilityType}}
      @sorts={{this.sorts}}
      @updateAnalysesSorts={{this.updateAnalysesSorts}}
      @fileAnalyses={{this.fileAnalyses}}
      @loadingFileAnalyses={{this.fetchFileAnalyses.isRunning}}
    />
  </div>
</div>