<div {{did-insert this.loadReports}}>

  {{#if @isSecurityDashboard}}
    <div local-class="file-report-btn" data-test-report="analysis">
      <a href="#" type="button" class="button is-primary" local-class="btn-container"
        {{on "click" (fn this.onGenerateReport)}}>
        {{t 'generateReport'}}
      </a>
      {{!-- Download specific reports like excel, etc,. --}}
      <div local-class="external-download">
        <BasicDropdown @renderInPlace={{true}} @horizontalPosition="auto-right" as |dd|>
          <dd.trigger class="trigger-bootstrap-feel button is-primary" local-class="dd-trigger">
            <div local-class="trigger-item">{{fa-icon "ellipsis-v"}}</div>
          </dd.trigger>
          <dd.content class="content-bootstrap-feel width-300 slide-fade">
            <div local-class="dd-content">
              <a href="#" local-class="excel-report" {{on "click" (fn (perform this.downloadExcelReport))}}>
                {{fa-icon "file-excel-o"}} {{t 'downloadExcelReport'}}
              </a>
            </div>
          </dd.content>
        </BasicDropdown>
      </div>
    </div>
  {{else}}
    <div class="margin-top-5" local-class="file-report-btn" data-test-report="file-details">
      <a href="#" type="button" class="button is-primary" local-class="btn-container"
        disabled={{unless this.enableBtn "disabled" false}} {{on "click" (fn this.onGenerateReport)}}>
        {{#if this.latestReport.isGenerating}}
          {{fa-icon "spinner fa-pulse"}}
        {{else if this.latestReport.isGenerated}}
          {{fa-icon "download"}}
        {{else}}
          {{fa-icon "file-text-o"}}
        {{/if}}
        {{this.btnLabel}}
        {{#if this.latestReport.isGenerating}}
          <span local-class="progress-loader" class="is-progress"
            {{did-insert (fn this.doProgressFilling this.latestReport.progress)}}
            {{did-update (fn this.doProgressFilling this.latestReport.progress) this.latestReport.progress}}></span>
        {{/if}}
        {{#if (and this.latestReport this.latestReport.generatedOn)}}
          <AttachTooltip placement="top">
            {{t 'generatedOn'}} {{moment-format this.latestReport.generatedOn 'DD MMM YYYY hh:mm a'}}
          </AttachTooltip>
        {{/if}}
      </a>

      {{!-- Access to previous reports --}}
      <div local-class="report-list-dropdown" class="{{if this.prevReports.length 'show' 'hide'}}">
        <BasicDropdown @onOpen={{this.onToggleDropdown}} @onClose={{this.onToggleDropdown}} @renderInPlace={{true}}
          @horizontalPosition="auto-right" as |dd|>
          <dd.trigger class="trigger-bootstrap-feel">
            <div local-class="dd-trigger">
              {{fa-icon (if this.isDropdownOpen "caret-up" "caret-down") local-class='toggle-icon'}}</div>
          </dd.trigger>
          <dd.content class="content-bootstrap-feel width-300 slide-fade">
            {{#each this.prevReports as |report|}}
              <a href="#" local-class="prev-report" {{on "click" (fn (perform this.getReportByType 'pdf' report.id))}}>
                <span local-class="download-pre-report">{{t 'downloadPrevReport'}}</span>
                <span local-class="generated-label">{{t 'generatedOn'}}
                  {{moment-format report.generatedOn 'DD MMM YYYY hh:mm a'}}</span>
              </a>
            {{/each}}
          </dd.content>
        </BasicDropdown>
      </div>
    </div>
  {{/if}}
</div>

<ModalCard @isActive={{this.isShowCopyPasswordModal}} @title={{t "modalCard.copyPassword.title" }}
  class="copy-password-modal">
  <CopyPassword @pdfPassword={{@file.project.pdfPassword}}></CopyPassword>
</ModalCard>

<ModalCard @isActive={{this.isShowGenerateReportModal}} @title="{{t 'generateReport'}}" class="input-modal">
  <div class="card-body">
    <div class="card-wrapper">
      {{#if this.isReportReGenerated}}
        {{t 'reportGeneratedSuccessfully'}}
        {{#if this.sentEmailIds}}
          {{t 'reportSendTo'}}
          <ul class="email-list">
            {{#each this.sentEmailIds as |email|}}
              <li>{{email}}</li>
            {{/each}}
          </ul>
        {{/if}}
      {{else}}
        <form class="input-form">
          <p class="control">
            <Input placeholder="Enter the file number" @type="text" @value={{this.fileId}} @disabled={{true}}
              class="form-control input" />
          </p>
          <p class="control">
            <Input placeholder="Enter the Email IDs(comma separated)" type="email" @value={{this.emailsToSend}}
              class="form-control input" />
          </p>
          <button type="button" {{on "click" (fn (perform this.reGenerateReport))}} class="is-primary">
            {{t 'generateReport'}}
          </button>
        </form>
      {{/if}}
    </div>
  </div>
</ModalCard>
