{{#if this.showTurnOnSettings}}
  <AiReporting::ChatGenerate::TurnOnSettings />
{{else}}
  {{#if this.fetchOrganizationAiFeatures.isRunning}}
    <AiReporting::ChatGenerate::Loader />
  {{else if this.isGenerating}}
    <AiReporting::ChatGenerate::GenerateLoader />
  {{else}}
    <div class='p-3' data-test-aiReporting-chatGenerate-root>
      <AkStack @direction='column' @width='full' @spacing='6'>
        <AkTypography
          @variant='h1'
          @color='primary'
          data-test-aiReporting-chatGenerate-title
        >
          {{t 'reportModule.describeTheReport'}}
        </AkTypography>

        <AkStack @direction='column' @spacing='2' @width='full'>
          <AkTypography
            @variant='h5'
            data-test-aiReporting-chatGenerate-subtitle
          >
            {{t 'reportModule.whatDoYouWantToLearn'}}
          </AkTypography>

          <Textarea
            @value={{this.reportQuery}}
            rows='6'
            placeholder={{t 'reportModule.generateReportPlaceholder'}}
            aria-label='Generate report command input'
            local-class='textarea-input'
            {{on 'input' this.handleUserPromptInput}}
            data-test-aiReporting-chatGenerate-commandInput
          />

          <AkStack @direction='row' @width='full' @justifyContent='flex-end'>
            <AkTypography
              @variant='body2'
              @color='textSecondary'
              data-test-aiReporting-chatGenerate-characterCount
            >
              {{this.reportQuery.length}}
              /
              {{t 'reportModule.characterLimit'}}
            </AkTypography>
          </AkStack>

          <AkButton
            @disabled={{this.disableGenerateButton}}
            @loading={{this.generateReport.isRunning}}
            {{on 'click' (perform this.generateReport)}}
            data-test-aiReporting-chatGenerate-generateBtn
          >
            {{t 'reportModule.generateReport'}}
          </AkButton>
        </AkStack>

        <AkStack @direction='column' @spacing='1'>
          <AkTypography
            @variant='h5'
            data-test-aiReporting-chatGenerate-promptTitle
          >
            {{t 'reportModule.notSureWhatToWrite'}}
          </AkTypography>

          <AkTypography
            @color='textSecondary'
            data-test-aiReporting-chatGenerate-promptSubtitle
          >
            {{t 'reportModule.clickPrompt'}}
          </AkTypography>

          <div class='mt-3'>
            <div {{style width='250px'}}>
              <AkSelect
                @label={{t 'reportModule.category'}}
                @labelTypographyVariant='h6'
                @labelTypographyColor='textPrimary'
                @options={{this.categories}}
                @onChange={{this.updateSelectedCategory}}
                @selected={{this.selectedCategory}}
                class='select-category-class'
                data-test-aiReporting-chatGenerate-categorySelect
                as |option|
              >
                {{option.label}}
              </AkSelect>
            </div>

            <div class='mt-4'>
              <AkTypography
                @variant='h6'
                data-test-aiReporting-chatGenerate-promptListTitle
              >
                {{t 'reportModule.basedOnTheCategory'}}
              </AkTypography>

              <AkStack @direction='column' @spacing='1' class='mt-1'>
                {{#each this.filteredPrompts as |prompt|}}
                  <AkStack
                    @direction='row'
                    @spacing='1.5'
                    @alignItems='center'
                    data-test-aiReporting-chatGenerate-promptItem='{{prompt}}'
                  >
                    <AkIcon
                      @iconName='auto-awesome-outline'
                      @color='info'
                      data-test-aiReporting-chatGenerate-promptIcon
                    />

                    <AkButton
                      @variant='text'
                      {{on 'click' (fn this.usePrompt prompt)}}
                      data-test-aiReporting-chatGenerate-promptBtn
                    >
                      {{prompt}}
                    </AkButton>
                  </AkStack>
                {{/each}}
              </AkStack>
            </div>
          </div>
        </AkStack>
      </AkStack>
    </div>
  {{/if}}
{{/if}}