<div
  local-class='storeknox-root {{if
    this.isSidebarCollapsed
    "collapsed"
    "expanded"
  }}'
>
  <TopNav
    local-class='storeknox-header'
    @user={{@user}}
<<<<<<< HEAD
    @title={{if
      this.orgIsAnEnterprise
      (t 'appMonitoring')
      (t 'storeknox.storeknox')
    }}
=======
    @title={{if this.orgIsAnEnterprise (t 'appMonitoring') (t 'storeknox')}}
>>>>>>> 6de9b12ec (new main product landing page and navs)
  />

  <SideNav
    local-class='storeknox-sidenav'
    @isCollapsed={{this.isSidebarCollapsed}}
    @toggleSidebar={{this.toggleSidebar}}
    @menuItems={{this.storeknoxMenuItems}}
    @productSwitcherFilterKey='storeknox'
  />

  {{! #id is required for scroll-to-top util }}
  <main id='ak-dashboard-main-scroll-container' local-class='storeknox-main'>
    {{yield}}
  </main>
</div>