<AuthAssets></AuthAssets>
<div {{did-insert (fn this.fetchdata)}} local-class="registration-container">
  <form local-class="register-form">
{{#if this.loadTokenData.isRunning}}
  <div>
    Loading...
  </div>
{{/if}}
{{#if this.loadTokenData.isIdle}}
  {{#if this.initialData.email}}
    <div class="input-wrap">
      <div class="label-error">
        <label>Email</label>
      </div>
      <Input placeholder="Email" readonly="readonly" disabled="disabled" @value={{this.initialData.email}} class="input-field"/>
    </div>
    <div class="input-wrap">
      <div class="label-error">
        <label>Company Name</label>
      </div>
      <Input placeholder="Company Name" @value={{this.changeset.company}} class="input-field"/>
    </div>
    <div class="input-wrap">
      <div class="label-error">
        <label>{{t "name"}}</label>
      </div>
      <div class="half-wrap">
        <Input placeholder="First Name" @value={{this.changeset.first_name}} autocomplete="fname" autofocus="autofocus" class="input-field" />
        <Input placeholder="Last Name" @value={{this.changeset.last_name}} autocomplete="lname" class="input-field"/>
      </div>
    </div>
    <div class="input-wrap {{if this.changeset.error.username 'has-error'}}">
      <div class="label-error">
        <label>{{t "username"}}</label>
        {{#if this.changeset.error.username}}
          <span class="error-msg">{{this.changeset.error.username.validation}}</span>
        {{/if}}
      </div>
      <Input placeholder="Username" @value={{this.changeset.username}} autocomplete="username" class="input-field"/>
    </div>
    <div class="input-wrap">
      <div class="label-error">
        <label>{{t "password"}}</label>
        {{#if this.changeset.error.password}}
          <span class="error-msg">{{this.changeset.error.password.validation}}</span>
        {{else if this.changeset.error.passwordConfirmation}}
          <span class="error-msg">{{this.changeset.error.passwordConfirmation.validation}}</span>
        {{/if}}
      </div>
      <Input type="password" @value={{this.changeset.password}} placeholder='Mininum 6 characters' class="input-field {{if this.changeset.error.password "has-error"}}"/>
      <Input type="password" @value={{this.changeset.passwordConfirmation}} placeholder='Confirm Password' class="input-field {{if this.changeset.error.passwordConfirmation "has-error"}}"/>
    </div>
    <div class="input-wrap {{if this.changeset.error.termsAccepted 'has-error'}}">
      <div class="label-error">
        <label local-class="register-form-accept">
          <Input id="terms-accepted" @type="checkbox" @checked={{this.changeset.termsAccepted}} local-class="checkbox-field" />
          <span>{{t "acceptTerms"}}
            <a href="https://appknox.com/privacy" target="_blank" rel="noopener noreferrer">
              <sup>*</sup>
            </a>
          </span>
        </label>
        {{#if this.changeset.error.termsAccepted}}
          <span class="error-msg">
            <a href="https://appknox.com/privacy" target="_blank" rel="noopener noreferrer">{{this.changeset.error.termsAccepted.validation}}</a>
          </span>
        {{/if}}
      </div>
    </div>
    <p class="control flex-center margin-top">
      <button {{on "click" (fn this.register this.changeset)}} class="button is-primary is-fullwidth login-button mp-login-button highlighted-button" type="button">
        {{t "register"}}
        <TaskSpin @task={{this.registerTask}}></TaskSpin>
      </button>
    </p>
  {{else}}
    <p> You seems to have landed in a wrong location. If this seems like a mistake please contact <a href="mailto:support@appknox.com?subject=Invalid%20Invitation">support</a> </p>
  {{/if}}
{{/if}}
  </form>
</div>