<AkBreadcrumbs::Container>
  {{#each this.breadcrumbItems as |item|}}
    <AkBreadcrumbs::Item
      @route={{item.route}}
      @models={{item.models}}
      @linkTitle={{item.linkTitle}}
    />
  {{/each}}
</AkBreadcrumbs::Container>

<div class='my-2'>
  <AkTypography @variant='h5' @color='textPrimary'>
    {{t 'settings'}}
  </AkTypography>

  <AkTypography @variant='body2' @color='textSecondary'>
    Lorem ipsum dolor sit amet consectetur. Porta augue mattis rhoncus leo.
  </AkTypography>
</div>

<AkStack
  @alignItems='center'
  @justifyContent='space-between'
  @width='full'
  class='p-2'
  local-class='project-details-card'
>
  <div>Logo</div>
  <AkStack
    @direction='column'
    @justifyContent='space-between'
    @width='full'
    class='ml-4'
  >
    <AkTypography @variant='body1' @color='textSecondary'>
      {{this.project.packageName}}
    </AkTypography>
    <AkTypography @variant='h6' @color='textPrimary'>
      Project ID - {{this.project.lastFile.id}}
    </AkTypography>

  </AkStack>
</AkStack>

<AkTabs local-class='settings-header-tabs' as |Akt|>
  {{#each this.tabItems as |item|}}
    {{#unless item.hidden}}
      <Akt.tabItem
        @id={{item.id}}
        @route={{item.route}}
        data-test-organization-details='{{item.id}}-tab'
      >
        <:tabIcon>
          <AkIcon @iconName={{item.iconName}} />
        </:tabIcon>

        <:default>
          {{item.label}}
        </:default>
      </Akt.tabItem>
    {{/unless}}
  {{/each}}
</AkTabs>