<AkDrawer
  @open={{@open}}
  @onClose={{this.handleClose}}
  @anchor='right'
  @disableBackdropClick={{true}}
  as |dr|
>
  <AkAppbar @justifyContent='space-between' as |ab|>
    <AkTypography
      data-test-serviceAccount-confirmDrawer-heading
      @variant='h5'
      @color='inherit'
    >
      Advance Filter
    </AkTypography>

    <AkIconButton
      class={{ab.classes.defaultIconBtn}}
      {{on 'click' dr.closeHandler}}
    >
      <AkIcon @iconName='close' />
    </AkIconButton>
  </AkAppbar>

  <div local-class='filter-sections'>
    <AiReporting::Preview::FilterSections::AdditionalFilters
      @additionalFilters={{@additionalFilters}}
      @filterDetails={{@filterDetails}}
      @onAddUpdateFilter={{this.handleAddUpdateAdditionalFilter}}
    />
  </div>

  <AkStack
    @alignItems='center'
    @justifyContent='space-between'
    local-class='filter-drawer-footer'
  >
    <AkButton
      @variant='outlined'
      @color='neutral'
      {{on 'click' dr.closeHandler}}
    >
      Cancel
    </AkButton>

    <AkButton {{on 'click' this.applyAndClose}}>
      Apply
    </AkButton>
  </AkStack>
</AkDrawer>