<button
  type="button"
  disabled={{@isDisabled}}
  local-class="btn {{@class}}"
  ...attributes
  data-test-ui-btn
  {{on 'click' @onClick}}
>
  {{#if @icon}}
    <MdIcon @name={{@icon}} data-test-btn-icon />
  {{/if}}
  {{@text}}
</button>
