<AkStack @bgColor='white' local-class='original-app-details-wrapper'>
  <AkStack
    @width='full'
    @direction='column'
    @spacing='1'
    local-class='original-app-details-container {{if @isIgnored "is-ignored"}}'
    {{style maxWidth='440px'}}
  >
    <AkStack @width='full' @spacing='1' @alignItems='center' class='py-2 px-3'>
      <div local-class='original-app-details-header-indicator'></div>

      <AkTypography @fontWeight='bold'>Original App Details</AkTypography>
    </AkStack>

    <AkDivider @color='dark' />

    <AkStack @width='full' @spacing='2.5' @direction='column' class='py-2 px-3'>
      <AkStack
        @direction='row'
        @alignItems='center'
        @spacing='1'
        @justifyContent='flex-start'
      >
        <AkTypography
          @color='textSecondary'
          local-class='original-app-details-label-text'
        >
          Logo
        </AkTypography>

        <img
          local-class='app-info-logo'
          src={{@skInventoryApp.appMetadata.iconUrl}}
          alt={{@skInventoryApp.appMetadata.title}}
          data-test-storeknoxInventoryDetails-appLogoImage
        />
      </AkStack>

      <AkStack
        @direction='row'
        @alignItems='center'
        @spacing='1'
        @justifyContent='flex-start'
      >
        <AkTypography
          @color='textSecondary'
          local-class='original-app-details-label-text'
        >
          App Name
        </AkTypography>

        <AkButton
          @tag='a'
          @variant='text'
          @color='textPrimary'
          @underline='always'
          href={{@skInventoryApp.appMetadata.url}}
          target='_blank'
          rel='noopener noreferrer'
          class='mt-1'
        >
          <AkTypography
            @fontWeight='medium'
            data-test-storeknoxInventoryDetails-headerAppTitle
          >
            {{@skInventoryApp.appMetadata.title}}
          </AkTypography>
        </AkButton>
      </AkStack>

      <AkStack
        @direction='row'
        @alignItems='center'
        @spacing='1'
        @justifyContent='flex-start'
      >
        <AkTypography
          @color='textSecondary'
          local-class='original-app-details-label-text'
        >
          Namespace
        </AkTypography>

        <AkTypography
          @fontWeight='medium'
          @noWrap={{true}}
          title={{@skInventoryApp.appMetadata.packageName}}
          {{style maxWidth='240px'}}
          data-test-storeknoxInventoryDetails-headerAppPackageName
        >
          {{@skInventoryApp.appMetadata.packageName}}
        </AkTypography>
      </AkStack>

      <AkStack
        @direction='row'
        @alignItems='center'
        @spacing='1'
        @justifyContent='flex-start'
      >
        <AkTypography
          @color='textSecondary'
          local-class='original-app-details-label-text'
        >
          Platform
        </AkTypography>

        <AppPlatformIcon
          @platform={{if @skInventoryApp.isAndroid 'android' 'apple'}}
          data-test-storeknoxInventoryDetails-headerPlatformIcon
        />
      </AkStack>

      <AkStack
        @direction='row'
        @alignItems='center'
        @spacing='1'
        @justifyContent='flex-start'
      >
        <AkTypography
          @color='textSecondary'
          local-class='original-app-details-label-text'
        >
          Store
        </AkTypography>

        {{#if @skInventoryApp.isAndroid}}
          <AkSvg::PlaystoreLogo
            {{style width='16px'}}
            data-test-storeknoxInventoryDetails-playStoreLogo
          />

        {{else}}
          <AkSvg::AppstoreLogo
            {{style width='16px'}}
            data-test-storeknoxInventoryDetails-appStoreLogo
          />
        {{/if}}
      </AkStack>

      <AkStack
        @direction='row'
        @alignItems='center'
        @spacing='1'
        @justifyContent='flex-start'
      >
        <AkTypography
          @color='textSecondary'
          local-class='original-app-details-label-text'
        >
          Developer
        </AkTypography>

        <AkTypography
          @fontWeight='medium'
          data-test-storeknoxInventoryDetails-headerAppDeveloperName
        >
          {{@skInventoryApp.appMetadata.devName}}
        </AkTypography>
      </AkStack>

      <AkStack
        @direction='row'
        @alignItems='center'
        @spacing='1'
        @justifyContent='flex-start'
      >
        <AkTypography
          @color='textSecondary'
          local-class='original-app-details-label-text'
        >
          Last Monitoring Date
        </AkTypography>

        <AkTypography
          @fontWeight='medium'
          @color='textPrimary'
          data-test-storeknoxInventoryDetails-headerAppDeveloperName
        >
          {{this.lastMonitoredOn}}
        </AkTypography>
      </AkStack>
    </AkStack>
  </AkStack>
</AkStack>