{{! @glint-nocheck : or}}
<AkPopover
  data-test-ak-menu-popover
  local-class='ak-menu-root'
  @anchorRef={{@anchorRef}}
  @placement='bottom-start'
  @modifiers={{this.modifiers}}
  @arrow={{@arrow}}
  @sameWidthAsRef={{@sameWidthAsRef}}
  @hasBackdrop={{true}}
  @onBackdropClick={{this.handleBackdropClick}}
  @renderInPlace={{@renderInPlace}}
  @containerClass={{if @arrow this.classes.akMenuArrowPopoverRoot}}
>
  <div
    data-test-ak-menu
    local-class='ak-menu-dropdown-root
            {{if @sameWidthAsRef "ak-menu-dropdown-full-width"}}'
  >
    <AkList local-class='ak-menu-dropdown-list' role={{or @role 'menu'}}>
      {{yield
        (hash listItem=(component 'ak-list/item' button=true role='menuitem'))
      }}
    </AkList>
  </div>
</AkPopover>