{{page-title 'Settings'}}
<div class='org-container'>
  <OrganizationSettings
    @organization={{@model.organization}}
    @user={{@model.user}}
  />
  {{#if @model.organization.features.sso}}
    <SsoSettings @organization={{@model.organization}} @user={{@model.user}} />
    <div class='divider margin-t-1 margin-b-1'></div>
  {{/if}}
  <div class='columns'>
    <div class='column'>
      <div class='org-settings-subtitle black-text is-fullwidth'>
        {{t 'emailDomainRestriction'}}
      </div>
      <OrganizationEmailDomain @isEditable={{this.model.me.org.is_owner}} />
    </div>
  </div>
  <div class='divider margin-t-1 margin-b-1'></div>
  <OrganizationArchive />
  <div class='divider margin-t-1 margin-b-1'></div>
  <div class='columns'>
    <div class='column'>
      <div class='org-settings-subtitle black-text is-fullwidth'>
        {{t 'jiraIntegration'}}
      </div>
      <JiraAccount @user={{@model.user}} />
    </div>
  </div>
  <div class='divider margin-t-1 margin-b-1'></div>
  <div class='columns'>
    <div class='column'>
      <div class='org-settings-subtitle black-text is-fullwidth'>
        {{t 'githubIntegration'}}
      </div>
      <GithubAccount
        @integratedUser={{@model.integratedUser}}
        @reconnect={{@model.reconnect}}
        @user={{@model.user}}
      />
    </div>
  </div>
  <div class='divider margin-t-1 margin-b-1'></div>
  <div class='columns'>
    <div class='column'>
      <FileCleanup />
    </div>
  </div>
</div>