{{page-title "Settings"}}
<div class="org-container">
  {{organization-settings organization=model.organization user=model.user}}
  {{#if model.organization.features.sso}}
    {{sso-settings organization=model.organization user=model.user}}
    <div class="divider margin-t-1 margin-b-1"></div>
  {{/if}}
  {{organization-archive}}
  <div class="divider margin-t-1 margin-b-1"></div>
  <div class="columns">
    <div class="column">
      <div class="org-settings-subtitle black-text is-fullwidth">
        {{t "jiraIntegration"}}
      </div>
      {{jira-account user=model.user}}
    </div>
  </div>
  <div class="divider margin-t-1 margin-b-1"></div>
  <div class="columns">
    <div class="column">
      <div class="org-settings-subtitle black-text is-fullwidth">
        {{t "githubIntegration"}}
      </div>
      {{github-account integratedUser=model.integratedUser reconnect=model.reconnect user=model.user}}
    </div>
  </div>
</div>
