<div local-class='settings-block'>
  <div local-class='label-group'>
    <h6
      local-class='label-heading'
      data-test-app-monitoring-settings-heading
    >{{t 'appMonitoringHeading'}}</h6>
    <p
      local-class='label-description'
      data-test-app-monitoring-settings-description
    >{{t 'appMonitoringDescription'}}</p>
  </div>

  <AkToggle
    @size='small'
    @checked={{@settings.enabled}}
    @disabled={{not this.canEditSettings}}
    {{on 'click' (perform this.toggleAppMonitoringEnabled)}}
  />
</div>