<div {{did-insert this.fetchdata}}>
  <h5 class='bold black-text'>
    {{t 'githubIntegration'}}
  </h5>
  {{#if this.currentGithubRepo.account}}
    <h6>
      {{t 'integratedGithub'}}
      <a
        href='{{this.currentGithubRepo.repo_details.html_url}}'
        target='_blank'
        rel='noopener noreferrer'
      >
        <code
          class='code-link'
        >{{this.currentGithubRepo.account}}/{{this.currentGithubRepo.repo}}</code>
      </a>
      <div class='tag threshold-tag'>
        {{threshold-status this.currentGithubRepo.risk_threshold}}
      </div>
      <div
        role='button'
        class='tag delete-tag remove'
        {{on 'click' this.openDeleteGHConfirmBox}}
      >
        <i class='fa risk-icons fa-trash-o'></i>
      </div>
      <div
        role='button'
        class='tag edit-tag remove'
        {{on 'click' this.editGithubRepoModal}}
      >
        <i class='fa risk-icons fa-pencil'></i>
      </div>
    </h6>
  {{else}}
    <div class='padding-v-h'>
      {{#if
        (or this.fetchGithubRepos.isRunning this.setCurrentGithubRepo.isRunning)
      }}
        <div class='fa-font-size'>
          <i class='fa fa-spinner fa-spin'></i>
          &nbsp;
        </div>
      {{else}}
        {{#if this.githubRepos}}
          {{#if this.hasGitHubProject}}
            <h6>
              {{t 'otherTemplates.selectGHRepo'}}
            </h6>
            <div class='columns'>
              <div class='column'>
                <button
                  type='button'
                  class='button is-primary'
                  {{on 'click' this.editGithubRepoModal}}
                >
                  {{t 'selectProject'}}
                </button>
              </div>
            </div>
          {{else}}
            <h6>
              {{t 'githubNoProject'}}
            </h6>
          {{/if}}
        {{else}}
          {{#if this.reconnect}}
            <h6>
              {{t 'github'}}
              &nbsp;{{t 'reconnectGotoSettings'}}
              <LinkTo
                @route='authenticated.organization.settings'
                class='is-primary'
              >
                {{t 'clickingHere'}}
              </LinkTo>
            </h6>
          {{else}}
            <h6>
              {{t 'github'}}
              &nbsp;{{t 'gotoSettings'}}
              <LinkTo
                @route='authenticated.organization.settings'
                class='is-primary'
              >
                {{t 'clickingHere'}}
              </LinkTo>
            </h6>
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
  <ModalCard
    @isActive={{this.showEditGithubModal}}
    @title='{{t "editProjectSettings"}}'
  >
    <div class='card-body warning-modal'>
      <div class='card-wrapper'>
        <div class='api-scanning'>
          <h6>{{t 'otherTemplates.selectGHRepo'}}</h6>
          <div class='project-preference-component margin-v-1'>
            {{#if this.githubRepos}}
              <div class='columns'>
                <div class='column'>
                  <h5 class='black-text'> Repo </h5>
                </div>
              </div>
              <div class='columns'>
                <div class='column'>
                  <PowerSelect
                    @searchEnabled={{true}}
                    @searchField='name'
                    @dropdownClass='power-select-custom-repo'
                    @searchPlaceholder='Type repository name'
                    @placeholder='Select Repo'
                    @selected={{this.selectedRepo}}
                    @renderInPlace={{true}}
                    @options={{this.githubRepos}}
                    @onchange={{this.selectRepo}}
                    as |repo|
                  >
                    {{repo.full_name}}
                  </PowerSelect>
                </div>
              </div>
              <div class='columns'>
                <div class='column'>
                  <h5 class='black-text'>
                    Threshold
                  </h5>
                </div>
              </div>
              <div class='columns'>
                <div class='column'>
                  <PowerSelect
                    @class='power-select-custom-width'
                    @dropdownClass='power-select-custom-threshold'
                    @searchEnabled={{false}}
                    @placeholder='Select Repo'
                    @selected={{this.selectedThreshold}}
                    @renderInPlace={{true}}
                    @options={{this.thresholds}}
                    @onchange={{this.selectThreshold}}
                    as |threshold|
                  >
                    {{threshold-status threshold}}
                  </PowerSelect>
                </div>
              </div>
            {{/if}}
          </div>
          <div></div>
          <form class='margin-top20' onsubmit='return false'>
            <div class='align-both'>
              <button
                type='button'
                class='button modal-button is-default'
                {{on 'click' this.closeGithubRepoModal}}
              >
                {{t 'cancel'}}
              </button>
              <button
                type='button'
                class='button modal-button is-primary highlighted-button'
                {{on 'click' this.selectProjectAction}}
                disabled={{this.selectProject.isRunning}}
              >
                {{#if this.selectProject.isRunning}}
                  <div class='fa-font-size'>
                    <i class='fa fa-spinner fa-spin'>&nbsp;</i>
                  </div>
                {{/if}}
                {{t 'save'}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ModalCard>
  <ConfirmBox
    @isActive={{this.showDeleteGHConfirmBox}}
    @title='{{t "confirmBox.removeProject"}}'
    @delegate={{this}}
    @disabled={{this.deleteRepo.isRunning}}
  />
</div>