<AkStack
  @direction='column'
  @spacing='1'
  local-class='scan-window-timezone-select-root'
>
  <AkTypography @fontWeight='medium'>
    {{t 'dastAutomation.scanWindowTimezone'}}
  </AkTypography>

  <AkSelect
    @options={{this.timezoneOptions}}
    @selected={{this.selectedTimezoneOption}}
    @onChange={{this.handleTimezoneChange}}
    @onOpen={{this.handleOpen}}
    @disabled={{@disabled}}
    @searchEnabled={{true}}
    @search={{this.searchTimezone}}
    local-class='scan-window-timezone-select'
    data-test-projectSettings-dastAutomationSettings-scanWindowTimezone
    as |option|
  >
    <span local-class='tz-label-full'>{{option.label}}</span>

    <span local-class='tz-label-truncated'>
      {{option.truncatedLabel}}
    </span>
  </AkSelect>
</AkStack>