<div local-class='org-settings-container'>
  {{#if this.me.org.is_owner}}
    <RegulatoryPreferenceOrganization />

    <AkDivider class='my-3' @color='dark' />

    <OrganizationMfa
      @organization={{@model.organization}}
      @user={{@model.user}}
    />

    <AkDivider class='my-3' @color='dark' />
  {{/if}}

  {{#if @model.organization.features.sso}}
    <SsoSettings @organization={{@model.organization}} @user={{@model.user}} />

    <AkDivider class='my-3' @color='dark' />
  {{/if}}

  <OrganizationEmailDomain @isEditable={{this.me.org.is_owner}} />

  <AkDivider class='my-3' @color='dark' />

  <OrganizationArchive />

  <AkDivider class='my-3' @color='dark' />

  <FileCleanup />
</div>