<span
  data-test-ak-checkbox-root
  local-class='ak-checkbox-root {{unless @disabled "ak-checkbox-hover-focus"}}'
>
  <Input
    data-test-checkbox
    ...attributes
    data-indeterminate='{{@indeterminate}}'
    local-class='ak-checkbox {{if @checked "checked"}}'
    @checked={{@checked}}
    disabled={{@disabled}}
    readonly={{@readonly}}
    @type='checkbox'
    id={{this.id}}
    {{on 'change' this.onChange}}
    {{on 'click' this.onClick}}
  />

  <span
    data-test-checkbox-icon
    local-class='ak-svg-checkbox-icon'
    class='ak-icon'
  ></span>
</span>