{{page-title "Client Details"}}

<div class="padding-h-1 padding-t-h padding-b-2">
  <LinkTo @route="authenticated.partner.clients">Clients</LinkTo> /
  {{#if this.model.isEmptyTitle}}
    <i>{{t 'noName'}}</i>
  {{else}}
    {{this.model.name}}
  {{/if}}
  {{#if this.isError}}
    error
  {{/if}}

  <Partner::ClientDetails @client={{this.model}}></Partner::ClientDetails>

  {{outlet}}
</div>
