{{page-title "Marketplace"}}
<h2 class="black-text bold padding-t-3q padding-l-h">
  {{t "marketplace"}}
</h2>
<div class="padding-t-2 padding-l-1">
  <h3 class="black-text bold">
    {{t "plugins"}}
  </h3>
  <div class="padding-b-h">
    {{t "marketplacePluginDesc"}}
  </div>
</div>
<div class="padding-b-2">
  <MarketplacePluginList></MarketplacePluginList>
</div>
<div class="padding-l-1">
  <h3 class="black-text bold">
    {{t "integration"}}
  </h3>
  <div class="padding-b-h">
    {{t "marketplaceIntegrationDesc"}}
  </div>
</div>
<div class="padding-b-2">
  <MarketplaceIntegrationList></MarketplaceIntegrationList>
</div>
