{{page-title 'Organization'}}
<div class="organization-page">
  <Organization::Header
    @name={{this.model.orgName}}
    @isAdmin={{this.model.isAdmin}}
    @isOwner={{this.model.isOwner}}
    @organization={{this.model.organization}}
    @isShowSettings={{true}}
  />
  <Organization::NavItems />
  {{outlet}}
</div>
