<h3 class="m-b-xs text-black">Dashboard</h3>
<div class="row m-b">
    <div class="col-sm-12">
        <div class="panel b-a">
            <div class="row m-n">
                <div class="col-md-4 b-b b-r">
                    <div class="block padder-v hover text-success">
                        <span class="i-s i-s-2x pull-left m-r-sm">
                            {{ fa-icon "folder" }}
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs">20</span>
                            <small class="text-muted text-u-c">Projets Created</small>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 b-b b-r">
                    <div class="block padder-v hover text-danger">
                        <span class="i-s i-s-2x pull-left m-r-sm">
                            {{ fa-icon "exclamation-circle" }}
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs ">75%</span>
                            <small class="text-muted text-u-c">Vulnerability Ratio</small>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 b-b b-r">
                    <div class="block padder-v hover text-info">
                        <span class="i-s i-s-2x pull-left m-r-sm">
                            {{ fa-icon "pie-chart" }}
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs">8</span>
                            <small class="text-muted text-u-c">Completed Scans</small>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row m-b">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-9">
                <input type="text" class="input-lg w-100" placeholder="Submit store URL">
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-lg w-100" type="button">Submit</button>
            </div>
        </div>
    </div>
    <div class="col-md-1 text-center">
        <h4>or</h4>
    </div>
    <div class="col-md-3">
        <label class="file-label btn btn-primary btn-lg w-100">
            Upload App
            <input type="file">
        </label>
    </div>
</div>
<hr />
<h3 class="m-b-xs text-black">Projects</h3>
<div class="row m-b">
    {{#each project in model}}
    {{#if project.lastFile}}
    {{#link-to 'file' project.lastFile.id class="col-sm-6 col-md-4"}}
    <section class="panel b-a">
        <div class="panel-heading panel-heading-fix">
            <div class="h4 text-lt block font-bold">
                <img {{bind-attr src=project.lastFile.iconUrl}} alt="Project Icon"/>
                {{ project.name }}
                {{ fa-icon project.platformIconClass }}
            </div>
        </div>
        <div class="row panel-body">
            {{view "pie-chart" file=project.lastFile}}
            <div class="col-md-6 m-t">
                <p><span class="font-thin">Package: </span>{{ project.packageName }}</p>
                <p><span class="font-thin">Version: </span>{{ project.lastFile.version }}</p>
                <p><span class="font-thin">Created: </span>{{ project.humanizedCreatedOn }}</p>
            </div>
        </div>
    </section>
    {{/link-to}}
    {{/if}}
    {{else}}
    <h3>You have not created any projects yet!</h3>
    {{/each}}
</div>
