{{page-title "Invitation"}}

<div class="auth-main-container">
  <AuthAssets></AuthAssets>
  <InviteRegister @mail={{@model.email}} @company={{@model.company}} @token={{@model.token}} @isSSOEnforced={{@model.is_sso_enforced}}></InviteRegister>
</div>
