<div local-class='device-registration-container' data-test-orgDeviceRegistration ...attributes>
  <AkStack @direction='column' @spacing='1.5'>
    <AkTypography @variant='h6' data-test-orgDeviceRegistration-title>
      {{t 'orgRegisterDeviceTitle'}}
    </AkTypography>

    <AkTypography @color='textSecondary' @variant='body2'>
      {{t 'orgRegisterDeviceDesc'}}
    </AkTypography>

    <div>
      <AkButton
        data-test-orgDeviceRegistration-openBtn
        @variant='filled'
        {{on 'click' this.handleOpen}}
      >
        {{t 'orgRegisterDevice'}}
      </AkButton>
    </div>
  </AkStack>
</div>

{{#if this.showModal}}
  <AkModal
    data-test-orgDeviceRegistration-modal
    @showHeader={{true}}
    @headerTitle={{t 'orgRegisterDevice'}}
    @onClose={{this.handleClose}}
  >
    <AkStack @direction='column' @spacing='2' class='pa-3'>
      {{#if this.notConfigured}}
        <AkTypography
          @variant='body2'
          @color='textSecondary'
          data-test-orgDeviceRegistration-notConfigured
        >
          {{t 'orgDeviceRegistrationNotConfigured'}}
        </AkTypography>
      {{else}}
      {{! Registered devices }}
      <AkStack @direction='column' @spacing='1'>
        <AkStack
          @spacing='1'
          @alignItems='center'
          @justifyContent='space-between'
        >
          <AkTypography
            @variant='subtitle1'
            data-test-orgDeviceRegistration-devicesTitle
          >
            {{t 'orgDeviceRegistrationYourDevices'}}
          </AkTypography>
          <AkIconButton
            data-test-orgDeviceRegistration-refreshBtn
            @size='small'
            {{on 'click' this.handleRefresh}}
          >
            <AkIcon @iconName='mdi:refresh' @color='primary' />
          </AkIconButton>
        </AkStack>

        {{#if this.loadDevices.isRunning}}
          <AkStack @spacing='1' @alignItems='center'>
            <AkLoader @size={{16}} />
            <AkTypography @variant='body2' @color='textSecondary'>
              {{t 'loading'}}
            </AkTypography>
          </AkStack>

        {{else if this.hasDevices}}
          {{#each this.registeredDevices as |device|}}
            <AkStack
              data-test-orgDeviceRegistration-device
              local-class='device-row'
              @spacing='1'
              @alignItems='center'
              @justifyContent='space-between'
            >
              <AkStack @spacing='1' @alignItems='center'>
                <AkIcon
                  @iconName={{if
                    device.is_connected
                    'check-circle'
                    'mdi:radio-button-unchecked'
                  }}
                  @color={{if device.is_connected 'success' 'textSecondary'}}
                />
                <AkTypography @variant='body2'>
                  {{if device.model device.model device.serial_number}}
                </AkTypography>
              </AkStack>
              <AkTypography @variant='body3' @color='textSecondary'>
                {{if
                  device.is_connected
                  (t 'orgDeviceRegistrationOnline')
                  (t 'orgDeviceRegistrationOffline')
                }}
              </AkTypography>
            </AkStack>
          {{/each}}

        {{else}}
          <AkTypography
            data-test-orgDeviceRegistration-empty
            @variant='body2'
            @color='textSecondary'
          >
            {{t 'orgDeviceRegistrationNoDevices'}}
          </AkTypography>
        {{/if}}
      </AkStack>

      <AkDivider @color='light' />

      {{! Mercer setup instructions }}
      <AkTypography @variant='subtitle1'>
        {{t 'orgDeviceRegistrationSetupTitle'}}
      </AkTypography>
      <AkTypography @color='textSecondary' @variant='body2'>
        {{t 'orgDeviceRegistrationSetupDesc'}}
      </AkTypography>

      <AkStack @spacing='1' @alignItems='flex-start'>
        <pre
          data-test-orgDeviceRegistration-commands
          local-class='connect-command command-block'
        >{{this.setupCommands}}</pre>
        <AkClipboard @onSuccess={{this.handleCopySuccess}} as |ac|>
          <AkIconButton
            data-test-orgDeviceRegistration-copyBtn
            data-clipboard-text={{this.setupCommands}}
            id={{ac.triggerId}}
            @size='small'
          >
            <AkIcon @iconName='content-copy-outline' @color='primary' />
          </AkIconButton>
        </AkClipboard>
      </AkStack>

      <AkTypography @variant='body3' @color='textSecondary'>
        {{t 'orgDeviceRegistrationTokenHint'}}
      </AkTypography>

      {{/if}}

      <AkStack @spacing='1' @justifyContent='flex-end'>
        <AkButton @variant='filled' {{on 'click' this.handleClose}}>
          {{t 'orgDeviceRegistrationDone'}}
        </AkButton>
      </AkStack>
    </AkStack>
  </AkModal>
{{/if}}
