<div class='card file-card is-fullwidth' data-test-file-overview-container>
  <header local-class='card-header'>
    <div class='card-header-icon'>
      <img
        src={{this.file.iconUrl}}
        alt={{this.file.name}}
        data-test-file-overview-icon-url
      />
    </div>
    <p class='card-header-title'>
      <ul class='is-fullwidth'>
        <li>
          <h5>
            <div class='flex-row flex-align-center flex-justify-space-between'>
              <div class='hide-overflow' data-test-file-overview-file-name>
                {{this.file.name}}
              </div>
              <AkIcon
                data-test-file-overview-platform-icon
                @iconName='{{this.file.project.platformIconClass}}'
              />
            </div>
          </h5>
        </li>
        <li
          title={{this.file.project.packageName}}
          class='hide-overflow package-name'
          data-test-file-overview-package-name
        >
          {{this.file.project.packageName}}
        </li>
        <li
          class='hide-overflow font-small text-lightgray'
          data-test-file-overview-version
        >
          {{#if this.file.version}}
            version:
            {{this.file.version}}
          {{/if}}
          {{#if this.file.versionCode}}
            <span class='margin-l-1'></span>
            version code:
            {{this.file.versionCode}}
          {{/if}}
        </li>
      </ul>
    </p>
  </header>
  <div local-class='app-information'>
    <div local-class='file-id-text' data-test-file-overview-file-id>
      {{#unless this.file.isActive}}
        <AkIcon
          data-test-file-overview-file-id-icon
          @iconName='error'
          @size='small'
          local-class='file-in-active-icon'
          class='margin-right'
        />

        <AttachTooltip @placement='top'>
          {{t 'fileInactive'}}
        </AttachTooltip>
      {{/unless}}

      FILE ID -
      {{this.file.id}}
    </div>
    <div class='file-overview-scan-status'>
      <div class='scan-status-tag' data-test-static-scan-status-tag>
        {{#if this.file.isStaticDone}}
          <div class='scan-status-tag-icon scan-status-tag-icon-done'>
            <AkIcon @iconName='check-circle' @size='small' />
          </div>
        {{else}}
          <div class='scan-status-tag-icon'>
            <AkIcon @iconName='circle' @variant='outlined' @size='small' />
          </div>
        {{/if}}
        <div
          class='scan-status-tag-label'
          data-test-static-scan-status-tag-label
        >
          {{t 'static'}}
        </div>
      </div>
      <div class='scan-status-tag' data-test-dynamic-scan-status-tag>
        {{#if this.file.isDynamicDone}}
          <div class='scan-status-tag-icon scan-status-tag-icon-done'>
            <AkIcon @iconName='check-circle' @size='small' />
          </div>
        {{else}}
          <div class='scan-status-tag-icon'>
            <AkIcon @iconName='circle' @variant='outlined' @size='small' />
          </div>
        {{/if}}
        <div
          class='scan-status-tag-label'
          data-test-dynamic-scan-status-tag-label
        >
          {{t 'dynamic'}}
        </div>
      </div>
      <div class='scan-status-tag' data-test-api-scan-status-tag>
        {{#if this.file.isApiDone}}
          <div class='scan-status-tag-icon scan-status-tag-icon-done'>
            <AkIcon @iconName='check-circle' @size='small' />
          </div>
        {{else}}
          <div class='scan-status-tag-icon'>
            <AkIcon @iconName='circle' @variant='outlined' @size='small' />
          </div>
        {{/if}}
        <div class='scan-status-tag-label' data-test-api-scan-status-tag-label>
          {{t 'api'}}
        </div>
      </div>
      {{#unless this.isManualScanDisabled}}
        <div class='scan-status-tag' data-test-manual-scan-status-tag>
          {{#if this.file.isManualDone}}
            <div class='scan-status-tag-icon scan-status-tag-icon-done'>
              <AkIcon @iconName='check-circle' @size='small' />
            </div>
          {{else if this.file.isManualRequested}}
            <div class='scan-status-tag-icon scan-status-tag-icon-done'>
              <AkIcon @iconName='timer' @variant="outlined" @size='small' />
            </div>
          {{else}}
            <div class='scan-status-tag-icon'>
              <AkIcon @iconName='circle' @variant='outlined' @size='small' />
            </div>
          {{/if}}
          <div
            class='scan-status-tag-label'
            data-test-manual-scan-status-tag-label
          >
            {{t 'manual'}}
          </div>
        </div>
      {{/unless}}
    </div>
  </div>
  <div class='card-content'>
    <div class='content'>
      <div class='flex-row flex-justify-center mt-3'>
        <div
          class='flex-row flex-justify-center {{if @isReverse "is-reverse"}}'
        >
          <div class='flex-center px-3'>
            <EmberChart
              @type='doughnut'
              @data={{this.file.doughnutData}}
              @width={{150}}
              @height={{150}}
              @options={{this.chartOptions}}
            />
          </div>
          <div class='px-3'>
            <div class='lowercase-text text-centre'>
              <div
                class='overflow ellipse'
                data-test-file-overview-date-created
              >
                {{t 'started'}}&nbsp;
                {{dayjs-from-now this.file.createdOn}}
              </div>
              <AttachTooltip @placement='bottom'>
                {{this.file.createdOnDateTime}}
              </AttachTooltip>
            </div>
            <ul class='risk-table'>
              <div class='risk-values'>
                <div class='columns'>
                  <div class='column'>
                    <li class='is-critical'>
                      {{t 'critical'}}
                    </li>
                  </div>
                  <div class='column' data-test-critical-risk-count>
                    {{this.file.countRiskCritical}}
                  </div>
                </div>
                <div class='columns'>
                  <div class='column'>
                    <li class='is-danger'>
                      {{t 'high'}}
                    </li>
                  </div>
                  <div class='column' data-test-count-risk-high>
                    {{this.file.countRiskHigh}}
                  </div>
                </div>
                <div class='columns'>
                  <div class='column'>
                    <li class='is-warning'>
                      {{t 'medium'}}
                    </li>
                  </div>
                  <div class='column' data-test-count-risk-medium>
                    {{this.file.countRiskMedium}}
                  </div>
                </div>
                <div class='columns'>
                  <div class='column'>
                    <li class='is-info'>
                      {{t 'low'}}
                    </li>
                  </div>
                  <div class='column' data-test-count-risk-low>
                    {{this.file.countRiskLow}}
                  </div>
                </div>
                <div class='columns'>
                  <div class='column'>
                    <li class='is-success'>
                      {{t 'passed'}}
                    </li>
                  </div>
                  <div class='column' data-test-count-risk-none>
                    {{this.file.countRiskNone}}
                  </div>
                </div>
                <div
                  class='columns
                    {{if
                      this.unknownAnalysisStatus.status
                      "visible"
                      "invisible"
                    }}'
                >
                  <div class='column'>
                    <li class='is-default'>
                      {{t 'untested'}}
                    </li>
                  </div>
                  <div class='column' data-test-count-risk-unknown>
                    {{this.file.countRiskUnknown}}
                  </div>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class='file-tags align-center' data-test-file-tags>
        {{#each this.file.tags as |tag|}}
          <AkTag @tag={{tag}} />
        {{/each}}
      </div>
    </div>
  </div>
  {{yield}}
</div>