<div
  local-class='report-root {{if
    this.isSidebarCollapsed
    "collapsed"
    "expanded"
  }}'
>
  <TopNav
    local-class='report-header'
    @user={{@user}}
    @title={{if this.isWhitelabel (t 'report') (t 'reportModule.title')}}
    @showNotifications={{false}}
    as |topNav|
  >
    <AkStack
      @alignItems='center'
      @justifyContent='space-between'
      @spacing='0.5'
    >
      <AkStack @alignItems='center'>
        <AkTypography
          @variant='h5'
          @fontWeight='bold'
          class='mr-1'
          data-test-report-title
        >
          {{t 'reportModule.reportingEngine'}}
        </AkTypography>

        <PoweredByAi::Chip
          @clickable={{true}}
          @drawerInfo={{this.drawerInfo}}
          data-test-report-powered-by-ai-chip
        />
      </AkStack>

      <TopNav::KnowledgeBase @triggerBtnClass={{topNav.classes.navbarBtn}} />
    </AkStack>
  </TopNav>

  <SideNav
    @pendoContainerId='ak-pendo-version-container'
    @productVersion={{this.productVersion}}
    @isCollapsed={{this.isSidebarCollapsed}}
    @toggleSidebar={{this.toggleSidebar}}
    @menuItems={{this.reportMenuItems}}
    @productSwitcherFilterKey='report'
    local-class='report-sidenav'
  />

  {{! #id is required for scroll-to-top util }}
  <main id='ak-report-main-scroll-container' local-class='report-main'>
    {{yield}}
  </main>
</div>