<div>
  <div data-test-nf-upldfailnprjdeny2-primary-message>
    {{t
      'notificationModule.messages.nf-upldfailnprjdeny2.primary'
      htmlSafe=true
      platform_display=@context.platform_display
      package_name=@context.package_name
      requester_username=@context.requester_username
      requester_role=@context.requester_role
    }}
  </div>
  <div local-class='help-text' data-test-nf-upldfailnprjdeny2-secodary-message>
    <em>({{t
        'notificationModule.messages.nf-upldfailnprjdeny2.secondary'
      }})</em>
  </div>
  <div class='pt-1' data-test-nf-upldfailnprjdeny2-link>
    <AkLink
      @color='primary'
      @route='authenticated.dashboard.project.settings'
      @model={{@context.project_id}}
      @underline='always'
      @title='{{t "notificationModule.viewProjectSettings"}}'
    >
      <:default>
        {{t 'notificationModule.projectSettings'}}
      </:default>
    </AkLink>
  </div>
</div>